<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Robust admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template.">
    <meta name="keywords" content="admin template, robust admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
    <meta name="author" content="PIXINVENT">
    <title>M&M ADMIN</title>
    <link rel="apple-touch-icon" th:href="@{../images/ico/apple-icon-120.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{../images/ico/favicon.ico}">
    <link th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CMuli:300,400,500,700}" rel="stylesheet">
<!--     BEGIN VENDOR CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/vendors.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/ui/prism.min.css}">
<!--     END VENDOR CSS -->
<!--     BEGIN ROBUST CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}">
<!--     END ROBUST CSS -->
<!--     BEGIN Page Level CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/core/menu/menu-types/horizontal-menu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/core/colors/palette-gradient.css}">
<!--     END Page Level CSS -->
<!--     BEGIN Custom CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <!-- END Custom CSS-->
</head>
<body class="horizontal-layout horizontal-top-icon-menu 2-columns   menu-expanded" data-open="hover" data-menu="horizontal-menu" data-col="2-columns">

<!-- 네비게이션바 상단 메뉴 시작 -->

    <!-- fixed-top-->
    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-static-top navbar-dark navbar-border navbar-brand-center">
      <div class="navbar-wrapper">
        <div class="navbar-header">
          <ul class="nav navbar-nav flex-row">
            <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu font-large-1"></i></a></li>
            <li class="nav-item"><a class="navbar-brand" href="/main"><img class="brand-logo" alt="CodeFactory logo" src="/images/logo/logo-mnm.png"></a></li>
            <li class="nav-item d-md-none"><a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="fa fa-ellipsis-v"></i></a></li>
          </ul>
        </div>
        <div class="navbar-container content">
          <div class="collapse navbar-collapse" id="navbar-mobile">
            <ul class="nav navbar-nav mr-auto float-left">
              <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu">         </i></a></li>
            </ul>
            <ul class="nav navbar-nav float-right">
            
						<li class="dropdown dropdown-language nav-item">
						<a class="dropdown-toggle nav-link" id="dropdown-flag" href="#"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span> admin</span>
							<span class="selected-language"></span>
						</a>
							<div class="dropdown-menu" aria-labelledby="dropdown-flag">
								<a class="dropdown-item" th:href="@{/main}"> Sales</a>
								<a class="dropdown-item" th:href="@{/average/main}"> status</a>
								<a class="dropdown-item" th:href="@{/board/clientCompany/list}"> board</a>
								
								<th:block sec:authorize="hasRole('ADMIN')">
									<a class="dropdown-item" th:href="@{/userInfo}"> admin</a>
								</th:block>
								
							</div>
						</li>
							
              <li class="dropdown dropdown-user nav-item">
              	
              	<a class="dropdown-toggle nav-link dropdown-user-link" data-toggle="dropdown">
              		<span class="user-name" sec:authentication="principal.name"> 
              		</span> 님
              	</a>
              	
                <div class="dropdown-menu dropdown-menu-right">
					<a class="dropdown-item" th:href="@{/mypage/myinfo}">
					  <i class="ft-user"></i> 내 정보
					</a>
					
					<a class="dropdown-item" th:href="@{/companyInfo}">
					  <i class="ft-briefcase"></i> 회사 정보
					</a>
					
					<div class="dropdown-divider"></div>
					
					<a class="dropdown-item" th:href="@{/member/logout}">
					  <i class="ft-power"></i> 로그아웃
					</a>
			    </div>
			  </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

<!-- 네비게이션바 상단 메뉴 끝 -->

<!-- 네비게이션바 하단 메뉴 시작 -->

        <!-- Horizontal navigation-->
    <div class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-light navbar-without-dd-arrow navbar-bordered navbar-shadow" role="navigation" data-menu="menu-wrapper">
      <!-- Horizontal menu content-->
      <div class="navbar-container main-menu-content" data-menu="menu-container">
        <!-- include ../../../includes/mixins-->
        <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
          
          <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link" onclick="location.href='/main'" data-toggle="dropdown"><i class="icon-home"></i><span data-i18n="nav.dash.main">Home</span></a></li>
          
          <th:block sec:authorize="hasRole('ADMIN')">
          <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="icon-settings"></i><span data-i18n="nav.category.ui">시스템 관리</span></a>
            <ul class="dropdown-menu">
              <li data-menu=""><a class="dropdown-item" href="/menuGroup" data-toggle="dropdown">메뉴 그룹 관리</a></li>
              <li data-menu=""><a class="dropdown-item" href="/organization" data-toggle="dropdown">조직 관리</a></li>
              <li data-menu=""><a class="dropdown-item" href="/userInfo" data-toggle="dropdown">사용자 관리</a></li>
            </ul>
          </li>    
          </th:block>
          
          <th:block sec:authorize="hasRole('ADMIN')">
          <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="icon-screen-desktop"></i><span data-i18n="nav.category.ui">관리자 센터</span></a>
            <ul class="dropdown-menu">
              <li data-menu=""><a class="dropdown-item" href="/setting" data-toggle="d ropdown">일반 설정</a></li> 
            </ul>
          </li>                         
        </ul>
      </div>
      <!-- /horizontal menu content-->
    </div>
    <!-- Horizontal navigation-->
	
<!-- 네비게이션바 하단 메뉴 끝 -->

<!-- JS 시작 -->

    <!-- BEGIN VENDOR JS-->
    <script th:src="@{/vendors/js/vendors.min.js}"></script>
<!--     BEGIN VENDOR JS -->
<!--     BEGIN PAGE VENDOR JS -->
    <script th:src="@{/vendors/js/ui/jquery.sticky.js}"></script>
    <script th:src="@{/vendors/js/charts/jquery.sparkline.min.js}"></script>
    <script th:src="@{/vendors/js/ui/prism.min.js}"></script>
<!--     END PAGE VENDOR JS -->
<!--     BEGIN ROBUST JS -->
    <script th:src="@{/js/core/app-menu.min.js}"></script>
    <script th:src="@{/js/core/app.min.js}"></script>
    <script th:src="@{/js/scripts/customizer.min.js}"></script>
<!--     END ROBUST JS -->
<!--     BEGIN PAGE LEVEL JS -->
    <script th:src="@{/js/scripts/ui/breadcrumbs-with-stats.min.js}"></script>
    <!-- END PAGE LEVEL JS-->

<!-- JS 끝 -->

</body>
</html>