<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Robust admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template.">
    <meta name="keywords" content="admin template, robust admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
    <meta name="author" content="PIXINVENT">
    <title>M&M HOME</title>
    <link rel="apple-touch-icon" th:href="@{../images/ico/apple-icon-120.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{../images/ico/favicon.ico}">
    <link th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CMuli:300,400,500,700}" rel="stylesheet">
<!--     BEGIN VENDOR CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/vendors.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/ui/prism.min.css}">
<!--     END VENDOR CSS -->
<!--     BEGIN ROBUST CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}">
<!--     END ROBUST CSS -->
<!--     BEGIN Page Level CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/core/menu/menu-types/horizontal-menu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/core/colors/palette-gradient.css}">
<!--     END Page Level CSS -->
<!--     BEGIN Custom CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <!-- END Custom CSS-->
</head>
<body class="horizontal-layout horizontal-top-icon-menu 2-columns   menu-expanded" data-open="hover" data-menu="horizontal-menu" data-col="2-columns">

<!-- 네비게이션바 상단 메뉴 시작 -->

    <!-- fixed-top-->
    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-static-top navbar-dark navbar-border navbar-brand-center">
      <div class="navbar-wrapper">
        <div class="navbar-header">
          <ul class="nav navbar-nav flex-row">
            <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu font-large-1"></i></a></li>
            <li class="nav-item"><a class="navbar-brand" href="/main"><img class="brand-logo" alt="CodeFactory logo" src="/images/logo/logo-mnm.png"></a></li>
            <li class="nav-item d-md-none"><a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="fa fa-ellipsis-v"></i></a></li>
          </ul>
        </div>
        <div class="navbar-container content">
          <div class="collapse navbar-collapse" id="navbar-mobile">
            <ul class="nav navbar-nav mr-auto float-left">
              <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu"></i></a></li>
            </ul>
            <ul class="nav navbar-nav float-right">
						<li class="dropdown dropdown-language nav-item">
						<a class="dropdown-toggle nav-link" id="dropdown-flag" href="#"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span>Sales</span>
							<span class="selected-language"></span>
						</a>
							<div class="dropdown-menu" aria-labelledby="dropdown-flag">
								<a class="dropdown-item" th:href="@{/main}"> Sales</a>
								<a class="dropdown-item" th:href="@{/average/main}"> status</a>
								<a class="dropdown-item" th:href="@{/board/clientCompany/list}"> board</a>
								<th:block sec:authorize="hasRole('ADMIN')">
									<a class="dropdown-item" th:href="@{/userInfo}"> admin</a>
								</th:block>
							</div>
						</li>
              <li class="dropdown dropdown-user nav-item">
              	
              	<a class="dropdown-toggle nav-link dropdown-user-link" data-toggle="dropdown">
              		<span class="user-name" sec:authentication="principal.name"> 
              		</span> 님
              	</a>
              	
                <div class="dropdown-menu dropdown-menu-right">
					<a class="dropdown-item" th:href="@{/mypage/myinfo}">
					  <i class="ft-user"></i> 내 정보
					</a>
					
					<a class="dropdown-item" th:href="@{/companyInfo}">
					  <i class="ft-briefcase"></i> 회사 정보
					</a>
					
					<div class="dropdown-divider"></div>
					
					<a class="dropdown-item" th:href="@{/member/logout}">
					  <i class="ft-power"></i> 로그아웃
					</a>
			    </div>
			  </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

<!-- 네비게이션바 상단 메뉴 끝 -->

<!-- 네비게이션바 하단 메뉴 시작 -->

        <!-- Horizontal navigation-->
    <div class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-light navbar-without-dd-arrow navbar-bordered navbar-shadow" role="navigation" data-menu="menu-wrapper">
      <!-- Horizontal menu content-->
      <div class="navbar-container main-menu-content" data-menu="menu-container">
        <!-- include ../../../includes/mixins-->
        <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
          
          <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link" onclick="location.href='/main'" data-toggle="dropdown"><i class="icon-home"></i><span data-i18n="nav.dash.main">Home</span></a></li>
          
          <th:block sec:authorize="hasAnyRole('SALES', 'APPROVER', 'ADMIN')">
          <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link" onclick="location.href='/businessActivity/list'" data-toggle="dropdown"><i class="icon-note"></i><span data-i18n="nav.templates.main">영업활동</span></a></li>
          <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link" onclick="location.href='/businessOpportunity/list'" data-toggle="dropdown"><i class="icon-drawer"></i><span data-i18n="nav.layouts.temp">영업기회</span></a></li>
          <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link" onclick="location.href='/clientCompany/list'" data-toggle="dropdown"><i class="icon-folder"></i><span data-i18n="nav.category.general">고객사</span></a></li>
          <li class="dropdown mega-dropdown nav-item" data-menu="megamenu"><a class="dropdown-toggle nav-link" onclick="location.href='/client/list'" data-toggle="dropdown"><i class="icon-screen-tablet"></i><span data-i18n="nav.category.pages">고객</span></a></li>
          </th:block>
          
          <th:block sec:authorize="hasAnyRole('SALES', 'APPROVER', 'ADMIN')">
          <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="icon-screen-desktop"></i><span data-i18n="nav.category.ui">영업관리</span></a>
            <ul class="dropdown-menu">
              <li data-menu=""><a class="dropdown-item" href="/business/estimate/list" data-toggle="dropdown">견적</a></li>
              <li data-menu=""><a class="dropdown-item" href="/business/proposal/list" data-toggle="dropdown">제안</a></li>
              <li data-menu=""><a class="dropdown-item" href="/business/contract/list" data-toggle="dropdown">계약</a></li>
              <li data-menu=""><a class="dropdown-item" href="/business/sales/list" data-toggle="dropdown">매출</a></li>
              <li data-menu=""><a class="dropdown-item" href="/business/potentialclient/list" data-toggle="dropdown">잠재고객</a></li>
              <li data-menu=""><a class="dropdown-item" href="/business/clientsupport/list" data-toggle="dropdown">고객지원</a></li>
            </ul>
          </li>
          </th:block>
          
          <th:block sec:authorize="hasAnyRole('SALES', 'APPROVER', 'ADMIN')">
          <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="icon-note"></i><span data-i18n="nav.category.forms">영업도구</span></a>
            <ul class="dropdown-menu">
              <li data-menu=""><a class="dropdown-item" th:href="@{/businessReport/list}" data-toggle="dropdown">영업보고</a></li>
              <li data-menu=""><a class="dropdown-item" th:href="@{/businessNotice/list}" data-toggle="dropdown">영업공지</a></li>
              <li data-menu=""><a class="dropdown-item" th:href="@{/proceedings/list}" data-toggle="dropdown">회의록</a></li>
            </ul>
          </li>
          </th:block>
          
          <th:block sec:authorize="hasAnyRole('SALES', 'APPROVER', 'ADMIN')">
          <li class="dropdown nav-item" ><a class="dropdown-toggle nav-link" onclick="location.href='/consult/list'"><i class="icon-grid"></i><span data-i18n="nav.category.tables">상담</span></a></li>
          </th:block>
          
          <!-- 상품 메뉴 권한 시작-->
          <th:block sec:authorize="hasAnyRole('SALES', 'APPROVER', 'ADMIN')">
          	  <!-- 상품 메뉴 시작 -->
	          <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link" onclick="location.href='/product/list'"><i class="icon-basket"></i><span data-i18n="nav.category.addons">상품</span></a>
	          </li>
	          <!-- 상품 메뉴 종료-->
          </th:block>
          <!-- 상품 메뉴 권한 종료-->
          
          <th:block sec:authorize="hasAnyRole('SALES', 'APPROVER', 'ADMIN')">
         	 <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link" onclick="location.href='/collect/list'"><i class="icon-wallet"></i><span data-i18n="nav.category.addons">수금</span></a></li>
          </th:block>
          
          <th:block sec:authorize="hasAnyRole('SALES', 'APPROVER', 'ADMIN')">
	          <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="icon-energy"></i><span data-i18n="nav.category.addons">전자결재</span></a>
	            <ul class="dropdown-menu">
	              <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">결재 요청함</a>
	                <ul class="dropdown-menu">
	                  <li data-menu=""><a class="dropdown-item" href="/approval/approvalRequest/estimate/list" data-toggle="dropdown">견적</a>
	                  </li>
	                  <li data-menu=""><a class="dropdown-item" href="/approval/approvalRequest/contract/list" data-toggle="dropdown">계약</a>
	                  </li>
	                  <li data-menu=""><a class="dropdown-item" href="/approval/approvalRequest/businessOpportunity/list" data-toggle="dropdown">영업기회</a>
	                  </li>
	                </ul>
	              </li>
	              <th:block sec:authorize="hasAnyRole('APPROVER', 'ADMIN')">
		              <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">결재 대기함</a>
		                <ul class="dropdown-menu">
		                  <li data-menu=""><a class="dropdown-item" href="/approval/approvalWait/estimate/list" data-toggle="dropdown">견적</a>
		                  </li>
		                  <li data-menu=""><a class="dropdown-item" href="/approval/approvalWait/contract/list" data-toggle="dropdown">계약</a>
		                  </li>
		                  <li data-menu=""><a class="dropdown-item" href="/approval/approvalWait/businessOpportunity/list" data-toggle="dropdown">영업기회</a>
		                  </li>
		                </ul>
		              </li>
	              </th:block>
	              <th:block sec:authorize="hasAnyRole('APPROVER', 'ADMIN')">
		              <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">결재 완료함</a>
		                <ul class="dropdown-menu">
		                  <li data-menu=""><a class="dropdown-item" href="/approval/approvalFinish/estimate/list" data-toggle="dropdown">견적</a>
		                  </li>
		                  <li data-menu=""><a class="dropdown-item" href="/approval/approvalFinish/contract/list" data-toggle="dropdown">계약</a>
		                  </li>
		                  <li data-menu=""><a class="dropdown-item" href="/approval/approvalFinish/businessOpportunity/list" data-toggle="dropdown">영업기회</a>
		                  </li>
		                </ul>
		              </li>
	              </th:block>
	            </ul>
	          </li>
          </th:block>
          
          <th:block sec:authorize="hasAnyRole('SALES', 'APPROVER', 'ADMIN')">
          <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="icon-target"></i><span data-i18n="nav.category.support">목표</span></a>
            <ul class="dropdown-menu">
              <li data-menu=""><a class="dropdown-item" th:href="@{/goal/crew/select}" data-toggle="dropdown">개인 목표</a></li>
              <li data-menu=""><a class="dropdown-item" th:href="@{/goal/team/select}" data-toggle="dropdown">팀 목표</a></li>
            </ul>
          </li>
          </th:block>
          
        </ul>
      </div>
      <!-- /horizontal menu content-->
    </div>
    <!-- Horizontal navigation-->
	
<!-- 네비게이션바 하단 메뉴 끝 -->

<!-- JS 시작 -->

    <!-- BEGIN VENDOR JS-->
    <script th:src="@{/vendors/js/vendors.min.js}"></script>
<!--     BEGIN VENDOR JS -->
<!--     BEGIN PAGE VENDOR JS -->
    <script th:src="@{/vendors/js/ui/jquery.sticky.js}"></script>
    <script th:src="@{/vendors/js/charts/jquery.sparkline.min.js}"></script>
    <script th:src="@{/vendors/js/ui/prism.min.js}"></script>
<!--     END PAGE VENDOR JS -->
<!--     BEGIN ROBUST JS -->
    <script th:src="@{/js/core/app-menu.min.js}"></script>
    <script th:src="@{/js/core/app.min.js}"></script>
    <script th:src="@{/js/scripts/customizer.min.js}"></script>
<!--     END ROBUST JS -->
<!--     BEGIN PAGE LEVEL JS -->
    <script th:src="@{/js/scripts/ui/breadcrumbs-with-stats.min.js}"></script>
    <!-- END PAGE LEVEL JS-->

<!-- JS 끝 -->

</body>
</html>