<!-- <!DOCTYPE html> -->
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <title>M&M</title>
    
    <link rel="apple-touch-icon" th:href="@{../images/ico/apple-icon-120.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{../images/ico/favicon.ico}">
    
    <link th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CMuli:300,400,500,700}" rel="stylesheet">
    
    <!-- bootstrap CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-extended.css}">
    
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/vendors.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/css/extensions/nouislider.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/css/ui/prism.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/css/pickers/pickadate/pickadate.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/css/pickers/daterange/daterangepicker.css}">
    <!-- END VENDOR CSS-->
    
    <!-- BEGIN ROBUST CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}">
    <!-- END ROBUST CSS-->
    
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/core/menu/menu-types/horizontal-menu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/core/colors/palette-gradient.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/plugins/extensions/noui-slider.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/plugins/pickers/daterange/daterange.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/core/colors/palette-noui.css}">
    <!-- END Page Level CSS-->
    
    <!-- BEGIN Custom CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <!-- END Custom CSS-->
    
    <style type="text/css">
    .boxDiv {
    	margin-bottom: 10px;
    }
    
    .viewDetailCheck {
   		margin:auto;
        display:block;
    }
    
    </style>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

	<script th:src="@{../js/userInfo/select.js}"></script>
	<script th:src="@{../js/userInfo/insert.js}"></script>
	<script th:src="@{../js/userInfo/update.js}"></script>
	<script th:src="@{../js/userInfo/withdraw.js}"></script>
	<script th:src="@{../js/userInfo/paging.js}"></script>
	
	<script>
	const successMessage = '[[${ successMessage }]]';
	
	if(successMessage) {
		alert(successMessage);
	}
	</script>
	
  </head>
  <body>

    <!-- 헤더 부분 시작-->
  <div th:replace="common/adminHeader.html"></div>
    <!-- 헤더 부분 끝-->


    <!-- BEGIN Content-->
    <div class="content app-content">
        <div class="content-wrapper">
            <!-- content header-->
            <div class="content-header row">
            
	          <div class="content-header-left col-md-6 col-12 mb-2">
	            <div class="content-header-title mb-0" style="font-size: 30px;">사용자 관리</div>
	          </div>
	          
            </div>
            <!-- content header-->
            
            <!-- content detached right-->
            <div class="content-detached content-right col-12">
            
            	<div>
            		<div class="card">
	            		<div class="card-header">
	            		
	            			<div class="card-header-left col-md-6 col-12 mb-2">
	            				<div class="card-title" id="list-table" style="font-size: 20px;">사용자 정보</div>
	            			</div>
	                    	
	                    	<div class="card-header-right float-md-right col-md-6 col-12">
								<button type="submit" class="btn btn-outline-red float-md-right mr-1" id="deleteUser" onclick="withdrawUser();">
							    	<i class="ft-trash-2"></i> 탈퇴
								</button>
		               			<button type="submit" class="btn btn-outline-green float-md-right mr-1" data-toggle="modal" data-target="#insertModal" onclick="insertFunc();">
							    	<i class="ft-edit"></i> 신규
								</button>
	               			</div>
	               		</div>
	               			
							<div class="table-responsive">
							  <input type="hidden" id="currentPage" name="currentPage" value="1">
			               	  <table class="table table-hover">
			                      <thead>
			                          <tr align="center">
			                          	  <th>
				                              <div class="icheckbox_square-blue" style="position: relative; margin-top: auto;">
				                              		<input type="checkbox" class="input-chk-all" id="checkall">
				                              </div>
			                              </th>
			                              <th>이름</th>
			                              <th style="width: 9rem">ID</th>
			                              <th style="padding-left : 0rem; padding-right: 0rem;">퇴사 여부</th>
			                              <th>입사일</th>
			                              
			                              <th>퇴사일</th>
			                              <th>사원번호</th>
			                              <th>부서명</th>
			                              <th>직책</th>
			                              <th>직위</th>
			                              
			                              <th>E-mail</th>
			                              <th>유선번호</th>
			                              <th>휴대폰번호</th>
			                              <th>관리</th>
			                          </tr>
			                      </thead>
			                      
			                      <!-- IMPORTANT, class="list" have to be at tbody -->
			                      <tbody class="list" align="center">
			                      	  <tr th:each="userInfo : ${ userInfoList }">
			                      	  	  <td><input type="checkbox" class="input-chk" id="userNo" name="userNo" th:value="${ userInfo.no }"></td>
			                              <td th:text="${ userInfo.name }"></td>
			                              <td th:text="${ userInfo.id }"></td>
			                              <td th:text="${ userInfo.withdrawYN }"></td>
			                              <td th:text="${#strings.substring(userInfo.joinDate, 0, 10)}"></td>
			                              <td th:text="${ userInfo.resignationDate }"></td>
			                              <td th:text="${ userInfo.employeeNo }"></td>
			                              <td th:text="${ userInfo.deptName }"></td>
			                              <td th:text="${ userInfo.job }"></td>
			                              <td th:text="${ userInfo.position }"></td>
			                              <td th:text="${ userInfo.email }"></td>
			                              <td th:text="${ userInfo.landlineTel }"></td>
			                              <td th:text="${ userInfo.phone }"></td>
			                              <td><button class="btn btn-outline-blue float-md-center viewDetailCheck" 
			                              	th:value="${ userInfo.no }" data-toggle="modal" data-target="#viewDetailsModal">상세보기</button>
			                              </td>
			                          </tr>
			                     </tbody>
			                  </table>
			                  
			                  <br><br><br>
	
							<!-- 페이징 버튼 시작 -->
							<div align="center">
								
								<button class="page_btn1" th:if="${ selectCriteria.pageNo <= 1 }" type="button" disabled><img src="/images/common/prevPage.png"/></button>
								<button class="page_btn1" th:if="${ selectCriteria.pageNo > 1 }" type="button" id="prevPage" onclick="preButtonAction();"><img src="/images/common/prevPage.png"/></button>
								
								<span th:each="p : ${#numbers.sequence(selectCriteria.startPage, selectCriteria.endPage)}">
									<button class="page_btn2" th:if="${selectCriteria.pageNo == p}" th:text="${p}" disabled></button>						
									<button class="page_btn2" th:if="${selectCriteria.pageNo != p}" th:text="${p}" onclick="pageButtonAction(this.innerText);"></button>						
								</span>
								
								<button class="page_btn3" th:if="${ selectCriteria.pageNo >= selectCriteria.maxPage }" type="button" disabled><img src="/images/common/nextPage.png"/></button>
								<button class="page_btn3" th:if="${ selectCriteria.pageNo < selectCriteria.maxPage }" type="button" id="nextPage" onclick="nextButtonAction();"><img src="/images/common/nextPage.png"/></button>
								
								<input type="hidden" id="currentPageByPaging" name="currentPageByPaging" th:value="${userInfoSearch.currentPage}">
								
								<br><br><br><br><br>
							</div>
							<!-- 페이징 버튼 종료 -->
	
							</div>
	               			
	               			<!-- 신규 Modal -->
							<div class="modal fade" id="insertModal" tabindex="-1" role="dialog" aria-labelledby="insertModalLabel" aria-hidden="true">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							        <div class="modal-title" id="insertModalLabel" style="font-size: 18px">사용자 신규 추가</div>
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							        </button>
							      </div>
							      <div class="modal-body">
							        
								      	<div class="boxDiv row">
											<div class="box col-6">
												<div class="title">아이디</div>
												<div class="content">
													<input type="text" class="form-control" id="id" name="id" autocomplete="off" maxlength="20" value="">
												</div>
											</div>
											<div class="box col-3" style="margin-top: auto;">
	  											<button type="button" class="btn btn-outline-orange mr-1" id="duplicateCheckId" onclick="DuplicateCheckId();">중복확인</button>
											</div>
											<div class="box col-3"></div>
										</div>
										
										<div class="boxDiv row">
											<div class="box col-6">
												<div class="alert alert-success" id="id-success" style="display: none;">사용 가능한 아이디입니다.</div> 
												<div class="alert alert-danger" id="id-danger" style="display: none;">이미 존재하는 아이디입니다.</div>
												<div class="alert alert-danger" id="id-null" style="display: none;">아이디를 입력해주세요.</div>
											</div>
										</div>
										
										<div class="boxDiv row">
											<div class="box col-6">
												<div class="title">이름</div>
												<div class="content">							
													<input type="text" class="form-control" id="name" name="name" autocomplete="off" maxlength="20">
												</div>
											</div>
											
											<div class="box col-6">
												<div class="title">이메일</div>
												<div class="content">
													<input type="text" class="form-control" id="email" name="email" autocomplete="off" maxlength="30">
												</div>
											</div>
										</div>
										
										<div class="boxDiv row">
											<div class="box col-6">
												<div class="title">비밀번호</div>
												<div class="content">							
													<input type="password" class="form-control" id="pwd" name="pwd" autocomplete="off" maxlength="20">
												</div>
											</div>
											
											<div class="box col-6">
												<div class="title">비밀번호 확인</div>
												<div class="content">							
													<input type="password" class="form-control" id="pwdCheck" name="pwdCheck" autocomplete="off" maxlength="20">
												</div>
											</div>
										</div>
										
										<div class="boxDiv row">
											<div class="box col-12">
												<div class="alert alert-success" id="alert-success" style="display: none;">비밀번호가 일치합니다.</div> 
												<div class="alert alert-danger" id="alert-danger" style="display: none;">비밀번호가 일치하지 않습니다.</div>
											</div>
										</div>
										
										<div class="boxDiv row">
											<div class="box col-6">
												<div class="title">전화번호</div>
												<div class="content">							
													<input type="text" class="form-control" id="phone" name="phone" autocomplete="off" maxlength="20">
												</div>
											</div>
	
											<div class="box col-6">
												<div class="title">생년월일</div>
												<div class="content">
													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text">
																<span class="fa fa-calendar-o"></span>
															</span>
														</div>
														<input type='date' class="form-control pickadate" id="birthday" name="birthday" placeholder="날짜 입력"/>
													</div>				
												</div>
											</div>
										</div>
										
										<div class="boxDiv row">
											<div class="box col-6">
												<div class="title">유선번호</div>
												<div class="content">							
													<input type="text" class="form-control" id="landlineTel" name="landlineTel" autocomplete="off" maxlength="20">
												</div>
											</div>
											
											<div class="box col-6">
												<div class="title">입사일</div>
												<div class="content">
													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text">
																<span class="fa fa-calendar-o"></span>
															</span>
														</div>
														<input type='date' class="form-control pickadate" id="joinDate" name="joinDate" placeholder="날짜 입력"/>
													</div>				
												</div>
											</div>
										</div>
										
										<div class="boxDiv row">
											<div class="box col-6">
												<div class="title">질문</div>
												<div class="content">							
													<select class="form-control" id="question" name="question">
														<option selected hidden>질문 선택</option>
													    <option>본인 출신 초등학교는?</option>
													    <option>본인의 보물 1호는?</option>
													    <option>본인이 태어난 곳은?</option>
													    <option>본인의 별명은?</option>
												    </select>
												</div>
											</div>
											
											<div class="box col-6">
												<div class="title">답변</div>
												<div class="content">
													<input type="text" class="form-control" id="answer" name="answer" autocomplete="off" maxlength="20">
												</div>
											</div>
										</div>
										
										<div class="boxDiv row">
										
											<div class="box col-6">
												<div class="title">회사</div>
												<div class="content">							
													<select class="form-control" id="companyName" name="companyName"></select>
												</div>
											</div>
											
											<div class="box col-6">
												<div class="title">부서</div>
												<div class="content">							
													<select class="form-control" id="deptName" name="deptName"></select>
												</div>
											</div>
											
										</div>
										
										<div class="boxDiv row">
											<div class="box col-6">
												<div class="title">직위</div>
												<div class="content">							
													<select class="form-control" id="position" name="position">
														<option selected>사원</option>
													    <option>주임</option>
													    <option>대리</option>
													    <option>과장</option>
													    <option>차장</option>
													    <option>부장</option>
													    <option>이사</option>
													    <option>상무</option>
													    <option>전무</option>
													    <option>부사장</option>
													    <option>사장</option>
												    </select>
												</div>
											</div>
										
											<div class="box col-6">
												<div class="title">직책</div>
												<div class="content">							
													<input type="text" class="form-control" id="job" name="job" autocomplete="off" maxlength="20">
												</div>
											</div>
										</div>
										
										<div class="boxDiv row">
											<div class="box col-12">
												<div class="title" style="margin-bottom: 10px">권한 부여 (복수 가능)</div>
												<div class="content" id="authority" style="display:inline-block; width:200px; line-height:0px;"></div>
											</div>                           
										</div>
	
			  							<div class="boxDiv row">
	 										<div class="box col-3" style="margin-top: auto;">
												<div class="title">우편번호</div>
												<div class="content">							
													<input type="text" class="form-control" id="zipCode" name="zipCode" autocomplete="off" maxlength="20">
												</div>
											</div>
											<div class="box col-3" style="margin-top: auto;">
												<button type="button" class="btn btn-outline-light-blue mr-1" id="searchZipCode" onclick="execPostCode();" >상세주소</button>
											</div> 
											<div class="box col-6" style="margin-top: auto;"></div>
										</div> 
										
										<div class="boxDiv row">
											<div class="box col-12">
												<div class="title">주소</div>
												<div class="content">
													<input type="text" class="form-control" id="address" name="address" autocomplete="off" maxlength="20">
												</div>
											</div>
										</div>
										
										<div class="boxDiv row">
											<div class="box col-12">
												<div class="title">상세주소</div>
												<div class="content">							
	 												<input type="text" class="form-control" id="detailedAddress" name="detailedAddress" autocomplete="off" maxlength="20">
												</div>
											</div>
										</div>
							        
							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
							        <button type="submit" class="btn btn-success" id="insertSubmit" onclick="insertUser();" disabled="disabled">추가</button>
							      </div>
							      
							    </div>
							  </div>
							</div>
							
							<!-- 신규 Modal End-->
							
							<!-- 상세보기 Modal -->
							<div class="modal fade" id="viewDetailsModal" tabindex="-1" role="dialog" aria-labelledby="viewDetailsModalLabel" aria-hidden="true">
							
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							        <div class="modal-title" id="viewDetailsModalLabel" style="font-size: 18px">사용자 상세보기</div>
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							        </button>
							      </div>
							      <div class="modal-body">
							      		
							      		<div class="boxDiv row">
							      			<div class="box col-6">
							      				<div class="title">등록일자</div>
												<div class="content">
													<div class="input-group">
														<input type='date' class="form-control pickadate" id="userEnrollDate" disabled="disabled"/>
													</div>
												</div>
							      			</div>
											
											<div class="box col-6" style="margin-top: auto;">
												<div class="content row" style="margin-top: auto;">
												
													<div class="col-5" align="center" style="padding-bottom: 11px">탈퇴여부</div>
													<div class="col-7"></div>
												
													<div class="col-4" align="center">
											            <fieldset class="radio">
											                <label>
											                  <input type="radio" id="withdrawY" name="withdrawYN" value="Y">
											                  Yes
											                </label>
											            </fieldset>
											        </div>
												
													<div class="col-4" align="center">
														<fieldset class="radio">
											                <label>
											                  <input type="radio" id="withdrawN" name="withdrawYN" value="N">
											                  No
											                </label>
											            </fieldset>
													</div>
									            </div>
											</div>
							      			
							      		</div>
							        
								      	<div class="boxDiv row">
											<div class="box col-6">
												<div class="title">아이디</div>
												<div class="content">
													<input type="text" class="form-control" id="userId" autocomplete="off" maxlength="20" disabled="disabled">
												</div>
											</div>
										</div>
										
										<div class="boxDiv row">
											<div class="box col-6">
												<div class="title">이름</div>
												<div class="content">							
													<input type="text" class="form-control" id="userName" autocomplete="off" maxlength="20">
												</div>
											</div>
											
											<div class="box col-6">
												<div class="title">이메일</div>
												<div class="content">
													<input type="text" class="form-control" id="userEmail" autocomplete="off" maxlength="30">
												</div>
											</div>
										</div>
										
										<div class="boxDiv row">
											<div class="box col-6">
												<div class="title">비밀번호</div>
												<div class="content">							
													<input type="password" class="form-control" id="userPwd" autocomplete="off" maxlength="20">
												</div>
											</div>
											
											<div class="box col-6">
												<div class="title">비밀번호 확인</div>
												<div class="content">							
													<input type="password" class="form-control" id="userPwdCheck" autocomplete="off" maxlength="20">
												</div>
											</div>
										</div>
										<div class="boxDiv row">
											<div class="box col-12">
												<div style="color: red">※ 사용자 정보 수정을 위해서는 비밀번호가 필요합니다. (변경 가능)</div>
											</div>
										</div>
										
										<div class="boxDiv row">
											<div class="box col-12">
												<div class="alert alert-success" id="pwdCheck-success" style="display: none;">비밀번호가 일치합니다.</div> 
												<div class="alert alert-danger" id="pwdCheck-danger" style="display: none;">비밀번호가 일치하지 않습니다.</div>
											</div>
										</div>
										
										<div class="boxDiv row">
											<div class="box col-6">
												<div class="title">전화번호</div>
												<div class="content">							
													<input type="text" class="form-control" id="userPhone" autocomplete="off" maxlength="20">
												</div>
											</div>
	
											<div class="box col-6">
												<div class="title">생년월일</div>
												<div class="content">
													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text">
																<span class="fa fa-calendar-o"></span>
															</span>
														</div>
														<input type='date' class="form-control pickadate" id="userBirthday" disabled="disabled"/>
													</div>				
												</div>
											</div>
										</div>
										
										<div class="boxDiv row">
											<div class="box col-6">
												<div class="title">유선번호</div>
												<div class="content">							
													<input type="text" class="form-control" id="userLandlineTel" autocomplete="off" maxlength="20">
												</div>
											</div>
											
											<div class="box col-6">
												<div class="title">입사일</div>
												<div class="content">
													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text">
																<span class="fa fa-calendar-o"></span>
															</span>
														</div>
														<input type='date' class="form-control pickadate" id="userJoinDate"/>
													</div>				
												</div>
											</div>
										</div>
										
										<div class="boxDiv row">
											<div class="box col-6">
												<div class="title">질문</div>
												<div class="content">							
													<select class="form-control" id="userQuestion">
														<option selected hidden>질문 선택</option>
													    <option>본인 출신 초등학교는?</option>
													    <option>본인의 보물 1호는?</option>
													    <option>본인이 태어난 곳은?</option>
													    <option>본인의 별명은?</option>
												    </select>
												</div>
											</div>
											
											<div class="box col-6">
												<div class="title">답변</div>
												<div class="content">
													<input type="text" class="form-control" id="userAnswer" autocomplete="off" maxlength="20">
												</div>
											</div>
										</div>
										
										<div class="boxDiv row">
										
											<div class="box col-6">
												<div class="title">회사</div>
												<div class="content">							
													<select class="form-control" id="userCompanyName"></select>
												</div>
											</div>
											
											<div class="box col-6">
												<div class="title">부서</div>
												<div class="content">							
													<select class="form-control" id="userDeptName"></select>
												</div>
											</div>
											
										</div>
										
										<div class="boxDiv row">
											<div class="box col-6">
												<div class="title">직위</div>
												<div class="content">							
													<select class="form-control" id="userPosition">
														<option selected>사원</option>
													    <option>주임</option>
													    <option>대리</option>
													    <option>과장</option>
													    <option>차장</option>
													    <option>부장</option>
													    <option>이사</option>
													    <option>상무</option>
													    <option>전무</option>
													    <option>부사장</option>
													    <option>사장</option>
												    </select>
												</div>
											</div>
										
											<div class="box col-6">
												<div class="title">직책</div>
												<div class="content">							
													<input type="text" class="form-control" id="userJob" autocomplete="off" maxlength="20">
												</div>
											</div>
										</div>
										
										<div class="boxDiv row">
											<div class="box col-12">
												<div class="title" style="margin-bottom: 10px">권한 여부</div>
												<div class="content" id="authorityDetail" name="authorityDetail" style="display:inline-block; width:200px; line-height:0px;"></div>
											</div>                           
										</div>
	
										<div class="boxDiv row">
	 										<div class="box col-3" style="margin-top: auto;">
												<div class="title">우편번호</div>
												<div class="content">							
													<input type="text" class="form-control" id="userZipCode" autocomplete="off" maxlength="20">
												</div>
											</div>
											<div class="box col-3" style="margin-top: auto;">
												<button type="button" class="btn btn-outline-light-blue mr-1" id="searchZipCode" onclick="userExecPostCode();" >상세주소</button>
											</div> 
											<div class="box col-6" style="margin-top: auto;"></div>
										</div> 
										
										<div class="boxDiv row">
											<div class="box col-12">
												<div class="title">주소</div>
												<div class="content">
													<input type="text" class="form-control" id="userAddress" autocomplete="off" maxlength="20">
												</div>
											</div>
										</div>
										
										<div class="boxDiv row">
											<div class="box col-12">
												<div class="title">상세주소</div>
												<div class="content">							
	 												<input type="text" class="form-control" id="userDetailedAddress" autocomplete="off" maxlength="20">
												</div>
											</div>
										</div>
							        
							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
							        <button type="submit" class="btn btn-info" id="updateSubmit" onclick="updateUser();" disabled="disabled">수정</button>
							      </div>
							      
							    </div>
							  </div>
							</div>
							
							<!-- 상세보기 Modal End-->

            		</div>
            	</div>
                
            </div>
            <!-- content detached right-->
            
            <!-- sidebar detached left-->

            <!-- sidebar detached left-->
            
        </div>
    </div>
    <!-- END Content-->
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    
    <!-- BEGIN VENDOR JS-->
    <script th:src="@{/vendors/js/vendors.min.js}"></script>
    <!-- BEGIN VENDOR JS-->
    
    <!-- BEGIN PAGE VENDOR JS-->
    <script th:src="@{/vendors/js/ui/jquery.sticky.js}"></script>
    <script th:src="@{/vendors/js/ui/prism.min.js}"></script>
    <script th:src="@{/vendors/js/pickers/pickadate/picker.js}"></script>
    <script th:src="@{/vendors/js/extensions/jquery.raty.js}"></script>
    <script th:src="@{/vendors/js/extensions/jquery.knob.min.js}"></script>
    <script th:src="@{/vendors/js/extensions/wNumb.js}"></script>
    <script th:src="@{/vendors/js/extensions/nouislider.min.js}"></script>
    <!-- END PAGE VENDOR JS-->

    <!-- BEGIN PAGE LEVEL JS-->
    <script th:src="@{/js/scripts/extensions/knob.js}"></script>
    <script th:src="@{/js/scripts/pages/content-sidebar.js}"></script>
    <script th:src="@{/js/scripts/pickers/dateTime/pick-a-datetime.js}"></script>
    <!-- END PAGE LEVEL JS-->
  </body>
</html>