<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<link rel="stylesheet" type="text/css" href="/css/product/detail.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

<!-- 상단바 replace -->
<div th:replace="common/salesHeader.html"></div>

   <form action="/product/insert" method="post">
   
   <!-- 상품 상세보기 폼 -->
   <section class="section02">
       <div class="com_title">
           <div class="com_title_text">상품 상세보기</div>
           <div class="com_icon">
	        	<div class="updateBtn"><img class="com_title_icon01" src="/images/common/update.png"/></div>
                <div class="deleteBtn"><img class="com_title_icon01" src="/images/common/delete.png"/></div>
	            <div onclick="location.href='/product/list'"><img class="com_title_icon01" src="/images/common/list.png"/></div>
	        </div>
	        <div class="com_icon2">
	       		<div class="updateBtn"><img class="com_title_icon01" src="/images/common/update.png"/></div>
                <div class="deleteBtn"><img class="com_title_icon01" src="/images/common/delete.png"/></div>
	            <div onclick="location.href='/product/list'"><img class="com_title_icon01" src="/images/common/list.png"/></div>
	        </div>
       </div>
       <div class="com_line"></div>
   
       <div class="textbox">
           <div class="maintext">
               <div class="maintext01">* 상품명</div>
               <div class="maintext02">* 판매가</div>
               <div class="maintext03">* 상품링크</div>
               <div class="maintext05">* 과세유무</div>
               <div class="maintext06">* 단위</div>
               <div class="maintext07">* 규격</div>
               <div class="maintext15">* 간략설명</div>
           </div>
   
           <div class="line_text">
               <div class="line">
                   <div class="line01"></div>
                   <div class="line02"></div>
                   <div class="line03"></div>
                   <div class="line05"></div>
                   <div class="line06"></div>
                   <div class="line07"></div>
                   <div class="line15"></div>
               </div>
               <div class="middletext">
                      <input type="hidden" id="productNo" name="productNo" readonly>
                      <input type="hidden" id="userNo" name="userNo" readonly>
                      <input type="text" id="productName" name="productName" class="middletext01" th:value="${ productDTO.productName }" readonly>
                      <input type="text" id="price" name="price" class="middletext02" th:value="${ productDTO.price }" readonly>
                      <input type="text" id="productLink" name="productLink" class="middletext03" th:value="${ productDTO.productLink }" readonly>
                      <input name="tax" id="tax" class="middletext05" th:value="${ productDTO.tax }" readonly>
                      <input type="text" id="unit" name="unit" class="middletext06" th:value="${ productDTO.unit }" readonly>
                      <input type="text" id="standard" name="standard" class="middletext07" th:value="${ productDTO.standard }" readonly>
                      <textarea id="briefDescription" name="briefDescription" class="middletext15" th:text="${ productDTO.briefDescription }" readonly></textarea>
               </div>
           </div>
       </div>
   </section>
   </form>
   <!-- 상품 상세보기 폼 end -->
   
   <script>
	/* 삭제 버튼 클릭시 해당 게시글의 상품번호를 전달한다 */
	   $(".deleteBtn").click(function() {
	      var productNo = $("#productNo").val();
	      
	      var result = window.confirm("정말 삭제하시겠습니까?");
	      
	      if(result) {
	         location.href="/product/delete?productNo=" + productNo;
	      }
	      
	   });
	   
	   /* 수정 버튼 클릭시 해당 게시글의 상품번호를 전달한다 */
	   $(".updateBtn").click(function() {
	      var productNo = $("#productNo").val();
	      
	      location.href="/product/update?productNo=" + productNo;
	      
	   });
	</script>
   
</body>
</html>