<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/collection/list.css">
<script>
	/* 등록,수정,삭제 결과 출력 메세지 */
	const message = '[[${ message }]]';
	
	if(message) {
		alert(message);
	}
</script>
</head>
<body>
   <!-- 상단바 replace -->
   <div th:replace="common/salesHeader.html"></div>
   
   <!-- 검색창 -->
   <form id="search" action="/product/list" method="get">
   <section class="search_part">
      <div class="search_title">검색조건</div>

      <div class="all_box">
         <div class="part01">
            <select id="search_text" class="select_box" name="division">
               <option value="없음">검색어 종류를 선택하세요</option>
               <option value="상품명">상품명</option>
               <option value="판매가">판매가</option>
            </select>
            <input class="search_input" name="searchName" type="text" placeholder="검색어를 입력하세요">
            <select id="selectDeptName" class="select_box" name="deptName">
               <option value="전체">전체</option>
               <option th:each="deptList : ${ deptList }" th:value="${ deptList.deptName }" th:text="${ deptList.deptName }"></option>
            </select>
            <input id="name" class="search_input" name="name" type="text" placeholder="담당자" readonly>      
            <div class="icon01"><img class="managerModal" src="/images/common/open.png"/></div>
            <button class="search_button" type="submit">검색</button>
         </div>
      </div>
   </section>
   </form>
   <!-- 검색창 end -->
   
   <!-- 견적 목록 -->
   <section class="list_box">

      <div class="list_title">
         <div class="">상품 : 검색결과 ( <span th:text="${ totalCount } + 건"></span> )</div>
         <div onclick="location.href='/product/insert'"><img class="list01_img" src="/images/common/jam_write.png"/></div>
      </div>
      
      <!-- 반복문으로 목록 조회 -->
      <div class="list01" th:each="productList : ${ productList }">
      
         <div class="list01_1">
         
            <div class="list01_main">
               <input class="productNo" th:value="${ productList.productNo }" type="hidden">
               <div class="list01_name" th:text="${ productList.productName }"></div>
               <div>
                  <span><img class="date_img" src="/images/common/date.png"/>등록일 : </span>
                  <span class="list01_location" th:text="${ productList.enrollDate }"></span>
               </div>
            </div>

            <div class="list01_s_tag">
               <div class="img2"><img class="list01_img" th:src="@{/images/common/company2.png}"/></div>
               <div class="img3"><img class="list01_img" th:src="@{/images/common/client.png}"/></div>
               <div class="img4"><img class="list01_img" th:src="@{/images/common/money_bag.png}"/></div>
            </div>
               <div class="img1_1" align="center" th:text="${ productList.productLink }"></div>   
               <div class="img1_2" align="center" th:text="${ productList.unit }"></div>
               <div class="img1_3" align="center" th:text="${ productList.price }"></div>
         </div>
         <div class="list01_2">
            <div class="mess_text01">과세유무 : </div><div class="mess_text01" th:text="${ productList.tax }"></div>
         </div>
      </div>
      <!-- 반복문으로 목록 조회 edn -->
      
   
      <br><br>
      <!-- 페이징 버튼 시작 -->
      <div align="center">
         <button class="page_btn1" th:if="${ selectCriteria.pageNo <= 1 }" type="button" disabled ><img src="/images/common/prevPage.png"/></button>      
         <button class="page_btn1" th:if="${ selectCriteria.pageNo > 1 } and ${ productSearchDTO.searchName == null } and ${ productSearchDTO.division == null } and ${ productSearchDTO.deptName == null } and ${ productSearchDTO.name == null }" type="button" id="prevPage" onclick="preButtonAction();" ><img src="/images/common/prevPage.png"/></button>      
         <button class="page_btn1" th:if="${ selectCriteria.pageNo > 1 } and (${ productSearchDTO.searchName != null } or ${ productSearchDTO.division != null } or ${ productSearchDTO.deptName != null } or ${ productSearchDTO.name != null })" type="button" id="searchPrevPage" onclick="searchPreButtonAction();"><img src="/images/common/prevPage.png"/></button>      
         
         <span th:each="p : ${#numbers.sequence(selectCriteria.startPage,selectCriteria.endPage)}">
            <button class="page_btn2" th:if="${selectCriteria.pageNo == p}" th:text="${p}" disabled></button>
            <button class="page_btn2" th:if="${selectCriteria.pageNo != p} and ${ productSearchDTO.searchName == null } and ${ productSearchDTO.division == null } and ${ productSearchDTO.deptName == null } and ${ productSearchDTO.name == null }" th:text="${p}" onclick="pageButtonAction(this.innerText);"></button>
            <button class="page_btn2" th:if="${selectCriteria.pageNo != p} and (${ productSearchDTO.searchName != null } or ${ productSearchDTO.division != null } or ${ productSearchDTO.deptName != null } or ${ productSearchDTO.name != null })" th:text="${p}" onclick="searchPageButtonAction(this.innerText);"></button>
         </span>      
         
         <button class="page_btn3" th:if="${ selectCriteria.pageNo >= selectCriteria.maxPage }" type="button" disabled ><img src="/images/common/nextPage.png"/></button>   
         <button class="page_btn3" th:if="${ selectCriteria.pageNo < selectCriteria.maxPage } and ${ productSearchDTO.searchName == null } and ${ productSearchDTO.division == null } and ${ productSearchDTO.deptName == null } and ${ productSearchDTO.name == null }" type="button" id="nextPage" onclick="nextButtonAction();"><img src="/images/common/nextPage.png"/></button>                  
         <button class="page_btn3" th:if="${ selectCriteria.pageNo < selectCriteria.maxPage } and (${ productSearchDTO.searchName != null } or ${ productSearchDTO.division != null } or ${ productSearchDTO.deptName != null } or ${ productSearchDTO.name != null })" type="button" id="searchNextPage" onclick="searchNextButtonAction();"><img src="/images/common/nextPage.png"/></button>                  
         
         <input type="hidden" id="currentPageByPaging" name="currentPageByPaging" th:value="${productSearchDTO.currentPage}">
         <input type="hidden" id="searchNameByPaging" name="searchNameByPaging" th:value="${productSearchDTO.searchName}">
         <input type="hidden" id="divisionByPaging" name="divisionByPaging" th:value="${productSearchDTO.division}">
         <input type="hidden" id="deptNameByPaging" name="deptNameByPaging" th:value="${productSearchDTO.deptName}">
         <input type="hidden" id="nameByPaging" name="nameByPaging" th:value="${productSearchDTO.name}">
         
         <br>
      </div>
      <!-- 페이징 버튼 종료 -->
      <button class="page_btn4" onclick="window.location.href='#top'"><img src="/images/common/top.png"/></button>
      <div class="restArea"></div>
      
   </section>
   <!-- 견적 목록 end -->
   
   <!-- 담당자 모달 -->
   <a href="#dialog" id="modalOpen" role="button" class="btn btn-default" data-toggle="modal" style="display: none;"></a>

      <div class="modal fade bd-example-modal-xl" id="dialog" role="dialog" aria-labelledby="dlogLabel" aria-hidden="true">

         <div class="modal-dialog modal-xl" id="p-modalArea" role="document">
         
            <div class="modal-content">

               <!-- 모달 타이틀 -->
               <div class="modal-header" style="background: #4dd0e1;">
                      <h4 class="modal-title" id="dlogLabel" >담당자</h4>
               </div>
               <!-- 모달 타이틀 end -->
               
                    <div class="modal-body">
                  <table id="managerList" class="modalTable">
                     <thead>
                        <tr>
                           <th>담당자 번호</th>
                           <th>담당자명</th>
                           <th>부서</th>
                        </tr>
                     </thead>
                     <tbody id="managerTbody" class="modalTbody"></tbody>
                  </table>
                    </div>
                    
                    <div class="modal-footer">
                        <a id="btn-close" class="btn btn-close" data-dismiss="modal">닫기</a> 
                    </div>
            </div>
         </div>
      </div>
   <!-- 담당자 모달 end -->
   
   <script>
   /* 모달창 이미지 클릭시 동작할 내용 */
   $(".managerModal").click(function() {
      
      const deptName = $("#selectDeptName").val();
      
      /* ajax로 고객사 리스트 조회해서 모달창에 테이블로 출력 */
      $.ajax({
         url: "/business/estimate/manager",
         type: "get",
         data: { deptName:deptName },
         success: function(data) {
            
            const $table = $("#managerTbody");
            $table.html("");
            
            for(let index in data) {
               $tr = $("<tr>");
               $noTd = $("<td>").text(data[index].userNo);
               $nameTd = $("<td>").text(data[index].name);
               $deptTd = $("<td>").text(data[index].deptName);
               
               $tr.append($noTd);
               $tr.append($nameTd);
               $tr.append($deptTd);
               
               $table.append($tr);
            }
         },
         error: function(xhr) {
            console.log(xhr);
         }
      });
      
      /* 모달창 오픈 */
      $("a[id=modalOpen]").click();
      
      /* 출력한 고객사 정보 클릭시 해당 정보 input태그에 출력 */
      $("#managerTbody").click(function() {
         
         var tbody = $(this);
         var tr = tbody.children();
         
         tr.click(function() {
            
            var tr2 = $(this);
            var name = tr2.children().eq(1).text();
            $("input[id=name]").attr("value", name);
            
            $("a[id=btn-close]").click();
         });
      });
      
   });
   
   /* 목록 클릭시 상세조회 페이지로 이동 */
   $(".list01_1").click(function() {
      var productNo = $(this).children().children().eq(0).val();
      location.href="/product/detail?productNo=" + productNo;
   });
   
   
   /* 페이징  */
   /* 공통으로 사용할 link */
   const link = "/product/list";

   /* 검색조건이 없을 때 이전버튼 클릭 시 작동 */
   function preButtonAction() {
      
      /* html에서 input태그에 hidden타입으로 controller로부터 받아온 값을 value를 저장해놓았음. 그 값을 script에서 저장 */
      var currentPage = $("#currentPageByPaging").val();
      
      /* 경로 이동 */
      location.href = link + "?currentPage=" + (currentPage - 1);
      
   }
   
   /* 검색조건이 있을 때 이전버튼 클릭 시 작동 */
   function searchPreButtonAction() {
      
      /* html에서 input태그에 hidden타입으로 controller로부터 받아온 값을 value를 저장해놓았음. 그 값을 script에서 저장 */
      var currentPage = $("#currentPageByPaging").val();
      var searchName = $("#searchNameByPaging").val();
      var division = $("#divisionByPaging").val();
      var deptName = $("#deptNameByPaging").val();
      var name = $("#nameByPaging").val();
      
      /* 경로 이동 */
      location.href = link + "?currentPage=" +  (currentPage - 1) + "&searchName=" + searchName + "&division=" + division + "&deptName=" + deptName + "&name=" + name;
   }
   
   /* 검색조건이 없을 때 숫자 클릭 시 작동 */
   function pageButtonAction(text) {
         
      /* 경로 이동 */
       location.href = link + "?currentPage=" + text;
           
   }
   
   /* 검색조건이 있을 때 숫자 클릭 시 작동 */
   function searchPageButtonAction(text) {
        
      /* html에서 input태그에 hidden타입으로 controller로부터 받아온 값을 value를 저장해놓았음. 그 값을 script에서 저장 */  
      var searchName = $("#searchNameByPaging").val();
      var division = $("#divisionByPaging").val();
      var deptName = $("#deptNameByPaging").val();
      var name = $("#nameByPaging").val();

      /* 경로 이동 */  
       location.href = link + "?currentPage=" + text + "&searchName=" + searchName + "&division=" + division + "&deptName=" + deptName + "&name=" + name;
            
   }
   
   /* 검색조건이 없을 때 다음버튼 클릭 시 작동 */
   function nextButtonAction() {
      
      /* html에서 input태그에 hidden타입으로 controller로부터 받아온 값을 value를 저장해놓았음. 그 값을 script에서 저장 */
      var currentPage = $("#currentPageByPaging").val();
      
      /* currentPage변수는 현재 문자열이기 때문에 숫자로 변환함 */
      currentPage *= 1;

      /* 경로 이동 */
      location.href = link + "?currentPage=" + (currentPage + 1);
      
   }
   
   /* 검색조건이 있을 때 다음버튼 클릭 시 작동 */
   function searchNextButtonAction() {
      
      /* html에서 input태그에 hidden타입으로 controller로부터 받아온 값을 value를 저장해놓았음. 그 값을 script에서 저장 */
      var currentPage = $("#currentPageByPaging").val();
      
      /* currentPage변수는 현재 문자열이기 때문에 숫자로 변환함 */
      currentPage *= 1;
      var searchName = $("#searchNameByPaging").val();
      var division = $("#divisionByPaging").val();
      var deptName = $("#deptNameByPaging").val();
      var name = $("#nameByPaging").val();
      
      /* 경로 이동 */
      location.href = link + "?currentPage=" +  (currentPage + 1) + "&searchName=" + searchName + "&division=" + division + "&deptName=" + deptName + "&name=" + name;
   }
   
   </script>
   
</body>
</html>