<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<link rel="stylesheet" type="text/css" href="/css/product/insert.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

<!-- 상단바 replace -->
<div th:replace="common/salesHeader.html"></div>
   <form action="/product/insert" method="post">
   
   <!-- 상품 등록 폼 -->
   <section class="section02">
       <div class="com_title">
           <div class="com_title_text">상품 수정</div>
           <div class="com_icon">
              <button class="com_icon_btn" type="submit"><img class="com_title_icon01" src="/images/common/restore.png"/></button>
               <div onclick="location.href='/product/list'"><img class="com_title_icon02" src="/images/common/list.png"/></div>
           </div>
       </div>
       <div class="com_line"></div>
   
       <div class="textbox">
           <div class="maintext">
               <div class="maintext01">* 상품명</div>
               <div class="maintext02">* 판매가</div>
               <div class="maintext03">* 상품링크</div>
               <div class="maintext05">* 과세유무</div>
               <div class="maintext06">* 단위</div>
               <div class="maintext07">* 규격</div>
               <div class="maintext15">* 간략설명</div>
           </div>
   
           <div class="line_text">
               <div class="line">
                   <div class="line01"></div>
                   <div class="line02"></div>
                   <div class="line03"></div>
                   <div class="line05"></div>
                   <div class="line06"></div>
                   <div class="line07"></div>
                   <div class="line15"></div>
               </div>
               <div class="middletext">
                      <input type="hidden" id="productNo" name="productNo" th:value="${ productDTO.productNo }">
                      <input type="hidden" id="userNo" name="userNo" th:value="${ productDTO.userNo }" >
                      <input type="text" id="productName" name="productName" class="middletext01" th:value="${ productDTO.productName }">
                      <input type="text" id="price" name="price" class="middletext02" th:value="${ productDTO.price }">
                      <input type="text" id="productLink" name="productLink" class="middletext03" th:value="${ productDTO.productLink }">
                      <select name="tax" id="tax" class="middletext05">
                      <option value="과세">과세</option>
                      <option value="비과세">비과세</option>
                      </select>
                      <input type="text" id="unit" name="unit" class="middletext06" th:value="${ productDTO.unit }">
                      <input type="text" id="standard" name="standard" class="middletext07" th:value="${ productDTO.standard }">
                      <textarea id="briefDescription" name="briefDescription" class="middletext15" th:text="${ productDTO.briefDescription }"></textarea>
               </div>
           </div>
       </div>
   </section>
   </form>
   <!-- 상품 등록 폼 end -->
   
</body>
</html>