<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<link rel="stylesheet" type="text/css" href="/css/sales/detail.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
	<!-- 상단바 replace -->
	<div th:replace="common/salesHeader.html"></div>

	<!-- 첨부자료창 -->
	<section class="section01">
	
	    <div class="blue_box">
	        <div class="title">첨부자료</div>
	    </div>
	
	    <div class="gray_box">
	        <div class="text_0102">
	        <th:block th:if="${ fileList.size <= 0 }">
	        	<span class="inp">첨부파일이 없습니다.</span>
	        </th:block>
	        	<div class="text_01" th:each="fileList : ${ fileList }">
	            	<a class="attachments" href=#this th:text="${ fileList.fileOriginalName }"></a>
	            	<input type="hidden" class="attachments" name="filePath" th:value="${ fileList.filePath }" readonly>
	            	<input type="hidden" class="attachments" name="fileName" th:value="${ fileList.fileName }" readonly>
	            	<input type="hidden" class="attachments" name="fileNo" th:value="${ fileList.fileNo }" readonly>
	            </div>
	        </div>
	    </div>
	</section>
	<!-- 첨부자료창 end -->
	
	<!-- 계약 정보 -->
	<section class="section02">
		<div class="section02_1">
		    <div class="com_title">
		        <div class="com_title_text">매출 조회</div>
		        <div class="com_icon">
		        	<div class="updateBtn"><img class="com_title_icon01" src="/images/common/update.png"/></div>
	           		<div class="deleteBtn"><img class="com_title_icon01" src="/images/common/delete.png"/></div>
		            <div onclick="location.href='/business/sales/list'"><img class="com_title_icon01" src="/images/common/list.png"/></div>
		        </div>
		        <div class="com_icon2">
		        	<div class="updateBtn"><img class="com_title_icon01" src="/images/common/update.png"/></div>
	           		<div class="deleteBtn"><img class="com_title_icon01" src="/images/common/delete.png"/></div>
		            <div onclick="location.href='/business/sales/list'"><img class="com_title_icon01" src="/images/common/list.png"/></div>
		        </div>
		    </div>
		    <div class="com_line"></div>
		
		    <div class="textbox">
		        <div class="maintext">
		            <div class="maintext01">고객사</div>
		            <div class="maintext02">고객</div>
		            <div class="maintext03">영업기회</div>
		            <div class="maintext04">견적</div>
		            <div class="maintext05">계약</div>
		            <div class="maintext06">출고일</div>
		            <div class="maintext07">수량</div>
		            <div class="maintext08">공급가액</div>
		            <div class="maintext09">세액</div>
		            <div class="maintext10">합계</div>
		            <div class="maintext11">부가세</div>
		            <div class="maintext12">입고예정일</div>
		            <div class="maintext13">사업유형</div>
		            <div class="maintext14">담당자</div>
		            <div class="maintext15">비고</div>
		        </div>
		
		        <div class="line_text">
		            <div class="line">
		                <div class="line01"></div>
		                <div class="line02"></div>
		                <div class="line03"></div>
		                <div class="line04"></div>
		                <div class="line05"></div>
		                <div class="line06"></div>
		                <div class="line07"></div>
		                <div class="line08"></div>
		                <div class="line09"></div>
		                <div class="line10"></div>
		                <div class="line11"></div>
		                <div class="line12"></div>
		                <div class="line13"></div>
		                <div class="line14"></div>
		                <div class="line15"></div>
		            </div>
		            <div class="middletext">
		                <input type="hidden" id="salesNo" name="salesNo"  th:value="${ oneSales.salesNo }" readonly>
		                <input type="hidden" id="clientCompanyNo" name="clientCompanyNo"  th:value="${ oneSales.clientCompanyNo }" readonly>
		                <input type="hidden" id="clientNo" name="clientNo"  th:value="${ oneSales.clientNo }" readonly>
		                <input type="hidden" id="businessOpportunityNo" name="businessOpportunityNo"  th:value="${ oneSales.businessOpportunityNo }" readonly>
		                <input type="hidden" id="estimateNo" name="estimateNo"  th:value="${ oneSales.estimateNo }" readonly>
		                <input type="hidden" id="contractNo" name="contractNo"  th:value="${ oneSales.contractNo }" readonly>
		                <input type="text" id="clientCompanyName" name="clientCompanyName" class="middletext01" th:value="${ oneSales.clientCompanyName }" readonly>
		                <input type="text" id="clientName" name="clientName" class="middletext02" th:value="${ oneSales.clientName }" readonly>
		                <input type="text" id="businessOpportunityName" name="businessOpportunityName" class="middletext03" th:value="${ oneSales.businessOpportunityName }" readonly>
		                <input type="text" id="estimateName" name="estimateName" class="middletext04" th:value="${ oneSales.estimateName }" readonly>
		                <input type="text" id="contractName" name="contractName" class="middletext05" th:value="${ oneSales.contractName }" readonly>
		                <input type="date" id="releaseDate" name="releaseDate" class="middletext06" th:value="${ oneSales.releaseDate }" readonly>
		                <input type="text" id="quantity" name="quantity" class="middletext07" th:value="${ oneSales.quantity }" readonly>
		                <input type="text" id="supplyPrice" name="supplyPrice" class="middletext08" th:value="${ oneSales.supplyPrice }" readonly>
		                <input type="text" id="taxAmount" name="taxAmount" class="middletext09" th:value="${ oneSales.taxAmount }" readonly>
		                <input type="text" id="sum" name="sum" class="middletext10" th:value="${ oneSales.sum }" readonly>
		                <input type="text" id="vat" name="vat" class="middletext11" th:value="${ oneSales.vat }" readonly>
		                <input type="text" id="expectedDeliveryDate" name="expectedDeliveryDate" class="middletext12" th:value="${ oneSales.expectedDeliveryDate }" readonly>
		                <input type="text" id="businessType" name="businessType" class="middletext13" th:value="${ oneSales.businessType }" readonly>
		                <input type="text" id="name" name="name" class="middletext14" th:value="${ oneSales.name }" readonly>
		                <textarea id="note" name="note" class="middletext15" th:text="${ oneSales.note }" readonly></textarea>
		            </div>
		        </div>
		    </div>
		</div>
		<div class="empty"></div>
	
		<div class="sec03_title">매출제품</div>
		<div class="sec03_line01"></div>
		<div class="space"></div>
		<div id="tableDiv" th:each="productList : ${ productList }">
			<input type="text" id="productName" name="productName" th:value="${ productList.productName }" readonly>
			<table id="productTable">
				<thead>
				<tr>
				<th> 단가 </th>
				<td> <input type="text" class="price" id="price" name="price" th:value="${ productList.price }" readonly> </td>
				<th> 수량 </th>
				<td> <input type="text" class="quantity2" id="quantity2" name="quantity2" th:value="${ productList.quantity2 }" readonly> </td>
				</tr>
				</thead>
				<tbody>
				<tr>
				<th> 공급가액 </th>
				<td> <input type="text" id="productSupplyPrice" name="productSupplyPrice" th:value="${ productList.productSupplyPrice }" readonly> </td>
				<th> 매출주기 </th>
				<td> <input type="text" id="salesCycle" name="salesCycle" th:value="${ productList.salesCycle }" readonly> </td>
				</tr>
				<tr>
				<th> 납품예정일 </th>
				<td> <input type="date" id="productDeliverydate" name="productDeliverydate" th:value="${ productList.productDeliverydate }" readonly> </td>
				<th> 비고 </th>
				<td> <input type="text" class="productNote" id="productNote" name="productNote" th:value="${ productList.productNote }" readonly> </td>
				</tr>
				</table>
				<div class="empty2"></div>
		</div>
		<div class="sumInput">
			<input type="text" value="합계" class="sumInput_1" readonly><input type="text" class="sumInput_2" name="sumPrice" th:value="${ productList[0].sumPrice }" readonly><input type="text" class="sumInput_2" name="sumQuantity" th:value="${ productList[0].sumQuantity }" readonly><input type="text" class="sumInput_2" name="sumTotalPrice" th:value="${ productList[0].sumTotalPrice }" readonly>
		</div>
		<div class="empty2"></div>
		<div class="empty"></div>
	</section>
	<!-- 계약 정보 end -->
	
	<script>
	/* 삭제 버튼 클릭시 해당 게시글의 계약번호를 전달한다 */
	$(".deleteBtn").click(function() {
		var salesNo = $("#salesNo").val();
		
		var result = window.confirm("정말 삭제하시겠습니까?");
		
		if(result) {
			location.href="/business/sales/delete?salesNo=" + salesNo;
		}
		
	});
	
	/* 수정 버튼 클릭시 해당 게시글의 매출번호를 전달한다 */
	$(".updateBtn").click(function() {
		var salesNo = $("#salesNo").val();
		
		location.href="/business/sales/update?salesNo=" + salesNo;
		
	});
	
	/* 첨부파일 클릭시 파일번호를 전달 */
	$(".attachments").click(function() {
		const fileNo = $(this).parent().children().eq(3).val();
		location.href="/business/sales/download?fileNo=" + fileNo;
	});
	
	</script>
	
</body>
</html>