<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<link rel="stylesheet" type="text/css" href="/css/sales/update.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
	<!-- 상단바 replace -->
	<div th:replace="common/salesHeader.html"></div>

	<form action="/business/sales/update" method="post" onsubmit="return checkValue();" encType="multipart/form-data">
	<!-- 첨부자료창 -->
	<section class="section01">
	
	    <div class="blue_box">
	        <div class="title">첨부자료</div>
	    </div>
	
	    <div class="gray_box">
	        <div class="text_0102">
	        <input class="attachment" type="file" name="multiFiles" multiple>
	        <th:block th:if="${ fileList.size <= 0 }">
	        	<span class="inp">첨부파일이 없습니다.</span>
	        </th:block>
	        	<div class="text_01" th:each="fileList : ${ fileList }">
	            	<a class="attachments" href=#this th:text="${ fileList.fileOriginalName }"></a>
	            	<button class="com_icon_btn2" type="button" onclick="deleteFile(this);"><img class="com_title_icon01" src="/images/common/x.png"/></button>
	            	<input type="hidden" class="attachments" name="fileNo" th:value="${ fileList.fileNo }" readonly>
	            </div>
	        </div>
	    </div>
	</section>
	<!-- 첨부자료창 end -->
	
	<!-- 매출 정보 -->
	<section class="section02">
		<div class="section02_1">
		    <div class="com_title">
		        <div class="com_title_text">매출 수정</div>
		        <div class="com_icon">
		        	<button class="com_icon_btn" type="submit"><img class="com_title_icon01" src="/images/common/restore.png"/></button>
		            <div onclick="location.href='/business/sales/list'"><img class="com_title_icon01" src="/images/common/list.png"/></div>
		        </div>
		        <div class="com_icon2">
		        	<button class="com_icon_btn" type="submit"><img class="com_title_icon01" src="/images/common/restore.png"/></button>
		            <div onclick="location.href='/business/sales/list'"><img class="com_title_icon01" src="/images/common/list.png"/></div>
		        </div>
		    </div>
		    <div class="com_line"></div>
		
		    <div class="textbox">
		        <div class="maintext">
		            <div class="maintext01">고객사</div>
		            <div class="maintext02">고객</div>
		            <div class="maintext03">영업기회</div>
		            <div class="maintext04">견적</div>
		            <div class="maintext05">계약</div>
		            <div class="maintext06">출고일</div>
		            <div class="maintext07">수량</div>
		            <div class="maintext08">공급가액</div>
		            <div class="maintext09">세액</div>
		            <div class="maintext10">합계</div>
		            <div class="maintext11">부가세</div>
		            <div class="maintext12">입고예정일</div>
		            <div class="maintext13">사업유형</div>
		            <div class="maintext14">담당자</div>
		            <div class="maintext15">비고</div>
		        </div>
		
		        <div class="line_text">
		            <div class="line">
		                <div class="line01"></div>
		                <div class="line02"></div>
		                <div class="line03"></div>
		                <div class="line04"></div>
		                <div class="line05"></div>
		                <div class="line06"></div>
		                <div class="line07"></div>
		                <div class="line08"></div>
		                <div class="line09"></div>
		                <div class="line10"></div>
		                <div class="line11"></div>
		                <div class="line12"></div>
		                <div class="line13"></div>
		                <div class="line14"></div>
		                <div class="line15"></div>
		            </div>
		            <div class="middletext">
		                <input type="hidden" id="salesNo" name="salesNo"  th:value="${ oneSales.salesNo }" readonly>
		                <input type="hidden" id="clientCompanyNo" name="clientCompanyNo"  th:value="${ oneSales.clientCompanyNo }" readonly>
		                <input type="hidden" id="clientNo" name="clientNo"  th:value="${ oneSales.clientNo }" readonly>
		                <input type="hidden" id="businessOpportunityNo" name="businessOpportunityNo"  th:value="${ oneSales.businessOpportunityNo }" readonly>
		                <input type="hidden" id="estimateNo" name="estimateNo"  th:value="${ oneSales.estimateNo }" readonly>
		                <input type="hidden" id="contractNo" name="contractNo"  th:value="${ oneSales.contractNo }" readonly>
		                <input type="hidden" id="userNo" name="userNo"  th:value="${ oneSales.userNo }" readonly>
		                <input type="text" id="clientCompanyName" name="clientCompanyName" class="middletext01" th:value="${ oneSales.clientCompanyName }" placeholder="계약 입력시 자동 입력됩니다" readonly>
		                <input type="text" id="clientName" name="clientName" class="middletext02" th:value="${ oneSales.clientName }" placeholder="계약 입력시 자동 입력됩니다" readonly>
		                <input type="text" id="businessOpportunityName" name="businessOpportunityName" class="middletext03" th:value="${ oneSales.businessOpportunityName }" placeholder="계약 입력시 자동 입력됩니다" readonly>
		                <input type="text" id="estimateName" name="estimateName" class="middletext04" th:value="${ oneSales.estimateName }" placeholder="계약 입력시 자동 입력됩니다" readonly>
		                <input type="text" id="contractName" name="contractName" class="middletext05" th:value="${ oneSales.contractName }" readonly>
		                <input type="date" id="releaseDate" name="releaseDate" class="middletext06" th:value="${ oneSales.releaseDate }">
		                <input type="text" id="quantity" name="quantity" class="middletext07" th:value="${ oneSales.quantity }" readonly>
		                <input type="text" id="supplyPrice" name="supplyPrice" class="middletext08" th:value="${ oneSales.supplyPrice }" readonly>
		                <input type="text" id="taxAmount" name="taxAmount" class="middletext09" th:value="${ oneSales.taxAmount }" readonly>
		                <input type="text" id="sum" name="sum" class="middletext10" th:value="${ oneSales.sum }" readonly>
		                <select id="vat" name="vat" class="middletext11">
		                	<option value="VAT 포함">VAT 포함</option>
		                	<option value="VAT 별도">VAT 별도</option>
		                </select>
		                <input type="date" id="expectedDeliveryDate" name="expectedDeliveryDate" class="middletext12" th:value="${ oneSales.expectedDeliveryDate }">
		                <select id="vat" name="businessType" class="middletext13">
		                	<option value="민수사업">민수사업</option>
		                	<option value="관공사업">관공사업</option>
		                </select>
		                <input type="text" id="name" name="name" class="middletext14" th:value="${ oneSales.name }" readonly>
		                <textarea id="note" name="note" class="middletext15" th:text="${ oneSales.note }"></textarea>
		            </div>
		            <div class="icon">
						<img id="contractModal" class="modal_icon5" src="/images/common/open.png"/>
						<img id="nameModal" class="modal_icon6" src="/images/common/open.png"/>
	            	</div>
		        </div>
		    </div>
		</div>
		<div class="empty"></div>
	
		<div class="sec03_title">매출제품</div><img id="addProduct" class="plus_icon" src="/images/common/plusBtn.png"/>
		<div class="sec03_line01"></div>
		<div class="space"></div>
		<div id="detailDiv" th:each="productList : ${ productList }">
			<div>
			<input type="hidden" class="productNo" id="productNo" name="productNo" th:value="${ productList.productNo }">
			<input type="text" id="productName" name="productName" th:value="${ productList.productName }" readonly>
			<span><a id="delBtn">삭제</a></span>
			<table id="productTable">
				<thead>
				<tr>
				<th> 단가 </th>
				<td> <input type="text" class="price" id="price" name="price" th:value="${ productList.price }" readonly> </td>
				<th> 수량 </th>
				<td> <input type="text" class="quantity2" id="quantity2" name="quantity2" th:value="${ productList.quantity2 }"> </td>
				</tr>
				</thead>
				<tbody>
				<tr>
				<th> 공급가액 </th>
				<td> <input type="text" class="productSupplyPrice" id="productSupplyPrice" name="productSupplyPrice" th:value="${ productList.productSupplyPrice }" readonly> </td>
				<th> 매출주기 </th>
				<td> <input type="text" id="salesCycle" name="salesCycle" th:value="${ productList.salesCycle }"> </td>
				</tr>
				<tr>
				<th> 납품예정일 </th>
				<td> <input type="date" id="productDeliverydate" name="productDeliverydate" th:value="${ productList.productDeliverydate }"> </td>
				<th> 비고 </th>
				<td> <input type="text" class="productNote" id="productNote" name="productNote" th:value="${ productList.productNote }"> </td>
				</tr>
				</table>
				<div class="empty2"></div>
			</div>
		</div>
		<div id="tableDiv"></div>
		<div class="sumInput">
			<input type="text" value="합계" class="sumInput_1" readonly><input type="text" class="sumInput_2" name="sumPrice" th:value="${ productList[0].sumPrice }" readonly><input type="text" class="sumInput_2" name="sumQuantity" th:value="${ productList[0].sumQuantity }" readonly><input type="text" class="sumInput_2" name="sumTotalPrice" th:value="${ productList[0].sumTotalPrice }" readonly>
		</div>
		<div class="empty2"></div>
		<div class="empty"></div>
	</section>
	</form>
	<!-- 매출 정보 end -->
	
	<script>
	/* 삭제 버튼 클릭시 해당 게시글의 매출번호를 전달한다 */
	$(".deleteBtn").click(function() {
		var salesNo = $("#salesNo").val();
		
		var result = window.confirm("정말 삭제하시겠습니까?");
		
		if(result) {
			location.href="/business/sales/delete?salesNo=" + salesNo;
		}
		
	});
	
	/* 수정 버튼 클릭시 해당 게시글의 매출번호를 전달한다 */
	$(".updateBtn").click(function() {
		var salesNo = $("#salesNo").val();
		
		location.href="/business/sales/update?salesNo=" + salesNo;
		
	});
	
	/* 첨부파일 클릭시 파일번호를 전달 */
	$(".attachments").click(function() {
		const fileNo = $(this).parent().children().eq(2).val();
		location.href="/business/sales/download?fileNo=" + fileNo;
	});
	
	/* 첨부파일 삭제 */
	function deleteFile(button) {
		
		/* input태그에 hidden타입으로 만든 파일번호를 가져옴 */
		var fileNo = button.parentNode.children[2].value;

		$.ajax({
			url: "/business/sales/file/delete",
			data: {fileNo : fileNo},	          
			type: 'POST',
			success: function(data) {
				if(data > 0) {				
					alert("파일 삭제를 성공하셨습니다.");
					location.reload(true);
				} else {
					alert("파일 삭제를 실패하였습니다.")
				}
			},
			error: function(xhr) {
				console.log(xhr);
				alert("에러발생");
			}
		});
		
	};
	
	</script>
	
	<!-- 계약 모달 -->
	<a href="#dialog8" id="modalOpen8" role="button" class="btn btn-default" data-toggle="modal" style="display: none;"></a>

		<div class="modal fade bd-example-modal-xl" id="dialog8" role="dialog" aria-labelledby="dlogLabel" aria-hidden="true">

			<div class="modal-dialog modal-xl" id="p-modalArea" role="document">
			
				<div class="modal-content">

					<!-- 모달 타이틀 -->
					<div class="modal-header" style="background: #4dd0e1;">
	                	<h4 class="modal-title" id="dlogLabel" >계약</h4>
					</div>
					<!-- 모달 타이틀 end -->
					
                    <div class="modal-body">
						<table id="contractList" class="modalTable">
							<thead>
								<tr>
									<th>계약명</th>
									<th>견적명</th>
									<th>영업기회명</th>
									<th>고객</th>
									<th>고객사</th>
								</tr>
							</thead>
							<tbody id="contractTbody" class="modalTbody"></tbody>
						</table>
						<div class="modalDiv"></div>
                    </div>
                    
                    <div class="modal-footer">
                        <a id="btn-close" class="btn btn-close" data-dismiss="modal">닫기</a> 
                    </div>
				</div>
			</div>
		</div>
	<!-- 계약 모달 end -->
	
	<script>
	/* 계약 모달 버튼 클릭시 동작 */
	/* 영업기회 모달버튼 클릭시 동작 */
	$("#contractModal").click(function() {
		
		/* ajax로 영업기회 정보를 가져온다 */
		$.ajax({
			url: "/business/sales/contract",
			type: "get",
			success: function(data) {
				
				const $table = $("#contractTbody");
				$table.html("");
				
				/* 가져온 정보를 테이블에 담는다 */
				for(let index in data) {
					$tr = $("<tr>");
					$contractNo = $("<input type='hidden'>").text(data[index].contractNo);
					$contractName = $("<td>").text(data[index].contractName);
					$estimateNo = $("<input type='hidden'>").text(data[index].estimateNo);
					$estimateName = $("<td>").text(data[index].estimateName);
					$businessOpportunityNo = $("<input type='hidden'>").text(data[index].businessOpportunityNo);
					$businessOpportunityName = $("<td>").text(data[index].businessOpportunityName);
					$clientNo = $("<input type='hidden'>").text(data[index].clientNo);
					$clientName = $("<td>").text(data[index].clientName);
					$clientCompanyNo = $("<input type='hidden'>").text(data[index].clientCompanyNo);
					$clientCompanyName = $("<td>").text(data[index].clientCompanyName);
					
					$tr.append($contractNo);
					$tr.append($contractName);
					$tr.append($estimateNo);
					$tr.append($estimateName);
					$tr.append($businessOpportunityNo);
					$tr.append($businessOpportunityName);
					$tr.append($clientNo);
					$tr.append($clientName);
					$tr.append($clientCompanyNo);
					$tr.append($clientCompanyName);
					
					$table.append($tr);
					
				}
			},
			error: function(xhr) {
				console.log(xhr);
			}
		});
		
		/* 모달창을 연다 */
		$("a[id=modalOpen8]").click();
		
		/* 모달창에 출력된 값 클릭시 동작 */
		$(document).on("click", "#contractTbody tr", function() {
			
			var contractNo = $(this).children().eq(0).text();
			var contractName = $(this).children().eq(1).text();
			var estimateNo = $(this).children().eq(2).text();
			var estimateName = $(this).children().eq(3).text();
			var businessOpportunityNo = $(this).children().eq(4).text();
			var businessOpportunityName = $(this).children().eq(5).text();
			var clientNo = $(this).children().eq(6).text();
			var clientName = $(this).children().eq(7).text();
			var clientCompanyNo = $(this).children().eq(8).text();
			var clientCompanyName = $(this).children().eq(9).text();

			$("input[id=contractNo]").attr("value", contractNo);
			$("input[id=contractName]").attr("value", contractName);
			$("input[id=estimateNo]").attr("value", estimateNo);
			$("input[id=estimateName]").attr("value", estimateName);
			$("input[id=businessOpportunityNo]").attr("value", businessOpportunityNo);
			$("input[id=businessOpportunityName]").attr("value", businessOpportunityName);
			$("input[id=clientNo]").attr("value", clientNo);
			$("input[id=clientName]").attr("value", clientName);
			$("input[id=clientCompanyNo]").attr("value", clientCompanyNo);
			$("input[id=clientCompanyName]").attr("value", clientCompanyName);
			
			/* 모달창을 닫는다 */
			$("a[id=btn-close]").click();
		});
		
	});
	</script>
	
	<!-- 담당자 모달 -->
	<a href="#dialog4" id="modalOpen4" role="button" class="btn btn-default" data-toggle="modal" style="display: none;"></a>

		<div class="modal fade bd-example-modal-xl" id="dialog4" role="dialog" aria-labelledby="dlogLabel" aria-hidden="true">

			<div class="modal-dialog modal-xl" id="p-modalArea" role="document">
			
				<div class="modal-content">

					<!-- 모달 타이틀 -->
					<div class="modal-header" style="background: #4dd0e1;">
	                	<h4 class="modal-title" id="dlogLabel" >담당자</h4>
					</div>
					<!-- 모달 타이틀 end -->
					
                    <div class="modal-body">
						<table id="userList" class="modalTable">
							<thead>
								<tr>
									<th>담당자명</th>
									<th>부서</th>
									<th>직위</th>
								</tr>
							</thead>
							<tbody id="userTbody" class="modalTbody"></tbody>
						</table>
                    </div>
                    
                    <div class="modal-footer">
                        <a id="btn-close" class="btn btn-close" data-dismiss="modal">닫기</a> 
                    </div>
				</div>
			</div>
		</div>
	<!-- 담당자 모달 end -->
	
	<script>
	/* 담당자 모달버튼 클릭시 동작 */
	$("#nameModal").click(function() {
		
		/* ajax로 담당자 정보를 가져온다 */
		$.ajax({
			url: "/business/estimate/user",
			type: "get",
			success: function(data) {
				
				const $table = $("#userTbody");
				$table.html("");
				
				/* 가져온 정보를 테이블에 담는다 */
				for(let index in data) {
					$tr = $("<tr>");
					$noTd = $("<input type='hidden'>").text(data[index].userNo);
					$nameTd = $("<td>").text(data[index].name);
					$deptName = $("<td>").text(data[index].deptName);
					$position = $("<td>").text(data[index].position);
					
					$tr.append($noTd);
					$tr.append($nameTd);
					$tr.append($deptName);
					$tr.append($position);
					
					$table.append($tr);
				}
			},
			error: function(xhr) {
				console.log(xhr);
			}
		});
		
		/* 모달창을 연다 */
		$("a[id=modalOpen4]").click();
		
		/* 모달에 있는 값 클릭시 동작 */
		$(document).on("click", "#userTbody tr", function() {
				
				/* 모달에 있는 값을 input태그에 담는다 */
				var tr2 = $(this);
				var name = tr2.children().eq(1).text();
				var no = tr2.children().eq(0).text();
				$("input[id=name]").attr("value", name);
				$("input[id=userNo]").attr("value", no);
				
				/* 모달창을 닫는다 */
				$("a[id=btn-close]").click();
		});
		
	});
	</script>
	
	<!-- 매출 제품 모달 -->
	<a href="#dialog6" id="modalOpen6" role="button" class="btn btn-default" data-toggle="modal" style="display: none;"></a>

		<div class="modal fade bd-example-modal-xl" id="dialog6" role="dialog" aria-labelledby="dlogLabel" aria-hidden="true">

			<div class="modal-dialog modal-xl" id="p-modalArea" role="document">
			
				<div class="modal-content">

					<!-- 모달 타이틀 -->
					<div class="modal-header" style="background: #4dd0e1;">
	                	<h4 class="modal-title" id="dlogLabel" >매출제품</h4>
					</div>
					<!-- 모달 타이틀 end -->
					
                    <div class="modal-body">
						<table id="productList" class="modalTable">
							<thead>
								<tr>
									<th>제품 번호</th>
									<th>제품명</th>
									<th>제품 단가</th>
									<th>제품 규격</th>
								</tr>
							</thead>
							<tbody id="productTbody" class="modalTbody"></tbody>
						</table>
                    </div>
                    
                    <div class="modal-footer">
                        <a id="btn-close" class="btn btn-close" data-dismiss="modal">닫기</a> 
                    </div>
				</div>
			</div>
		</div>
	<!-- 매출 제품 모달 end -->
	
	<script type="text/javascript">
	/* 매출제품 추가 버튼 클릭시 동작 */
	$(document).on("click", "#addProduct, #quantity, #supplyPrice, #taxAmount, #sum", function() {
		
		/* ajax로 제품정보를 가져와 테이블에 값을 입력한다 */
		$.ajax({
			url: "/business/estimate/product",
			type: "get",
			success: function(data) {
				
				const $table = $("#productTbody");
				$table.html("");
				
				/* 가져온 정보를 테이블에 담는다 */
				for(let index in data) {
					$tr = $("<tr>");
					$productNoTd = $("<td>").text(data[index].productNo);
					$productNameTd = $("<td>").text(data[index].productName);
					$priceTd = $("<td>").text(data[index].price);
					$unitTd = $("<td>").text(data[index].unit);
					$standardTd = $("<td>").text(data[index].standard);
					
					$tr.append($productNoTd);
					$tr.append($productNameTd);
					$tr.append($priceTd);
					$tr.append($unitTd);
					$tr.append($standardTd);
					
					$table.append($tr);
				}
			},
			error: function(xhr) {
				console.log(xhr);
			}
		});
		
		/* 모달창을 연다 */
		$("a[id=modalOpen6]").click();
		
	});
	
	/* ajax로 불러온 값을 클릭시 동작 */
	$(document).on("click", "#productTbody tr", function() {
			
		/* ajax로 불러온 값을 변수에 저장 */
		var tr2 = $(this);
		var productNo = tr2.children().eq(0).text();
		var productName = tr2.children().eq(1).text();
		var price = tr2.children().eq(2).text();
		
		var productNos = document.getElementsByClassName("productNo");
		
		var cnt = 0;
		for(let i = 0; i < productNos.length; i++) {
			var nos = productNos[i].value;
			if(productNo == nos) {
				cnt = 1;
			}
		};
		if(cnt == 1) {
			$("a[id=btn-close]").click();
			alert("이미 추가된 제품입니다.")
			
		} else {
			/* 테이블 생성 구문 */
			var html = "";
			
			html += '<div id="whole">';
			html += '<input type="hidden" class="productNo" id="productNo" name="productNo"> <br>';
			html += '<span><input type="text" id="productName" name="productName" readonly></span>';
			html += '<span><a id="delBtn">삭제</a></span>';
			html += '<table id="productTable">';
			html += '<thead>';
			html += '<tr>';
			html += '<th> 단가 </th>';
			html += '<td> <input type="text" class="price" id="price" name="price" readonly> </td>';
			html += '<th> 수량 </th>';
			html += '<td> <input type="text" class="quantity2" id="quantity2" name="quantity2"> </td>';
			html += '</tr>';
			html += '</thead>';
			html += '<tbody>';
			html += '<tr>';
			html += '<th> 공급가액 </th>';
			html += '<td> <input type="text" class="productSupplyPrice" id="productSupplyPrice" name="productSupplyPrice" readonly> </td>';
			html += '<th> 매출주기 </th>';
			html += '<td> <input type="text" id="salesCycle" name="salesCycle"> </td>';
			html += '</tr>';
			html += '<tr>';
			html += '<th> 납품예정일 </th>';
			html += '<td> <input type="date" id="productDeliverydate" name="productDeliverydate" required> </td>';
			html += '<th> 비고 </th>';
			html += '<td> <input type="text" id="productNote" name="productNote"> </td>';
			html += '</tr>';
			html += '</table>';
			html += '<br>';
			html += '</div>';

			/* div에 테이블 생성 */
			$("#tableDiv").append(html);
			
			/* 생성된 테이블에 ajax로 불러온 값을 넣는다 */
			/* last()를 안쓰면 생성된 테이블들의 값이 모두 같아진다 */
			$("input[id=productNo]").last().attr("value", productNo);
			$("input[id=productName]").last().attr("value", productName);
			$("input[id=price]").last().attr("value", price);
			$("input[id=quantity2]").last().attr("value", 1);
			$("input[id=productSupplyPrice]").last().attr("value", price);
			
			/* 동적으로 생성된 테이블에 입력된 값으로 합계를 구해서 값을 넣는다 */
			var prices = document.getElementsByClassName("price");
			var quantities = document.getElementsByClassName("quantity2");
			var productSupplyPrices = document.getElementsByClassName("productSupplyPrice");

			var sumPrice = 0;
			var sumQuantity = 0;
			var sumTotalPrice = 0;
			for(let i = 0; i < prices.length; i++) {
				sumPrice += prices[i].value * 1;
				sumQuantity += quantities[i].value * 1;
				sumTotalPrice += productSupplyPrices[i].value * 1;
			}
			
			/* 위해서 구한 값을 input태그에 넣는다 */
			$("input[name=sumPrice]").attr("value", sumPrice);
			$("input[name=sumQuantity]").attr("value", sumQuantity);
			$("input[name=sumTotalPrice]").attr("value", sumTotalPrice);
			$("input[name=quantity]").attr("value", sumQuantity);
			$("input[name=supplyPrice]").attr("value", sumTotalPrice);
			$("input[name=taxAmount]").attr("value", (sumTotalPrice * 0.1));
			$("input[name=sum]").attr("value", sumTotalPrice + (sumTotalPrice * 0.1));
			
			/* 모달창을 닫는다 */
			$("a[id=btn-close]").click();
		}
	});
	
	/* 동적으로 생성된 테이블에서는 일반적인 이벤트가 적용되지 않아 on을 사용한다 */
	/* 수량이 입력되면 제안금액을 수정한다 */
	$(document).on("keyup paste change", "#quantity2", function() {
		var quantity = $(this).val() * 1;
		
		var price = $(this).parent().parent()
					.children().eq(1).children().val() * 1;
		
		var totalPrice = $(this).parent().parent().parent().parent()
						 .children().eq(1)
						 .children().eq(0)
						 .children().eq(1).children().val(quantity * price);
		
		/* 동적으로 생성된 테이블에 입력된 값으로 합계를 구해서 값을 넣는다 */
		var prices = document.getElementsByClassName("price");
		var quantities = document.getElementsByClassName("quantity2");
		var productSupplyPrices = document.getElementsByClassName("productSupplyPrice");

		var sumPrice = 0;
		var sumQuantity = 0;
		var sumTotalPrice = 0;
		for(let i = 0; i < prices.length; i++) {
			sumPrice += prices[i].value * 1;
			sumQuantity += quantities[i].value * 1;
			sumTotalPrice += productSupplyPrices[i].value * 1;
		}
		
		/* 위해서 구한 값을 input태그에 넣는다 */
		$("input[name=sumPrice]").attr("value", sumPrice);
		$("input[name=sumQuantity]").attr("value", sumQuantity);
		$("input[name=sumTotalPrice]").attr("value", sumTotalPrice);
		$("input[name=quantity]").attr("value", sumQuantity);
		$("input[name=supplyPrice]").attr("value", sumTotalPrice);
		$("input[name=taxAmount]").attr("value", (sumTotalPrice * 0.1));
		$("input[name=sum]").attr("value", sumTotalPrice + (sumTotalPrice * 0.1));
	});
	
	$(document).on("click", "#delBtn", function() {
		
		$(this).parent().parent().remove();
		
		/* 동적으로 생성된 테이블에 입력된 값으로 합계를 구해서 값을 넣는다 */
		var prices = document.getElementsByClassName("price");
		var quantities = document.getElementsByClassName("quantity2");
		var productSupplyPrices = document.getElementsByClassName("productSupplyPrice");

		var sumPrice = 0;
		var sumQuantity = 0;
		var sumTotalPrice = 0;
		for(let i = 0; i < prices.length; i++) {
			sumPrice += prices[i].value * 1;
			sumQuantity += quantities[i].value * 1;
			sumTotalPrice += productSupplyPrices[i].value * 1;
		}
		
		/* 위해서 구한 값을 input태그에 넣는다 */
		$("input[name=sumPrice]").attr("value", sumPrice);
		$("input[name=sumQuantity]").attr("value", sumQuantity);
		$("input[name=sumTotalPrice]").attr("value", sumTotalPrice);
		$("input[name=quantity]").attr("value", sumQuantity);
		$("input[name=supplyPrice]").attr("value", sumTotalPrice);
		$("input[name=taxAmount]").attr("value", (sumTotalPrice * 0.1));
		$("input[name=sum]").attr("value", sumTotalPrice + (sumTotalPrice * 0.1));
	});
	
	/* readonly와 required속성을 같이 쓸수 없어서 값이 입력되는걸 막는 코드 작성 */
	$("#clientCompanyName, #clientName, #businessOpportunityName, #estimateName, #name, #contractName, #quantity, #supplyPrice, #taxAmount, #sum").on('keydown paste focus mousedown', function(e){
        if(e.keyCode != 9) // ignore tab
            e.preventDefault();
    });
	
	/* 제약조건 확인 */
	function checkValue() {
		
		/* 고객사명을 입력안했을 경우 작동 */
		if($("#clientCompanyName").val().length == 0) {
			alert("고객사를 입력해주세요.");
			$("#clientCompanyName").focus();
			return false;
		}
		
		/* 고객을 입력안했을 경우 작동 */
		if($("#clientName").val().length == 0) {
			alert("고객을 입력해주세요");
			$("#clientName").focus();
			return false;
		}
		
		/* 영업기회를 입력안했을 경우 작동 */
		if($("#businessOpportunityName").val().length == 0) {
			alert("영업기회를 입력해주세요");
			$("#businessOpportunityName").focus();
			return false;
		}
		
		/* 견적 입력안했을 경우 작동 */
		if($("#estimateName").val().length == 0) {
			alert("견적을 입력해주세요");
			$("#estimateName").focus();
			return false;
		}
		
		/* 계약 입력안했을 경우 작동 */
		if($("#contractName").val().length == 0) {
			alert("계약을 입력해주세요");
			$("#contractName").focus();
			return false;
		}
		
		/* 출고일 입력안했을 경우 작동 */
		if($("#releaseDate").val().length == 0) {
			alert("출고일을 입력해주세요");
			$("#releaseDate").focus();
			return false;
		}
		
		/* 수량 입력안했을 경우 작동 */
		if($("#quantity").val().length == 0 || $("#quantity").val() == 0) {
			alert("수량이 0이거나 입력을 하지 않았습니다.");
			$("#quantity").focus();
			return false;
		}
		
		/* 입고예정일 입력안했을 경우 작동 */
		if($("#expectedDeliveryDate").val().length == 0) {
			alert("입고예정일을 입력해주세요");
			$("#expectedDeliveryDate").focus();
			return false;
		}
		
		/* 담당자 입력안했을 경우 작동 */
		if($("#name").val().length == 0) {
			alert("담당자을 입력해주세요");
			$("#name").focus();
			return false;
		}
		
	}
	</script>
</body>
</html>