<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<link rel="stylesheet" type="text/css" href="/css/estimate/detail.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
	<!-- 상단바 replace -->
	<div th:replace="common/salesHeader.html"></div>

	<!-- 첨부자료창 -->
	<section class="section01">
	
	    <div class="blue_box">
	        <div class="title">첨부자료</div>
	    </div>
	
	    <div class="gray_box">
	        <div class="text_0102">
	        <th:block th:if="${ fileList.size <= 0 }">
	        	<span class="inp">첨부파일이 없습니다.</span>
	        </th:block>
	        	<div class="text_01" th:each="fileList : ${ fileList }">
	            	<a class="attachments" href=#this th:text="${ fileList.fileOriginalName }"></a>
	            	<input type="hidden" class="attachments" name="filePath" th:value="${ fileList.filePath }" readonly>
	            	<input type="hidden" class="attachments" name="fileName" th:value="${ fileList.fileName }" readonly>
	            	<input type="hidden" class="attachments" name="fileNo" th:value="${ fileList.fileNo }" readonly>
	            </div>
	        </div>
	    </div>
	</section>
	<!-- 첨부자료창 end -->
	
	<!-- 견적 정보 -->
	<section class="section02">
		<div class="section02_1">
		    <div class="com_title">
		        <div class="com_title_text">견적 조회</div>
		        <div class="com_icon">
		        	<div class="deleteBtn"><img class="com_title_icon01" src="/images/common/delete.png"/></div>
		            <div onclick="location.href='/business/estimate/list'"><img class="com_title_icon01" src="/images/common/list.png"/></div>
		        </div>
		        <div class="com_icon2">
		        	<div class="deleteBtn"><img class="com_title_icon01" src="/images/common/delete.png"/></div>
		            <div onclick="location.href='/business/estimate/list'"><img class="com_title_icon01" src="/images/common/list.png"/></div>
		        </div>
		    </div>
		    <div class="com_line"></div>
		
		    <div class="textbox">
		        <div class="maintext">
		            <div class="maintext01">견적명</div>
		            <div class="maintext02">견적번호</div>
		            <div class="maintext03">고객사</div>
		            <div class="maintext04">고객</div>
		            <div class="maintext05">영업기회</div>
		            <div class="maintext06">견적일</div>
		            <div class="maintext07">수량</div>
		            <div class="maintext08">전체 공급가액</div>
		            <div class="maintext09">제안 공급가액</div>
		            <div class="maintext10">세액</div>
		            <div class="maintext11">합계</div>
		            <div class="maintext12">부가세</div>
		            <div class="maintext13">담당자</div>
		            <div class="maintext15">결재권자</div>
		            <div class="maintext14">비고</div>
		            <div class="maintext16">결재상태</div>
		            <div class="maintext17">결재의견</div>
		            <div></div>
		            <div></div>
		            <div></div>
		        </div>
		
		        <div class="line_text">
		            <div class="line">
		                <div class="line01"></div>
		                <div class="line02"></div>
		                <div class="line03"></div>
		                <div class="line04"></div>
		                <div class="line05"></div>
		                <div class="line06"></div>
		                <div class="line07"></div>
		                <div class="line08"></div>
		                <div class="line09"></div>
		                <div class="line10"></div>
		                <div class="line11"></div>
		                <div class="line12"></div>
		                <div class="line13"></div>
		                <div class="line14"></div>
		                <div class="line15"></div>
		                <div class="line16"></div>
		                <div class="line17"></div>
		            </div>
		            <div class="middletext">
		                <input type="text" id="estimateName" name="estimateName" class="middletext01" th:value="${ oneEstimate.estimateName }" readonly>
		                <input type="text" id="estimateNo" name="estimateNo" class="middletext02" th:value="${ oneEstimate.estimateNo }" readonly>
		                <input type="text" id="clientCompanyName" name="clientCompanyName" class="middletext03" th:value="${ oneEstimate.clientCompanyName }" readonly>
		                <input type="text" id="clientName" name="clientName" class="middletext04" th:value="${ oneEstimate.clientName }" readonly>
		                <input type="text" id="businessOpportunityName" name="businessOpportunityName" class="middletext05" th:value="${ oneEstimate.businessOpportunityName }" readonly>
		                <input type="date" id="estimateDate" name="estimateDate" class="middletext06" th:value="${ oneEstimate.estimateDate }" readonly>
		                <input type="text" id="quantity" name="quantity" class="middletext07" th:value="${ oneEstimate.quantity }" readonly>
		                <input type="text" id="totalSupplyPrice" name="totalSupplyPrice" class="middletext08" th:value="${ oneEstimate.totalSupplyPrice }" readonly>
		                <input type="text" id="suggestedSupplyPrice" name="suggestedSupplyPrice" class="middletext09" th:value="${ oneEstimate.suggestedSupplyPrice }" readonly>
		                <input type="text" id="taxAmount" name="taxAmount" class="middletext10" th:value="${ oneEstimate.taxAmount }" readonly>
		                <input type="text" id="sum" name="sum" class="middletext11" th:value="${ oneEstimate.sum }" readonly>
		                <input type="text" id="vat" name="vat" class="middletext12" th:value="${ oneEstimate.vat }" readonly>
		                <input type="text" id="name" name="name" class="middletext13" th:value="${ oneEstimate.name }" readonly>
		                <input type="text" id="approverName" name="approverName" class="middletext14" th:value="${ approver }" readonly>
		                <textarea id="note" name="note" class="middletext15" th:value="${ oneEstimate.note }" readonly></textarea>
		                <input type="text" id="approvalStatus" name="approvalStatus" class="middletext16" th:value="${ oneEstimate.approvalStatus }" readonly>
		                <textarea id="opinionContent" name="opinionContent" class="middletext17" th:value="${ oneEstimate.opinionContent }" readonly></textarea>
		            </div>
		        </div>
		    </div>
		</div>
		<div class="empty"></div>
	
		<div class="opinion">
			<div class="opinion_title">
				<div class="opinion_title_text">
					<div class="opinion_title_text2">의견</div>
				</div>
			</div>	    	
		    <div class="com_line"></div>	    
		    <div class="opinion_content_write">
		    	<input id="clientCompanyNo" name="clientCompanyNo" type="hidden" th:value="${ oneEstimate.estimateNo }">
			    <textarea id="opinion_textarea" class="opinion_textarea" name="opinionContent" rows="" cols=""></textarea>
			    <button type="button" onclick="insertOpinion();" id="opinion_btn" class="opinion_btn">의견</button>
		    </div>		   	
			<div id="opinionList"><br></div>			    	      
	  	    <div class="empty"></div>
		</div>
		
		<div class="sec03_title">견적제품</div>
		<div class="sec03_line01"></div>
		<div class="space"></div>
		<div id="tableDiv" th:each="productList : ${ productList }">
			<input type="text" id="productName" name="productName" th:value="${ productList.productName }" readonly>
			<table id="productTable">
				<thead>
				<tr>
				<th> 단가 </th>
				<td> <input type="text" class="price" id="price" name="price" th:value="${ productList.price }" readonly> </td>
				<th> 수량 </th>
				<td> <input type="text" class="quantity" id="quantity2" name="quantity2" th:value="${ productList.quantity2 }" readonly> </td>
				</tr>
				</thead>
				<tbody>
				<tr>
				<th> 할인 </th>
				<td> <input type="text" id="discount" name="discount" th:value="${ productList.discount }" readonly> </td>
				<th> 포장수량/규격 </th>
				<td> <input type="text" id="unit" name="unit" th:value="${ productList.unit } + ' / ' + ${ productList.standard }" readonly> </td>
				</tr>
				<tr>
				<th> 판매단가 </th>
				<td> <input type="text" id="salePrice" name="salePrice" th:value="${ productList.salePrice }" readonly> </td>
				<th> 제안금액 </th>
				<td> <input type="text" class="totalPrice" id="totalPrice" name="totalPrice" th:value="${ productList.totalPrice }" readonly> </td>
				</tr>
				</table>
				<div class="empty2"></div>
		</div>
		<div class="empty2"></div>
		<div class="empty"></div>
	</section>
	
	
	<!-- 견적 정보 end -->
	
	<script>
	/* 삭제 버튼 클릭시 해당 게시글의 견적번호를 전달한다 */
	$(".deleteBtn").click(function() {
		var estimateNo = $("#estimateNo").val();
		
		var result = window.confirm("정말 삭제하시겠습니까?");
		
		if(result) {
			location.href="/business/estimate/delete?estimateNo=" + estimateNo;
		}
		
	});
	
	/* 첨부파일 클릭시 파일번호를 전달 */
	$(".attachments").click(function() {
		const fileNo = $(this).parent().children().eq(3).val();
		location.href="/business/estimate/download?fileNo=" + fileNo;
	});
	
	
	/* 페이지열면 실행 */
	$(function() {
			
			/* input태그에 hidden타입으로 만든 견적번호를 가져옴 */
			var estimateNo = "estimateNo=" + $("#estimateNo").val();
			
			$.ajax({
				url: "/business/estimate/opinion/select",
				data: estimateNo,
				success: function(data) {
					
					/* id가 opinionList인 div를 저장 */
					const $opinionList= $("#opinionList");
					
					/* data의 길이 만큼 반복 */
					for(let index in data) {
						
						/* 첫번째 큰 div 만듬 */			
						$opinionListFirstDiv = $("<div>");
						
						/* 첫번째 div에 2개의 div를 만들고 작성자 이름과 작성날짜를 담음 */
						$opinionListFirstDivFirstDiv = $("<div>").text(data[index].name);
						$opinionListFirstDivSecondDiv = $("<div>").text(data[index].writeDate);
						
						/* 첫번째 div에 담음 */
						$opinionListFirstDiv.append($opinionListFirstDivFirstDiv);
						$opinionListFirstDiv.append($opinionListFirstDivSecondDiv);
						
						/* 미리만들어 놓은 opinionList 변수에 첫번째 div를 담음*/
						$opinionList.append($opinionListFirstDiv);
						
						/* 디자인적 요소를 추가하기 위해서 클래스 추가 */
						$opinionListFirstDiv.addClass("opinion_stored_text");
						$opinionListFirstDivSecondDiv.addClass("opinion_stored_text4");
						
						/* 두번째 큰 div 만듬 */	
						$opinionListSecondDiv = $("<div>");
						
						/* 두번째 div에 5개의 div를 만들고 내용을 담고 삭제 시 필요한 div를 만듬
						   input태그에 hidden타입으로 작성자번호, 로그인한 사용자의 번호, 의견번호를 담음 */
						$opinionListSecondDivFirstDiv = $("<div>").text(data[index].opinionContent);
						$opinionListSecondDivSecondDiv = $("<div>").text("삭제");
						$opinionListSecondDivThirdDiv = $("<input>").attr("id", "opinionUserNo").attr("type", "hidden").val(data[index].userNo);
						$opinionListSecondDivForthDiv = $("<input>").attr("id", "loginUserNo").attr("type", "hidden").val(data[index].loginUserNo);
						$opinionListSecondDivFifthDiv = $("<input>").attr("id", "opinionNo").attr("type", "hidden").val(data[index].opinionNo);
						
						/* 두번째 div에 담음 */
						$opinionListSecondDiv.append($opinionListSecondDivFirstDiv);
						$opinionListSecondDiv.append($opinionListSecondDivSecondDiv);
						$opinionListSecondDiv.append($opinionListSecondDivThirdDiv);
						$opinionListSecondDiv.append($opinionListSecondDivForthDiv);
						$opinionListSecondDiv.append($opinionListSecondDivFifthDiv);
						
						/* 미리만들어 놓은 opinionList 변수에 두번째 div를 담음*/
						$opinionList.append($opinionListSecondDiv);
						
						/* 디자인적 요소를 추가하기 위해서 클래스 추가 */
						$opinionListSecondDiv.addClass("opinion_stored_text2");
						$opinionListSecondDivFirstDiv.addClass("opinion_stored_text5");
						$opinionListSecondDivSecondDiv.addClass("opinion_stored_text6");
						
						/* 디자인적 요소를 추가하기 위해서 3,4번 째 div를 만들고 클래스를 추가하고 미리만들어 놓은 opinionList 변수에 담음 */
						$opinionListThirdDiv = $("<div>");
						$opinionListForthDiv = $("<div>");
						$opinionListfifthDiv = $("<div>");
						$opinionListsixthDiv = $("<div>");
						$opinionList.append($opinionListThirdDiv);
						$opinionList.append($opinionListForthDiv);
						$opinionList.append($opinionListfifthDiv);
						$opinionList.append($opinionListsixthDiv);
						$opinionListForthDiv.addClass("empty2");
						$opinionListfifthDiv.addClass("underLine1");
						$opinionListsixthDiv.addClass("empty2");
						
					}
					
					/* 클래스가 opinion_stored_text6인 태그를 클릭시 작동 (의견삭제) */
					$(".opinion_stored_text6").on("click", function() {
						
						/* 작성자 번호를 변수에 저장 */
						var userNo = $(this).parent().children("#opinionUserNo").val();
						
						/* 로그인된 사용자 번호를 변수에 저장 */
						var loginUserNo = $(this).parent().children("#loginUserNo").val();	
						
						/* 의견번호를 저장 */
						var opinionNo = "opinionNo=" + $(this).parent().children().last().val();					
						
						/* 작성자 번호와 로그인된 사용자 번호가 같을 때 의견삭제 기능 작동 */
						if(userNo == loginUserNo) {
												
						$.ajax({
							url: "/business/estimate/opinion/delete",
							type:"POST",
							data: opinionNo,
							success: function(data) {
								if(data > 0) {
									alert("의견이 정상적으로 삭제되었습니다.");
									
									/* 새로고침 */
									location.reload(true);
								} else {
									alert("의견 삭제에 실패하셨습니다.");
								}	
								
							},
							error: function(xhr) {
								console.log(xhr);
								alert("에러 발생");
							}
						})
						
						} else {
							alert("본인이 작성한 의견만 삭제할 수 있습니다.");
						}
						
					})
					
				},
				error: function(xhr) {
					console.log(xhr);
				}
			});
				
			
			
		});

	/* 의견작성 기능 작동 */	
	function insertOpinion() {
			
			/* textarea태그의 작성내용를 가져옴 */
			var opinionContent = $("#opinion_textarea").val();	
			
			/* input태그에 hidden타입으로 만든 고객사번호를 가져옴 */
			var estimateNo = $("#estimateNo").val();
			
			$.ajax({
				url: "/business/estimate/opinion/insert",
				data: {opinionContent : opinionContent,
						estimateNo : estimateNo },			          
				type: 'POST',
				success: function(data) {
					if(data > 0) {				
						alert("의견작성을 성공하셨습니다.");
						location.reload(true);
					} else {
						alert("의견작성을 실패하였습니다.")
					}
				},
				error: function(xhr) {
					console.log(xhr);
					alert("에러발생");
				}
			})
			
			
		}
	</script>
	
</body>
</html>