<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/proceedings/list.css}">
<script th:inline="javascript" th:src="@{/js/proceedings/list.js}"></script>
<script>

	/* 회의록 등록의 성공실패여부에 따른 메세지 출력 */
	const message = '[[${ message }]]';
	
	if(message) {
		alert(message);
	}
</script>
</head>
<body>

	<!-- 헤더 -->
	<div th:replace="common/salesHeader.html"></div>
	
	<!-- 검색조건 시작 -->
	<form id="search" action="/proceedings/list" method="get">
	<section class="search_part">
		<div class="search_title">검색조건</div>		
		<div class="all_box">
			<div class="part01">
				<input type="hidden" id="currentPage" name="currentPage" value="1">			
				<select id="search_text" name="selectSearch" class="select_box">
					<option value="">검색어 종류를 선택하세요</option>
					<option value="회의록">회의록</option>
					<option value="고객">고객</option>
					<option value="고객사">고객사</option>
				</select>
				<input id="searchValue" name="searchValue" class="search_input" type="text" placeholder="검색어를 입력하세요">	
				<button class="search_button" type="submit">검색</button>
			</div>
		</div>
	</section>
	</form>
	<!-- 검색조건 끝 -->
	
	<!-- 화면의 오른쪽 블럭 시작 -->
	<section class="prc_box">

		<!-- 회의록 리스트 조회 목록 시작 -->
		<div class="prc_title">
			<div class="">회의록 : 검색결과 ( <span th:text="${ totalCount }"></span>건 )</div>
			<div onclick="location.href='/proceedings/insert'"><img class="com01_img_write" src="/images/common/jam_write.png"/></div>
		</div>

		<div th:each="proceedingsList : ${ proceedingsList }" class="com01">
			<div class="com01_1" onclick="selectProceedings(this);">
				<input type="hidden" id="proceedingsNo" th:value="${proceedingsList.proceedingsNo}">
				<div class="com01_main">				
					<div th:text="${ proceedingsList.proceedingsName }" class="com01_name"></div>
					<div>
						<span><img class="com01_location_img" src="/images/common/date.png"/></span>
						<span th:text="${ proceedingsList.proceedingsDate }" class="com01_location"></span>
					</div>					
				</div>
				
				<div class="list01_s_tag">
					<div class="img1"><img class="list01_img" th:src="@{/images/common/company2.png}"/></div>
					<div class="img4"><img class="list01_img" th:src="@{/images/common/location.png}"/></div>
				</div>
				<div class="img1_1" align="center" th:text="${ proceedingsList.clientCompanyName} "></div>
				<div class="img1_2" align="center" th:text="${ proceedingsList.location} "></div>
			</div>
		</div>
		<!-- 회의록 리스트 조회 목록 끝 -->
					
		<br><br><br><br><br>
		
		<!-- 페이징 버튼 시작 -->
		<div align="center">
			<button class="page_btn1" th:if="${ selectCriteria.pageNo <= 1 }" type="button" disabled ><img src="/images/common/prevPage.png"/></button>		
			<button class="page_btn1" th:if="${ selectCriteria.pageNo > 1 } and ${ proceedingsSearch.clientCompanyName == null } 
																		    and ${ proceedingsSearch.proceedingsName == null } 
																		    and ${ proceedingsSearch.clientName == null }" type="button" id="prevPage" onclick="preButtonAction();" >
																		    <img src="/images/common/prevPage.png"/></button>		
			<button class="page_btn1" th:if="${ selectCriteria.pageNo > 1 } and (${ proceedingsSearch.clientCompanyName != null } 
																			or ${ proceedingsSearch.proceedingsName != null } 
																			or ${ proceedingsSearch.clientName != null })" type="button" id="searchPrevPage" onclick="searchPreButtonAction();">
																			<img src="/images/common/prevPage.png"/></button>		
			
			<span th:each="p : ${#numbers.sequence(selectCriteria.startPage,selectCriteria.endPage)}">
				<button class="page_btn2" th:if="${selectCriteria.pageNo == p}" th:text="${p}" disabled></button>
				<button class="page_btn2" th:if="${selectCriteria.pageNo != p} and ${ proceedingsSearch.clientCompanyName == null } 
																			   and ${ proceedingsSearch.proceedingsName == null } 
																			   and ${ proceedingsSearch.clientName == null }" th:text="${p}" onclick="pageButtonAction(this.innerText);"></button>
				<button class="page_btn2" th:if="${selectCriteria.pageNo != p} and (${ proceedingsSearch.clientCompanyName != null } 
																			   or ${ proceedingsSearch.proceedingsName != null } 
																			   or ${ proceedingsSearch.clientName != null })" th:text="${p}" onclick="searchPageButtonAction(this.innerText);"></button>
			</span>		
			
			<button class="page_btn3" th:if="${ selectCriteria.pageNo >= selectCriteria.maxPage }" type="button" disabled ><img src="/images/common/nextPage.png"/></button>	
			<button class="page_btn3" th:if="${ selectCriteria.pageNo < selectCriteria.maxPage } and ${ proceedingsSearch.clientCompanyName == null } 
																								 and ${ proceedingsSearch.proceedingsName == null } 
																								 and ${ proceedingsSearch.clientName == null }" type="button" id="nextPage" onclick="nextButtonAction();">
																								 <img src="/images/common/nextPage.png"/></button>						
			<button class="page_btn3" th:if="${ selectCriteria.pageNo < selectCriteria.maxPage } and (${ proceedingsSearch.clientCompanyName != null } 
																								 or ${ proceedingsSearch.proceedingsName != null } 
																								 or ${ proceedingsSearch.clientName != null })" type="button" id="searchNextPage" onclick="searchNextButtonAction();">
																								 <img src="/images/common/nextPage.png"/></button>						
			
			<input type="hidden" id="currentPageByPaging" name="currentPageByPaging" th:value="${proceedingsSearch.currentPage}">
			<input type="hidden" id="clientCompanyNameByPaging" name="clientCompanyNameByPaging" th:value="${proceedingsSearch.clientCompanyName}">
			<input type="hidden" id="proceedingsNameByPaging" name="proceedingsNameByPaging" th:value="${proceedingsSearch.proceedingsName}">
			<input type="hidden" id="clientNameByPaging" name="clientNameByPaging" th:value="${proceedingsSearch.clientName}">

			
			<br><br><br>
		</div>
		<!-- 페이징 버튼 종료 -->
		
		<button class="page_btn4" onclick="window.location.href='#top'"><img src="/images/common/top.png"/></button>
		<div class="restArea"></div>
	</section>
	<!-- 화면의 오른쪽 블럭 끝 -->
		
</body>
</html>