<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/proceedings/select.css}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script th:src="@{/js/proceedings/select.js}"></script>
</head>
<body>

	<!-- 헤더 -->
	<div th:replace="common/salesHeader.html"></div>
	
	<!-- 첨부자료 시작 -->
	<section class="section01">
	
	    <div class="blue_box">
	        <div class="title">첨부자료</div>
	    </div>
	
	    <div class="gray_box">
	        <div class="text_0102">
	        <th:block th:if="${ files.size <= 0 }">
	        	<span class="inp">첨부파일이 없습니다.</span>
	        </th:block>
	            <div class="text_01" th:each="files : ${ files }">
	                <a class="attachments" href="#this" th:text="${ files.fileOriginalName}"></a>
	            	<input type= "hidden"  class="attachments" th:value="${ files.fileNo}">          
	            </div>
	        </div>
	    </div>
	</section>
	<!-- 첨부자료 끝 -->
	
	<!-- 화면의 오른쪽 블럭 시작 -->
	<section class="section02">
	
		<!-- 회의록 조회 시작 -->
	    <div class="prc_title">
	        <div class="prc_title_text">회의록 조회</div>
	        <div class="prc_icon">
	            <div onclick="update();"><img class="prc_title_icon01" src="/images/common/update.png"/></div>
	            <div onclick="remove();"><img class="prc_title_icon01" src="/images/common/delete.png"/></div>
	            <div onclick="location.href='/proceedings/list'"><img class="prc_title_icon01" src="../images/common/list.png"/></div>
	        </div>
	        <div class="prc_icon2">
	            <div onclick="update();"><img class="prc_title_icon01" src="/images/common/update.png"/></div>
	            <div onclick="remove();"><img class="prc_title_icon01" src="/images/common/delete.png"/></div>
	            <div onclick="location.href='/proceedings/list'"><img class="prc_title_icon01" src="../images/common/list.png"/></div>
	        </div>
	    </div>
	    <div class="prc_line"></div>
	
	    <div class="textbox">
	        <div class="maintext">
	            <div class="maintext01">회의명</div>
	            <div class="maintext02">고객사</div>
	            <div class="maintext05">날짜</div>
	            <div></div>
	            <div class="maintext07">장소</div>
	        </div>
	
	        <div class="line_text">
	            <div class="line">
	                <div class="line01"></div>
	                <div class="line02"></div>
	                <div class="line03"></div>
	                <div class="line04"></div>
	                <div class="line05"></div>
	            </div>
	            <div class="middletext">
	                <input type="hidden" id="proceedingsNo" name="proceedingsNo" th:value="${ proceedings.proceedingsNo }">
	                <input type="text" id="proceedingsName" name="proceedingsName" class="middletext01" th:value="${ proceedings.proceedingsName }" readonly>
	                <input type="text" id="clientCompanyName" name="clientCompanyName" class="middletext02" th:value="${ proceedings.clientCompanyName }" readonly>
	                <input type="text" id="proceedingsDate" name="proceedingsDate" class="middletext05" th:value="${ proceedings.proceedingsDate }" readonly>
	                <div class="middletext06_wrap">
		                <input type="text" id="startTime" name="startTime" class="middletext06" th:value="${ proceedings.startTime }" readonly>
	                	<input type="text" id="endTime" name="endTime" class="middletext06" th:value="${ proceedings.endTime }" readonly>
	                </div>
	                <input type="text" id="location" name="location" class="middletext07" th:value="${ proceedings.location }" readonly>	                
	            </div>
	        </div>
	    </div>
		<div class="restArea1"></div>
		
		<!-- 회의 참석자(고객) 조회 시작 -->
 		<div class="client">
 			<div class="client_title">
 				<div class="client_title_text">
 					<div>회의 참석자(고객)</div>
 				</div>
 			</div>
 		</div>
 		 <div class="prc_line"></div>	

		<div id="client_whole" class="client_whole">
			<div th:each="clientList : ${ clientList }">
				<input type="hidden" name="clientNo">
				<input type="text" name="clientName" class="client_name" th:value="${ clientList.clientName }" readonly>
			</div>
		</div>
		<div class="resatArea2">
		
		</div>
		<!-- 회의 참석자(고객) 조회 끝 -->
		
		<!-- 회의 참석자(자사) 조회 시작 -->
		<div class="user">
 			<div class="user_title">
 				<div class="user_title_text">
 					<div class="user_title_text2">회의 참석자(자사)</div>
 				</div>
 			</div>
 		</div>
 		 <div class="prc_line"></div>	

		<div id="user_whole" class="user_whole">
			<div th:each="userList : ${ userList }">
				<input type="hidden" name="userNo">
				<input type="text" name="name" class="user_name"  th:value="${ userList.name }" readonly>
			</div>
		</div>
		<div class="resatArea2"></div>
		
		<div class="client">
 			<div class="client_title">
 				<div class="client_title_text">
 					<div class="client_title_text2">내용</div>
 				</div>
 			</div>
 		</div>
		<div class="prc_line"></div>
		<!-- 회의 참석자(자사) 조회 끝 -->
		
		<textarea id="contents" name="content" class="contents" th:text="${proceedings.content}"></textarea>
	
	    <div class="restArea"></div>
	    <!-- 회의록 조회 끝 -->
	    
	</section>
	<!-- 화면의 오른쪽 블럭 끝 -->

</body>
</html>