<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/proceedings/update.css}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script th:src="@{/js/proceedings/update.js}"></script>
</head>
<body>

	<!-- 헤더 -->
	<div th:replace="common/salesHeader.html"></div>
	
	<form action="/proceedings/update" id="proceedingsInsert" method="post" onsubmit="return checkValue();" encType="multipart/form-data">
	
	<!-- 첨부자료 시작 -->
	<section class="section01">
	
	    <div class="blue_box">
	        <div class="title">첨부자료</div>
	    </div>
	
	    <div class="gray_box">
	        <div class="text_0102">
	        	<input class="attachments_input" type="file" name="multiFiles" multiple> 	
	            <div class="text_01" th:each="files : ${ files }">
	                <a class="attachments" href="#this" th:text="${ files.fileOriginalName}"></a>
	                <button class="prc_icon_btn2" type="button" onclick="deleteFile(this);"><img class="com_title_icon01" src="../images/common/x.png"/></button>	 
	            	<input type= "hidden"  class="attachments" th:value="${ files.fileNo}">          
	            </div>
	        </div>
	    </div>
	</section>
	<!-- 첨부자료 끝 -->
	
	<!-- 화면의 오른쪽 블럭 시작 -->
	<section class="section02">
	
		<!-- 회의록 수정 시작 -->
	    <div class="prc_title">
	        <div class="prc_title_text">회의록 수정</div>
	        <div class="prc_icon">
	            <button class="prc_icon_btn" type="submit"><img class="prc_title_icon01" src="/images/common/restore.png"/></button>	    
	            <div onclick="location.href='/proceedings/list'"><img class="prc_title_icon01" src="/images/common/list.png"/></div>	           
	        </div>
	         <div class="prc_icon2">
	            <button class="prc_icon_btn" type="submit"><img class="prc_title_icon01" src="/images/common/restore.png"/></button>	    
	            <div onclick="location.href='/proceedings/list'"><img class="prc_title_icon01" src="/images/common/list.png"/></div>	           
	        </div>
	    </div>
	    <div class="prc_line"></div>
	
	    <div class="textbox">
	        <div class="maintext">
	            <div class="maintext01">* 회의명</div>
	            <div class="maintext02">* 고객사</div>
	            <div class="maintext05">날짜</div>
	            <div></div>
	            <div class="maintext07">장소</div>
	        </div>
	
	        <div class="line_text">
	            <div class="line">
	                <div class="line01"></div>
	                <div class="line02"></div>
	                <div class="line03"></div>
	                <div class="line04"></div>
	                <div class="line05"></div>
	            </div>
	            <div class="middletext">
	         	    <input type="hidden" id="clientCompanyNo" name="clientCompanyNo" th:value="${ proceedings.clientCompanyNo }">
	                <input type="hidden" id="proceedingsNo" name="proceedingsNo" th:value="${ proceedings.proceedingsNo }">
	                <input type="text" id="proceedingsName" name="proceedingsName" class="middletext01" th:value="${ proceedings.proceedingsName }">
	                <input type="text" id="clientCompanyName" name="clientCompanyName" class="middletext02" th:value="${ proceedings.clientCompanyName }" readonly>
	                <input type="date" id="proceedingsDate" name="proceedingsDate" class="middletext05" th:value="${ proceedings.proceedingsDate }">
	                <div class="middletext06_wrap">
		                <input type="time" id="startTime" name="startTime" class="middletext06" th:value="${ proceedings.startTime }">
	                	<input type="time" id="endTime" name="endTime" class="middletext06" th:value="${ proceedings.endTime }">
	                </div>
	                <input type="text" id="location" name="location" class="middletext07" th:value="${ proceedings.location }">	                
	            </div>
	            <div class="icon">
	                <div id="clientCompanyModal" class="icon02" onclick="selectClientCompanyList();"><img class="middletext_icon" src="../images/common/open.png"/></div>	             
	            </div>
	        </div>
	    </div>
		<div class="restArea1"></div>
		
		<!-- 회의 참석자(고객) 수정 시작 -->
 		<div class="client">
 			<div class="client_title">
 				<div class="client_title_text">
 					<div>회의 참석자(고객)</div>
 					<img onclick="selectClientList();" class="middletext_icon" src="/images/common/plusBtn.png"/>
 				</div>
 			</div>
 		</div>
 		 <div class="prc_line"></div>	

		<div id="client_whole" class="client_whole">
			<div th:each="clientList : ${ clientList }">
				<input type="hidden" name="clientNo" th:value="${ clientList.clientNo }">
				<input type="text" name="clientName" class="client_name" th:value="${ clientList.clientName }" readonly>
				<a><img id="deleteClient" class="client_icon" src="/images/common/xBtn.png"/></a>
			</div>
		</div>
		<div class="resatArea2">
		
		</div>
		<!-- 회의 참석자(고객) 수정 끝 -->
		
		<!-- 회의 참석자(자사) 수정 시작 -->
		<div class="user">
 			<div class="user_title">
 				<div class="user_title_text">
 					<div class="user_title_text2">회의 참석자(자사)</div>
 					<img onclick="selectUserList();" class="middletext_icon" src="/images/common/plusBtn.png"/>
 				</div>
 			</div>
 		</div>
 		 <div class="prc_line"></div>	

		<div id="user_whole" class="user_whole">
			<div class="user_whole01" th:each="userList : ${ userList }">
				<input type="hidden" name="userNo" th:value="${ userList.userNo }">
				<input type="text" name="name" class="user_name"  th:value="${ userList.name }" readonly>
				<a><img id="deleteUser" class="user_icon" src="/images/common/xBtn.png"/></a>
			</div>
		</div>
		<div class="resatArea2"></div>
		
		<div class="client">
 			<div class="client_title">
 				<div class="client_title_text">
 					<div class="client_title_text2">내용</div>
 				</div>
 			</div>
 		</div>
		<div class="prc_line"></div>
		<!-- 회의 참석자(자사) 수정 끝 -->
		
		<textarea id="contents" name="content" class="contents" th:text="${proceedings.content}"></textarea>
	
	    <div class="restArea"></div>
		<!-- 회의록 수정 끝 -->
		
	</section>
	<!-- 화면의 오른쪽 블럭 끝 -->
	
	</form>
	
	<!-- 고객사 모달 시작 -->
	<a href="#dialog" id="modalOpen" role="button" class="btn btn-default modalOpen" data-toggle="modal"></a>
		<div class="modal fade bd-example-modal-xl modal_setting" id="dialog" role="dialog" aria-labelledby="dlogLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" id="p-modalArea" role="document">		
				<div class="modal-content">
					<div class="modal-header">
	                	<h4 class="modal-title" id="dlogLabel" >고객사 조회</h4>
					</div>
                    <div class="modal-body">
						<table id="clientCompanyList" class="modal-body-content">
							<thead>
								<tr class="clientCompanyList-tr">
									<th>고객사명</th>
									<th>구분</th>
									<th>주소</th>
									<th>상세주소</th>
									<th>등록일</th>
								</tr>
							</thead>
							<tbody id="clientCompanyTbody" class="clientCompanyTbody">								
							</tbody>
						</table>
                    </div>                   
                    <div class="modal-footer">
                        <a id="btn-close" class="btn btn-close" data-dismiss="modal">닫기</a> 
                    </div>
				</div>
			</div>
		</div>
	<!-- 고객사 모달 끝 -->
	
	<!-- 회의 참석자(자사) 모달 시작 -->
	<a href="#dialog2" id="modalOpen2" role="button" class="btn btn-default modalOpen" data-toggle="modal"></a>
		<div class="modal fade bd-example-modal-xl modal_setting2" id="dialog2" role="dialog2" aria-labelledby="dlogLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" id="p-modalArea" role="document">		
				<div class="modal-content">
					<div class="modal-header">
	                	<h4 class="modal-title" id="dlogLabel" >담당자 조회</h4>
					</div>
                    <div class="modal-body">
						<table id="userList" class="modal-body-content2">
							<thead>
								<tr class="userList-tr">
									<th>담당자 이름</th>
									<th>부서</th>
									<th>직위</th>
								</tr>
							</thead>
							<tbody id="userTbody" class="userTbody">								
							</tbody>
						</table>
                    </div>                   
                    <div class="modal-footer">
                        <a id="btn-close" class="btn btn-close" data-dismiss="modal">닫기</a> 
                    </div>
				</div>
			</div>
		</div>
	<!-- 회의 참석자(자사) 모달 끝 -->
	
	<!-- 회의 참석자(고객) 모달 시작 -->
	<a href="#dialog3" id="modalOpen3" role="button" class="btn btn-default modalOpen" data-toggle="modal"></a>
		<div class="modal fade bd-example-modal-xl modal_setting" id="dialog3" role="dialog" aria-labelledby="dlogLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" id="p-modalArea" role="document">		
				<div class="modal-content">
					<div class="modal-header">
	                	<h4 class="modal-title" id="dlogLabel" >고객 조회</h4>
					</div>
                    <div class="modal-body">
						<table id="clientList" class="modal-body-content">
							<thead>
								<tr class="clientCompanyList-tr">
									<th>고객명</th>
									<th>고객사명</th>
									<th>등록일</th>
								</tr>
							</thead>
							<tbody id="clientTbody" class="clientTbody">								
							</tbody>
						</table>
                    </div>                   
                    <div class="modal-footer">
                        <a id="btn-close" class="btn btn-close" data-dismiss="modal">닫기</a> 
                    </div>
				</div>
			</div>
		</div>
	<!-- 회의 참석자(고객) 모달 끝 -->
	
</body>
</html>