<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <title>M&M</title>
    
    <link rel="apple-touch-icon" th:href="@{../images/ico/apple-icon-120.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{../images/ico/favicon.ico}">
    
    <link th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CMuli:300,400,500,700}" rel="stylesheet">
    
    <!-- bootstrap CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-extended.css}">
    
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/vendors.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/css/extensions/nouislider.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/css/ui/prism.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/css/pickers/pickadate/pickadate.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/css/pickers/daterange/daterangepicker.css}">
    <!-- END VENDOR CSS-->
    
    <!-- BEGIN ROBUST CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}">
    <!-- END ROBUST CSS-->
    
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/core/menu/menu-types/horizontal-menu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/core/colors/palette-gradient.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/plugins/extensions/noui-slider.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/plugins/pickers/daterange/daterange.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/core/colors/palette-noui.css}">
    <!-- END Page Level CSS-->
    
    <!-- BEGIN Custom CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <!-- END Custom CSS-->
    
    <style type="text/css">
    .boxDiv {
    	margin-bottom: 10px;
    }
    
    .enrollViewDetailCheck {
   		margin:auto;
    }
    
    </style>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

	<script th:src="@{../js/organization/select.js}"></script>
	<script th:src="@{../js/organization/insert.js}"></script>
	<script th:src="@{../js/organization/delete.js}"></script>
	<script th:src="@{../js/organization/update.js}"></script>
	<script th:src="@{../js/organization/paging.js}"></script>
	
	<script>
	const successMessage = '[[${ successMessage }]]';
	
	if(successMessage) {
		alert(successMessage);
	}
	</script>
	
  </head>
  <body>

    <!-- 헤더 부분 시작-->
  <div th:replace="common/adminHeader.html"></div>
    <!-- 헤더 부분 끝-->


    <!-- BEGIN Content-->
    <div class="content app-content" style="width: 1200px; margin-left: auto; margin-right: auto;">
        <div class="content-wrapper">
            <!-- content header-->
            <div class="content-header row">
            
	          <div class="content-header-left col-md-6 col-12 mb-2">
	            <div class="content-header-title mb-0" style="font-size: 30px">조직 관리</div>
	          </div>
	          
            </div>
            <!-- content header-->
            
            <!-- content detached right-->
            <div class="content-detached content-right col-12">
            
            	<div>
            		<div class="card">
	            		<div class="card-header">
	            		
	            			<div class="card-header-left col-md-6 col-12 mb-2">
	            				<div class="card-title" id="list-table" style="font-size: 20px;">조직 현황</div>
	            			</div>
	                    	
	                    	<div class="card-header-right float-md-right col-md-6 col-12">
								<button type="submit" class="btn btn-outline-red float-md-right mr-1" id="deleteUser" onclick="deleteDept();">
							    	<i class="ft-trash-2"></i> 삭제
								</button>
		               			<button type="submit" class="btn btn-outline-green float-md-right mr-1" data-toggle="modal" data-target="#insertModal" onclick="">
							    	<i class="ft-edit"></i> 신규
								</button>
	               			</div>
	               		</div>
	               			
					  <div class="table-responsive">
					  	  <input type="hidden" id="organizationCurrentPage" name="organizationCurrentPage" value="1">
		               	  <table class="table table-hover">
		                      <thead>
		                          <tr align="center">
		                          	  <th>
			                              <div class="icheckbox_square-blue">
			                              		<input type="checkbox" class="input-chk-all" id="enrollmentCheckAll">
			                              </div>
		                              </th>
		                              <th>등록일</th>
		                              <th>부서코드</th>
		                              <th>부서명</th>
		                              <th>부서장</th>
		                              <th>상위부서</th>
		                              <th>정렬순서</th>
		                              <th></th>
		                          </tr>
		                      </thead>
		                      
		                      <!-- IMPORTANT, class="list" have to be at tbody -->
		                      <tbody class="list" align="center">
		                      	  <tr th:each="organizationList : ${ organizationList }">
		                      	  	  <td><input type="checkbox" class="input-chk" id="" name="enrollDeptNo" th:value="${ organizationList.deptNo }"></td>
		                              <td th:text="${ organizationList.enrollDate }"></td>
		                              <td th:text="${ organizationList.deptNo }"></td>
		                              <td th:text="${ organizationList.deptName }"></td>
		                              <td th:text="${ organizationList.deptHead }"></td>
		                              <td th:text="${ organizationList.refDeptName }"></td>
		                              <td th:text="${ organizationList.sortOrder }"></td>
		                              <td><button class="btn btn-outline-blue float-md-center enrollViewDetailCheck" 
		                              	th:value="${ organizationList.deptNo }" data-toggle="modal" data-target="#enrollRecodeModal">상세보기</button>
		                              </td>
		                          </tr>
		                     </tbody>
		                  </table>
							
							<br><br><br>
							
							<!-- 조직 현황 페이징 버튼 시작 -->
							<div align="center">
								
								<button class="page_btn1" th:if="${ organizationSelectCriteria.pageNo <= 1 }" type="button" disabled><img src="/images/common/prevPage.png"/></button>
								<button class="page_btn1" th:if="${ organizationSelectCriteria.pageNo > 1 }" type="button" id="organizationPrevPage" onclick="organizationPreButtonAction();"><img src="/images/common/prevPage.png"/></button>
								
								<span th:each="p : ${#numbers.sequence(organizationSelectCriteria.startPage, organizationSelectCriteria.endPage)}">
									<button class="page_btn2" th:if="${organizationSelectCriteria.pageNo == p}" th:text="${p}" disabled></button>						
									<button class="page_btn2" th:if="${organizationSelectCriteria.pageNo != p}" th:text="${p}" onclick="organizationPageButtonAction(this.innerText);"></button>						
								</span>
								
								<button class="page_btn3" th:if="${ organizationSelectCriteria.pageNo >= organizationSelectCriteria.maxPage }" type="button" disabled><img src="/images/common/nextPage.png"/></button>
								<button class="page_btn3" th:if="${ organizationSelectCriteria.pageNo < organizationSelectCriteria.maxPage }" type="button" id="organizationNextPage" onclick="organizationNextButtonAction();"><img src="/images/common/nextPage.png"/></button>
								
								<input type="hidden" id="organizationCurrentPageByPaging" name="organizationCurrentPageByPaging" th:value="${organizationSearch.currentPage}">
								
								<br><br><br><br><br>
							</div>
							<!-- 조직 현황 페이징 버튼 종료 -->
							
						</div>
						
						<div class="card-header">
							<div class="card-header-left col-md-6 col-12 mb-2">
	            				<div class="card-title" id="list-table" style="font-size: 20px;">조직 변경 이력</div>
	            			</div>
	            		</div>
						
						<div class="table-responsive">
						  <input type="hidden" id="changeHistoryCurrentPage" name="changeHistoryCurrentPage" value="1">
		               	  <table class="table table-hover">
		                      <thead>
		                          <tr align="center">
		                          	  <th>
			                              <div class="icheckbox_square-blue" style="position: relative; margin-top: auto;">
			                              		<input type="checkbox" class="input-chk-all" id="changeCheckAll" >
			                              </div>
		                              </th>
		                              <th>변경일</th>
		                              <th>변경자</th>
		                              <th>부서코드</th>
		                              <th>부서명</th>
		                              <th>부서장</th>
		                              <th>상위부서</th>
		                              <th>정렬순서</th>
		                              <th></th>
		                          </tr>
		                      </thead>
		                      
		                      <!-- IMPORTANT, class="list" have to be at tbody -->
		                      <tbody class="list" align="center">
		                      	  <tr th:each="changeHistoryList : ${ changeHistoryList } ">
		                      	  	  <td><input type="checkbox" class="input-chk" id="" name="changeDeptNo" th:value="${ changeHistoryList.deptNo }"></td>
		                              <td th:text="${ changeHistoryList.changeDate }"></td>
		                              <td th:text="${ changeHistoryList.modifier }"></td>
		                              <td th:text="${ changeHistoryList.deptNo }"></td>
		                              <td th:text="${ changeHistoryList.deptName }"></td>
		                              <td th:text="${ changeHistoryList.deptHead }"></td>
		                              <td th:text="${ changeHistoryList.refDeptName }"></td>
		                              <td th:text="${ changeHistoryList.sortOrder }"></td>
		                              <td><button class="btn btn-outline-blue float-md-center changeHistoryViewDetailCheck" 
		                              th:value="${ changeHistoryList.deptNo }" data-toggle="modal" data-target="#changeRecodeModal">상세보기</button></td>
		                          </tr>
		                     </tbody>
		                  </table>
		                  
		                  	<br><br><br>
							
							<!-- 조직 변경 이력 페이징 버튼 시작 -->
							<div align="center">
								
								<button class="page_btn1" th:if="${ changeHistorySelectCriteria.pageNo <= 1 }" type="button" disabled><img src="/images/common/prevPage.png"/></button>
								<button class="page_btn1" th:if="${ changeHistorySelectCriteria.pageNo > 1 }" type="button" id="changeHistoryPrevPage" onclick="changeHistoryPreButtonAction();"><img src="/images/common/prevPage.png"/></button>
								
								<span th:each="p : ${#numbers.sequence(changeHistorySelectCriteria.startPage, changeHistorySelectCriteria.endPage)}">
									<button class="page_btn2" th:if="${changeHistorySelectCriteria.pageNo == p}" th:text="${p}" disabled></button>						
									<button class="page_btn2" th:if="${changeHistorySelectCriteria.pageNo != p}" th:text="${p}" onclick="changeHistoryPageButtonAction(this.innerText);"></button>						
								</span>
								
								<button class="page_btn3" th:if="${ changeHistorySelectCriteria.pageNo >= changeHistorySelectCriteria.maxPage }" type="button" disabled><img src="/images/common/nextPage.png"/></button>
								<button class="page_btn3" th:if="${ changeHistorySelectCriteria.pageNo < changeHistorySelectCriteria.maxPage }" type="button" id="organizationNextPage" onclick="changeHistoryNextButtonAction();"><img src="/images/common/nextPage.png"/></button>
								
								<input type="hidden" id="changeHistoryCurrentPageByPaging" name="changeHistoryCurrentPageByPaging" th:value="${changeHistorySearch.currentPage}">
								
								<br><br><br><br><br>
							</div>
							<!-- 조직 변경 이력 페이징 버튼 종료 -->

						</div>
	               			
	               			<!-- 신규 Modal -->
							<div class="modal fade" id="insertModal" tabindex="-1" role="dialog" aria-labelledby="insertModalLabel" aria-hidden="true">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							        <div class="modal-title" id="insertModalLabel" style="font-size: 18px">조직 신규 추가</div>
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							        </button>
							      </div>
							      <div class="modal-body">
							        
										<div class="boxDiv row">
											<div class="box col-6">
												<div class="title">상위 부서</div>
												<div class="content">
													<input type="text" class="form-control" id="refDeptName" name="refDeptName" autocomplete="off" maxlength="20" value="">
												</div>
											</div>
											
											<div class="box col-6">
												<div class="title">부서명</div>
												<div class="content">
													<input type="text" class="form-control" id="deptName" name="deptName" autocomplete="off" maxlength="20">
												</div>
											</div>
										</div>
										
										<div class="boxDiv row">
											<div class="box col-6">
												<div class="title">부서장</div>
												<div class="content">							
													<input type="text" class="form-control" id="deptHead" name="deptHead" autocomplete="off" maxlength="20">
												</div>
											</div>
											
											<div class="box col-6">
												<div class="title">정렬순서</div>
												<div class="content">							
													<input type="text" class="form-control" id="sortOrder" name="sortOrder" autocomplete="off" maxlength="20">
												</div>
											</div>
										</div>
										
										<div class="boxDiv row">
											<div class="box col-12">
												<div class="title">비고</div>
												<div class="content">							
	 												<input type="text" class="form-control" id="insertNote" name="insertNote" autocomplete="off" maxlength="20">
												</div>
											</div>
										</div>
										
							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
							        <button type="submit" class="btn btn-success" id="insertDept" onclick="insertDept();">추가</button>
							      </div>
							      
							    </div>
							  </div>
							</div>
							
							<!-- 신규 Modal End-->
							
							<!-- 등록 이력 상세보기 Modal -->
							
							<div class="modal fade" id="enrollRecodeModal" tabindex="-1" role="dialog" aria-labelledby="enrollRecodeModalLabel" aria-hidden="true">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							        <div class="modal-title" id="enrollRecodeModalLabel" style="font-size: 18px">조직 등록 상세보기</div>
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							        </button>
							      </div>
							      <div class="modal-body">
							      		
								      	<div class="boxDiv row">
											<div class="box col-6">
												<div class="title">부서코드</div>
												<div class="content">
													<input type="text" class="form-control" id="enrollDeptNo" name="enrollDeptNo" autocomplete="off" maxlength="20" value="" disabled="disabled">
												</div>
											</div>
								      	

											<div class="box col-6">
												<div class="title">등록일</div>
												<div class="content">							
													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text">
																<span class="fa fa-calendar-o"></span>
															</span>
														</div>
														<input type='date' class="form-control pickadate" id="enrollDate" name="enrollDate" disabled="disabled"/>
													</div>	
												</div>
											</div>
										</div>
										
										<div class="boxDiv row">
											<div class="box col-6">
												<div class="title">상위 부서</div>
												<div class="content">
													<input type="text" class="form-control" id="enrollRefDeptName" name="enrollRefDeptName" autocomplete="off" maxlength="20" value="">
												</div>
											</div>
											
											<div class="box col-6">
												<div class="title">부서명</div>
												<div class="content">
													<input type="text" class="form-control" id="enrollDeptName" name="enrollDeptName" autocomplete="off" maxlength="20">
												</div>
											</div>
										</div>
										
										<div class="boxDiv row">
											<div class="box col-6">
												<div class="title">부서장</div>
												<div class="content">							
													<input type="text" class="form-control" id="enrollDeptHead" name="enrollDeptHead" autocomplete="off" maxlength="20">
												</div>
											</div>
											
											<div class="box col-6">
												<div class="title">정렬순서</div>
												<div class="content">							
													<input type="text" class="form-control" id="enrollSortOrder" name="enrollSortOrder" autocomplete="off" maxlength="20">
												</div>
											</div>
										</div>
										
										<div class="boxDiv row">
											<div class="box col-12">
												<div class="title">비고</div>
												<div class="content">							
	 												<input type="text" class="form-control" id="enrollNote" name="enrollNote" autocomplete="off" maxlength="200">
												</div>
											</div>
										</div>
										
							      </div>
							      
							      <div class="modal-footer">
							        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
							        <button type="submit" class="btn btn-info" id="updateSubmit" onclick="updateDept();">변경</button>
							      </div>
							      
							    </div>
							  </div>
							</div>
							
							<!-- 등록 이력 상세보기 Modal End -->
							
							<!-- 변경 이력 상세보기 Modal -->
							
							<div class="modal fade" id="changeRecodeModal" tabindex="-1" role="dialog" aria-labelledby="changeRecodeModalLabel" aria-hidden="true">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							        <div class="modal-title" id="changeRecodeModalLabel" style="font-size: 18px">조직 변경 상세보기</div>
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							        </button>
							      </div>
							      <div class="modal-body">
							      
										<div class="boxDiv row">
											<div class="box col-6">
												<div class="title">변경일</div>
												<div class="content">							
													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text">
																<span class="fa fa-calendar-o"></span>
															</span>
														</div>
														<input type='date' class="form-control pickadate" id="changeDate" name="changeDate" disabled="disabled"/>
													</div>	
												</div>
											</div>
										</div>
							      		
								      	<div class="boxDiv row">
											<div class="box col-6">
												<div class="title">상위 부서</div>
												<div class="content">
													<input type="text" class="form-control" id="changeRefDept" name="changeRefDept" autocomplete="off" maxlength="20" value="" disabled="disabled">
												</div>
											</div>
											
											<div class="box col-6">
												<div class="title">부서명</div>
												<div class="content">
													<input type="text" class="form-control" id="changeDeptName" name="changeDeptName" autocomplete="off" maxlength="20" disabled="disabled">
												</div>
											</div>
										</div>
										
										<div class="boxDiv row">
											<div class="box col-6">
												<div class="title">부서코드</div>
												<div class="content">							
													<input type="text" class="form-control" id="changeDeptNo" name="changeDeptNo" autocomplete="off" maxlength="20" disabled="disabled">
												</div>
											</div>
											
											<div class="box col-6">
												<div class="title">정렬순서</div>
												<div class="content">							
													<input type="text" class="form-control" id="changeSortOrder" name="changeSortOrder" autocomplete="off" maxlength="20" disabled="disabled">
												</div>
											</div>
										</div>
										
										<div class="boxDiv row">
											<div class="box col-6">
												<div class="title">부서장</div>
												<div class="content">							
													<input type="text" class="form-control" id="changeDeptHead" name="changeDeptHead" autocomplete="off" maxlength="20" disabled="disabled">
												</div>
											</div>
											
											<div class="box col-6">
												<div class="title">변경자</div>
												<div class="content">
													<input type="text" class="form-control" id="modifier" name="modifier" autocomplete="off" maxlength="20" disabled="disabled">
												</div>
											</div>
										</div>
										
										<div class="boxDiv row">
											<div class="box col-12">
												<div class="title">비고</div>
												<div class="content">							
	 												<input type="text" class="form-control" id="changeHistoryNote" name="changeHistoryNote" autocomplete="off" maxlength="200" disabled="disabled">
												</div>
											</div>
										</div>
							        
							      </div>
							      
							      <div class="modal-footer">
							        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
							      </div>
							      
							    </div>
							  </div>
							</div>
							
							<!-- 변경 이력 상세보기 Modal End -->
            		</div>
            	</div>
                
            </div>
            <!-- content detached right-->
            
            <!-- sidebar detached left-->

            <!-- sidebar detached left-->
            
        </div>
    </div>
    <!-- END Content-->
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    
  </body>
</html>