<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>

	<div th:replace="common/salesHeader.html"></div>
	<!--
	<br><br>
	
	 <div align="right">
	
		<th:block sec:authorize="isAuthenticated()">
			<div align="right" style="font-size: 20px"><span sec:authentication="principal.name"></span> 님 환영합니다.</div>
			<div style="font-size: 20px"><span sec:authentication="principal.authorities"></span></div>
			<button onclick="location.href='/member/logout'">로그아웃</button>
		</th:block>
		
	</div> -->
	<div class="app-content content">
		<div class="content-wrapper">
			<div class="content-head row">
				<div class="content-header-left col-md-6 col-12 mb-2">
					<h3 class="content-header-title"></h3>
				</div>
			</div>
				
			<div class="content-body">
			
				<!-- Start stats -->
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-content">
								<div class="card-body">
									<div class="row">
										<div class="col-lg-4 col-sm-6 border-right-blue-grey border-right-lighten-5">
				                           <div class="pb-1">
				                               <div class="clearfix mb-1">
				                                   <i class="icon-star font-large-1 blue-grey float-left mt-1"></i>
				                                   <span class="font-large-2 text-bold-300 info float-right"
				                                   	th:text="${ badgeCustomThisMonthList[2] }"></span>
				                               </div>
				                               <div class="clearfix">
				                                   <span class="text-muted">고객사</span>
				                               </div>
				                           </div>
				                       </div>
					                       <div class="col-lg-4 col-sm-6 border-right-blue-grey border-right-lighten-5">
					                           <div class="pb-1">
					                               <div class="clearfix mb-1">
					                                   <i class="icon-user font-large-1 blue-grey float-left mt-1"></i>
					                                   <span class="font-large-2 text-bold-300 danger float-right"
					                                   	th:text="${ badgeCustomThisMonthList[2] }"></span>
					                               </div>
					                               <div class="clearfix">
					                                   <span class="text-muted">고객</span>
					                               </div>
					                           </div>
					                       </div>
					                       <div class="col-lg-4 col-sm-6 border-right-blue-grey border-right-lighten-5">
					                           <div class="pb-1">
					                               <div class="clearfix mb-1">
					                                   <i class="icon-shuffle font-large-1 blue-grey float-left mt-1"></i>
					                                   <span class="font-large-2 text-bold-300 warning float-right"
					                                   	th:text="${ badgeCustomThisMonthList[2] }"></span>
					                               </div>
					                               <div class="clearfix">
					                                   <span class="text-muted">잠재고객</span>
					                               </div>
					                           </div>
					                       </div>
									 </div>
								 </div>
							</div>
						</div>
					</div>
				</div>
				<!-- End stats -->
				
				<section>
					<div class="row">
					
					</div>
				</section>
				
				<!-- 1:1 2단짜리 구간 -->
				<section style="justify-content: left; overflow: visible;">
					<div class="row">
						<!-- 왼쪽 half row -->
						<div class="col-md-5 col-sm-12">
							<div class="card">
								<div class="card-content">
									<div class="card-header">
										<h4 class="card-title">신규고객&nbsp<span th:text="'(*'+ ${ startLocalDate } + '기준)'"></span></h4>
									</div>
									<div class="card-body">
										<!-- 고객현황 표 시작 -->
										<div class="col-xl-12 col-lg-12">
											<div class="card">
												<div class="card-content">
													<div class="table">
														<table class="table table-hover mb-0">
															<thead>
																<tr>
																	<th>구분</th>
																	<th>당월</th>
																	<th>전월</th>
																	<th>평균(3개월)</th>
																</tr>
															</thead>
															<tbody>
																
																<tr>
																	<td><span class="badge badge-success">고객사</span></td>
																	<td th:text="${ tableCustomList[0] }"></td>
																	<td th:text="${ tableCustomList[1] }"></td>
																	<td th:text="${ tableCustomList[2] }"></td>
																</tr>
																<tr>
																	<td><span class="badge badge-warning">고객</span></td>
																	<td th:text="${ tableCustomList[3] }"></td>
																	<td th:text="${ tableCustomList[4] }"></td>
																	<td th:text="${ tableCustomList[5] }"></td>
																</tr>
																<tr>
																	<td><span class="badge badge-danger">잠재고객</span></td>
																	<td th:text="${ tableCustomList[6] }"></td>
																	<td th:text="${ tableCustomList[7] }"></td>
																	<td th:text="${ tableCustomList[8] }"></td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
										<!-- 고객현황 표 종료 -->
									</div>
								</div>
								<div class="card">
									<div class="card-content">
										<div class="card-header"><h4 class="card-title">영업기회/활동</h4></div>
										<div class="card-body">
											<div class="table">
												<table class="table table-hover mb-0">
													<thead>
														<tr>
															<th>구분</th>
															<th>당월</th>
															<th>전월</th>
															<th>평균(3개월)</th>
														</tr>
													</thead>
													<tbody>
	
														<tr>
															<td><span class="badge badge-success">영업기회</span></td>
															<td th:text="${ tableBusinessOpportunityList[0] }"></td>
															<td th:text="${ tableBusinessOpportunityList[1] }"></td>
															<td th:text="${ tableBusinessOpportunityList[2] }"></td>
														</tr>
													</tbody>
												</table>
											</div>
											<div>
												<div class="col-lg-12 col-md-6 col-sm-12">
													<input type="text" id="civilianType" th:value="${ civilianType }" hidden>
													<input type="text" id="officialType" th:value="${ officialType }" hidden>
													<div id="pieChartByBusinessType">
													</div>
												</div>
												<div class="col-lg-12 col-md-6 col-sm-12">
													<input type="number" id="acquaintance" th:value="${ acquaintance }" hidden>
													<input type="number" id="newsPaper" th:value="${ newsPaper }" hidden>
													<input type="number" id="internet" th:value="${ internet }" hidden>
													<input type="number" id="preexistence" th:value="${ preexistence }" hidden>
													<input type="number" id="etc" th:value="${ etc }" hidden>
													<div id="columnChartByCognitivePathway"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
							</div>
						</div>
						
						<!-- 오른쪽 half row -->
						<div class="col-md-7 col-sm-12">
							<div class="card">
								<div class="card-content">
									<div class="card-header">
										<h4 class="card-title">당년 월별 매출</h4>
									</div>
									<div class="card-body">
										<h4 class="card-title">숫자통계(
											<span style="color: red">*</span>
											<span th:text="${ startLocalDate } + '기준)'"></span>
										</h4>
										<div class="row" style="justify-content: left; overflow: visible;">
											<div class="col-xl-4 col-lg-4">
												<div class="card profile-card-with-cover">
													<div class="card-content card-deck text-center">
														<div class="card box-shadow">
															<div class="card-header bg-info">
																<h3 class="my-0 font-weight-bold text-white">합계</h3>
															</div>
															<div class="card-body">
																<i class="ft-bar-chart"></i>
																<br>
																<br>
																<h1 class="pricing-card-title">
																	<span th:text="${ quantitySum }"></span> 
																	<small class="text-muted">/ 건</small><br> 
																	<span th:text="${ #numbers.formatInteger(sumSum, 3, 'COMMA')}"></span>
																	<small class="text-muted">/ 원</small>
																</h1>
																<br>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-xl-4 col-lg-4">
												<div class="card profile-card-with-cover">
													<div class="card-content card-deck text-center">
														<div class="card box-shadow">
															<div class="card-header bg-warning">
																<h3 class="my-0 font-weight-bold text-white">평균</h3>
															</div>
															<div class="card-body">
																<i class="ft-layers"></i> <br>
																<br>
																<h1 class="pricing-card-title">
																	<span th:text="${ quantityAvg }"></span>
																	<small class="text-muted">/ 건</small><br> 
																	<span th:text="${ #numbers.formatInteger(sumAvg, 3, 'COMMA')}"></span>
																	<small class="text-muted">/원</small>
																</h1>
																<br>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-xl-4 col-lg-4">
												<div class="card profile-card-with-cover">
													<div class="card-content card-deck text-center">
														<div class="card box-shadow">
															<div class="card-header bg-danger">
																<h3 class="my-0 font-weight-bold text-white">최대</h3>
															</div>
															<div class="card-body">
																<i class="ft-flag"></i> <br>
																<br>
																<h1 class="pricing-card-title">
																	<span th:text="${ quantityMax }"></span>
																	<small class="text-muted">/ 건</small><br>
																	<span th:text="${ #numbers.formatInteger(sumMax, 3, 'COMMA')}"></span>
																	<small class="text-muted">/ 원</small>
																</h1>
																<br>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
										<!-- salesAmountColumnChart에 필요한 값들 -->
										<article id="salesList" 
											th:data-dataJSON="${ data1 }"
											th:data-sum1="${ sumList[0] }" 
											th:data-sum2="${ sumList[1] }" 
											th:data-sum3="${ sumList[2] }" 
											th:data-sum4="${ sumList[3] }" 
											th:data-sum5="${ sumList[4] }" 
											th:data-sum6="${ sumList[5] }" 
											th:data-sum7="${ sumList[6] }" 
											th:data-sum8="${ sumList[7] }" 
											th:data-sum9="${ sumList[8] }" 
											th:data-sum10="${ sumList[9] }" 
											th:data-sum11="${ sumList[10] }" 
											th:data-sum12="${ sumList[11] }"
											
											th:data-goal1="${ goalList[0] }" 
											th:data-goal2="${ goalList[1] }" 
											th:data-goal3="${ goalList[2] }" 
											th:data-goal4="${ goalList[3] }" 
											th:data-goal5="${ goalList[4] }" 
											th:data-goal6="${ goalList[5] }" 
											th:data-goal7="${ goalList[6] }" 
											th:data-goal8="${ goalList[7] }" 
											th:data-goal9="${ goalList[8] }" 
											th:data-goal10="${ goalList[9] }" 
											th:data-goal11="${ goalList[10] }" 
											th:data-goal12="${ goalList[11] }" 
										></article>
										<div class="col-xl-12 col-lg-12" id="salesAmountColumnChart" style="height: 500px">
										</div>
									</div>
								</div>
							</div>
														
							<div class="card">
								<div class="card-content">
									<div class="card-header"><h4 class="card-title">오늘 일정목록</h4></div>
									<div class="card-body">
										<div class="table">
											<table class="table table-hover mb-0">
												<thead>
													<tr>
														<th>고객</th>
														<th>고객사</th>
														<th>시작</th>
														<th>종료</th>
														<th>완료여부</th>
														<th>내용</th>
													</tr>
												</thead>
												<tbody>
													<tr th:if=" baListToday != null" th:each="ba : ${ baListToday }">
														<td th:text="${ ba.clientName }"></td>
														<td th:text="${ ba.clientCompanyName }"></td>
														<td th:text="${ ba.activityStartTime }"></td>
														<td th:text="${ ba.activityEndTime }"></td>
														<td th:text="${ ba.completeYn }"></td>
														<td th:text="${ ba.planContent }"></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</section>
				
				
			</div>
		</div>
	</div>
	
	<!-- 구글차트 시작 -->
	<script type="text/javascript">
		//구글 시각화 API를 로딩하는 메소드
        google.charts.load('current', {'packages':['corechart']}); 
		
     	// 구글 시각화 API가 로딩이 완료되면, 인자로 전달된 콜백함수를 내부적으로 호출하여 차트를 그리는 메소드
		// 화면이 실행될때 함께 실행된다.
        google.charts.setOnLoadCallback(drawSalesSumChart);
        google.charts.setOnLoadCallback(drawBusinessTypeChart);
        google.charts.setOnLoadCallback(drawCognitivePathwayChart);
        
     	// 월별매출을 그리는 세로 막대형 차트
        function drawSalesSumChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string','년도');
            data.addColumn('number','매출');
            data.addColumn('number','목표');
            
            var article = document.getElementById('salesList');
            
            //데이터를 row로 넣어줌
            data.addRows([ 
                ['1월',parseInt(article.dataset.sum1), parseInt(article.dataset.goal1)],
                ['2월',parseInt(article.dataset.sum2), parseInt(article.dataset.goal2)],
                ['3월',parseInt(article.dataset.sum3), parseInt(article.dataset.goal3)],
                ['4월',parseInt(article.dataset.sum4), parseInt(article.dataset.goal4)],
                ['5월',parseInt(article.dataset.sum5), parseInt(article.dataset.goal5)],
                ['6월',parseInt(article.dataset.sum6), parseInt(article.dataset.goal6)],
                ['7월',parseInt(article.dataset.sum7), parseInt(article.dataset.goal7)],
                ['8월',parseInt(article.dataset.sum8), parseInt(article.dataset.goal8)],
                ['9월',parseInt(article.dataset.sum9), parseInt(article.dataset.goal9)],
                ['10월',parseInt(article.dataset.sum10), parseInt(article.dataset.goal10)],
                ['11월',parseInt(article.dataset.sum11), parseInt(article.dataset.goal11)],
                ['12월',parseInt(article.dataset.sum12), parseInt(article.dataset.goal12)]
            ]);
            
         	// 옵션객체 준비            
            var opt = {
                    'title':'판매통계(매출액)',
                    'width':'100%',
                    'height': 500,
                    pieSliceText:'label',
                    legend:'월',
                    colors: ['green', 'blue', 'navy', 'purple']
            };
            
         	// 실 데이터를 가진 데이터테이블 객체를 반환하는 메소드
         	// 차트를 그릴 영역인 div 객체를 가져오고, 
         	// 인자로 전달한 div 객체의 영역에 컬럼차트를 그릴수 있는 차트객체를 반환
            var chart = new google.visualization.ColumnChart(document.getElementById('salesAmountColumnChart'));
         	
         	// 차트객체에 데이터테이블과 옵션 객체를 인자로 전달하여 차트 그리는 메소드
            chart.draw(data,opt);
            
            window.addEventListener('resize', drawSalesSumChart, false);
        }
        
        function drawBusinessTypeChart() {
        	
        	var data = new google.visualization.DataTable();
            data.addColumn('string','사업유형');
            data.addColumn('number','건수');
            
            var civilianType = document.getElementById("civilianType").value;
            var officialType = document.getElementById('officialType').value;
            
            data.addRows([ 
                ['민수사업', parseInt(civilianType)],
                ['관공사업', parseInt(officialType)]
            ]);
            
            var opt = {
                    'title':'사업유형별 영업기회',
                    'width':'100%',
                    'height': 500,
                    pieSliceText:'label',
                    color: 'green'
            };
            
            var chart = new google.visualization.PieChart(document.getElementById('pieChartByBusinessType'));
            chart.draw(data,opt);
        	
        	window.addEventListener('resize', drawBusinessTypeChart, false);
        }
        
        function drawCognitivePathwayChart() {
        	
        	var data = new google.visualization.DataTable();
            data.addColumn('string','인지종류');
            data.addColumn('number','건수');
            
            var acquaintance = document.getElementById("acquaintance").value;
            var newsPaper = document.getElementById('newsPaper').value;
            var internet = document.getElementById('internet').value;
            var preexistence = document.getElementById('preexistence').value;
            var etc = document.getElementById('etc').value;
            
            data.addRows([
                ['지인소개', parseInt(acquaintance)],
                ['신문', parseInt(newsPaper)],
                ['인터넷검색', parseInt(internet)],
                ['기존고객', parseInt(preexistence)],
                ['기타', parseInt(etc)]
            ]);
            
        	var opt = {
                    'title':'인지 종류별 영업기회',
                    'width':'100%',
                    'height': 500,
                    pieSliceText:'label',
                    colors: ['orange', 'yellow', 'green', 'blue', 'navy', 'purple']
            };
            
            var chart = new google.visualization.ColumnChart(document.getElementById('columnChartByCognitivePathway'));
            chart.draw(data,opt);
        	
        	window.addEventListener('resize', drawCognitivePathwayChart, false);
        }
        
    </script>
	
</body>
</html>