<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">

<!-- bootstrap CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-extended.css}">

<!-- myinfo CSS-->
<link rel="stylesheet" type="text/css" th:href="@{/css/mypage/myinfo.css}">

<!-- jquery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- 주소 CDN -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<!-- 상세주소 버튼 동작 JS -->
<script th:src="@{../js/mypage/address.js}"></script>

<title>M&M</title>
</head>
<body>

	<div th:replace="common/salesHeader.html"></div>
	
<div class="setting" style="width: 500px; margin-left: auto; margin-right: auto;">	
	<div class="content con011">
	
		<div class="scon_box">		
			<div class="con_list">						
				<div class="detailBox s_con mnone">	
				
					<div class="myinfo_title mb-1">						
						<div class="myinfo_title">비밀번호 변경</div>
					</div>
					
					<form class="form-horizontal" action="/mypage/myInfo/changePassword/update" method="post">
					
					<div class="boxDiv">
						<div class="box">
							<div class="title">현재 비밀번호</div>
							<div class="content">							
								<input type="password" class="form-control" id="pwd" name="pwd" autocomplete="off" maxlength="20">
							</div>
						</div>
						
						<div class="box">
							<div class="title">새 비밀번호</div>
							<div class="content">							
								<input type="password" class="form-control" id="newPwd" name="newPwd" autocomplete="off" maxlength="20">
							</div>
						</div>
						
						<div class="box">
							<div class="title">새 비밀번호 확인</div>
							<div class="content">							
								<input type="password" class="form-control" id="newPwdCheck" name="newPwdCheck" autocomplete="off" maxlength="20">
							</div>
						</div>
					</div>
					
					<div class="form-actions center">
						<button type="button" class="btn btn-outline-warning mr-1" th:onclick="'location.href=\''+ @{/mypage/myinfo} + '\''">
							<i class="icon-arrow-left"></i> 뒤로 가기
						</button>
						<button type="submit" class="btn btn-outline-light-blue mr-1">
						    <i class="icon-check"></i> 저장
						</button>
					</div>
					
					</form>

				</div>
			</div>
		</div>

	</div><!-- //content -->
		
</div><!-- //setting -->
	
</body>
</html>