<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">

<!-- bootstrap CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-extended.css}">

<!-- myinfo CSS-->
<link rel="stylesheet" type="text/css" th:href="@{/css/mypage/myinfo.css}">

<!-- jquery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- 주소 CDN -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<!-- 상세주소 버튼 동작 JS -->
<script th:src="@{../js/mypage/address.js}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	

<script>
	const successMessage = '[[${ successMessage }]]';
	const failMessage = '[[${ failMessage }]]';
	const successUpdatePasswordMessage = '[[${ successUpdatePasswordMessage }]]';
	const failUpdatePasswordMessage = '[[${ failUpdatePasswordMessage }]]';
	
	if(successMessage) {
		alert(successMessage);
		
	} else if(failMessage){
		alert(failMessage);
		
	} else if(successUpdatePasswordMessage) {
		alert(successUpdatePasswordMessage);
		
	} else if(failUpdatePasswordMessage) {
		alert(failUpdatePasswordMessage);
		
	}
	

</script>


<title>M&M</title>
</head>
<body style="line-height: 2.4;">

	<div th:replace="common/salesHeader.html"></div>
	
<div class="setting" style="width: 1000px; margin-left: auto; margin-right: auto;">	
	<div class="content con011" >
	
		<div class="scon_box">		
			<div class="con_list">						
				<div class="detailBox s_con mnone" style="margin-left: auto; margin-right: auto;">	
				
					<div class="myinfo_title mb-1">						
						<div class="myinfo_title">내 정보</div>
					</div>
					
					<form class="form-horizontal" action="/mypage/myInfo/update" method="post">
					
					<div class="boxDiv row">
						<div class="box col-6">
							<div class="title">이름</div>
							<div class="content">							
								<input type="text" class="form-control" id="name" name="name" autocomplete="off" maxlength="20"
								th:value="${myInfo.name}">
							</div>
						</div>
						<div class="box col-6">
							<div class="title">아이디</div>
							<div class="content">
								<input type="text" class="form-control" id="id" name="id" autocomplete="off" maxlength="20"
								th:value="${myInfo.id}" readonly="readonly">
							</div>
						</div>
					</div>
					
					<div class="boxDiv row">
					
						<div class="box col-4">
							<div class="title" style="width: 139px">비밀번호</div>
							<div class="content" style="width: 155px">
								<input type="password" class="form-control" id="pwd" name="pwd" autocomplete="off" maxlength="20" readonly="readonly"
								th:value="${#strings.substring(myInfo.pwd, 0, 20)}">
							</div>
							
						</div>
						<div class="box col-2" style="margin: auto;">
								<input type="button" class='btn btn-outline-light-blue mr-1' th:onclick="'location.href=\''+ @{/mypage/myInfo/changePassword} + '\''"
								value="변경">
						</div>
						
						<div class="box col-6">
							<div class="title">전화번호</div>
							<div class="content">							
								<input type="text" class="form-control" id="phone" name="phone" autocomplete="off" maxlength="20"
								th:value="${myInfo.phone}">
							</div>
						</div>
						
					</div>
					
					<div class="boxDiv row">
						<div class="box col-6">
							<div class="title">이메일</div>
							<div class="content">
								<input type="text" class="form-control" id="email" name="email" autocomplete="off" maxlength="20"
								th:value="${myInfo.email}">
							</div>
						</div>
						<div class="box col-6">
							<div class="title">생년월일</div>
							<div class="content">							
								<input type="text" class="form-control" id="birthday" name="birthday" autocomplete="off" maxlength="20" readonly="readonly"
								th:value="${#strings.substring(myInfo.birthday, 0, 10)}">
							</div>
						</div>
					</div>
					
					<div class="boxDiv row">
						<div class="box col-6">
							<div class="title">질문</div>
							<div class="content">							
								<select class="form-control" name="question" th:field="${myInfo.question}" style="border:none">
								    <option value="본인 출신 초등학교는?" th:checked="${myInfo.question.equals('본인 출신 초등학교는?')}">본인 출신 초등학교는?</option>
								    <option value="본인의 보물 1호는?" th:checked="${myInfo.question.equals('본인의 보물 1호는?')}">본인의 보물 1호는?</option>
								    <option value="본인이 태어난 곳은?" th:checked="${myInfo.question.equals('본인이 태어난 곳은?')}">본인이 태어난 곳은?</option>
								    <option value="본인의 별명은?" th:checked="${myInfo.question.equals('본인의 별명은?')}">본인의 별명은?</option>
							    </select>
							</div>
						</div>
						<div class="box col-6">
							<div class="title">답변</div>
							<div class="content">
								<input type="text" class="form-control" id="answer" name="answer" autocomplete="off" maxlength="20"
								th:value="${myInfo.answer}">
							</div>
						</div>
						
					</div>
					
					<div class="boxDiv row">
						<div class="box col-4">
							<div class="title" style="width: 139px">우편번호</div>
							<div class="content" style="width: 150px">							
								<input type="text" class="form-control" id="zipCode" name="zipCode" autocomplete="off" maxlength="20"
								th:value="${myInfo.zipCode}" readonly="readonly">
								
							</div>
						</div>
						<div class="box col-2" style="margin: auto;">
							<button type="button" class="btn btn-outline-light-blue mr-1" id="searchZipCode" onclick="ExecPostCode();">
						    <i class="fa fa-search"></i>
							</button>
						</div>
						
						<div class="box col-6">
							<div class="title">주소</div>
							<div class="content">
								<input type="text" class="form-control" id="address" name="address" autocomplete="off" maxlength="20"
								th:value="${myInfo.address}" readonly="readonly">
							</div>
						</div>
					</div>
					
					<div class="boxDiv row">
						<div class="box col-6">
							<div class="title">상세주소</div>
							<div class="content">							
								<input type="text" class="form-control" id="detailedAddress" name="detailedAddress" autocomplete="off" maxlength="20"
								th:value="${myInfo.detailedAddress}">
							</div>
						</div>
						
						<div class="box col-6"></div>
					</div>
					
					<div class="boxDiv row">
						<div class="box col-6">
							<div class="title">사원번호</div>
							<div class="content">
								<input type="text" class="form-control" id="employeeNo" name="employeeNo" autocomplete="off" maxlength="20" readonly="readonly"
								th:value="${myInfo.employeeNo}">
							</div>
						</div>
						<div class="box col-6">
							<div class="title">직급</div>
							<div class="content">							
								<input type="text" class="form-control" id="position" name="position" autocomplete="off" maxlength="20"
								th:value="${myInfo.position}">
							</div>
						</div>
					</div>
					
					<div class="boxDiv row">
						<div class="box col-6">
							<div class="title">부서</div>
							<div class="content">							
								<input type="text" class="form-control" id="deptName" name="deptName" autocomplete="off" maxlength="20" readonly="readonly"
								th:value="${myInfo.deptName}">
							</div>
						</div>
					</div>
					
					<div class="form-actions center">
						<button type="button" class="btn btn-outline-warning mr-1" th:onclick="'location.href=\''+ @{/main} + '\''">
							<i class="icon-home"></i> home
						</button>
						<button type="submit" class="btn btn-outline-light-green mr-1">
						    <i class="ft-check"></i> 저장
						</button>
					</div>
					
					</form>

				</div>
			</div>
		</div>

	</div><!-- //content -->
		
</div><!-- //setting -->
	
</body>
</html>