<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>M&M</title>
	
	<!-- bootstrap CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-extended.css}">
	
	<!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/vendors.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/css/extensions/nouislider.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/css/ui/prism.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/css/pickers/pickadate/pickadate.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/css/pickers/daterange/daterangepicker.css}">
    
    <!-- BEGIN ROBUST CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}">
    <!-- END ROBUST CSS-->
    
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/core/menu/menu-types/horizontal-menu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/core/colors/palette-gradient.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/plugins/extensions/noui-slider.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/plugins/pickers/daterange/daterange.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/core/colors/palette-noui.css}">
    <!-- END Page Level CSS-->
    
    <!-- BEGIN Custom CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <!-- END Custom CSS-->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <script th:src="@{../js/menuGroup/select.js}"></script>
    <script th:src="@{../js/menuGroup/insert.js}"></script>
    <script th:src="@{../js/menuGroup/delete.js}"></script>
    <script th:src="@{../js/menuGroup/update.js}"></script>
    <script th:src="@{../js/menuGroup/paging.js}"></script>

    
    <style type="text/css">
    .boxDiv {
    	margin-bottom: 10px;
    }
    
    </style>
    
    
</head>
<body>

	<!-- 헤더 부분 시작-->
	<div th:replace="common/adminHeader.html"></div>
    <!-- 헤더 부분 끝-->
    
    <!-- BEGIN Content-->
    <div class="content app-content" style="width: 90%; margin-left: auto; margin-right: auto;">
        <div class="content-wrapper">
            <!-- content header-->
            <div class="content-header row">
            
	          <div class="content-header-left col-md-6 col-12 mb-2">
	            <div class="content-header-title mb-0" style="font-size: 30px;">메뉴 그룹 관리</div>
	          </div>
	          
            </div>
            <!-- content header-->
            
            <!-- content detached right-->
            <div class="content-detached content-right col-9">
            
            	<div>
            		<div class="card">
	            		<div class="card-header">
	            		
	            			<div class="card-header-left col-md-6 col-12 mb-2">
	            				<div class="card-title" id="list-table" style="font-size: 20px;">메뉴 그룹</div>
	            			</div>
	                    	
	                    	<div class="card-header-right float-md-right col-md-6 col-12">
								<button type="submit" class="btn btn-outline-red float-md-right mr-1" id="deleteUser" onclick="withdrawMenuGroup();">
							    	<i class="ft-trash-2"></i> 삭제
								</button>
		               			<button type="submit" class="btn btn-outline-green float-md-right mr-1" data-toggle="modal" 
		               			data-target="#insertModal" onclick="insertFunc();">
							    	<i class="ft-edit"></i> 신규
								</button>
	               			</div>
	               		</div>
	               			
							<div class="table-responsive">
							  <input type="hidden" id="currentPage" name="currentPage" value="1">
			               	  <table class="table table-hover">
			                      <thead>
			                          <tr align="center">
			                          	  <th>
				                              <div class="icheckbox_square-blue">
				                              		<input type="checkbox" class="input-chk-all" id="menuGroupCheckAll">
				                              </div>
			                              </th>
			                              <th>구분</th>
			                              <th>메뉴번호</th>
			                              <th>메뉴명</th>
			                              <th style="padding-left : 0rem; padding-right: 0rem;">메뉴 URL</th>
			                              <th>출력순서</th>
			                              <th>삭제여부</th>
			                              <th>상위 메뉴번호</th>
			                              <th></th>
			                          </tr>
			                      </thead>
			                      
			                      <tbody class="menuGroup" align="center">
			                     </tbody>
			                  </table>
			                  
			                  <br><br><br>
	
							<!-- 페이징 버튼 시작 -->
   							<div align="center" class="menuGroupPaging">
							</div>
							<!-- 페이징 버튼 종료 -->

						</div>
	               			
	               			<!-- 메뉴 그룹 신규 Modal -->
							<div class="modal fade" id="insertModal" tabindex="-1" role="dialog" aria-labelledby="insertModalLabel" aria-hidden="true">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							        <div class="modal-title" id="insertModalLabel" style="font-size: 18px">메뉴 그룹 신규 추가</div>
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							        </button>
							      </div>
							      <div class="modal-body">
							        
										<div class="boxDiv row">
											<div class="box col-6" >
												<div class="title">메뉴명</div>
												<div class="content">							
													<input type="text" class="form-control" id="menuName" name="menuName" autocomplete="off" maxlength="20">
												</div>
											</div>
											
											<div class="box col-3">
												<div class="title">출력순서</div>
												<div class="content">
													<input type="text" class="form-control" id="outputOrder" name="outputOrder" autocomplete="off" maxlength="30">
												</div>
											</div>
											
											<div class="box col-3">
											</div>
											
										</div>
										
										<div class="boxDiv row">
											<div class="box col-6">
												<div class="title">구분</div>
												<div class="content">							
													<!-- <input type="text" class="form-control" id="division" name="division" autocomplete="off" maxlength="20"> -->
													<select class="form-control" id="division" name="division">
														<option value="" selected="selected" hidden>선택</option>
														<option th:each="authority : ${ authorityGroup }" th:value="${ authority.authorityNo }" th:text="${ #strings.substring(authority.authorityName, 5) }"></option>
												    </select>
												</div>
											</div>
											
											<div class="box col-6">
												<div class="title">상위 메뉴명</div> 
												<div class="content">							
													<input type="text" class="form-control" id="refMenuName" name="refMenuName" autocomplete="off" maxlength="20">
												</div>
											</div>
										</div>
										
										<div class="boxDiv row">
											<div class="box col-12">
												<div class="title">메뉴 URL</div>
												<div class="content">							
													<input type="text" class="form-control" id="menuURL" name="menuURL" autocomplete="off" maxlength="50">
												</div>
											</div>
										</div>
										
							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
							        <button type="submit" class="btn btn-success" id="insertSubmit" onclick="insertMenuGroup();">추가</button>
							      </div>
							      
							    </div>
							  </div>
							</div>
							
							<!-- 메뉴 그룹 신규 Modal End-->
							
							<!-- 등록 이력 상세보기 Modal -->
							
							<div class="modal fade" id="menuGroupModal" tabindex="-1" role="dialog" aria-labelledby="menuGroupModalLabel" aria-hidden="true">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							        <div class="modal-title" id="menuGroupModalLabel" style="font-size: 18px">메뉴 그룹 상세보기</div>
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							        </button>
							      </div>
							      <div class="modal-body">
							      		
								      	<div class="boxDiv row">
											<div class="box col-6">
												<div class="title">구분</div>
												<div class="content">
													<input type="text" class="form-control" id="detailDivision" name="detailDivision" autocomplete="off" maxlength="20" value="" disabled="disabled">
												</div>
											</div>
											
											<div class="box col-6" style="margin-top: auto;">
												<div class="content row" style="margin-top: auto;">
												
													<div class="col-5" align="center" style="padding-bottom: 9px">삭제여부</div>
													<div class="col-7"></div>
												
													<div class="col-4" align="center">
											            <fieldset class="radio">
											                <label>
											                  <input type="radio" id="detailDelY" name="detailDelYN" value="Y">
											                  Yes
											                </label>
											            </fieldset>
											        </div>
												
													<div class="col-4" align="center">
														<fieldset class="radio">
											                <label>
											                  <input type="radio" id="detailDelN" name="detailDelYN" value="N">
											                  No
											                </label>
											            </fieldset>
													</div>
									            </div>
											</div>

										</div>
										
										<div class="boxDiv row">
											<div class="box col-6">
												<div class="title">메뉴명</div>
												<div class="content">
													<input type="text" class="form-control" id="detailMenuName" name="detailMenuName" autocomplete="off" maxlength="20" value="">
												</div>
											</div>
											
											<div class="box col-6">
												<div class="title">메뉴번호</div>
												<div class="content">							
													<input type="text" class="form-control" id="detailMenuNo" name="detailMenuNo" autocomplete="off" maxlength="20" value="" disabled="disabled">	
												</div>
											</div>
										</div>
										
										<div class="boxDiv row">
											<div class="box col-6">
												<div class="title">상위 메뉴코드</div>
												<div class="content">							
													<input type="text" class="form-control" id="detailRefMenuName" name="detailRefMenuName" autocomplete="off" maxlength="20">
												</div>
											</div>
											
											<div class="box col-6">
												<div class="title">출력 순서</div>
												<div class="content">
													<input type="text" class="form-control" id="detailOutputOrder" name="detailOutputOrder" autocomplete="off" maxlength="20">
												</div>
											</div>
										</div>
										
										<div class="boxDiv row">
											<div class="box col-12">
												<div class="title">메뉴 URL</div>
												<div class="content">							
	 												<input type="text" class="form-control" id="detailMenuURL" name="detailMenuURL" autocomplete="off" maxlength="200">
												</div>
											</div>
										</div>
										
							      </div>
							      
							      <div class="modal-footer">
							        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
							        <button type="submit" class="btn btn-info" id="updateSubmit" onclick="updateDept();">변경</button>
							      </div>
							      
							    </div>
							  </div>
							</div>
							
							<!-- 등록 이력 상세보기 Modal End -->

					</div>
				</div>
        	</div>
        	
            <!-- content detached right-->
            
            <!-- sidebar detached left-->
			<div class="sidebar-detached content-left col-2 border border-dark rounded">
			
				<div>
					<div>
	            		<div class="card-header row">
	            		
	            			<div class="card-header-left col-md-6 col-12 mb-2">
	            				<div class="card-title" id="list-table" style="font-size: 20px;">권한 그룹</div>
	            			</div>
	               			
							<div class="boxDiv col-12 row">
							<div class="box col-8">
									<div class="content">							
									<select class="form-control" id="authorityOption" name="authorityOption" style="width: 120px">
										<option value="" selected="selected" hidden>선택</option>
										<option th:each="authority : ${ authorityGroup }" th:value="${ authority.authorityNo }" th:text="${ #strings.substring(authority.authorityName, 5) }"></option>
								    </select>
								</div>
							</div>
								
							<div class="card-header-right float-right col-4">
								<button type="submit" class="btn btn-outline-green float-md-left mr-1" data-toggle="modal" data-target="#insertAuthorityModal">
							    	<i class="ft-plus-circle"></i>
								</button>
<!-- 								<button type="submit" class="btn btn-outline-red float-md-right mr-1" id="deleteUser" onclick="withdrawUser();"> -->
<!-- 							    	<i class="ft-trash-2"></i> 삭제 -->
<!-- 								</button> -->
	               			</div>
								
							</div>
	               			
	               		</div>
	               		
					</div>
				</div>
				
				
				<!-- 권한 그룹 신규 Modal -->
					<div class="modal fade" id="insertAuthorityModal" tabindex="-1" role="dialog" aria-labelledby="insertAuthorityModalLabel" aria-hidden="true">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content" style="width: 50%; margin: auto;">
					      <div class="modal-header">
					        <div class="modal-title" id="insertAuthorityModalLabel" style="font-size: 18px">권한 그룹 신규 추가</div>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					        
								<div class="boxDiv row">
									<div class="box col-12" >
										<div class="title">권한명</div>
										<div class="content">							
											<input type="text" class="form-control" id="authorityName" name="authorityName" autocomplete="off" maxlength="20">
										</div>
									</div>
								</div>
								
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
					        <button type="submit" class="btn btn-success" id="insertAuthoritySubmit" onclick="insertAuthorityGroup();">추가</button>
					      </div>
					      
					    </div>
					  </div>
					</div>
					<!-- 권한 그룹 신규 Modal End-->
			
			</div>
            <!-- sidebar detached left-->
            
    	</div>
    </div>
    
</body>
</html>