/*첨부쟈료박스*/
.section01 .blue_box{
    width: 372px;
    height: 75px;
    position: absolute;
    top: 262px;
    left: 155px;
    background: #3BAFDA;
    display: flex;
    justify-content: space-between;
}

.section01 .blue_box .title{
    width: 130px;
    height: 20px;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 24px;
    font-weight:bold;
    color: white;
}

.section01 .blue_box .title_button{
    width: 20px;
    height: 20px;
    margin-top: 27px;
    margin-right: 20px;
    
}

.section01 .gray_box{
    width: 372px;
    height: 553px;
    background: #f3f3f3;
    position: absolute;
    top: 334px;
    left: 155px;
}

.section01 .gray_box .text_0102{
    width: 330px;
    height: 75px;
    margin-top: 27px;
    margin-left: 27px;
}

.section01 .gray_box .text_0102 .text_01 .text01{
    width: 100px;
    height: 20px;
}

.section01 .gray_box .text_0102 .text_01 .button01{
    width: 100px;
    height: 20px;

}

.text_01 {
	
	margin-top : 10px;
}


/*위에꺼 복붙하고 마진으로 밀어서 똑같은거 두개생성, 회색은 어미영역확인하라고 깔아놓은거*/
.section01 .gray_box .text_0102 .text_02{
    width: 330px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.section01 .gray_box .text_0102 .text_02 .text02{
    width: 100px;
    height: 20px;
}

.section01 .gray_box .text_0102 .text_02 .button02{
    width: 100px;
    height: 20px;
}



/*고객회사박스*/
.section02{
    width: 1197px;
   
    position: absolute;
    top: 262px;
    right: 155px;
    background: #f3f3f3;
}

.section02 .com_title{
    width: 1116px;
    height: 30px;
    margin-top: 13px;
    margin-left: 35px;
    display: flex;
    justify-content: space-between;

}

.section02 .com_title .com_title_text{
    width: 300px;
    height: 30px;
    font-size: 24px;
    font-weight: bold;
}

.section02 .com_title .com_icon{
    width: 100px;
    height: 30px;  
    display: flex;
    position: absolute;
    left: 1015px;
}


.section02 .com_title .com_icon .com_title_icon01{
    margin-left: 15px;
    width: 30px;
    height: 30px;

}

.section02 .com_title .com_icon2{
    width: 100px;
    height: 30px;  
    display: flex;
    position: absolute;
    left: 1015px;
    top: 985px;
}

.section02 .com_title .com_icon2 .com_title_icon01{
    margin-left: 15px;
    width: 30px;
    height: 30px;
}

.com_icon_btn {
	
	width: 50px;
	border: none;
    outline: none;
	
}

.section02 .com_title .com_icon .com_title_icon02{
    width: 30px;
    height: 30px;
}

.section02 .com_line{
    width: 1120px;
    height: 1px;
    margin-top: 5px;
    margin-left: 33px;
    background: black;
}

/*얘는 마진안쓴이유(마진안쓰려면 포지션을 따로 설정해서 탑/레프트 설정해야함)가
내부에 자식이 너무많아서 얘를 부모로 잡고 안에 자식들을 다 마진으로 잡는게 덜헷갈리니까*/
.section02 .textbox{
    width: 851px;
    height: 562px;
    position: absolute;
    top: 79px;
    left: 136px;
    display: flex;
    justify-content: left;
}

.section02 .textbox .maintext{
    width: 91px;
    height: 562px;
    margin-left: 15px;
}

.section02 .textbox .line_text{
    width: 819px;
    height: 562px;
    margin-left: 120px;
}

/*중제목*/
.section02 .textbox .maintext > div{
    width: 150px;
    height: 24px;
    margin-top: 32px;
}

.section02 .textbox .line_text .line .line15{

    margin-top: 106px;

}
.section02 .textbox .maintext .maintext01{
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext02{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext03{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext04{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext05{
   
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext06{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext07{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext08{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext09{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext10{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext11{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext12{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext13{
    
    font-size: 24px;
    font-weight: bold;
}


.section02 .textbox .line_text .line > div{
    width: 790px;
    height: 3px;
    margin-top: 53px;
    background: lightgray;
}

.section02 .textbox .line_text .middletext{
    position: absolute;
    /*background: lightpink;*/
    top: 2px;
    left: 230px;
    width: 345px;
    height: 532px;
}


.section02 .textbox .line_text .middletext .middletext01{
   	width: 700px;
   	height: 47px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext02{
    margin-top: 7px;
    width: 700px;
   	height: 50px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext03{
    margin-top: 7px;
    width: 700px;
   	height: 50px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext04{
    margin-top: 7px;
    width: 770px;
   	height: 49px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext05{
    margin-top: 7px;
    width: 700px;
   	height: 47px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext06{
    margin-top: 7px;
    width: 700px;
   	height: 50px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext07{
    margin-top: 7px;
    width: 700px;
   	height: 50px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext08{
    margin-top: 7px;
    width: 770px;
   	height: 50px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext09{
    margin-top: 7px;
    width: 700px;
   	height: 50px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}


.section02 .textbox .line_text .middletext .middletext10{
    margin-top: 7px;
    width: 700px;
   	height: 47px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext11{
    margin-top: 7px;
    width: 700px;
   	height: 50px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext12{
    margin-top: 7px;
    width: 700px;
   	height: 50px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext13{
    margin-top: 7px;
    width: 700px;
   	height: 47px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext14{
    margin-top: 7px;
    width: 700px;
   	height: 47px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext15{
    margin-top: 10px;
    width: 700px;
   	height: 100px;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .icon{
    position: absolute;
    top: 570px;
    margin-left: 750px;
    
}

.middletext_icon {
	width:30px;
	height:30px;
}

.attachments {
	
	width:200px;
	height:20px;
	background:#f3f3f3;
	border:none;
	outline:none;
	
}

.restArea {
	
	margin-top: 980px;
	height:20px;
	background: white;
	
}

.opinion_title {
	
	margin-top: 20px;
    margin-left: 35px;
	
}

.opinion_title_text{
    width: 300px;
    height: 30px;
    font-size: 24px;
    font-weight: bold;
}

.opinion_content_write {
	
	display: flex;
    justify-content: space-between;
    margin-left: 35px;
	margin-top:13px;
}

.opinion_textarea {
	
	width: 920px;
	height: 100px;
	background: #f3f3f3;
	
}

.opinion_btn {
	
	width:180px;
	height:100px;
	margin-right:35px;
	background: #656565;
	color: white;

}

.restArea2 {
	
	height:30px;
	
}

.opinion_stored_text {
	
	margin-left:35px;
	display: flex;
    justify-content: left;
	
}


.opinion_stored_text2 {
	
	font-size: 15px;
	margin-left:35px;
	display: flex;
    justify-content: space-between;
	
}

.opinion_stored_text4 {
	
	margin-left: 20px;
	
}

.opinion_stored_text5 {
	
	margin-top : 20px;
	
}

.opinion_stored_text6 {
	
	margin-right : 40px;
}

.restArea3 {
	
	height:20px;
	background: white;
}

.clientManager {
	
	display: flex;
    justify-content: left;
    margin-left: 5px;
}

.opinion_line {
	
	width: 1120px;
    height: 1px;
    margin-top: 5px;
    margin-left: 30px;
    background: rgb(0,0,0, 0.2);
	
	
}

.client_title {
	
	margin-top: 20px;
    margin-left: 35px;
	
} 

.client_title_text{
    width: 300px;
    height: 30px;
    font-size: 24px;
    font-weight: bold;
}

.client_info {
	
	display: flex;
    justify-content: left;
    margin-left : 30px;
    margin-top : 10px;
    font-size: 18px;
	
}

.client_info_dept {
	
	margin-left : 10px;
}

.client_info_job {
	

	margin-left : 10px;
	
}

.client_line {
	
	width: 1120px;
    height: 1px;
    margin-top: 5px;
    margin-left: 33px;
    background: rgb(0,0,0, 0.2)
	
}

.client_contact {
	
	margin-top : 5px;
	margin-left : 20px;
	font-size : 15px;
}

.client_info2 {
	
	display: flex;
    justify-content: space-between;
	
}

.client_image {
	
	margin-top: 40px;
	margin-right: 50px;
	
}

.restArea4 {
	
	height: 30px;
	background: #f3f3f3;
	
}