/*첨부자료박스*/
.section01 .blue_box{
    width: 372px;
    height: 75px;
    position: absolute;
    top: 262px;
    left: 155px;
    background: #00BCD4;
    display: flex;
    justify-content: space-between;
}

.section01 .blue_box .title{
    width: 130px;
    height: 20px;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 24px;
    font-weight:bold;
    color: white;
}

.section01 .blue_box .title_button{
    width: 20px;
    height: 20px;
    margin-top: 27px;
    margin-right: 20px;
    
}

.section01 .gray_box{
    width: 372px;
    height: 553px;
    background: #f3f3f3;
    position: absolute;
    top: 334px;
    left: 155px;
}

.section01 .gray_box .text_0102{
    width: 330px;
    height: 75px;
    margin-top: 27px;
    margin-left: 27px;
}

.section01 .gray_box .text_0102 .text_01{
    width: 330px;
    height: 20px;
    display: flex;
    justify-content: space-between;
}

.section01 .gray_box .text_0102 .text_01 .text01{
    width: 100px;
    height: 20px;
}

.section01 .gray_box .text_0102 .text_01 .button01{
    width: 100px;
    height: 20px;

}


.section01 .gray_box .text_0102 .text_02{
    width: 330px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.section01 .gray_box .text_0102 .text_02 .text02{
    width: 100px;
    height: 20px;
}

.section01 .gray_box .text_0102 .text_02 .button02{
    width: 100px;
    height: 20px;
}



/*견적등록박스*/
.section02{
    width: 1197px;
    position: absolute;
    top: 262px;
    right: 155px;
    background: #f3f3f3;
}

.section02_1 {
    width: 1197px;
    height: 630px;
    background: #f3f3f3;
}

.section02 .com_title{
    width: 1116px;
    height: 30px;
    margin-top: 13px;
    margin-left: 35px;
    display: flex;
    justify-content: space-between;

}

.section02 .com_title .com_title_text{
    width: 300px;
    height: 30px;
    font-size: 24px;
    font-weight: bold;
}

.section02 .com_title .com_icon{
    width: 100px;
    height: 30px;  
    display: flex;
    position: absolute;
    left: 1055px;
}

.section02 .com_title .com_icon .com_title_icon01{
    margin-left: 15px;
    width: 30px;
    height: 30px;
}

.section02 .com_title .com_icon2{
    width: 100px;
    height: 30px;  
    display: flex;
    position: absolute;
    left: 1055px;
    top: 595px;
}

.section02 .com_title .com_icon2 .com_title_icon01{
    margin-left: 15px;
    width: 30px;
    height: 30px;
}

.com_icon_btn {
	width: 50px;
	border: none;
    outline: none;
	background: #f3f3f3;
}

.section02 .com_line{
    width: 1120px;
    height: 1px;
    margin-top: 5px;
    margin-left: 33px;
    background: black;
}

.section02 .textbox{
    width: 851px;
    height: 562px;
    position: absolute;
    top: 79px;
    left: 136px;
    display: flex;
    justify-content: left;
}

.section02 .textbox .maintext{
    width: 91px;
    height: 562px;
    margin-left: 15px;
}

.section02 .textbox .line_text{
    width: 819px;
    height: 500px;
    margin-left: 120px;
}

/*중제목*/
.section02 .textbox .maintext > div{
    width: 160px;
    height: 24px;
    margin-top: 32px;
}

.section02 .textbox .maintext .maintext01{
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext02{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext03{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext04{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext05{
   
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext06{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext07{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext08{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext09{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext10{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext11{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext12{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext13{
    height: 24px;
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext14{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext15{
    
    font-size: 24px;
    font-weight: bold;
}


.section02 .textbox .line_text .line > div{
    width: 790px;
    height: 3px;
    margin-top: 53px;
    background: lightgray;
}

.section02 .textbox .line_text .line .line14 {
	height: 3px;
	margin-top: 110px;
}


.section02 .textbox .line_text .middletext{
    position: absolute;
    /*background: lightpink;*/
    top: 2px;
    left: 230px;
    width: 345px;
    height: 532px;
}


.section02 .textbox .line_text .middletext .middletext01{
   	width: 700px;
   	height: 47px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext02{
    margin-top: 7px;
    width: 770px;
   	height: 50px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext03{
    margin-top: 7px;
    width: 770px;
   	height: 50px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext04{
    margin-top: 7px;
    width: 770px;
   	height: 49px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext05{
    margin-top: 7px;
    width: 700px;
   	height: 47px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext06{
    margin-top: 7px;
    width: 775px;
   	height: 50px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext07{
    margin-top: 7px;
    width: 775px;
   	height: 50px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext08{
    margin-top: 7px;
    width: 770px;
   	height: 50px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext09{
    margin-top: 7px;
    width: 770px;
   	height: 50px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}


.section02 .textbox .line_text .middletext .middletext10{
    margin-top: 7px;
    width: 770px;
   	height: 47px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext11{
    margin-top: 7px;
    width: 700px;
   	height: 50px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext12{
    margin-top: 7px;
    width: 700px;
   	height: 50px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext13{
    margin-top: 7px;
    width: 700px;
   	height: 50px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext14{
    margin-top: 7px;
    width: 700px;
   	height: 100px;
   	border: 2px solid lightgray;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext15{
   	margin-top: 9px;
    width: 700px;
   	height: 100px;
   	border: 2px solid lightgray;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext16{
	position: absolute;
	top: 337px;
	left: 426px;
	width: 350px;
   	height: 47px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext19{
    position: absolute;
	top: 561px;
	left: 50px;
	width: 70px;
   	height: 47px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.fromTo {
	font-size: 30px;
	position: absolute;
	top: 340px;
	left: 380px;
}


.section02 .textbox .line_text .icon{
    position: absolute;
    top: 123px;
    margin-left: 750px;
    
}

.modal_icon1 {
	width:30px;
	height:30px;
	position: absolute;
	top: -57px;
}

.modal_icon2 {
	width:30px;
	height:30px;
	position: absolute;
	top: 0px;
}

.modal_icon3 {
	width:30px;
	height:30px;
	position: absolute;
	top: 57px;
}

.modal_icon4 {
	width:30px;
	height:30px;
	position: absolute;
	top: 503px;
}

.modal_icon5 {
	width:30px;
	height:30px;
	position: absolute;
	top: 560px;
}

.modal_icon6 {
	width:30px;
	height:30px;
	position: absolute;
	top: 114px;
}

.attachments {
	
	width:220px;
	height:30px;
	
}

.insertBtn {
	width: 75px;
	background: #00BCD4;
	border-color: #00BCD4;
	border-radius: 5px;
	color: white;
	font-size: 18px;
	margin-left: 550px;
}

.section03 {
    width: 1197px;
    position: absolute;
    top: 1235px;
    right: 155px;
    background: #f3f3f3;
}

.plus_icon {
	width: 25px;
    height: 25px;
    position: absolute;
    top: 1120px;
    right: 50px;
}

.sec03_title {
	height: 24px;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 40px;
}

.sec03_line01 {
	width: 1120px;
    height: 1px;
    margin-top: 10px;
    margin-left: 33px;
    background: black;
}

.space {
	height: 20px;
	width: 1197px;
	background: #f3f3f3;
}

.empty {
	height: 30px;
	width: 1197px;
	background: white;
}

.empty2 {
	height: 15px;
	width: 1197px;
	background: #f3f3f3;
}

.modal-title {
	
	font-weight: bold;
	font-family: fantasy;
}

.modalTbody > tr {
	border: solid 1px rgba(0, 0, 0, 0.2);
	height: 40px;
}

.modalTable > thead > tr > th {
	width: 250px;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	font-family: fantasy;
}

.modalTable > tbody > tr > td {
	width: 250px;
	font-size: 18px;
	text-align: center;
}

#productName {
	border: none;
	background: #f3f3f3;
	width: 500px;
	font-size: 18px;
	text-align: left;
	font-weight: bold;
	margin-left: 20px;
	outline: none;
}

#productTable {
	text-align: center;
	margin-left: 20px;
	width: 1150px;
	border: 1px solid black;
}

#productTable > thead > tr > th {
	height: 50px;
	width: 400px;
	font-size: 18px;
	border: solid 1px rgba(0, 0, 0, 0.2);
	background: #FDF5F5;
}

#productTable > tbody > tr > th {
	height: 50px;
	width: 400px;
	font-size: 18px;
	border: solid 1px rgba(0, 0, 0, 0.2);
	background: #FDF5F5;
}

#productTable > thead > tr > td {
	height: 50px;
	width: 400px;
	font-size: 18px;
	border: solid 1px rgba(0, 0, 0, 0.2);
	background: white;
}

#productTable > tbody > tr > td {
	height: 50px;
	width: 400px;
	font-size: 18px;
	border: solid 1px rgba(0, 0, 0, 0.2);
	background: white;
}

#productTable > thead > tr > td > input {
	border: none;
	background: white;
	height: 40px;
}

#createDiv {
	width: 500px;
}

#modalInput {
	width: 250px;
	font-size: 18px;
	text-align: center;
	outline: none;
	border: solid 1px rgba(0, 0, 0, 0.2);
}

.placeholder {
	position: absolute;
	top: 268px;
	left: 790px;
	
}

.placeholder > input {
	border: none;
	outline: none;
	background: #f3f3f3;
	font-size: 18px;
	margin-top: 27px;
}

.modal-title {
	
	font-weight: bold;
	font-family: fantasy;
}

.bd-example-modal-xl {
	height:500px;
	width:700px;
	margin-left:710px;
	margin-top:200px;
}

.modalTable {
	width: 500px;
	border:none;
}

.modalTbody > tr {
	border: solid 1px rgba(0, 0, 0, 0.2);
	height: 40px;
}

.modalTable > thead > tr > th {
	width: 250px;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	font-family: fantasy;
}

.modalTable > tbody > tr > td {
	width: 250px;
	font-size: 18px;
	text-align: center;
}

#dialog6 {
	height:500px;
	width:900px;
	margin-left:510px;
	margin-top:200px;
}

#productList {
	width: 800px;
	border:none;
}

#productTbody > tr {
	border: solid 1px rgba(0, 0, 0, 0.2);
	height: 40px;
}

#productList > thead > tr > th {
	width: 200px;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	font-family: fantasy;
}

#productList > tbody > tr > td {
	width: 200px;
	font-size: 18px;
	text-align: center;
}

#productName {
	border: none;
	background: #f3f3f3;
	width: 500px;
	font-size: 18px;
	text-align: left;
	font-weight: bold;
	margin-left: 20px;
	outline: none;
}

#productTable {
	text-align: center;
	margin-left: 20px;
	width: 1150px;
	border: 1px solid black;
}

#productTable > thead > tr > th {
	height: 50px;
	width: 400px;
	font-size: 18px;
	border: solid 1px rgba(0, 0, 0, 0.2);
	background: #FDF5F5;
}

#productTable > tbody > tr > th {
	height: 50px;
	width: 400px;
	font-size: 18px;
	border: solid 1px rgba(0, 0, 0, 0.2);
	background: #FDF5F5;
}

#productTable > thead > tr > td {
	height: 50px;
	width: 400px;
	font-size: 18px;
	border: solid 1px rgba(0, 0, 0, 0.2);
	background: white;
}

#productTable > tbody > tr > td {
	height: 50px;
	width: 400px;
	font-size: 18px;
	border: solid 1px rgba(0, 0, 0, 0.2);
	background: white;
}

#productTable > thead > tr > td > input {
	border: none;
	background: white;
	height: 40px;
}

#createDiv {
	width: 500px;
}

#modalInput {
	width: 250px;
	font-size: 18px;
	text-align: center;
	outline: none;
	border: solid 1px rgba(0, 0, 0, 0.2);
}

#delBtn {
	font-size: 18px;
	display: inline-block;
	margin-left: 600px;
	margin-top: 0px;
}

.sumInput {
	margin-left: 20px;
}

.sumInput_1 {
	background: #FDF5F5;
	outline: none;
	width: 260.7px;
	border: solid 1px rgba(0, 0, 0, 0.2);
	text-align: center;
	font-size: 18px;
}

.sumInput_2 {
	width: 296px;
	text-align: center;
	font-size: 18px;
	border: solid 1px rgba(0, 0, 0, 0.2);
}

#price, #quantity, #totalPrice, #salesCycle, #expectationReleaseDate {
	width: 320px;
	text-align: center;
}

.activityText {
	width: 1000px;
	height: 300px;
	margin-left: 100px;
}

.unit, .standard {
	width: 320px;
	text-align: center;
	outline: none;
}

.productNote {
	width: 970px;
	border: solid 1px rgba(0, 0, 0, 0.2);
}

.bd-example-modal-xl {
	height:500px;
	width:705px;
	margin-left:710px;
	margin-top:200px;
}

.modalTable {
	width: 600px;
	border:none;
	margin: auto;
	text-align: center;
}
