<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script	src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
<script type="text/javascript"	src="https://www.gstatic.com/charts/loader.js"></script>

<!-- BEGIN VENDOR CSS-->
<link rel="stylesheet" type="text/css" th:href="@{/css/vendors.css}">
<link rel="stylesheet" type="text/css" th:href="@{/vendors/css/forms/selects/select2.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/vendors/css/tables/datatable/dataTables.bootstrap4.min.css}">
<!-- END VENDOR CSS-->
<!-- BEGIN ROBUST CSS-->
<link rel="stylesheet" type="text/css" th:href="@{/css/app.min.css}">
<!-- END ROBUST CSS-->
<!-- BEGIN Custom CSS-->
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<!-- END Custom CSS-->

</head>
<body>

	<!-- 상단바 replace -->
	<div th:replace="common/statusHeader.html"></div>

	<div class="wrap">
		<div class="app-content content">
			<div class="content-wrapper">
				<div class="content-head row">
					<div class="content-header-left col-md-6 col-12 mb-2">
						<h3 class="content-header-title">고객지원 통계</h3>
					</div>
				</div>

				<div class="content-body">

					<!-- 검색창 -->
					<section class="search_part">

						<form id="search" action="/average/businessOpportunity" method="get">
							<div class="all_box">
								<div class="part01">
									<div class="search_date">
										<label>검색조건</label><br>
										<label>시작일 : &nbsp</label><input class="search_date_input" type="date" name="startDate"> &nbsp ~ &nbsp
										<label>종료일 : &nbsp</label><input class="search_date_input" type="date" name="endDate">
										&nbsp
										<select id="selectDeptName" class="select_box" name="deptName">
											<option value="">- 부서 -</option>
											<option th:each="deptList : ${ deptList }"
												th:value="${ deptList.deptNo }"
												th:text="${ deptList.deptName }"></option>
										</select>
										&nbsp 
										<select id="selectUserName" class="select_box"
											name="responsibility">
											<option value="">- 담당자 -</option>
											<option th:each="userList : ${ userList }"
												th:value="${ userList.userNo }" th:text="${ userList.name }"></option>
										</select>
										&nbsp
										<button class="search_button" type="submit">검색</button>
									</div>
								</div>
							</div>
						</form>
					</section>
					<!-- 검색창 end -->

					<!-- 내용은 탭바를 사용하여 표시 -->
					<section id="basic-tabs-components">
						<div class="row match-height">
							<div class="col-xl-12 col-lg-12">
								<div class="card-header"></div>
								<div class="card-content">
									<div class="card-body">
										<ul class="nav nav-tabs nav-underline no-hober-bg">
											<li class="nav-item"><a class="nav-link"
												id="customAll-tab" data-toggle="tab" href="#customAll"
												aria-controls="customAll" aria-expanded="true"> 현황 그래프 </a></li>
											<li class="nav-item"><a class="nav-link"
												id="company-tab" data-toggle="tab" href="#company"
												aria-controls="company" aria-expanded="true"> 영업기회 데이터 </a></li>
										</ul>

										<!-- tab-pane fade를 꼭 써줘야 지워진다... -->
										<div class="tab-content px-1 pt-1">
											<div role="tabpanel" class="tab-pane active" id="customAll"
												aria-labelledby="customAll-tab" aria-expanded="true">
												<div class="col-xl-12 col-lg-12">
													<!-- 고객현황 표 시작 -->
													<div class="col-xl-6 col-lg-12">
														<div class="card">
															<div class="card-header no-border-bottom">
																<h4 class="card-title">
																	영업기회<span th:text="'(*'+ ${ startLocalDate } + '기준)'"></span>
																</h4>
															</div>
															<div class="card-content">
																<div class="table">
																	<table class="table table-hover mb-0">
																		<thead>
																			<tr>
																				<th>구분</th>
																				<th>당월</th>
																				<th>전월</th>
																				<th>평균(3개월)</th>
																			</tr>
																		</thead>
																		<tbody>

																			<tr>
																				<td><span class="badge badge-success">영업기회</span></td>
																				<td th:text="${ graphBusinessOpportunityList[0] }"></td>
																				<td th:text="${ graphBusinessOpportunityList[1] }"></td>
																				<td th:text="${ graphBusinessOpportunityList[2] }"></td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</div>
														</div>
													</div>
													<!-- 고객현황 표 종료 -->

													<!-- 구글차트 시작 -->
													<script type="text/javascript">
												        //구글차트 
												        google.charts.load('current', {'packages':['corechart']}); 
												        google.charts.setOnLoadCallback(drawBusinessTypeChart);
												        google.charts.setOnLoadCallback(drawSalesDivisionChart);
												        google.charts.setOnLoadCallback(drawCognitivePathwayChart);
												        
												        function drawBusinessTypeChart() {
												        	
												        	var data = new google.visualization.DataTable();
												            data.addColumn('string','사업유형');
												            data.addColumn('number','건수');
												            
												            var civilianType = document.getElementById("civilianType").value;
												            var officialType = document.getElementById('officialType').value;
												            
												            data.addRows([ 
												                ['민수사업', parseInt(civilianType)],
												                ['관공사업', parseInt(officialType)]
												            ]);
												            
												            var opt = {
												                    'title':'사업유형별',
												                    'width':'100%',
												                    'height': 500,
												                    pieSliceText:'label',
												            };
												            
												            var chart = new google.visualization.PieChart(document.getElementById('pieChartByBusinessType'));
												            chart.draw(data,opt);
												        	
												        	window.addEventListener('resize', drawBusinessTypeChart, false);
												        }
												        
												        function drawSalesDivisionChart() {
												        	
												        	var data = new google.visualization.DataTable();
												            data.addColumn('string','매출종류');
												            data.addColumn('number','건수');
												            
												            var productType = document.getElementById("productType").value;
												            var commissionType = document.getElementById('commissionType').value;
												            
												            data.addRows([ 
												                ['상품매출', parseInt(productType)],
												                ['커미션매출', parseInt(commissionType)]
												            ]);
												            
												        	var opt = {
												                    'title':'매출 종류별',
												                    'width':'100%',
												                    'height': 500,
												                    pieSliceText:'label',
												            };
												            
												            var chart = new google.visualization.PieChart(document.getElementById('pieChartBySalesDivision'));
												            chart.draw(data,opt);
												            
												        	window.addEventListener('resize', drawSalesDivisionChart, false);
												        }
												        
												        function drawCognitivePathwayChart() {
												        	
												        	var data = new google.visualization.DataTable();
												            data.addColumn('string','인지종류');
												            data.addColumn('number','건수');
												            
												            var acquaintance = document.getElementById("acquaintance").value;
												            var newsPaper = document.getElementById('newsPaper').value;
												            var internet = document.getElementById('internet').value;
												            var preexistence = document.getElementById('preexistence').value;
												            var etc = document.getElementById('etc').value;
												            
												            data.addRows([
												                ['지인소개', parseInt(acquaintance)],
												                ['신문', parseInt(newsPaper)],
												                ['인터넷검색', parseInt(internet)],
												                ['기존고객', parseInt(preexistence)],
												                ['기타', parseInt(etc)]
												            ]);
												            
												        	var opt = {
												                    'title':'인지 종류별',
												                    'width':'100%',
												                    'height': 500,
												                    pieSliceText:'label',
												                    colors: ['orange', 'yellow', 'green', 'blue', 'navy', 'purple']
												            };
												            
												            var chart = new google.visualization.ColumnChart(document.getElementById('columnChartByCognitivePathway'));
												            chart.draw(data,opt);
												        	
												        	window.addEventListener('resize', drawCognitivePathwayChart, false);
												        }
												        
												    </script>
													
													<div class="col-xl-6 col-lg-12">
														<h3>사업 유형별 그래프</h3>
														<input type="text" id="civilianType" th:value="${ civilianType }" hidden>
														<input type="text" id="officialType" th:value="${ officialType }" hidden>
														<div id="pieChartByBusinessType" style="width: 900px; height: 500px;">
														</div>
													</div>
													
													<div class="col-xl-6 col-lg-6">
														<h3>매출 종류별 그래프</h3>
														<input type="number" id="productType" th:value="${ productType }" hidden>
														<input type="number" id="commissionType" th:value="${ commissionType }" hidden>
														<div id="pieChartBySalesDivision" style="width: 900px; height: 500px;">
														</div>
													</div>
													
													<div class="col-xl-6 col-lg-6">
														<h3>인지 종류별 그래프</h3>
														<input type="number" id="acquaintance" th:value="${ acquaintance }" hidden>
														<input type="number" id="newsPaper" th:value="${ newsPaper }" hidden>
														<input type="number" id="internet" th:value="${ internet }" hidden>
														<input type="number" id="preexistence" th:value="${ preexistence }" hidden>
														<input type="number" id="etc" th:value="${ etc }" hidden>
														<div id="columnChartByCognitivePathway" style="width: 900px; height: 500px;"></div>
													</div>

												</div>
											</div>
											<!-- End 첫번째 tab-panel -->

											<!-- 두번째 tab-panel -->
											<div role="tabpanel" class="tab-pane fade" id="company"
												aria-labelledby="company-tab" aria-expanded="false">
												<span>영업기회</span><span>(</span> <span
													th:text="${ #lists.size(businessOpportunityList) }"></span><span>)</span>
												<div class="table-responsive">
													<div id="invoices-list_wrapper"
														class="dataTables_wrapper dt-bootstrap4">

														<div class="row">
															<div class="col-sm-12">
																<table id="invoices-list"
																	class="table table-white-space table-bordered row-grouping display no-wrap icheck table-middle">
																	<thead>
																		<tr>
																			<th>순번</th>
																			<th>영업기회번호</th>
																			<th>영업기회명</th>
																			<th>예상매출</th>
																			<th>사업유형</th>
																			<th>작성일자</th>
																			<th>영업시작일</th>
																			<th>영업종료일</th>
																			<th>매출구분</th>
																			<th>인지경로</th>
																			<th>담당자</th>
																			<th>고객</th>
																		</tr>
																	</thead>

																	<!-- 고객사 내용 -->
																	<tbody id="companyTbody">
																		<tr th:each="bo, i : ${ businessOpportunityList }"
																			onclick="selectBusinessOpportunity(this);">
																			<td th:text="${ i.index + 1 }"></td>
																			<td th:value="${ bo.businessOpportunityNo }" th:text="${ bo.businessOpportunityNo }"></td>
																			<td th:text="${ bo.businessOpportunityName }"></td>
																			<td th:text="${ bo.expectedSales }" class="commaN"></td>
																			<td th:text="${ bo.businessType }"></td>
																			<td th:text="${ bo.writeDate }"></td>
																			<td th:text="${ bo.businessStartDate }"></td>
																			<td th:text="${ bo.businessEndDate }"></td>
																			<td th:text="${ bo.salesDivision }"></td>
																			<td th:text="${ bo.cognitivePathway }"></td>
																			<td th:text="${ bo.userName } + ' (' + ${ bo.userNo } + ')'"></td>
																			<td th:text="${ bo.clientName } + ' (' + ${ bo.clientNo } + ')'"></td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>
													</div>
												</div>
											</div>

										</div>
										<!-- End card-content -->

									</div>
								</div>
							</div>
						</div>
					</section>

				</div>
			</div>
		</div>
	</div>
	
	<script>
	function selectBusinessOpportunity(tr) {
		
		const businessOpportunityNo = tr.children[1].value;
		console.log(businessOpportunityNo);
		
		location.href = "/businessOpportunity/select?businessOpportunityNo=" + businessOpportunityNo;
		
	}
	</script>

	<script th:src="@{/js/average/commaN.js}"></script>
	<!-- BEGIN VENDOR JS-->
    <script th:src="@{/vendors/js/vendors.min.js}"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script th:src="@{/vendors/js/ui/jquery.sticky.js}"></script>
    <script th:src="@{/vendors/js/charts/jquery.sparkline.min.js}"></script>
    <script th:src="@{/vendors/js/tables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendors/js/tables/dataTable/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/vendors/js/forms/icheck/icheck.min.js}"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN ROBUST JS-->
    <script th:src="@{/js/core/app-menu.min.js}"></script>
    <script th:src="@{/js/core/app.min.js}"></script>
    <script th:src="@{/js/scripts/customizer.min.js}"></script>
    <!-- END ROBUST JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script th:src="@{/js/scripts/ui/breadcrumbs-with-stats.min.js}"></script>
    <script th:src="@{/js/scripts/modal/components-modal.js}"></script>
    <script th:src="@{/js/scripts/pages/invoices-list.min.js}"></script>
    <!-- END PAGE LEVEL JS-->
    
</body>
</html>