<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script
	src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<!-- BEGIN VENDOR CSS-->
<link rel="stylesheet" type="text/css" th:href="@{/css/vendors.css}">
<link rel="stylesheet" type="text/css" th:href="@{/vendors/css/forms/selects/select2.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/vendors/css/tables/datatable/dataTables.bootstrap4.min.css}">
<!-- END VENDOR CSS-->
<!-- BEGIN ROBUST CSS-->
<link rel="stylesheet" type="text/css" th:href="@{/css/app.min.css}">
<!-- END ROBUST CSS-->
<!-- BEGIN Custom CSS-->
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<!-- END Custom CSS-->

</head>
<body>

	<!-- 상단바 replace -->
	<div th:replace="common/statusHeader.html"></div>

	<div class="wrap">
		<div class="app-content content">
			<div class="content-wrapper">
				<div class="content-head row">
					<div class="content-header-left col-md-6 col-12 mb-2">
						<h3 class="content-header-title">영업활동 통계</h3>
					</div>
				</div>

				<div class="content-body">

					<!-- 검색창 -->
					<section class="search_part">

						<form id="search" action="/average/businessActivity" method="get">
							<div class="all_box">
								<div class="part01">
									<div class="search_date">
										<label>검색조건</label><br>
										<label>시작일 : &nbsp</label><input class="search_date_input" type="date" name="startDate"> &nbsp ~ &nbsp
										<label>종료일 : &nbsp</label><input class="search_date_input" type="date" name="endDate">
										&nbsp
										<select id="selectDeptName" class="select_box" name="deptName">
											<option value="">- 부서 -</option>
											<option th:each="deptList : ${ deptList }"
												th:value="${ deptList.deptNo }"
												th:text="${ deptList.deptName }"></option>
										</select>
										&nbsp 
										<select id="selectUserName" class="select_box"
											name="responsibility">
											<option value="">- 담당자 -</option>
											<option th:each="userList : ${ userList }"
												th:value="${ userList.userNo }" th:text="${ userList.name }"></option>
										</select>
										&nbsp
										<button class="search_button" type="submit">검색</button>
									</div>
								</div>
							</div>
						</form>
					</section>
					<!-- 검색창 end -->

					<!-- 내용은 탭바를 사용하여 표시 -->
					<section id="basic-tabs-components">
						<div class="row match-height">
							<div class="col-xl-12 col-lg-12">
								<div class="card-header"></div>
								<div class="card-content">
									<div class="card-body">
										<ul class="nav nav-tabs nav-underline no-hober-bg">
											<li class="nav-item"><a class="nav-link"
												id="customAll-tab" data-toggle="tab" href="#customAll"
												aria-controls="customAll" aria-expanded="true"> 현황 그래프 </a></li>
											<li class="nav-item"><a class="nav-link"
												id="company-tab" data-toggle="tab" href="#company"
												aria-controls="company" aria-expanded="true"> 영업활동 데이터 </a></li>
										</ul>

										<div class="tab-content px-1 pt-1">
											<div role="tabpanel" class="tab-pane active" id="customAll"
												aria-labelledby="customAll-tab" aria-expanded="true">
												<div class="col-xl-12 col-lg-12">
													<!-- 영업활동 현황 표 시작 -->
													<div class="col-xl-6 col-lg-12">
														<div class="card">
															<div class="card-header no-border-bottom">
																<h4 class="card-title">
																	영업활동<span th:text="'(*'+ ${ startLocalDate } + '기준)'"></span>
																</h4>
															</div>
															<div class="card-content">
																<div class="table">
																	<table class="table table-hover mb-0">
																		<thead>
																			<tr>
																				<th>구분</th>
																				<th>당월</th>
																				<th>전월</th>
																				<th>평균(3개월)</th>
																			</tr>
																		</thead>
																		<tbody>

																			<tr>
																				<td><span class="badge badge-success">영업활동</span></td>
																				<td th:text="${ tableBusinessActivityList[0] }"></td>
																				<td th:text="${ tableBusinessActivityList[1] }"></td>
																				<td th:text="${ tableBusinessActivityList[2] }"></td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</div>
														</div>
													</div>

													<!-- 그래프 시작 -->
													<div class="col-xl-12 col-lg-12">
														<div class="col-lg-12 col-md-6 col-sm-12">
															<input type="number" id="visitType" th:value="${ visitType }" hidden>
															<input type="number" id="telephoneType" th:value="${ telephoneType }" hidden>
															<div id="pieChartByBusinessType">
															</div>
														</div>
														<div class="col-lg-12 col-md-6 col-sm-12">
															<input type="number" id="greetingType" th:value="${ greetingType }" hidden>
															<input type="number" id="salesType" th:value="${ salesType }" hidden>
															<div id="columnChartByCognitivePathway"></div>
														</div>
													</div>

												</div>
											</div>
											<!-- End 첫번째 tab-panel -->

											<!-- 두번째 tab-panel -->
											<div role="tabpanel" class="tab-pane fade"
												aria-labelledby="company-tab" aria-expanded="false">
												<span>영업활동</span><span>(</span> <span
													th:text="${ #lists.size(businessActivityList) }"></span><span>)</span>
												<div class="table-responsive">
													<div id="invoices-list_wrapper"
														class="dataTables_wrapper dt-bootstrap4">

														<div class="row">
															<div class="col-sm-12">
																<table id="invoices-list"
																	class="table table-white-space table-bordered row-grouping display no-wrap icheck table-middle">
																	<thead>
																		<tr>
																			<th>순번</th>
																			<th>영업활동번호</th>
																			<th>활동분류</th>
																			<th>활동목적</th>
																			<th>날짜</th>
																			<th>시작시간</th>
																			<th>종료시간</th>
																			<th>완료여부</th>
																			<th>계획내용</th>
																			<th>활동내용</th>
																			<th>담당자</th>
																			<th>작성일자</th>
																			<th>영업기회번호</th>
																		</tr>
																	</thead>

																	<!-- 고객사 내용 -->
																	<tbody id="companyTbody">
																		<tr th:each="ba, i : ${ businessActivityList }"
																			onclick="location.href='/'">
																			<td th:text="${ i.index + 1 }"></td>
																			<td th:text="${ ba.businessActivityNo }"></td>
																			<td th:text="${ ba.activityClassification }"></td>
																			<td th:text="${ ba.activityPurpose }"></td>
																			<td th:text="${ ba.activityDate }"></td>
																			<td th:text="${ ba.activityStartTime }"></td>
																			<td th:text="${ ba.activityEndTime }"></td>
																			<td th:text="${ ba.completeYn }"></td>
																			<td th:text="${ ba.planContent }"></td>
																			<td th:text="${ ba.activityContent }"></td>
																			<td th:text="${ ba.userName } + ' (' + ${ ba.userNo } + ')'"></td>
																			<td th:text="${ ba.writeDate }"></td>
																			<td th:text="${ ba.businessOpportunityNo }"></td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>
													</div>
												</div>
											</div>

										</div>
										<!-- End card-content -->

									</div>
								</div>
							</div>
						</div>
					</section>

				</div>
			</div>
		</div>
	</div>
<script type="text/javascript">
        //구글차트 
        google.charts.load('current', {'packages':['corechart']}); 
        google.charts.setOnLoadCallback(drawBusinessTypeChart);
        google.charts.setOnLoadCallback(drawCognitivePathwayChart);
        
        function drawBusinessTypeChart() {
        	
        	var data = new google.visualization.DataTable();
            data.addColumn('string','활동분류');
            data.addColumn('number','건수');
            
            var visitType = document.getElementById("visitType").value;
            var telephoneType = document.getElementById('telephoneType').value;
            
            data.addRows([ 
                ['방문', parseInt(visitType)],
                ['전화', parseInt(telephoneType)]
            ]);
            
            var opt = {
                    'title':'활동분류별 영업활동',
                    'width':'100%',
                    'height': 500,
                    pieSliceText:'label',
            };
            
            var chart = new google.visualization.PieChart(document.getElementById('pieChartByBusinessType'));
            chart.draw(data,opt);
        	
        	window.addEventListener('resize', drawBusinessTypeChart, false);
        }
        
        function drawCognitivePathwayChart() {
        	
        	var data = new google.visualization.DataTable();
            data.addColumn('string','목적종류');
            data.addColumn('number','건수');
            
            var greetingType = document.getElementById("greetingType").value;
            var salesType = document.getElementById('salesType').value;
            
            data.addRows([
                ['인사', parseInt(greetingType)],
                ['영업', parseInt(salesType)]
            ]);
            
        	var opt = {
                    'title':'활동목적별 영업활동',
                    'width':'100%',
                    'height': 500,
                    pieSliceText:'label',
                    colors: ['orange', 'yellow', 'green', 'blue', 'navy', 'purple']
            };
            
            var chart = new google.visualization.ColumnChart(document.getElementById('columnChartByCognitivePathway'));
            chart.draw(data,opt);
        	
        	window.addEventListener('resize', drawCognitivePathwayChart, false);
        }
        
    </script>

</body>
</html>