<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script
	src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<!-- BEGIN VENDOR CSS-->
<link rel="stylesheet" type="text/css" th:href="@{/css/vendors.css}">
<link rel="stylesheet" type="text/css" th:href="@{/vendors/css/forms/selects/select2.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/vendors/css/tables/datatable/dataTables.bootstrap4.min.css}">
<!-- END VENDOR CSS-->
<!-- BEGIN ROBUST CSS-->
<link rel="stylesheet" type="text/css" th:href="@{/css/app.min.css}">
<!-- END ROBUST CSS-->
<!-- BEGIN Custom CSS-->
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<!-- END Custom CSS-->

</head>
<body>

	<!-- 상단바 replace -->
	<div th:replace="common/statusHeader.html"></div>

	<div class="wrap">
		<div class="app-content content">
			<div class="content-wrapper">
				<div class="content-head row">
					<div class="content-header-left col-md-6 col-12 mb-2">
						<h3 class="content-header-title">고객지원 통계</h3>
					</div>
				</div>

				<div class="content-body">

					<!-- 검색창 -->
					<section class="search_part">
						<form id="search" action="/average/clientSupport" method="get">
							<div class="search_date">
								<label>검색조건</label><br>
								<label>시작일 : &nbsp</label><input class="search_date_input" type="date" name="startDate"> &nbsp ~ &nbsp
								<label>종료일 : &nbsp</label><input class="search_date_input" type="date" name="endDate">
								&nbsp
								<select id="selectDeptName" name="deptName">
									<option value="">- 부서 -</option>
									<option th:each="deptList : ${ deptList }"
										th:value="${ deptList.deptNo }"
										th:text="${ deptList.deptName }"></option>
								</select>
								&nbsp 
								<select id="selectUserName" class="select_box"
									name="responsibility">
									<option value="">- 담당자 -</option>
									<option th:each="userList : ${ userList }"
										th:value="${ userList.userNo }" th:text="${ userList.name }"></option>
								</select>
								&nbsp
								<button class="search_button" type="submit">검색</button>
							</div>
						</form>
					</section>
					<!-- 검색창 end -->

					<!-- 내용은 탭바를 사용하여 표시 -->
					<section id="basic-tabs-components">
						<div class="row match-height">
							<div class="col-xl-12 col-lg-12">
								<div class="card-header"></div>
								<div class="card-content">
									<div class="card-body">
										<ul class="nav nav-tabs nav-underline no-hober-bg">
											<li class="nav-item"><a class="nav-link"
												id="customAll-tab" data-toggle="tab" href="#customAll"
												aria-controls="customAll" aria-expanded="true"> 현황 그래프 </a></li>
											<li class="nav-item"><a class="nav-link"
												id="company-tab" data-toggle="tab" href="#company"
												aria-controls="company" aria-expanded="true"> 고객지원 데이터 </a></li>
										</ul>

										<div class="tab-content px-1 pt-1">
											<div role="tabpanel" class="tab-pane active" id="customAll"
												aria-labelledby="customAll-tab" aria-expanded="true">
												<p>전체현황 내용~</p>
												<div class="col-xl-12 col-lg-12">
													<!-- 고객현황 표 시작 -->
													<div class="col-xl-6 col-lg-12">
														<div class="card">
															<div class="card-header no-border-bottom">
																<h4 class="card-title">
																	고객지원<span th:text="'(*'+ ${ startLocalDate } + '기준)'"></span>
																</h4>
															</div>
															<div class="card-content">
																<div class="table">
																	<table class="table table-hover mb-0">
																		<thead>
																			<tr>
																				<th>구분</th>
																				<th>당월</th>
																				<th>전월</th>
																				<th>평균(3개월)</th>
																			</tr>
																		</thead>
																		<tbody>

																			<tr>
																				<td><span class="badge badge-success">고객지원</span></td>
																				<td th:text="${ graphClientSupportList[0] }"></td>
																				<td th:text="${ graphClientSupportList[1] }"></td>
																				<td th:text="${ graphClientSupportList[2] }"></td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</div>
														</div>
													</div>
													<!-- 고객현황 표 종료 -->

													<!-- 월고객지원 시작 -->
													<div class="col-xl-6 col-lg-12">
														<div class="card">
															<div class="card-header no-border-bottom">
																<h4 class="card-title">
																	고객지원 분류<span th:text="'(*'+ ${ startLocalDate } + '기준)'"></span>
																</h4>
															</div>
															<div class="card-content">
																<div class="col-xl-4 col-lg-6 col-md-12">
																	<div class="card profile-card-with-cover">
																		<div class="card-content card-deck text-center">
																			<div class="card box-shadow">
																				<div class="card-header bg-info">
																					<i class="ft-alert-circle"></i>
																					<h3 class="my-0 font-weight-bold text-white">접수처리</h3>
																				</div>
																				<div class="card-body">
																					<i class="ft-alert-circle"></i>
																					<h1 class="pricing-card-title">
																						<span th:text="${ CSByProcess[2] }"></span>
																						<small class="text-muted">/ 건</small>
																					</h1>
																					<br>
																					<button type="button" th:href="@{/clientCompany/list}"
																						class="btn btn-lg btn-block btn-outline-info">
																						고객사메뉴</button>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="col-xl-4 col-lg-6 col-md-12">
																	<div class="card profile-card-with-cover">
																		<div class="card-content card-deck text-center">
																			<div class="card box-shadow">
																				<div class="card-header bg-warning">
																					<h3 class="my-0 font-weight-bold text-white">진행중</h3>
																				</div>
																				<div class="card-body">
																					<i class="ft-fast-forward"></i>
																					<h1 class="pricing-card-title">
																						<span th:text="${ CSByProcess[0] }"></span>
																						<small class="text-muted">/ 건</small>
																					</h1>
																					<br>
																					<button type="button"
																						class="btn btn-lg btn-block btn-outline-warning">
																						고객메뉴</button>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="col-xl-4 col-lg-6 col-md-12">
																	<div class="card profile-card-with-cover">
																		<div class="card-content card-deck text-center">
																			<div class="card box-shadow">
																				<div class="card-header bg-danger">
																					<h3 class="my-0 font-weight-bold text-white">완료</h3>
																				</div>
																				<div class="card-body">
																					<i class="ft-check-square"></i>
																					<h1 class="pricing-card-title">
																						<span th:text="${ CSByProcess[1] }"></span>
																						<small class="text-muted">/ 건</small>
																					</h1>
																					<br>
																					<button type="button" class="btn btn-lg btn-block btn-outline-danger">
																						잠재고객메뉴</button>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<!-- END 월고객지원 -->
														</div>
													</div>
												</div>

											</div>
											<!-- End 첫번째 tab-panel -->

											<!-- 두번째 tab-panel -->
											<div role="tabpanel" class="tab-pane fade" id="company"
												aria-labelledby="company-tab" aria-expanded="false">
												<span>고객지원</span><span>(</span> <span
													th:text="${ #lists.size(clientSupportList) }"></span><span>)</span>
												<div class="table-responsive">
													<div id="invoices-list_wrapper"
														class="dataTables_wrapper dt-bootstrap4">

														<div class="row">
															<div class="col-sm-12">
																<table id="invoices-list"
																	class="table table-white-space table-bordered row-grouping display no-wrap icheck table-middle">
																	<thead>
																		<tr>
																			<th>순번</th>
																			<th>고객지원번호</th>
																			<th>제목</th>
																			<th>요청일</th>
																			<th>완료요청일</th>
																			<th>완료일</th>
																			<th>경과시간</th>
																			<th>중요도</th>
																			<th>고객번호</th>
																			<th>접수자</th>
																			<th>접수방법</th>
																			<th>작성일자</th>
																			<th>담당자</th>
																			<th>처리구분</th>
																		</tr>
																	</thead>

																	<!-- 고객사 내용 -->
																	<tbody id="companyTbody">
																		<tr th:each="cs, i : ${ clientSupportList }"
																			onclick="location.href='/'">
																			<td th:text="${ i.index + 1 }"></td>
																			<td th:text="${ cs.clientSupportNo }"></td>
																			<td th:text="${ cs.title }"></td>
																			<td th:text="${ cs.requestDate }"></td>
																			<td th:text="${ cs.completeRequestDate }"></td>
																			<td></td>
																			<td></td>
																			<td th:text="${ cs.importance }"></td>
																			<td th:text="${ cs.clientNo }"></td>
																			<td th:text="${ cs.receptionistName } + ' (' + ${ cs.receptionistNo } + ')'"></td>
																			<td th:text="${ cs.receiptWay }"></td>
																			<td th:text="${ cs.writeDate }"></td>
																			<td th:text="${ cs.userName } + ' (' + ${ cs.userNo } + ')'"></td>
																			<td th:text="${ cs.processingDivision }"></td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>
													</div>
												</div>
											</div>

										</div>
										<!-- End card-content -->

									</div>
								</div>
							</div>
						</div>
					</section>

				</div>
			</div>
		</div>
	</div>


</body>
</html>