<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<!-- BEGIN VENDOR CSS-->
<link rel="stylesheet" type="text/css" th:href="@{/css/vendors.css}">
<link rel="stylesheet" type="text/css" th:href="@{/vendors/css/forms/selects/select2.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/vendors/css/tables/datatable/dataTables.bootstrap4.min.css}">
<!-- END VENDOR CSS-->
<!-- BEGIN ROBUST CSS-->
<link rel="stylesheet" type="text/css" th:href="@{/css/app.min.css}">
<!-- END ROBUST CSS-->
<!-- BEGIN Custom CSS-->
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<!-- END Custom CSS-->

<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/average/list.css}">-->

</head>
<body>

	<!-- 상단바 replace -->
	<div th:replace="common/statusHeader.html"></div>

	<div class="wrap">
	<div class="app-content content">
		<div class="content-wrapper">
			<div class="content-head row">
				<div class="content-header-left col-md-6 col-12 mb-2">
					<h3 class="content-header-title">고객 통계</h3>
				</div>
			</div>

			<div class="content-body">
			
				<!-- 검색창 -->
				<section class="search_part">
					
					<form id="search" action="/average/custom" method="get">
						<div class="all_box">
							<div class="part01">
								<div class="search_date">
									<label>검색조건</label><br>
									<label>시작일 : &nbsp</label><input class="search_date_input" type="date" name="startDate"> &nbsp ~ &nbsp
									<label>종료일 : &nbsp</label><input class="search_date_input" type="date" name="endDate">
									&nbsp
								<select id="selectDeptName" class="select_box" name="deptName">
									<option value=""> - 부서 -</option>
									<option th:each="deptList : ${ deptList }"
										th:value="${ deptList.deptNo }" th:text="${ deptList.deptName }"></option>
								</select>
								&nbsp
								<select id="selectUserName" class="select_box" name="responsibility">
									<option value=""> - 담당자 -</option>
									<option th:each="userList : ${ userList }"
										th:value="${ userList.userNo }" th:text="${ userList.name }"></option>
								</select>
								&nbsp
								<button class="search_button" type="submit">검색</button>
								</div>
							</div>
						</div>
					</form>
				</section>
				<!-- 검색창 end -->
				
				<!-- 내용은 탭바를 사용하여 표시 -->
				<section id="basic-tabs-components">
					<div class="row match-height">
						<div class="col-xl-12 col-lg-12">
							<div class="card-header">
							</div>
							<div class="card-content">
								<div class="card-body">
									<ul class="nav nav-tabs nav-underline no-hober-bg">
										<li class="nav-item"><a class="nav-link" id="customAll-tab"
											data-toggle="tab" href="#customAll" aria-controls="customAll"
											aria-expanded="true"> 전체현황 그래프 </a></li>
										<li class="nav-item"><a class="nav-link" id="company-tab"
											data-toggle="tab" href="#company" aria-controls="company"
											aria-expanded="true"> 고객사 </a></li>
										<li class="nav-item"><a class="nav-link" id="client-tab"
											data-toggle="tab" href="#client" aria-controls="client"
											aria-expanded="true"> 고객 </a></li>
										<li class="nav-item"><a class="nav-link"
											id="potentialClient-tab" data-toggle="tab"
											href="#potentialClient" aria-controls="potentialClient"
											aria-expanded="true"> 잠재고객 </a></li>
									</ul>
									
									<!-- tab-pane fade를 꼭 써줘야 지워진다... -->
									<div class="tab-content px-1 pt-1">
										<div role="tabpanel" class="tab-pane fade show active" id="customAll" aria-labelledby="customAll-tab" aria-expanded="true">
											<p>전체현황 내용~</p>
											<div class="col-xl-12 col-lg-12">
												<!-- 고객현황 표 시작 -->
												<div class="col-xl-6 col-lg-12">
													<div class="card">
														<div class="card-header no-border-bottom">
															<h4 class="card-title">신규고객<span th:text="'(*'+ ${ startLocalDate } + '기준)'"></span></h4>
														</div>
														<div class="card-content">
															<div class="table">
																<table class="table table-hover mb-0">
																	<thead>
																		<tr>
																			<th>구분</th>
																			<th>당월</th>
																			<th>전월</th>
																			<th>평균(3개월)</th>
																		</tr>
																	</thead>
																	<tbody>
																		
																		<tr>
																			<td><span class="badge badge-success">고객사</span></td>
																			<td th:text="${ graphCustomList[0] }"></td>
																			<td th:text="${ graphCustomList[1] }"></td>
																			<td th:text="${ graphCustomList[2] }"></td>
																		</tr>
																		<tr>
																			<td><span class="badge badge-warning">고객</span></td>
																			<td th:text="${ graphCustomList[3] }"></td>
																			<td th:text="${ graphCustomList[4] }"></td>
																			<td th:text="${ graphCustomList[5] }"></td>
																		</tr>
																		<tr>
																			<td><span class="badge badge-danger">잠재고객</span></td>
																			<td th:text="${ graphCustomList[6] }"></td>
																			<td th:text="${ graphCustomList[7] }"></td>
																			<td th:text="${ graphCustomList[8] }"></td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>
													</div>
												</div>
												<!-- 고객현황 표 종료 -->
												
												<!-- 구글차트에 쓸 값들을 저장 -->
												<article id="electriccars" 
													th:data-list="${ customByGrade }"
													th:data-s="${ customByGrade[0] }" 
													th:data-a="${ customByGrade[1] }" 
													th:data-b="${ customByGrade[2] }" 
													th:data-c="${ customByGrade[3] }" 
													th:data-d="${ customByGrade[4] }" 
													th:data-f="${ customByGrade[5] }" 
													data-index-number="12314"></article>
												
												<!-- 구글차트 -->
												<script type="text/javascript">
											        //구글차트 
											        google.charts.load('current', {'packages':['corechart']}); 
											        google.charts.setOnLoadCallback(drawChartByGrade);
											        
											        function drawChartByGrade() {
											            var data = new google.visualization.DataTable();
											            data.addColumn('string','Grade');
											            data.addColumn('number','비중');
											            
											            console.log("차트 javascript 실행");
											            
											            var article = document.getElementById('electriccars');
											            
											            data.addRows([ 
											                ['S등급',parseInt(article.dataset.s)],
											                ['A등급',parseInt(article.dataset.a)],
											                ['B등급',parseInt(article.dataset.b)],
											                ['C등급',parseInt(article.dataset.c)],
											                ['D등급',parseInt(article.dataset.d)],
											                ['F등급',parseInt(article.dataset.f)]
											            ]);
											            
											            console.log(data);
											            
											            var opt = {
											                    'title':'고객등급',
											                    'width':'100%',
											                    'height':'100%',
											                    pieSliceText:'label',
											                    legend:'Grade' 
											            };
											            
											            var chart = new google.visualization.PieChart(document.getElementById('pieChartByGrade'));
											            chart.draw(data,opt);
											            
											            window.addEventListener('resize', drawChartByGrade, false);
											        }
										        </script>
												<div class="col-xl-6 col-lg-12" id="pieChartByGrade" style="width: 900px; height: 500px;"></div>
											</div>
											
											<div class="col-xl-12 col-lg-12" id="columnChartByDept" 
											style="width: 1280px; height: 500px; background: E5E5E5;">
												<h3>부서별 고객사 및 고객</h3>
											</div>
										</div>
										<div role="tabpanel" class="tab-pane fade" id="company"	aria-labelledby="company-tab" aria-expanded="false">
											<span>고객사</span><span>(</span>
											<span th:text="${ #lists.size(companyList) }"></span><span>)</span>
											<div class="table-responsive">
												<div id="invoices-list_wrapper" class="dataTables_wrapper dt-bootstrap4">
													<!-- <div class="row">
														<div class="col-sm-12 col-md-6">
															<div class="dataTables_length" id="invoices-list_lenght">
																<label>
																	"Show"
																	<select name="invoices-list_length" aria-controls="invoices-list"
																		class="custom-select custom-select-sm form-control form-control-sm">
																		<option value="10">10</option>
																		<option value="25">25</option>
																		<option value="50">50</option>
																		<option value="200">100</option>
																	</select>
																	"entries"
																</label>
															</div>
														</div>
													</div> -->
													
													<div class="row">
														<div class="col-sm-12">
															<table id="invoices-list" class="table table-white-space table-bordered row-grouping display no-wrap icheck table-middle">
																<thead>
																	<tr>
																		<th>순번</th>
																		<th>고객사번호</th>
																		<th>고객사명</th>
																		<th>진행상태</th>
																		<th>매출</th>
																		<th>작성일자</th>
																		<th>등급</th>
																		<th>담당자</th>
																		<th>사업자번호</th>
																		<th>유선전번호</th>
																		<th>팩스번호</th>
																		<th>웹사이트</th>
																		<th>우편번호</th>
																		<th>주소</th>
																		<th>상세주소</th>
																		<th>구분</th>
																		<th>사원수</th>
																	</tr>
																</thead>
						
																<!-- 고객사 내용 -->
																<tbody id="companyTbody">
																	<tr th:each="company, i : ${ companyList }"
																		onclick="location.href='/'">
																		<td th:text="${ i.index + 1 }"></td>
																		<td th:text="${ company.clientCompanyNo }"></td>
																		<td th:text="${ company.clientCompanyName }"></td>
																		<td th:text="${ company.progressStatus }"></td>
																		<td th:text="${ company.sales }"></td>
																		<td th:text="${ company.writeDate }"></td>
																		<td th:text="${ company.grade }"></td>
																		<td th:text="${ company.userNameStr }"></td>
																		<td th:text="${ company.businessNo }"></td>
																		<td th:text="${ company.landlineTel }"></td>
																		<td th:text="${ company.fax }"></td>
																		<td th:text="${ company.website }"></td>
																		<td th:text="${ company.zipCode }"></td>
																		<td th:text="${ company.address }"></td>
																		<td th:text="${ company.detailedAddress }"></td>
																		<td th:text="${ company.division }"></td>
																		<td th:text="${ company.employeeNo }"></td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
													
												</div>
												
											</div>
										</div>
										<div role="tabpanel" class="tab-pane fade" id="client"
											aria-labelledby="client-tab" aria-expanded="false">
											<p>고객 내용~</p>
											<div class="table-responsive">
												<table id="invoices-list"
													class="table table-white-space table-bordered row-grouping display no-wrap icheck table-middle">
													<thead>
														<tr>
															<th>순번</th>
															<th>고객번호</th>
															<th>고객명</th>
															<th>부서</th>
															<th>직책</th>
															<th>작성일자</th>
															<th>휴대폰번호</th>
															<th>유선전번호</th>
															<th>메일</th>
															<th>키맨여부</th>
															<th>담당자</th>
															<th>등급</th>
															<th>고객사번호</th>
														</tr>
													</thead>
			
													<!-- 고객사 내용 -->
													<tbody id="clientTbody">
														<tr th:each="client, i : ${ clientList }"
															onclick="location.href='select?clientNo=' + '${client.clientNo}'">
															<td th:text="${ i.index + 1 }"></td>
															<td th:text="${ client.clientNo }"></td>
															<td th:text="${ client.clientName }"></td>
															<td th:text="${ client.dept }"></td>
															<td th:text="${ client.job }"></td>
															<td th:text="${ client.writeDate }"></td>
															<td th:text="${ client.phone }"></td>
															<td th:text="${ client.landlineTel }"></td>
															<td th:text="${ client.email }"></td>
															<td th:text="${ client.keyMan }"></td>
															<td th:text="${ client.userName } + ' (' + ${ client.userNo } + ')'"></td>
															<td th:text="${ client.grade }"></td>
															<td th:text="${ client.clientCompanyNo }"></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										<div role="tabpanel" class="tab-pane fade" id="potentialClient"
											aria-labelledby="potentialClient-tab" aria-expanded="false">
											<p>잠재고객 내용~</p>
											<div class="table-responsive">
												<table id="invoices-list"
													class="table table-white-space table-bordered row-grouping display no-wrap icheck table-middle">
													<thead>
														<tr>
															<th>순번</th>
															<th>잠재고객번호</th>
															<th>이름</th>
															<th>고객사</th>
															<th>부서</th>
															<th>작성일자</th>
															<th>직책</th>
															<th>접촉구분</th>
															<th>접촉상태</th>
															<th>휴대전화번호</th>
															<th>유선전화번호</th>
															<th>메일</th>
															<th>팩스번호</th>
															<th>우편번호</th>
															<th>주소</th>
															<th>상세주소</th>
															<th>작성자</th>
															<th>등급</th>
														</tr>
													</thead>
			
													<!-- 고객사 내용 -->
													<tbody id="potentialClientTbody">
														<tr th:each="pc, i : ${ potentialClientList }"
															onclick="location.href='/'">
															<td th:text="${ i.index + 1 }"></td>
															<td th:text="${ pc.potentialClientNo }"></td>
															<td th:text="${ pc.name }"></td>
															<td th:text="${ pc.clientCompany }"></td>
															<td th:text="${ pc.department }"></td>
															<td th:text="${ pc.writeDate }"></td>
															<td th:text="${ pc.position }"></td>
															<td th:text="${ pc.contactDivision }"></td>
															<td th:text="${ pc.contactState }"></td>
															<td th:text="${ pc.phone }"></td>
															<td th:text="${ pc.landlineTel }"></td>
															<td th:text="${ pc.mail }"></td>
															<td th:text="${ pc.fax }"></td>
															<td th:text="${ pc.zipCode }"></td>
															<td th:text="${ pc.address }"></td>
															<td th:text="${ pc.detailedAddress }"></td>
															<td th:text="${ pc.userName } + ' (' + ${ pc.userNo } + ')'"></td>
															<td th:text="${ pc.grade }"></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<!-- End tab-content -->
								</div>
							</div>
							<!-- End card-content -->
							
						</div>
					</div>
				</section>
				
			</div>
		</div>
	</div>
	</div>
	
	<!-- BEGIN VENDOR JS-->
    <script th:src="@{/vendors/js/vendors.min.js}"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script th:src="@{/vendors/js/ui/jquery.sticky.js}"></script>
    <script th:src="@{/vendors/js/charts/jquery.sparkline.min.js}"></script>
    <script th:src="@{/vendors/js/tables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendors/js/tables/dataTable/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/vendors/js/forms/icheck/icheck.min.js}"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN ROBUST JS-->
    <script th:src="@{/js/core/app-menu.min.js}"></script>
    <script th:src="@{/js/core/app.min.js}"></script>
    <script th:src="@{/js/scripts/customizer.min.js}"></script>
    <!-- END ROBUST JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script th:src="@{/js/scripts/ui/breadcrumbs-with-stats.min.js}"></script>
    <script th:src="@{/js/scripts/modal/components-modal.js}"></script>
    <script th:src="@{/js/scripts/pages/invoices-list.min.js}"></script>
    <!-- END PAGE LEVEL JS-->

</body>
</html>