<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<!-- BEGIN VENDOR CSS-->
<link rel="stylesheet" type="text/css" th:href="@{/css/vendors.css}">
<link rel="stylesheet" type="text/css" th:href="@{/vendors/css/forms/selects/select2.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/vendors/css/tables/datatable/dataTables.bootstrap4.min.css}">
<!-- END VENDOR CSS-->
<!-- BEGIN ROBUST CSS-->
<link rel="stylesheet" type="text/css" th:href="@{/css/app.min.css}">
<!-- END ROBUST CSS-->
<!-- BEGIN Custom CSS-->
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<!-- END Custom CSS-->
</head>
<body>

<!-- 상단바 replace -->
<div th:replace="common/statusHeader.html"></div>

<div class="wrap">
	<div class="app-content content">
		<div class="content-wrapper">
			<div class="content-head row">
				<div class="content-header-left col-md-6 col-12 mb-2">
					<h3 class="content-header-title">종합통계</h3>
			
				<!-- 검색창 -->
				<section class="search_part">
					<form id="search" action="/average/main" method="get">
						<div class="all_box">
							<div class="part01">
								<div class="search_date">
									<label>시작일 : </label><input class="search_date_input" type="date" name="startDate">~
									<label>종료일 : </label><input class="search_date_input" type="date" name="endDate">
								<select id="selectDeptName" name="deptName">
									<option value=""> - 부서 -</option>
									<option th:each="deptList : ${ deptList }"
										th:value="${ deptList.deptNo }" th:text="${ deptList.deptName }"></option>
								</select> 
								<select id="selectUserName" name="responsibility">
									<option value=""> - 담당자 -</option>
									<option th:each="userList : ${ userList }"
										th:value="${ userList.userNo }" th:text="${ userList.name }"></option>
								</select>
								<button class="search_button" type="submit">검색</button>
								</div>
							</div>
						</div>
					</form>
				</section>
				<!-- 검색창 end -->
				</div>
			</div>
				
			<div class="content-body">
				<section style="justify-content: left; overflow: visible;">
					<div class="row">
						<!-- 왼쪽 half row -->
						<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
							<div class="card">
								<div class="card-content">
									<div class="card-header">
										<h4 class="card-title">신규고객&nbsp<span th:text="'(*'+ ${ startLocalDate } + '기준)'"></span></h4>
									</div>
									<div class="card-body">
										<div class="row">
											<div class="col-lg-4 col-sm-6 border-right-blue-grey border-right-lighten-5">
					                            <div class="pb-1">
					                                <div class="clearfix mb-1">
					                                    <i class="icon-star font-large-1 blue-grey float-left mt-1"></i>
					                                    <span class="font-large-2 text-bold-300 info float-right"
					                                    	th:text="${ badgeCustomThisMonthList[0] }"></span>
					                                </div>
					                                <div class="clearfix">
					                                    <span class="text-muted">고객사</span>
					                                </div>
					                            </div>
					                        </div>
					                        <div class="col-lg-4 col-sm-6 border-right-blue-grey border-right-lighten-5">
					                            <div class="pb-1">
					                                <div class="clearfix mb-1">
					                                    <i class="icon-user font-large-1 blue-grey float-left mt-1"></i>
					                                    <span class="font-large-2 text-bold-300 danger float-right"
					                                    	th:text="${ badgeCustomThisMonthList[1] }"></span>
					                                </div>
					                                <div class="clearfix">
					                                    <span class="text-muted">고객</span>
					                                </div>
					                            </div>
					                        </div>
					                        <div class="col-lg-4 col-sm-6 border-right-blue-grey border-right-lighten-5">
					                            <div class="pb-1">
					                                <div class="clearfix mb-1">
					                                    <i class="icon-shuffle font-large-1 blue-grey float-left mt-1"></i>
					                                    <span class="font-large-2 text-bold-300 warning float-right"
					                                    	th:text="${ badgeCustomThisMonthList[2] }"></span>
					                                </div>
					                                <div class="clearfix">
					                                    <span class="text-muted">잠재고객</span>
					                                </div>
					                            </div>
					                        </div>
				                        </div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-content">
									<div class="card-header"><h4 class="card-title">영업매출</h4></div>
									<div class="card-body">
										<div class="row" style="justify-content: left; overflow: visible;">
											<div class="col-xl-4 col-lg-4">
												<div class="card profile-card-with-cover">
													<div class="card-content card-deck text-center">
														<div class="card box-shadow">
															<div class="card-header bg-info">
																<h3 class="my-0 font-weight-bold text-white">합계</h3>
															</div>
															<div class="card-body">
																<i class="ft-bar-chart"></i>
																<br>
																<br>
																<h1 class="pricing-card-title">
																	<span th:text="${ quantitySum }"></span> 
																	<small class="text-muted">/ 건</small><br> 
																	<span th:text="${ #numbers.formatInteger(sumSum, 3, 'COMMA')}"></span>
																	<small class="text-muted">/ 원</small>
																</h1>
																<br>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-xl-4 col-lg-4">
												<div class="card profile-card-with-cover">
													<div class="card-content card-deck text-center">
														<div class="card box-shadow">
															<div class="card-header bg-warning">
																<h3 class="my-0 font-weight-bold text-white">평균</h3>
															</div>
															<div class="card-body">
																<i class="ft-layers"></i> <br>
																<br>
																<h1 class="pricing-card-title">
																	<span th:text="${ quantityAvg }"></span>
																	<small class="text-muted">/ 건</small><br> 
																	<span th:text="${ #numbers.formatInteger(sumAvg, 3, 'COMMA')}"></span>
																	<small class="text-muted">/원</small>
																</h1>
																<br>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-xl-4 col-lg-4">
												<div class="card profile-card-with-cover">
													<div class="card-content card-deck text-center">
														<div class="card box-shadow">
															<div class="card-header bg-danger">
																<h3 class="my-0 font-weight-bold text-white">최대</h3>
															</div>
															<div class="card-body">
																<i class="ft-flag"></i> <br>
																<br>
																<h1 class="pricing-card-title">
																	<span th:text="${ quantityMax }"></span>
																	<small class="text-muted">/ 건</small><br>
																	<span th:text="${ #numbers.formatInteger(sumMax, 3, 'COMMA')}"></span>
																	<small class="text-muted">/ 원</small>
																</h1>
																<br>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<!-- 오른쪽 half row -->
						<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
							<div class="card">
								<div class="card-content">
									<div class="card-header">
										<h4 class="card-title">영업기회/활동&nbsp<span th:text="'(*'+ ${ startLocalDate } + '기준)'"></span></h4>
									</div>
									<div class="card-body">
										<div class="table">
											<table class="table table-hover mb-0">
												<thead>
													<tr>
														<th>구분</th>
														<th>당월</th>
														<th>전월</th>
														<th>평균(3개월)</th>
													</tr>
												</thead>
												<tbody>

													<tr>
														<td><span class="badge badge-info">영업기회</span></td>
														<td th:text="${ tableBusinessOpportunityList[0] }"></td>
														<td th:text="${ tableBusinessOpportunityList[1] }"></td>
														<td th:text="${ tableBusinessOpportunityList[2] }"></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-content">
									<div class="card-header">
										<h4 class="card-title">고객지원&nbsp<span th:text="'(*'+ ${ startLocalDate } + '기준)'"></span>
									</h4></div>
									<div class="card-body">
										<div class="table">
											<table class="table table-hover mb-0">
												<thead>
													<tr>
														<th>구분</th>
														<th>당월</th>
														<th>전월</th>
														<th>평균(3개월)</th>
													</tr>
												</thead>
												<tbody>

													<tr>
														<td><span class="badge badge-warning">월별</span></td>
														<td th:text="${ tableClientSupportList[0] }"></td>
														<td th:text="${ tableClientSupportList[1] }"></td>
														<td th:text="${ tableClientSupportList[2] }"></td>
													</tr>
												</tbody>
											</table>
										</div>
										
										<div class="table">
											<table class="table table-hover mb-0">
												<thead>
													<tr>
														<th>구분</th>
														<th>접수처리</th>
														<th>진행중</th>
														<th>완료</th>
													</tr>
												</thead>
												<tbody>

													<tr>
														<td><span class="badge badge-success">진행단계별</span></td>
														<td th:text="${ tableClientSupportList[2] }"></td>
														<td th:text="${ tableClientSupportList[0] }"></td>
														<td th:text="${ tableClientSupportList[1] }"></td>
													</tr>
												</tbody>
											</table>
										</div>
									
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				
				<!-- 기타 내용 추가 시, 공간 -->
				<section>
					<div class="row"></div>
					<div class="row"></div>
				</section>
			</div>
		</div>
	</div>
</div>




</body>
</html>