<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script	src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<!-- BEGIN VENDOR CSS-->
<link rel="stylesheet" type="text/css" th:href="@{/css/vendors.css}">
<link rel="stylesheet" type="text/css" th:href="@{/vendors/css/forms/selects/select2.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/vendors/css/tables/datatable/dataTables.bootstrap4.min.css}">
<!-- END VENDOR CSS-->
<!-- BEGIN ROBUST CSS-->
<link rel="stylesheet" type="text/css" th:href="@{/css/app.min.css}">
<!-- END ROBUST CSS-->

</head>
<body>

	<!-- 상단바 replace -->
	<div th:replace="common/statusHeader.html"></div>

	<div class="wrap">
		<div class="app-content content">
			<div class="content-wrapper">
				<div class="content-head row">
					<div class="content-header-left col-md-6 col-12 mb-2">
						<h3 class="conten1t-header-title">담당자별 판매 통계</h3>
					</div>
				</div>

				<div class="content-body">

					<!-- 검색창 -->
					<section class="search_part">

						<form id="search" action="/average/salesRepresentative" method="get">
							<div class="search">
								<label>검색조건</label>
								&nbsp
								<select name="year">
									<option value="">- 연도 -</option>
									<option th:each="year : ${ yearList }"
										th:value="${ year }"
										th:text="${ year }"></option>
								</select>
								&nbsp
								<select name="responsibility">
									<option value=""> - 담당자 -</option>
									<option th:each="userList : ${ userList }"
										th:value="${ userList.userNo }" th:text="${ userList.name }"></option>
								</select>
								&nbsp
								<button class="search_button" type="submit">검색</button>
							</div>
						</form>
					</section>
					<!-- 검색창 end -->

					<!-- 그래프 부분 START -->
					<section id="basic-tabs-components">
						<div class="row match-height">
							<div class="col-xl-12 col-lg-12">
								<div class="card-header"></div>
								<div class="card-content">
									<div class="card-body">
										<div>
											<p>담당자별 판매 현황 그래프(총합)</p>
											<div class="col-xl-12 col-lg-12" style="justify-content: left; overflow: visible;">
												
												<!-- 구글차트에 쓸 값들을 저장 -->
												<article id="salesRepresentativeList" 
													th:data-data1="${ averageAllSumSRDTO.sumMap[0] }" 
													th:data-data2="${ averageAllSumSRDTO.sumMap[1] }" 
													th:data-data3="${ averageAllSumSRDTO.sumMap[2] }" 
													th:data-data4="${ averageAllSumSRDTO.sumMap[3] }" 
													th:data-data5="${ averageAllSumSRDTO.sumMap[4] }" 
													th:data-data6="${ averageAllSumSRDTO.sumMap[5] }" 
													th:data-data7="${ averageAllSumSRDTO.sumMap[6] }" 
													th:data-data8="${ averageAllSumSRDTO.sumMap[7] }" 
													th:data-data9="${ averageAllSumSRDTO.sumMap[8] }" 
													th:data-data10="${ averageAllSumSRDTO.sumMap[9] }" 
													th:data-data11="${ averageAllSumSRDTO.sumMap[10] }" 
													th:data-data12="${ averageAllSumSRDTO.sumMap[11] }" 
													>
												</article>
												
												<!-- 구글차트 시작 -->
												<script type="text/javascript">
											        //구글차트 
											        google.charts.load('current', {'packages':['corechart']}); 
											        google.charts.setOnLoadCallback(drawSalesSumChart);
											        
											        function drawSalesSumChart() {
											            var data = new google.visualization.DataTable();
											            data.addColumn('string','월');
											            data.addColumn('number','매출액');
											            
											            console.log("차트 javascript 실행");
											            
											            var article = document.getElementById('salesRepresentativeList');
											            
											            data.addRows([ 
											                ['1월',parseInt(article.dataset.data1)],
											                ['2월',parseInt(article.dataset.data2)],
											                ['3월',parseInt(article.dataset.data3)],
											                ['4월',parseInt(article.dataset.data4)],
											                ['5월',parseInt(article.dataset.data5)],
											                ['6월',parseInt(article.dataset.data6)],
											                ['7월',parseInt(article.dataset.data7)],
											                ['8월',parseInt(article.dataset.data8)],
											                ['9월',parseInt(article.dataset.data9)],
											                ['10월',parseInt(article.dataset.data10)],
											                ['11월',parseInt(article.dataset.data11)],
											                ['12월',parseInt(article.dataset.data12)]
											            ]);
											            
											            console.log(data);
											            
											            var opt = {
											                    'title':'담당자별 판매통계(매출액)',
											                    'width':'100%',
											                    'height': 500,
											                    pieSliceText:'label',
											                    legend:'월',
											                    color: '#e49307'
											            };
											            
											            var chart = new google.visualization.ColumnChart(document.getElementById('columnChartSales'));
											            chart.draw(data,opt);
											            window.addEventListener('resize', drawSalesSumChart, false);
											        }
										        </script>
										        
												<div class="col-xl-12 col-lg-12 col-md-12">
													<div id="columnChartSales" style="width: 900px; height:500px"></div>
												</div>
												<!-- 구글차트 끝 -->
												
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- 그래프 부분 END -->
					
					<!-- 표 부분 START -->
					<section id="basic-tabs-components">
						<div class="row match-height">
							<div class="col-xl-12 col-lg-12">
								<div class="card-header"></div>
								<div class="card-content">
									<div class="card-body">
										<div>
											<div>
												<span>담당자별 월 판매 표</span>&nbsp
												<span style="color: red">*</span><span>(연도 : </span>
												<span th:text="${ year }"></span>
												<span>, 담당자 : </span>
												<span th:if="${ responsibility } != null" th:text="${ responsibility }"></span>
												<span th:if="${ responsibility } == null" th:text="전체 "></span>
												<span>) 기준</span>
												<span>(</span><span th:text="${ #lists.size(srListList) }" style="font-style: bold"></span><span> 명)</span>
											</div>
											<div class="table-responsive">
												<div id="invoices-list_wrapper"	class="dataTables_wrapper dt-bootstrap4">
													<div class="row">
														<div class="col-sm-12">
															<table id="invoices-list"
																class="table table-white-space table-bordered display no-wrap table-middle">
																<thead>
																	<tr>
																		<th>담당자</th>
																		<th th:each="m : ${ #numbers.sequence(1, 12) }"	th:text="${ m }"></th>
																		<th>합계</th>
																	</tr>
																</thead>

																<tbody>
																	<tr th:each="srList : ${ srListList }">
																		<td th:text="${ srList.name }"></td>
																		<td th:each="sr : ${ srList.salesByResponsibility }" th:text="${ sr }" class="commaN"></td>
																		<td th:text="${ srList.sum }" class="commaN"></td>
																	</tr>
																	
																	<tr style="background-color: LightGrey">
																		<td th:text="${ averageAllSumSRDTO.name }"></td>
																		<td th:each="sm : ${ averageAllSumSRDTO.sumMap }" th:text="${ sm.value }" class="commaN"></td>
																		<td th:text="${ averageAllSumSRDTO.sum } " class="commaN"></td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- 표 부분 END -->
					
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/js/average/commaN.js}"></script>

	<!-- BEGIN VENDOR JS-->
    <script th:src="@{/vendors/js/vendors.min.js}"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script th:src="@{/vendors/js/ui/jquery.sticky.js}"></script>
    <script th:src="@{/vendors/js/charts/jquery.sparkline.min.js}"></script>
    <script th:src="@{/vendors/js/tables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendors/js/tables/dataTable/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/vendors/js/forms/icheck/icheck.min.js}"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN ROBUST JS-->
    <script th:src="@{/js/core/app-menu.min.js}"></script>
    <script th:src="@{/js/core/app.min.js}"></script>
    <script th:src="@{/js/scripts/customizer.min.js}"></script>
    <!-- END ROBUST JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script th:src="@{/js/scripts/ui/breadcrumbs-with-stats.min.js}"></script>
    <script th:src="@{/js/scripts/modal/components-modal.js}"></script>
    <script th:src="@{/js/scripts/pages/invoices-list.min.js}"></script>
    <!-- END PAGE LEVEL JS-->

</body>
</html>