<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script
	src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
<script type="text/javascript"
	src="https://www.gstatic.com/charts/loader.js"></script>

<!-- BEGIN VENDOR CSS-->
<link rel="stylesheet" type="text/css" th:href="@{/css/vendors.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/vendors/css/forms/selects/select2.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/vendors/css/tables/datatable/dataTables.bootstrap4.min.css}">
<!-- END VENDOR CSS-->
<!-- BEGIN ROBUST CSS-->
<link rel="stylesheet" type="text/css" th:href="@{/css/app.min.css}">
<!-- END ROBUST CSS-->
<!-- BEGIN Custom CSS-->
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<!-- END Custom CSS-->

</head>
<body>

	<!-- 상단바 replace -->
	<div th:replace="common/statusHeader.html"></div>

	<div class="wrap">
		<div class="app-content content">
			<div class="content-wrapper">
				<div class="content-head row">
					<div class="content-header-left col-md-6 col-12 mb-2">
						<h3 class="content-header-title">판매 통계</h3>
					</div>
				</div>

				<div class="content-body">

					<!-- 검색창 -->
					<section class="search_part">

						<form id="search" action="/average/sales" method="get">
							<div class="all_box">
								<div class="part01">
									<div class="search_date">
										<label>검색조건</label>&nbsp <select id="selectYear"
											class="select_box" name="year">
											<option value="">- 연도 -</option>
											<option th:each="year : ${ yearList }" th:value="${ year }"
												th:text="${ year }"></option>
										</select> &nbsp
										<button class="search_button" type="submit">검색</button>
									</div>
								</div>
							</div>
						</form>
					</section>
					<!-- 검색창 end -->
					
					<!-- 월 통계 부분 START -->
					<section id="basic-tabs-components">
						<h4 class="card-title">숫자통계(
							<span style="color: red">*</span>
							<span th:text="${ year } + '기준)'"></span>
						</h4>
						<div class="row" style="justify-content: left; overflow: visible;">
							<div class="col-xl-4 col-lg-4">
								<div class="card profile-card-with-cover">
									<div class="card-content card-deck text-center">
										<div class="card box-shadow">
											<div class="card-header bg-info">
												<h3 class="my-0 font-weight-bold text-white">합계</h3>
											</div>
											<div class="card-body">
												<i class="ft-bar-chart"></i>
												<br>
												<br>
												<h1 class="pricing-card-title">
													<span th:text="${ quantitySum }"></span> 
													<small class="text-muted">/ 건</small><br> 
													<span th:text="${ sumSum }" class="commaN"></span> 
													<small class="text-muted">/ 원</small>
												</h1>
												<br>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-4 col-lg-4">
								<div class="card profile-card-with-cover">
									<div class="card-content card-deck text-center">
										<div class="card box-shadow">
											<div class="card-header bg-warning">
												<h3 class="my-0 font-weight-bold text-white">평균</h3>
											</div>
											<div class="card-body">
												<i class="ft-layers"></i> <br>
												<br>
												<h1 class="pricing-card-title">
													<span th:text="${ quantityAvg }"></span> <small
														class="text-muted">/ 건</small><br> <span
														th:text="${ sumAvg }"></span> <small class="text-muted">/원</small>
												</h1>
												<br>

											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-4 col-lg-4">
								<div class="card profile-card-with-cover">
									<div class="card-content card-deck text-center">
										<div class="card box-shadow">
											<div class="card-header bg-danger">
												<h3 class="my-0 font-weight-bold text-white">최대</h3>
											</div>
											<div class="card-body">
												<i class="ft-flag"></i> <br>
												<br>
												<h1 class="pricing-card-title">
													<span th:text="${ quantityMax }"></span> <small
														class="text-muted">/ 건</small><br> <span
														th:text="${ sumMax }" class="commaN"></span> <small
														class="text-muted">/ 원</small>
												</h1>
												<br>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xl-12 col-lg-12">
								<div class="card-content">
									<div class="card-body"
										style="justify-content: left; overflow: visible;">

										<!-- 구글차트에 쓸 값들을 저장 -->
										<article id="salesList"
											th:data-quantity1="${ quantityList[0] }"
											th:data-quantity2="${ quantityList[1] }"
											th:data-quantity3="${ quantityList[2] }"
											th:data-quantity4="${ quantityList[3] }"
											th:data-quantity5="${ quantityList[4] }"
											th:data-quantity6="${ quantityList[5] }"
											th:data-quantity7="${ quantityList[6] }"
											th:data-quantity8="${ quantityList[7] }"
											th:data-quantity9="${ quantityList[8] }"
											th:data-quantity10="${ quantityList[9] }"
											th:data-quantity11="${ quantityList[10] }"
											th:data-quantity12="${ quantityList[11] }"
											th:data-sum1="${ sumList[0] }" th:data-sum2="${ sumList[1] }"
											th:data-sum3="${ sumList[2] }" th:data-sum4="${ sumList[3] }"
											th:data-sum5="${ sumList[4] }" th:data-sum6="${ sumList[5] }"
											th:data-sum7="${ sumList[6] }" th:data-sum8="${ sumList[7] }"
											th:data-sum9="${ sumList[8] }"
											th:data-sum10="${ sumList[9] }"
											th:data-sum11="${ sumList[10] }"
											th:data-sum12="${ sumList[11] }"></article>

										<!-- 구글차트 2개 시작 -->
										<div class="col-xl-9 col-lg-9 col-md-9">
											<div id="columnChartSales1"
												style="width: 900px; height: 500px"></div>
											<div id="columnChartSales2"
												style="width: 900px; height: 500px"></div>
										</div>
										<!-- End 구글차트 2개 -->



									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- 그래프 부분 END -->

					<!-- 표 부분 START -->
					<section id="basic-tabs-components">
						<div class="row match-height">
							<div class="col-xl-12 col-lg-12">
								<div class="card-header"></div>
								<div class="card-content">
									<div class="card-body">
										<div>
											<span>연 판매 표(</span> <span style="color: red">*</span> <span
												th:text="${ year } + '기준)'"></span>
											<div class="table-responsive">
												<div id="invoices-list_wrapper"
													class="dataTables_wrapper dt-bootstrap4">
													<div class="row">
														<div class="col-sm-12">
															<table id="invoices-list"
																class="table table-white-space table-bordered display no-wrap icheck table-middle">
																<thead>
																	<tr>
																		<th>구분</th>
																		<th th:each="m : ${ #numbers.sequence(1, 12) }"
																			th:text="${ m }"></th>
																	</tr>
																</thead>

																<tbody>
																	<tr>
																		<td>수량 (/건)</td>
																		<td th:each="q : ${ quantityList }" th:text="${ q }"
																			class="commaN"></td>
																	</tr>
																	<tr>
																		<td>판매액 (/원)</td>
																		<td th:each="s : ${ sumList }" th:text="${ s }"
																			class="commaN"></td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- 표 부분 END -->

				</div>
			</div>
		</div>
	</div>

	<!-- 구글차트 시작 -->
	<script type="text/javascript">
						        //구글차트 
						        google.charts.load('current', {'packages':['corechart']}); 
						        google.charts.setOnLoadCallback(drawSalesQuantityChart);
						        google.charts.setOnLoadCallback(drawSalesSumChart);
						        
						        function drawSalesQuantityChart() {
						            var data = new google.visualization.DataTable();
						            data.addColumn('string','월');
						            data.addColumn('number','건수');
						            
						            console.log("차트 javascript 실행");
						            
						            var article = document.getElementById('salesList');
						            
						            data.addRows([ 
						                ['1월',parseInt(article.dataset.quantity1)],
						                ['2월',parseInt(article.dataset.quantity2)],
						                ['3월',parseInt(article.dataset.quantity3)],
						                ['4월',parseInt(article.dataset.quantity4)],
						                ['5월',parseInt(article.dataset.quantity5)],
						                ['6월',parseInt(article.dataset.quantity6)],
						                ['7월',parseInt(article.dataset.quantity7)],
						                ['8월',parseInt(article.dataset.quantity8)],
						                ['9월',parseInt(article.dataset.quantity9)],
						                ['10월',parseInt(article.dataset.quantity10)],
						                ['11월',parseInt(article.dataset.quantity11)],
						                ['12월',parseInt(article.dataset.quantity12)]
						            ]);
						            
						            console.log(data);
						            
						            var opt = {
						                    'title':'판매통계(건수)',
						                    'width':'100%',
						                    'height': 500,
						                    pieSliceText:'label',
						                    legend:'월' 
						            };
						            
						            var chart = new google.visualization.ColumnChart(document.getElementById('columnChartSales1'));
						            chart.draw(data,opt);
						            window.addEventListener('resize', drawSalesQuantityChart, false);
						        }
						        
						        function drawSalesSumChart() {
						            var data = new google.visualization.DataTable();
						            data.addColumn('string','년도');
						            data.addColumn('number','매출액');
						            
						            console.log("차트 javascript 실행");
						            
						            var article = document.getElementById('salesList');
						            
						            data.addRows([ 
						                ['1월',parseInt(article.dataset.sum1)],
						                ['2월',parseInt(article.dataset.sum2)],
						                ['3월',parseInt(article.dataset.sum3)],
						                ['4월',parseInt(article.dataset.sum4)],
						                ['5월',parseInt(article.dataset.sum5)],
						                ['6월',parseInt(article.dataset.sum6)],
						                ['7월',parseInt(article.dataset.sum7)],
						                ['8월',parseInt(article.dataset.sum8)],
						                ['9월',parseInt(article.dataset.sum9)],
						                ['10월',parseInt(article.dataset.sum10)],
						                ['11월',parseInt(article.dataset.sum11)],
						                ['12월',parseInt(article.dataset.sum12)]
						            ]);
						            
						            console.log(data);
						            
						            var opt = {
						                    'title':'판매통계(매출액)',
						                    'width':'100%',
						                    'height': 500,
						                    pieSliceText:'label',
						                    legend:'월',
						                    color: '#e49307'
						            };
						            
						            var chart = new google.visualization.ColumnChart(document.getElementById('columnChartSales2'));
						            chart.draw(data,opt);
						            window.addEventListener('resize', drawSalesSumChart, false);
						        }
					        </script>


	<!-- 구글차트 끝 -->

	<script th:src="@{/js/average/commaN.js}"></script>
	<!-- BEGIN VENDOR JS-->
	<script th:src="@{/vendors/js/vendors.min.js}"></script>
	<!-- BEGIN VENDOR JS-->
	<!-- BEGIN PAGE VENDOR JS-->
	<script th:src="@{/vendors/js/ui/jquery.sticky.js}"></script>
	<script th:src="@{/vendors/js/charts/jquery.sparkline.min.js}"></script>
	<script th:src="@{/vendors/js/tables/jquery.dataTables.min.js}"></script>
	<script
		th:src="@{/vendors/js/tables/dataTable/dataTables.bootstrap4.min.js}"></script>
	<script th:src="@{/vendors/js/forms/icheck/icheck.min.js}"></script>
	<!-- END PAGE VENDOR JS-->
	<!-- BEGIN ROBUST JS-->
	<script th:src="@{/js/core/app-menu.min.js}"></script>
	<script th:src="@{/js/core/app.min.js}"></script>
	<script th:src="@{/js/scripts/customizer.min.js}"></script>
	<!-- END ROBUST JS-->
	<!-- BEGIN PAGE LEVEL JS-->
	<script th:src="@{/js/scripts/ui/breadcrumbs-with-stats.min.js}"></script>
	<script th:src="@{/js/scripts/modal/components-modal.js}"></script>
	<script th:src="@{/js/scripts/pages/invoices-list.min.js}"></script>
	<!-- END PAGE LEVEL JS-->

</body>
</html>