<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script
	src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
<script type="text/javascript"
	src="https://www.gstatic.com/charts/loader.js"></script>

<!-- BEGIN VENDOR CSS-->
<link rel="stylesheet" type="text/css" th:href="@{/css/vendors.css}">
<link rel="stylesheet" type="text/css" th:href="@{/vendors/css/forms/selects/select2.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/vendors/css/tables/datatable/dataTables.bootstrap4.min.css}">
<!-- END VENDOR CSS-->
<!-- BEGIN ROBUST CSS-->
<link rel="stylesheet" type="text/css" th:href="@{/css/app.min.css}">
<!-- END ROBUST CSS-->
<!-- BEGIN Custom CSS-->
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<!-- END Custom CSS-->

</head>
<body>

	<!-- 상단바 replace -->
	<div th:replace="common/statusHeader.html"></div>

	<div class="wrap">
		<div class="app-content content">
			<div class="content-wrapper">
				<div class="content-head row">
					<div class="content-header-left col-md-6 col-12 mb-2">
						<h3 class="content-header-title">그룹별 판매 통계</h3>
					</div>
				</div>

				<div class="content-body">

					<!-- 검색창 -->
					<section class="search_part">

						<form id="search" action="/average/salesGroup" method="get">
							<div class="all_box">
								<div class="part01">
									<div class="search_date">
										<label>검색조건</label>&nbsp
										<select id="selectYear" name="year">
											<option value="">- 연도 -</option>
											<option th:each="year : ${ yearList }"
												th:value="${ year }"
												th:text="${ year }"></option>
										</select>
										&nbsp
										<select id="selectDeptName" name="deptName">
											<option value=""> - 부서 -</option>
											<option th:each="deptList : ${ deptList }"
											th:value="${ deptList.deptNo }" th:text="${ deptList.deptName }"></option>
										</select>
										&nbsp
										<select id="selectProductName" name="productNo">
											<option value=""> - 상품 -</option>
											<option th:each="productList : ${ productList }"
											th:value="${ productList.productNo }" th:text="${ productList.productName }"></option>
										</select>
										&nbsp
										<button class="search_button" type="submit">검색</button>
									</div>
								</div>
							</div>
						</form>
					</section>
					<!-- 검색창 end -->

					<!-- 그래프 부분 START -->
					<section id="basic-tabs-components">
						<div class="row match-height">
							<div class="col-xl-12 col-lg-12">
								<div class="card-header"></div>
								<div class="card-content">
									<div class="card-body">
										<div>
											<p>판매 현황 통계</p>
											
											<div class="col-xl-12 col-lg-12" style="justify-content: left; overflow: visible;">
												
												<!-- 구글차트에 쓸 값들을 저장 -->
												<article id="salesList" 
													th:data-dataJSON="${ data1 }"
													th:data-sum1="${ sumListByGroup[0] }" 
													th:data-sum2="${ sumListByGroup[1] }" 
													th:data-sum3="${ sumListByGroup[2] }" 
													th:data-sum4="${ sumListByGroup[3] }" 
													th:data-sum5="${ sumListByGroup[4] }" 
													th:data-sum6="${ sumListByGroup[5] }" 
													th:data-sum7="${ sumListByGroup[6] }" 
													th:data-sum8="${ sumListByGroup[7] }" 
													th:data-sum9="${ sumListByGroup[8] }" 
													th:data-sum10="${ sumListByGroup[9] }" 
													th:data-sum11="${ sumListByGroup[10] }" 
													th:data-sum12="${ sumListByGroup[11] }" 
													
													th:data-goal1="${ goalListByGroup[0] }" 
													th:data-goal2="${ goalListByGroup[1] }" 
													th:data-goal3="${ goalListByGroup[2] }" 
													th:data-goal4="${ goalListByGroup[3] }" 
													th:data-goal5="${ goalListByGroup[4] }" 
													th:data-goal6="${ goalListByGroup[5] }" 
													th:data-goal7="${ goalListByGroup[6] }" 
													th:data-goal8="${ goalListByGroup[7] }" 
													th:data-goal9="${ goalListByGroup[8] }" 
													th:data-goal10="${ goalListByGroup[9] }" 
													th:data-goal11="${ goalListByGroup[10] }" 
													th:data-goal12="${ goalListByGroup[11] }" 
													>
												</article>
												
												<!-- 구글차트 시작 -->
												<script type="text/javascript">
											        //구글차트 
											        google.charts.load('current', {'packages':['corechart']}); 
											        //google.charts.setOnLoadCallback(drawSalesSumJSONChart);
											        google.charts.setOnLoadCallback(drawSalesSumChart);
											        google.charts.setOnLoadCallback(drawGoalChart);
											        
											        /* function drawSalesSumJSONChart() {
											            console.log("차트 javascript 실행");
											            
											            var article = document.getElementById('salesList');
											            console.log(article.dataset.dataJSON);
											            
											            var data = new google.visualization.DataTable(article.dataset.dataJSON);
											            
											            var opt = {
											                    'title':'판매통계(건수)',
											                    'width':'100%',
											                    'height': 500,
											                    pieSliceText:'label',
											                    legend:'월' 
											            };
											            
											            var chart = new google.visualization.ColumnChart(document.getElementById('columnChartSales1'));
											            chart.draw(data,opt);
											            window.addEventListener('resize', drawSalesSumChart, false);
											        } */
											        
											        function drawSalesSumChart() {
											            var data = new google.visualization.DataTable();
											            data.addColumn('string','년도');
											            data.addColumn('number','매출');
											            
											            var article = document.getElementById('salesList');
											            
											            data.addRows([ 
											                ['1월',parseInt(article.dataset.sum1)],
											                ['2월',parseInt(article.dataset.sum2)],
											                ['3월',parseInt(article.dataset.sum3)],
											                ['4월',parseInt(article.dataset.sum4)],
											                ['5월',parseInt(article.dataset.sum5)],
											                ['6월',parseInt(article.dataset.sum6)],
											                ['7월',parseInt(article.dataset.sum7)],
											                ['8월',parseInt(article.dataset.sum8)],
											                ['9월',parseInt(article.dataset.sum9)],
											                ['10월',parseInt(article.dataset.sum10)],
											                ['11월',parseInt(article.dataset.sum11)],
											                ['12월',parseInt(article.dataset.sum12)]
											            ]);
											            
											            console.log(data);
											            
											            var opt = {
											                    'title':'판매통계(매출액)',
											                    'width':'100%',
											                    'height': 500,
											                    pieSliceText:'label',
											                    legend:'월',
											                    color: 'blue'
											            };
											            
											            var chart = new google.visualization.ColumnChart(document.getElementById('columnChartSales1'));
											            chart.draw(data,opt);
											            
											            window.addEventListener('resize', drawSalesSumChart, false);
											        }
											        
											        function drawGoalChart() {
											            var data = new google.visualization.DataTable();
											            data.addColumn('string','년도');
											            data.addColumn('number','목표');
											            
											            var article = document.getElementById('salesList');
											            
											            data.addRows([ 
											                ['1월',parseInt(article.dataset.goal1)],
											                ['2월',parseInt(article.dataset.goal2)],
											                ['3월',parseInt(article.dataset.goal3)],
											                ['4월',parseInt(article.dataset.goal4)],
											                ['5월',parseInt(article.dataset.goal5)],
											                ['6월',parseInt(article.dataset.goal6)],
											                ['7월',parseInt(article.dataset.goal7)],
											                ['8월',parseInt(article.dataset.goal8)],
											                ['9월',parseInt(article.dataset.goal9)],
											                ['10월',parseInt(article.dataset.goal10)],
											                ['11월',parseInt(article.dataset.goal11)],
											                ['12월',parseInt(article.dataset.goal12)]
											            ]);
											            
											            console.log(data);
											            
											            var opt = {
											                    'title':'목표통계(목표액)',
											                    'width':'100%',
											                    'height': 500,
											                    pieSliceText:'label',
											                    legend:'월',
											                    color: '#FF9900'
											            };
											            
											            var chart = new google.visualization.ColumnChart(document.getElementById('columnChartSales2'));
											            chart.draw(data,opt);
											            
											            window.addEventListener('resize', drawGoalChart, false);
											        }
										        </script>
										        
												<div class="col-xl-12 col-lg-12 col-md-12">
													<div id="columnChartSales1" style="width: 900px; height:500px"></div>
													<div id="columnChartSales2" style="width: 900px; height:500px"></div>
												</div>
												<!-- 구글차트 끝 -->
												
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- 그래프 부분 END -->
					
					<!-- 표 부분 START -->
					<section id="basic-tabs-components">
						<div class="row match-height">
							<div class="col-xl-12 col-lg-12">
								<div class="card-header"></div>
								<div class="card-content">
									<div class="card-body">
										<div>
											<span>연 판매 표 (목표액은 천단위)</span>
											<div class="table-responsive">
												<div id="invoices-list_wrapper"	class="dataTables_wrapper dt-bootstrap4">
													<div class="row">
														<div class="col-sm-12">
															<table id="invoices-list"
																class="table table-white-space table-bordered display no-wrap icheck table-middle">
																<thead>
																	<tr>
																		<th>구분</th>
																		<th>연도</th>
																		<th th:each="m : ${ #numbers.sequence(1, 12) }"	th:text="${ m }"></th>
																	</tr>
																</thead>

																<tbody>
																	<tr>
																		<td>실제판매</td>
																		<td th:text="${ year }"></td>
																		<td th:each="s : ${ sumListByGroup }" th:text="${ s }" class="commaN"></td>
																	</tr>
																	<tr>
																		<td>목표액</td>
																		<td th:text="${ year }"></td>
																		<td th:each="g : ${ goalListByGroup }" th:text="${ g }" class="commaN"></td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- 표 부분 END -->
					
				</div>
			</div>
		</div>
	</div>

	<script th:src="@{/js/average/commaN.js}"></script>
	<!-- BEGIN VENDOR JS-->
    <script th:src="@{/vendors/js/vendors.min.js}"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script th:src="@{/vendors/js/ui/jquery.sticky.js}"></script>
    <script th:src="@{/vendors/js/charts/jquery.sparkline.min.js}"></script>
    <script th:src="@{/vendors/js/tables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendors/js/tables/dataTable/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/vendors/js/forms/icheck/icheck.min.js}"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN ROBUST JS-->
    <script th:src="@{/js/core/app-menu.min.js}"></script>
    <script th:src="@{/js/core/app.min.js}"></script>
    <script th:src="@{/js/scripts/customizer.min.js}"></script>
    <!-- END ROBUST JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script th:src="@{/js/scripts/ui/breadcrumbs-with-stats.min.js}"></script>
    <script th:src="@{/js/scripts/modal/components-modal.js}"></script>
    <script th:src="@{/js/scripts/pages/invoices-list.min.js}"></script>
    <!-- END PAGE LEVEL JS-->

</body>
</html>