<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<link rel="stylesheet" type="text/css" href="/css/clientsupport/detail.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
	<!-- 상단바 replace -->
	<div th:replace="common/salesHeader.html"></div>

	<!-- 첨부자료창 -->
	<section class="section01">
	
	    <div class="blue_box">
	        <div class="title">첨부자료</div>
	    </div>
	
	    <div class="gray_box">
	        <div class="text_0102">
	        <th:block th:if="${ fileList.size <= 0 }">
	        	<span class="inp">첨부파일이 없습니다.</span>
	        </th:block>
	        	<div class="text_01" th:each="fileList : ${ fileList }">
	            	<a class="attachments" href=#this th:text="${ fileList.fileOriginalName }"></a>
	            	<input type="hidden" class="attachments" name="fileNo" th:value="${ fileList.clientSupportFileNo }" readonly>
	            </div>
	        </div>
	    </div>
	</section>
	<!-- 첨부자료창 end -->
	
	<!-- 고객지원 정보 -->
	<section class="section02">
		<div class="section02_1">
		    <div class="com_title">
		        <div class="com_title_text">고객지원 조회</div>
		        <div class="com_icon">
		        	<div class="updateBtn"><img class="com_title_icon01" src="/images/common/update.png"/></div>
	           		<div class="deleteBtn"><img class="com_title_icon01" src="/images/common/delete.png"/></div>
		            <div onclick="location.href='/business/clientsupport/list'"><img class="com_title_icon01" src="/images/common/list.png"/></div>
		        </div>
		        <div class="com_icon2">
		        	<div class="updateBtn"><img class="com_title_icon01" src="/images/common/update.png"/></div>
	           		<div class="deleteBtn"><img class="com_title_icon01" src="/images/common/delete.png"/></div>
		            <div onclick="location.href='/business/clientsupport/list'"><img class="com_title_icon01" src="/images/common/list.png"/></div>
		        </div>
		    </div>
		    <div class="com_line"></div>
		
		    <div class="textbox">
		        <div class="maintext">
		            <div class="maintext01">제목</div>
		            <div class="maintext02">고객사</div>
		            <div class="maintext03">고객</div>
		            <div class="maintext04">접수자</div>
		            <div class="maintext05">담당자</div>
		            <div class="maintext06">요청일</div>
		            <div class="maintext07">완료요청일</div>
		            <div class="maintext08">중요도</div>
		            <div class="maintext09">접수방법</div>
		            <div class="maintext10">처리구분</div>
		            <div class="maintext11">완료일</div>
		        </div>
		
		        <div class="line_text">
		            <div class="line">
		                <div class="line01"></div>
		                <div class="line02"></div>
		                <div class="line03"></div>
		                <div class="line04"></div>
		                <div class="line05"></div>
		                <div class="line06"></div>
		                <div class="line07"></div>
		                <div class="line08"></div>
		                <div class="line09"></div>
		                <div class="line10"></div>
		                <div class="line11"></div>
		            </div>
		            <div class="middletext">
		                <input type="hidden" id="clientSupportNo" name="clientSupportNo" th:value="${ oneClientSupport.clientSupportNo }" readonly>
		                <input type="text" id="title" name="title" class="middletext01" th:value="${ oneClientSupport.title }" readonly>
		                <input type="text" id="clientCompanyName" name="clientCompanyName" class="middletext02" th:value="${ oneClientSupport.clientCompanyName }" readonly>
		                <input type="text" id="clientName" name="clientName" class="middletext03" th:value="${ oneClientSupport.clientName }" readonly>
		                <input type="text" id="receptionistName" name="receptionistName" class="middletext04" th:value="${ oneClientSupport.receptionistName }" readonly>
		                <input type="text" id="name" name="name" class="middletext05" th:value="${ oneClientSupport.name }" readonly>
		                <input type="date" id="requestDate" name="requestDate" class="middletext06" th:value="${ oneClientSupport.requestDate }" readonly>
		                <input type="date" id="completeRequestDate" name="completeRequestDate" class="middletext07" th:value="${ oneClientSupport.completeRequestDate }" readonly>
		                <input type="text" id="importance" name="importance" class="middletext08" th:value="${ oneClientSupport.importance }" readonly>
		                <input type="text" id="receiptWay" name="receiptWay" class="middletext09" th:value="${ oneClientSupport.receiptWay }" readonly>
		                <input type="text" id="processingDivision" name="processingDivision" class="middletext10" th:value="${ oneClientSupport.processingDivision }" readonly>
		                <input type="text" id="completeDate" name="completeDate" class="middletext11" th:value="${ oneClientSupport.completeDate }" readonly>
		            </div>
		        </div>
		    </div>
		</div>
		<div class="empty"></div>
	
		<div class="processing">
			<div class="sec03_title">처리내역</div>
			<div class="sec03_line01"></div>
			<div class="empty2"></div>
			<div th:each="supportProcessingHistoryList : ${ supportProcessingHistoryList }">
				<input type="hidden" id="productNo" name="productNo" th:value="${ supportProcessingHistoryList.processingHistoryNo }" readonly>
				<table id="processingTable">
				<thead>
				<tr>
				<th> 처리날짜 </th>
				<td> <input type="date" class="processingDate" id="processingDate" name="processingDate" th:value="${ supportProcessingHistoryList.processingDate }" readonly> </td>
				<th> 담당자 </th>
				<td> <input type="text" class="name" id="name" name="name" th:value="${ supportProcessingHistoryList.name }" readonly> </td>
				<th> 처리구분 </th>
				<td> <input type="text" id="processingDivision" name="processingDivision" th:value="${ supportProcessingHistoryList.processingDivision2 }" readonly> </td>
				</tr>
				</thead>
				<tbody>
				<tr>
				<th> 처리내용 </th>
				<td colspan="5"> <textarea id="processingContent" name="processingContent" th:text="${ supportProcessingHistoryList.processingContent }" readonly></textarea> </td>
				</tr>
				</tbody>
				</table>
				<div class="empty2"></div>
			</div>
		</div>
		<div class="empty"></div>
		
		<div class="sec03_title">제품</div>
		<div class="sec03_line01"></div>
		<div class="space"></div>
		<div id="tableDiv" th:each="productList : ${ productList }">
			<input type="hidden" id="productNo" name="productNo" th:value="${ productList.productNo }" readonly>
			<input type="text" id="productName" name="productName" th:value="${ productList.productName }" readonly>
			<table id="productTable">
				<thead>
				<tr>
				<th> 포장수량 </th>
				<td> <input type="text" class="unit" id="unit" name="unit" th:value="${ productList.unit }" readonly> </td>
				<th> 규격 </th>
				<td> <input type="text" class="standard" id="standard" name="standard" th:value="${ productList.standard }" readonly> </td>
				</tr>
				</thead>
				<tbody>
				<tr>
				<th> 비고 </th>
				<td colspan="3"> <input type="text" id="productNote" name="productNote" th:value="${ productList.productNote }" readonly> </td>
				</tr>
				</table>
				<div class="empty2"></div>
		</div>
		<div class="empty2"></div>
		<div class="empty"></div>
	</section>
	<!-- 고객지원 정보 end -->
	
	<script>
	/* 삭제 버튼 클릭시 해당 게시글의 고객지원번호를 전달한다 */
	$(".deleteBtn").click(function() {
		var clientSupportNo = $("#clientSupportNo").val();
		
		var result = window.confirm("정말 삭제하시겠습니까?");
		
		if(result) {
			location.href="/business/clientsupport/delete?clientSupportNo=" + clientSupportNo;
		}
		
	});
	
	/* 수정 버튼 클릭시 해당 게시글의 고객지원번호를 전달한다 */
	$(".updateBtn").click(function() {
		var clientSupportNo = $("#clientSupportNo").val();
		
		location.href="/business/clientsupport/update?clientSupportNo=" + clientSupportNo;
		
	});
	
	/* 첨부파일 클릭시 파일번호를 전달 */
	$(".attachments").click(function() {
		const clientSupportFileNo = $(this).parent().children().eq(1).val();
		location.href="/business/clientsupport/download?clientSupportFileNo=" + clientSupportFileNo;
	});
	
	</script>
	
</body>
</html>