<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<link rel="stylesheet" type="text/css" href="/css/clientsupport/update.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
	<!-- 상단바 replace -->
	<div th:replace="common/salesHeader.html"></div>

	<form action="/business/clientsupport/update" method="post" encType="multipart/form-data">
	<!-- 첨부자료창 -->
	<section class="section01">
	
	    <div class="blue_box">
	        <div class="title">첨부자료</div>
	    </div>
	
	    <div class="gray_box">
	        <div class="text_0102">
	        <input class="attachment" type="file" name="multiFiles" multiple>
	        <th:block th:if="${ fileList.size <= 0 }">
	        	<span class="inp">첨부파일이 없습니다.</span>
	        </th:block>
	        	<div class="text_01" th:each="fileList : ${ fileList }">
	            	<a class="attachments" href=#this th:text="${ fileList.fileOriginalName }"></a>
	            	<button class="com_icon_btn2" type="button" onclick="deleteFile(this);"><img class="com_title_icon01" src="/images/common/x.png"/></button>
	            	<input type="hidden" class="attachments" name="fileNo" th:value="${ fileList.clientSupportFileNo }" readonly>
	            </div>
	        </div>
	    </div>
	</section>                                                                                                                                               
	<!-- 첨부자료창 end -->
	
	<!-- 고객지원 정보 -->
	<section class="section02">
		<div class="section02_1">
		    <div class="com_title">
		        <div class="com_title_text">고객지원 수정</div>
		        <div class="com_icon">
		        	<button class="com_icon_btn" type="submit"><img class="com_title_icon01" src="/images/common/restore.png"/></button>
		            <div onclick="location.href='/business/clientsupport/list'"><img class="com_title_icon01" src="/images/common/list.png"/></div>
		        </div>
		        <div class="com_icon2">
		        	<button class="com_icon_btn" type="submit"><img class="com_title_icon01" src="/images/common/restore.png"/></button>
		            <div onclick="location.href='/business/clientsupport/list'"><img class="com_title_icon01" src="/images/common/list.png"/></div>
		        </div>
		    </div>
		    <div class="com_line"></div>
		
		    <div class="textbox">
		        <div class="maintext">
		            <div class="maintext01">제목</div>
		            <div class="maintext02">고객사</div>
		            <div class="maintext03">고객</div>
		            <div class="maintext04">접수자</div>
		            <div class="maintext05">담당자</div>
		            <div class="maintext06">요청일</div>
		            <div class="maintext07">완료요청일</div>
		            <div class="maintext08">중요도</div>
		            <div class="maintext09">접수방법</div>
		            <div class="maintext10">처리구분</div>
		            <div class="maintext11">완료일</div>
		        </div>
		
		        <div class="line_text">
		            <div class="line">
		                <div class="line01"></div>
		                <div class="line02"></div>
		                <div class="line03"></div>
		                <div class="line04"></div>
		                <div class="line05"></div>
		                <div class="line06"></div>
		                <div class="line07"></div>
		                <div class="line08"></div>
		                <div class="line09"></div>
		                <div class="line10"></div>
		                <div class="line11"></div>
		            </div>
		            <div class="middletext">
		                <input type="hidden" id="clientSupportNo" name="clientSupportNo" th:value="${ oneClientSupport.clientSupportNo }" readonly>
		                <input type="hidden" id="clientNo" name="clientNo" th:value="${ oneClientSupport.clientNo }" readonly>
		                <input type="hidden" id="receptionistNo" name="receptionistNo" th:value="${ oneClientSupport.receptionistNo }" readonly>
		                <input type="hidden" id="userNo" name="userNo" th:value="${ oneClientSupport.userNo }" readonly>
		                <input type="text" id="title" name="title" class="middletext01" th:value="${ oneClientSupport.title }">
		                <input type="text" id="clientCompanyName" name="clientCompanyName" class="middletext02" th:value="${ oneClientSupport.clientCompanyName }" placeholder="고객 입력시 자동 입력됩니다" readonly>
		                <input type="text" id="clientName" name="clientName" class="middletext03" th:value="${ oneClientSupport.clientName }" readonly>
		                <input type="text" id="receptionistName" name="receptionistName" class="middletext04" th:value="${ oneClientSupport.receptionistName }" readonly>
		                <input type="text" id="name" name="name" class="middletext05" th:value="${ oneClientSupport.name }" readonly>
		                <input type="date" id="requestDate" name="requestDate" class="middletext06" th:value="${ oneClientSupport.requestDate }">
		                <input type="date" id="completeRequestDate" name="completeRequestDate" class="middletext07" th:value="${ oneClientSupport.completeRequestDate }">
		                <select id="importance" name="importance" class="middletext08">
			                	<option value="상">상</option>
			                	<option value="중">중</option>
			                	<option value="하">하</option>
			                </select>
			                <select id="receiptWay" name="receiptWay" class="middletext09">
			                	<option value="메일">메일</option>
			                	<option value="전화">전화</option>
			                	<option value="방문">방문</option>
			                	<option value="우편">우편</option>
			                	<option value="기타">기타</option>
			                </select>
			                <select name="processingDivision" class="middletext10">
			                	<option value="처리중">처리중</option>
			                	<option value="완료">완료</option>
			                </select>
			                <input type="date" id="completeDate" name="completeDate" class="middletext11" th:value="${ oneClientSupport.completeDate }">
		            </div>
		            <div class="icon">
						<img id="clientModal" class="modal_icon2" src="/images/common/open.png"/>
						<img id="receptionistNameModal" class="modal_icon3" src="/images/common/open.png"/>
						<img id="nameModal" class="modal_icon6" src="/images/common/open.png"/>
		            </div>
		        </div>
		    </div>
		</div>
		<div class="empty"></div>
		<div id="addProcessDiv" style="display: none;">
			<div class="sec03_title">처리내역 등록</div>
			<div class="sec03_line01"></div>
			<div class="empty2"></div>
			<a class="cancleBtn">취소</a><a class="processingInsertBtn">등록</a>
			<input type="hidden" id="userNo2">
			<table id="processingTable">
				<thead>
				<tr>
				<th> 등록일 </th>
				<td> <input type="date" id="processingDate2"> </td>
				<th> 담당자 </th>
				<td> <input type="text" id="name2" th:value="${ oneClientSupport.name }" readonly> </td>
				<th> 처리구분 </th>
				<td> <select id="processingDivision2"><option value="고객지원 할당">고객지원 할당</option> <option value="고객지원 등록">고객지원 등록</option> <option value="고객지원 종결">고객지원 종결</option></select> </td>
				</tr>
				</thead>
				<tbody>
				<tr>
				<th> 처리내용 </th>
				<td colspan="5"> <textarea id="processingContent2"></textarea> </td>
				</tr>
				</tbody>
			</table>
			<div class="empty2"></div>
		<div class="empty"></div>
		</div>
		
		<div class="processing">
			<div class="sec03_title">처리내역<img id="addProcessing" class="plus_icon1" src="/images/common/plusBtn.png"/></div>
			<div class="sec03_line01"></div>
			<div class="empty2"></div>
			<div th:each="supportProcessingHistoryList : ${ supportProcessingHistoryList }">
				<input type="hidden" id="processingHistoryNo" name="processingHistoryNo" th:value="${ supportProcessingHistoryList.processingHistoryNo }" readonly>
				<table id="processingTable">
					<thead>
					<tr>
					<th> 처리날짜 </th>
					<td> <input type="date"  th:value="${ supportProcessingHistoryList.processingDate }" readonly> </td>
					<th> 담당자 </th>
					<td> <input type="text"  th:value="${ supportProcessingHistoryList.name }" readonly> </td>
					<th> 처리구분 </th>
					<td> <input type="text"  th:value="${ supportProcessingHistoryList.processingDivision2 }" readonly> </td>
					</tr>
					</thead>
					<tbody>
					<tr>
					<th> 처리내용 </th>
					<td colspan="5"> <textarea th:text="${ supportProcessingHistoryList.processingContent }" readonly></textarea> </td>
					</tr>
					</tbody>
				</table>
				<div class="empty2"></div>
			</div>
			<div class="createDiv2"></div>
		</div>
		<div class="empty"></div>
		
		<div class="sec03_title">제품<img id="addProduct" class="plus_icon" src="/images/common/plusBtn.png"/></div>
		<div class="sec03_line01"></div>
		<div class="space"></div>
		<div id="tableDiv" th:each="productList : ${ productList }">
			<div>
				<input type="hidden" class="productNo" id="productNo" name="productNo" th:value="${ productList.productNo }" readonly>
				<input type="text" id="productName" name="productName" th:value="${ productList.productName }" readonly>
				<span><a id="delBtn">삭제</a></span>
				<table id="productTable">
				<thead>
				<tr>
				<th> 포장수량 </th>
				<td> <input type="text" class="unit" id="unit" name="unit" th:value="${ productList.unit }" readonly> </td>
				<th> 규격 </th>
				<td> <input type="text" class="standard" id="standard" name="standard" th:value="${ productList.standard }" readonly> </td>
				</tr>
				</thead>
				<tbody>
				<tr>
				<th> 비고 </th>
				<td colspan="3"> <input type="text" id="productNote" name="productNote" th:value="${ productList.productNote }"> </td>
				</tr>
				</table>
				<div class="empty2"></div>
			</div>
		</div>
		<div id="tableDiv2"></div>
		<div class="empty2"></div>
		<div class="empty"></div>
	</section>
	</form>
	<!-- 고객지원 정보 end -->
	
	<script>
	/* 삭제 버튼 클릭시 해당 게시글의 고객지원번호를 전달한다 */
	$(".deleteBtn").click(function() {
		var clientSupportNo = $("#clientSupportNo").val();
		
		var result = window.confirm("정말 삭제하시겠습니까?");
		
		if(result) {
			location.href="/business/clientsupport/delete?clientSupportNo=" + clientSupportNo;
		}
		
	});
	
	/* 수정 버튼 클릭시 해당 게시글의 고객지원번호를 전달한다 */
	$(".updateBtn").click(function() {
		var clientSupportNo = $("#clientSupportNo").val();
		
		location.href="/business/clientsupport/update?clientSupportNo=" + clientSupportNo;
		
	});
	
	/* 첨부파일 클릭시 파일번호를 전달 */
	$(".attachments").click(function() {
		const clientSupportFileNo = $(this).parent().children().eq(1).val();
		location.href="/business/clientsupport/download?clientSupportFileNo=" + clientSupportFileNo;
	});
	
	/* 처리내역 추가 버튼 클릭시 처리내역 등록폼 display */
	$("#addProcessing").click(function() {
		var addProcessDiv = document.getElementById("addProcessDiv");
		addProcessDiv.style.display = 'inline';
	});
	
	/* 등록 버튼 클릭시 처리내역 추가 */
	$(".processingInsertBtn").click(function() {
		var processingDate2 = $("#processingDate2").val();
		var name2 = $("#name2").val();
		var processingDivision2 = $("#processingDivision2").val();
		var processingContent2 = $("#processingContent2").val();
		
		var html = "";
		
		html += '<div>'
		html += '<table id="processingTable">'
		html += '<thead>'
		html += '<tr>'
		html += '<th> 등록일 </th>'
		html += '<td> <input type="date" id="processingDate" name="processingDate" readonly> </td>'
		html += '<th> 담당자 </th>'
		html += '<td> <input type="text" id="name" name="name" readonly> </td>'
		html += '<th> 처리구분 </th>'
		html += '<td> <input type="text" id="processingDivision" name="processingDivision2" readonly> </td>'
		html += '</tr>'
		html += '</thead>'
		html += '<tbody>'
		html += '<tr>'
		html += '<th> 처리내용 </th>'
		html += '<td colspan="5"> <textarea id="processingContent" name="processingContent" readonly></textarea> </td>'
		html += '</tr>'
		html += '</tbody>'
		html += '</table>'
		html += '<div class="empty2"></div>'
		html += '</div>'
		
		/* div에 테이블 생성 */
		$(".createDiv2").append(html);
		
		$("input[id=processingDate]").attr("value", processingDate2);
		$("input[id=name]").attr("value", name2);
		$("input[id=processingDivision]").attr("value", processingDivision2);
		$("textarea[id=processingContent]").text(processingContent2);
		var addProcessDiv = document.getElementById("addProcessDiv");
		addProcessDiv.style.display = 'none';
	});
	
	/* 취소 버튼 클릭시 처리내역 등록폼 display를 none으로 변경 */
	$(".cancleBtn").click(function() {
		var addProcessDiv = document.getElementById("addProcessDiv");
		addProcessDiv.style.display = 'none';
	});
	
	/* 첨부파일 삭제 */
	function deleteFile(button) {
		
		/* input태그에 hidden타입으로 만든 파일번호를 가져옴 */
		var clientSupportFileNo = button.parentNode.children[2].value;

		$.ajax({
			url: "/business/clientsupport/file/delete",
			data: {clientSupportFileNo : clientSupportFileNo},	          
			type: 'POST',
			success: function(data) {
				if(data > 0) {				
					alert("파일 삭제를 성공하셨습니다.");
					location.reload(true);
				} else {
					alert("파일 삭제를 실패하였습니다.")
				}
			},
			error: function(xhr) {
				console.log(xhr);
				alert("에러발생");
			}
		});
		
	};
	
	</script>
	
	<!-- 고객 모달 -->
	<a href="#dialog2" id="modalOpen2" role="button" class="btn btn-default" data-toggle="modal" style="display: none;"></a>

		<div class="modal fade bd-example-modal-xl" id="dialog2" role="dialog" aria-labelledby="dlogLabel" aria-hidden="true">

			<div class="modal-dialog modal-xl" id="p-modalArea" role="document">
			
				<div class="modal-content">

					<!-- 모달 타이틀 -->
					<div class="modal-header" style="background: #4dd0e1;">
	                	<h4 class="modal-title" id="dlogLabel" >고객</h4>
					</div>
					<!-- 모달 타이틀 end -->
					
                    <div class="modal-body">
						<table id="clientList" class="modalTable">
							<thead>
								<tr>
									<th>고객명</th>
									<th>고객사명</th>
									<th>등록일</th>
								</tr>
							</thead>
							<tbody id="clientTbody" class="modalTbody"></tbody>
						</table>
						<div class="modalDiv"></div>
                    </div>
                    
                    <div class="modal-footer">
                        <a id="btn-close" class="btn btn-close" data-dismiss="modal">닫기</a> 
                    </div>
				</div>
			</div>
		</div>
	<!-- 고객 모달 end -->
	
	<script>
	/* 고객 모달 클릭시 동작 */
	$("#clientModal").click(function() {
		
		/* ajax로 고객 정보를 가져온다 */
		$.ajax({
			url: "/business/estimate/client",
			type: "get",
			success: function(data) {
				
				const $table = $("#clientTbody");
				$table.html("");
				
				/* 가져온 정보를 테이블에 담는다 */
				for(let index in data) {
					$tr = $("<tr>");
					$clientNo = $("<input type='hidden'>").text(data[index].clientNo);
					$clientName = $("<td>").text(data[index].clientName);
					$clientCompanyNo = $("<input type='hidden'>").text(data[index].clientCompanyNo);
					$clientCompanyName = $("<td>").text(data[index].clientCompanyName);
					$writeDate = $("<td>").text(data[index].writeDate);
					
					$tr.append($clientNo);
					$tr.append($clientName);
					$tr.append($clientCompanyNo);
					$tr.append($clientCompanyName);
					$tr.append($writeDate);
					
					$table.append($tr);
				}
			},
			error: function(xhr) {
				console.log(xhr);
			}
		});
		
		/* 모달창을 연다 */
		$("a[id=modalOpen2]").click();
		
		/* 모달창에 출력된 값을 클릭한다 */
		$(document).on("click", "#clientTbody tr", function() {
			
			/* 클릭한 값을 input태그에 출력한다 */
			var clientNo = $(this).children().eq(0).text();
			var clientName = $(this).children().eq(1).text();
			var clientCompanyNo = $(this).children().eq(2).text();
			var clientCompanyName = $(this).children().eq(3).text();
			$("input[id=clientNo]").attr("value", clientNo);
			$("input[id=clientName]").attr("value", clientName);
			$("input[id=clientCompanyNo]").attr("value", clientCompanyNo);
			$("input[id=clientCompanyName]").attr("value", clientCompanyName);
			
			/* 모달창을 닫는다 */
			$("a[id=btn-close]").click();
		});
		
	});
	</script>
	
	<!-- 접수자 모달 -->
	<a href="#dialog9" id="modalOpen9" role="button" class="btn btn-default" data-toggle="modal" style="display: none;"></a>

		<div class="modal fade bd-example-modal-xl" id="dialog9" role="dialog" aria-labelledby="dlogLabel" aria-hidden="true">

			<div class="modal-dialog modal-xl" id="p-modalArea" role="document">
			
				<div class="modal-content">

					<!-- 모달 타이틀 -->
					<div class="modal-header" style="background: #4dd0e1;">
	                	<h4 class="modal-title" id="dlogLabel" >접수자</h4>
					</div>
					<!-- 모달 타이틀 end -->
					
                    <div class="modal-body">
						<table id="receptionistList" class="modalTable">
							<thead>
								<tr>
									<th>접수자명</th>
									<th>부서</th>
									<th>직위</th>
								</tr>
							</thead>
							<tbody id="receptionistTbody" class="modalTbody"></tbody>
						</table>
                    </div>
                    
                    <div class="modal-footer">
                        <a id="btn-close" class="btn btn-close" data-dismiss="modal">닫기</a> 
                    </div>
				</div>
			</div>
		</div>
	<!-- 접수자 모달 end -->
	
	<script>
	/* 접수자 모달버튼 클릭시 동작 */
	$("#receptionistNameModal").click(function() {
		
		/* ajax로 접수자 정보를 가져온다 */
		$.ajax({
			url: "/business/estimate/user",
			type: "get",
			success: function(data) {
				
				const $table = $("#receptionistTbody");
				$table.html("");
				
				/* 가져온 정보를 테이블에 담는다 */
				for(let index in data) {
					$tr = $("<tr>");
					$noTd = $("<input type='hidden'>").text(data[index].userNo);
					$nameTd = $("<td>").text(data[index].name);
					$deptName = $("<td>").text(data[index].deptName);
					$position = $("<td>").text(data[index].position);
					
					$tr.append($noTd);
					$tr.append($nameTd);
					$tr.append($deptName);
					$tr.append($position);
					
					$table.append($tr);
				}
			},
			error: function(xhr) {
				console.log(xhr);
			}
		});
		
		/* 모달창을 연다 */
		$("a[id=modalOpen9]").click();
		
		/* 모달에 있는 값 클릭시 동작 */
		$(document).on("click", "#receptionistTbody tr", function() {
				
				/* 모달에 있는 값을 input태그에 담는다 */
				var tr2 = $(this);
				var no = tr2.children().eq(0).text();
				var name = tr2.children().eq(1).text();
				$("input[id=receptionistNo]").attr("value", no);
				$("input[id=receptionistName]").attr("value", name);
				
				/* 모달창을 닫는다 */
				$("a[id=btn-close]").click();
		});
		
	});
	</script>
	
	<!-- 담당자 모달 -->
	<a href="#dialog4" id="modalOpen4" role="button" class="btn btn-default" data-toggle="modal" style="display: none;"></a>

		<div class="modal fade bd-example-modal-xl" id="dialog4" role="dialog" aria-labelledby="dlogLabel" aria-hidden="true">

			<div class="modal-dialog modal-xl" id="p-modalArea" role="document">
			
				<div class="modal-content">

					<!-- 모달 타이틀 -->
					<div class="modal-header" style="background: #4dd0e1;">
	                	<h4 class="modal-title" id="dlogLabel" >담당자</h4>
					</div>
					<!-- 모달 타이틀 end -->
					
                    <div class="modal-body">
						<table id="userList" class="modalTable">
							<thead>
								<tr>
									<th>담당자명</th>
									<th>부서</th>
									<th>직위</th>
								</tr>
							</thead>
							<tbody id="userTbody" class="modalTbody"></tbody>
						</table>
                    </div>
                    
                    <div class="modal-footer">
                        <a id="btn-close" class="btn btn-close" data-dismiss="modal">닫기</a> 
                    </div>
				</div>
			</div>
		</div>
	<!-- 담당자 모달 end -->
	
	<script>
	/* 담당자 모달버튼 클릭시 동작 */
	$("#nameModal").click(function() {
		
		/* ajax로 담당자 정보를 가져온다 */
		$.ajax({
			url: "/business/estimate/user",
			type: "get",
			success: function(data) {
				
				const $table = $("#userTbody");
				$table.html("");
				
				/* 가져온 정보를 테이블에 담는다 */
				for(let index in data) {
					$tr = $("<tr>");
					$noTd = $("<input type='hidden'>").text(data[index].userNo);
					$nameTd = $("<td>").text(data[index].name);
					$deptName = $("<td>").text(data[index].deptName);
					$position = $("<td>").text(data[index].position);
					
					$tr.append($noTd);
					$tr.append($nameTd);
					$tr.append($deptName);
					$tr.append($position);
					
					$table.append($tr);
				}
			},
			error: function(xhr) {
				console.log(xhr);
			}
		});
		
		/* 모달창을 연다 */
		$("a[id=modalOpen4]").click();
		
		/* 모달에 있는 값 클릭시 동작 */
		$(document).on("click", "#userTbody tr", function() {
				
				/* 모달에 있는 값을 input태그에 담는다 */
				var tr2 = $(this);
				var name = tr2.children().eq(1).text();
				var no = tr2.children().eq(0).text();
				$("input[id=name]").attr("value", name);
				$("input[id=userNo]").attr("value", no);
				
				/* 모달창을 닫는다 */
				$("a[id=btn-close]").click();
		});
		
	});
	</script>
	
	<!-- 제품 모달 -->
	<a href="#dialog6" id="modalOpen6" role="button" class="btn btn-default" data-toggle="modal" style="display: none;"></a>

		<div class="modal fade bd-example-modal-xl" id="dialog6" role="dialog" aria-labelledby="dlogLabel" aria-hidden="true">

			<div class="modal-dialog modal-xl" id="p-modalArea" role="document">
			
				<div class="modal-content">

					<!-- 모달 타이틀 -->
					<div class="modal-header" style="background: #4dd0e1;">
	                	<h4 class="modal-title" id="dlogLabel" >제품</h4>
					</div>
					<!-- 모달 타이틀 end -->
					
                    <div class="modal-body">
						<table id="productList" class="modalTable">
							<thead>
								<tr>
									<th>제품 번호</th>
									<th>제품명</th>
									<th>제품 단가</th>
									<th>제품 규격</th>
								</tr>
							</thead>
							<tbody id="productTbody" class="modalTbody"></tbody>
						</table>
                    </div>
                    
                    <div class="modal-footer">
                        <a id="btn-close" class="btn btn-close" data-dismiss="modal">닫기</a> 
                    </div>
				</div>
			</div>
		</div>
	<!-- 제품 모달 end -->
	
	<script>
	/* 제품 추가 버튼 클릭시 동작 */
	$(document).on("click", "#addProduct", function() {
		
		/* ajax로 제품정보를 가져와 테이블에 값을 입력한다 */
		$.ajax({
			url: "/business/estimate/product",
			type: "get",
			success: function(data) {
				
				const $table = $("#productTbody");
				$table.html("");
				
				/* 가져온 정보를 테이블에 담는다 */
				for(let index in data) {
					$tr = $("<tr>");
					$productNoTd = $("<td>").text(data[index].productNo);
					$productNameTd = $("<td>").text(data[index].productName);
					$priceTd = $("<td>").text(data[index].price);
					$unitTd = $("<td>").text(data[index].unit);
					$standardTd = $("<td>").text(data[index].standard);
					
					$tr.append($productNoTd);
					$tr.append($productNameTd);
					$tr.append($priceTd);
					$tr.append($unitTd);
					$tr.append($standardTd);
					
					$table.append($tr);
				}
			},
			error: function(xhr) {
				console.log(xhr);
			}
		});
		
		/* 모달창을 연다 */
		$("a[id=modalOpen6]").click();
		
	});
	
	/* ajax로 불러온 값을 클릭시 동작 */
	$(document).on("click", "#productTbody tr", function() {
		
			/* ajax로 불러온 값을 변수에 저장 */
			var tr2 = $(this);
			var productNo = tr2.children().eq(0).text();
			var productName = tr2.children().eq(1).text();
			var price = tr2.children().eq(2).text();
			var unit = tr2.children().eq(3).text();
			var standard = tr2.children().eq(4).text();
			
			var productNos = document.getElementsByClassName("productNo");
			
			var cnt = 0;
			for(let i = 0; i < productNos.length; i++) {
				var nos = productNos[i].value;
				if(productNo == nos) {
					cnt = 1;
				}
			};
			if(cnt == 1) {
				$("a[id=btn-close]").click();
				alert("이미 추가된 제품입니다.")
				
			} else {
			/* 테이블 생성 구문 */
			var html = "";
			
			html += '<div id="whole">';
			html += '<input type="hidden" class="productNo" id="productNo" name="productNo"> <br>';
			html += '<span><input type="text" id="productName" name="productName" readonly></span>';
			html += '<span><a id="delBtn">삭제</a></span>';
			html += '<table id="productTable">';
			html += '<thead>';
			html += '<tr>';
			html += '<th> 포장수량 </th>';
			html += '<td> <input type="text" class="unit" id="unit" name="unit" readonly> </td>';
			html += '<th> 규격 </th>';
			html += '<td> <input type="text" class="standard" id="standard" name="standard" readonly> </td>';
			html += '</tr>';
			html += '</thead>';
			html += '<tbody>';
			html += '<tr>';
			html += '<th> 비고 </th>';
			html += '<td colspan="3"> <input type="text" class="productNote" id="productNote" name="productNote"> </td>';
			html += '</tr>';
			html += '</table>';
			html += '<br>';
			html += '</div>';

			/* div에 테이블 생성 */
			$("#tableDiv2").append(html);
			
			/* 생성된 테이블에 ajax로 불러온 값을 넣는다 */
			/* last()를 안쓰면 생성된 테이블들의 값이 모두 같아진다 */
			$("input[id=productNo]").last().attr("value", productNo);
			$("input[id=productName]").last().attr("value", productName);
			$("input[id=unit]").last().attr("value", unit);
			$("input[id=standard]").last().attr("value", standard);
			
			/* 모달창을 닫는다 */
			$("a[id=btn-close]").click();
			
			}
	});
	
	$(document).on("click", "#delBtn", function() {
		
		$(this).parent().parent().remove();
	});
	
	/* readonly와 required속성을 같이 쓸수 없어서 값이 입력되는걸 막는 코드 작성 */
	$("#clientCompanyName, #clientName, #receptionistName, #name").on('keydown paste focus mousedown', function(e){
        if(e.keyCode != 9) // ignore tab
            e.preventDefault();
    });
	
	/* 제약조건 확인 */
	function checkValue() {
		
		/* 제목을 입력안했을 경우 작동 */
		if($("#title").val().length == 0) {
			alert("제목을 입력해주세요.");
			$("#title").focus();
			return false;
		}
		
		/* 고객사명을 입력안했을 경우 작동 */
		if($("#clientCompanyName").val().length == 0) {
			alert("고객사를 입력해주세요.");
			$("#clientCompanyName").focus();
			return false;
		}
		
		/* 고객을 입력안했을 경우 작동 */
		if($("#clientName").val().length == 0) {
			alert("고객을 입력해주세요");
			$("#clientName").focus();
			return false;
		}
		
		/* 접수자 입력안했을 경우 작동 */
		if($("#receptionistName").val().length == 0) {
			alert("접수자을 입력해주세요");
			$("#receptionistName").focus();
			return false;
		}
		
		/* 담당자 입력안했을 경우 작동 */
		if($("#name").val().length == 0) {
			alert("담당자을 입력해주세요");
			$("#name").focus();
			return false;
		}
		
		/* 요청일 입력안했을 경우 작동 */
		if($("#requestDate").val().length == 0) {
			alert("요청일을 입력해주세요");
			$("#requestDate").focus();
			return false;
		}
		
		/* 완료요청일 입력안했을 경우 작동 */
		if($("#completeRequestDate").val().length == 0) {
			alert("완료요청일을 입력해주세요");
			$("#completeRequestDate").focus();
			return false;
		}
		
		/* 활동 입력안했을 경우 작동 */
		if($("#processingContent").val().length == 0) {
			alert("활동을 입력해주세요");
			$("#processingContent").focus();
			return false;
		}
	}
	</script>
	
</body>
</html>