<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/board/clientCompany.css}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script th:src="@{/js/board/clientCompany.js}"></script>
</head>
<body>
	
	<!-- 헤더 -->
	<div th:replace="common/boardHeader.html"></div>
	
	<!-- 칸반보드 시작 -->
	<div class="wrap">
		<div class="whole" th:each="board : ${ board }">
			<input class="board_color" type="hidden" th:value="${ board.color }">
			<input class="board_no" type="hidden" th:value="${ board.boardNo }">
			<div>
				<div class="board_title">
					<div>
						<span th:text="${board.boardName}"></span>
						<span>(</span>
						<span th:each="clientCompanyCount : ${ clientCompanyCount }" th:if="${clientCompanyCount.boardNo == board.boardNo }"  th:text="${ clientCompanyCount.boardCount }" ></span>
						<span>)</span>
					
					</div>
					<a><img onclick="updateBoard(this);" class="image_icon1" src="/images/common/Polygon.png"/></a>
				</div >
				<div class="board_box" th:if="${ clientCompany.boardNo == board.boardNo }" th:each="clientCompany : ${ clientCompany }">
					<input type="hidden" id="clientCompanyNo" name="clientCompanyNo" th:value="${ clientCompany.clientCompanyNo }">
					<input type="hidden" id="boardNo" name="boardNo" th:value="${ clientCompany.boardNo }">
					<div class="board_content01" th:text="${ clientCompany.clientCompanyName}" onclick="selectClientCompany(this);"></div>				
					<div class="board_content02" th:if="${ clientCompany.address !=null }"><span th:text="${ clientCompany.address}"></span><span> </span><span th:text="${ clientCompany.detailedAddress}"></span></div>
					<div class="board_content02" th:if="${ clientCompany.address ==null }">주소없음</div>
					<div class="board_content03_wrap">
						<div class="board_content03" th:each="manager : ${ manager }"  th:if="${ clientCompany.clientCompanyNo == manager.clientCompanyNo }" >
							<div class="board_content04" th:text="${ manager.name}"></div>													
						</div>
					</div>	
					<a><img onclick="dotOpen(this);" class="image_icon2" src="/images/common/dot.png"/></a>
				</div>
				<div class="restArea"></div>						
		 </div>
		 </div>
		 <div class="board_add">
		 	<a><img onclick="addBoard();" class="image_icon3" src="/images/common/plusBtn.png"/></a>
		 </div>
	</div>
	<!-- 칸반보드 끝 -->
	
	<!-- 보드에서 고객사 삭제 또는 복제하는 모달창 시작 -->
	<a href="#dialog" id="modalOpen" role="button" class="btn btn-default modalOpen" data-toggle="modal"></a>
		<div class="modal fade bd-example-modal-xl modal_setting" id="dialog" role="dialog" aria-labelledby="dlogLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" id="p-modalArea" role="document">		
				<div class="modal-content">
					<div class="modal-header">
	                	<div><img class="image_icon1" src="/images/common/doubleBox.png"/></div>
	                	<a><img class="btn" id="btn-close"  data-dismiss="modal" onclick="xBtn();" src="/images/common/xBtn.png"/></a>
					</div>
					<div class="line"></div>
					 <select id="boardName" name="boardName" class="selectBox">
	                	<option value="선택안함">선택하세요</option>
	                </select>
	                <div class="btn01">
	                	<button class="btn01_1" onclick="remove(this);">삭제</button>
	                	<button class="btn01_2" onclick="copy(this);">복사</button>
	                </div>
	                <br>
				</div>
			</div>
		</div>
		<!-- 보드에서 고객사 삭제 또는 복제하는 모달창 끝 -->

	<!-- 보드명 등록하는 모달창 시작 -->	
	<a href="#dialog2" id="modalOpen2" role="button" class="btn btn-default modalOpen" data-toggle="modal"></a>
		<div class="modal fade bd-example-modal-xl modal_setting" id="dialog2" role="dialog" aria-labelledby="dlogLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" id="p-modalArea" role="document">		
				<div class="modal-content">
					<div class="modal-header">
	                	<div class="boardText">이름을 입력해주세요</div>
					</div>
					 <input type="text" name="boardText" id="boardText"  class="boardInput">
	                <div class="btn01">
	                	<button class="btn01_1" onclick="insertBoard(this);">등록</button>
	                	<button class="btn01_2"  data-dismiss="modal" onclick="xBtn();">취소</button>
	                </div>
	                <br>
				</div>
			</div>
		</div>
		<!-- 보드명 등록하는 모달창 끝 -->
		
		<!-- 보드 수정하는 모달창 시작 -->
		<a href="#dialog3" id="modalOpen3" role="button" class="btn btn-default modalOpen" data-toggle="modal"></a>
		<div class="modal fade bd-example-modal-xl modal_setting" id="dialog3" role="dialog" aria-labelledby="dlogLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" id="p-modalArea" role="document">		
				<div class="modal-content">
					<div class="updateHeader">
	                	<div onclick="updateBoardName(this);">수정 (이름)</div>
	                	<div class="line2"></div>
	                	<div onclick="updateBoardColor(this);" class="updateText">수정 (색상)</div>
	                	<div class="line2"></div>
	                	<div onclick="deleteBoard(this);"class="updateText">삭제</div>
	                	<div class="line2"></div>
	                	<div class="updateText" data-dismiss="modal" onclick="xBtn();">닫기</div>				
	                </div>
	                <br>
				</div>
			</div>
		</div>
		<!-- 보드 수정하는 모달창 끝 -->
		
		<!-- 보드명 수정하는 모달창 시작 -->
		<a href="#dialog4" id="modalOpen4" role="button" class="btn btn-default modalOpen" data-toggle="modal"></a>
		<div class="modal fade bd-example-modal-xl modal_setting" id="dialog4" role="dialog" aria-labelledby="dlogLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" id="p-modalArea" role="document">		
				<div class="modal-content">
					<div class="modal-header">
	                	<div class="boardText">수정 할 이름을 입력해주세요</div>
					</div>
					 <input type="text" name="boardName2" id="boardName2"  class="boardInput">
	                <div class="btn01">
	                	<button class="btn01_1" onclick="updateBoardName2(this);">수정</button>
	                	<button id="btn-close" class="btn01_2"  data-dismiss="modal">취소</button>
	                </div>
	                
	                <br>
				</div>
			</div>
		</div>
		<!-- 보드명 수정하는 모달창 끝 -->
		
		<!-- 보드명 색상 수정하는 모달창 시작 -->
		<a href="#dialog5" id="modalOpen5" role="button" class="btn btn-default modalOpen" data-toggle="modal"></a>
		<div class="modal fade bd-example-modal-xl modal_setting" id="dialog5" role="dialog" aria-labelledby="dlogLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" id="p-modalArea" role="document">		
				<div class="modal-content">
					<div class="modal-header">
	                	<div class="boardText">수정 할 색상을 선택해주세요</div>
	                	<a><img data-dismiss="modal" src="/images/common/xBtn.png"/></a>
					</div>
					 <div class="updateColor">
					 	<img class="btn" onclick="updateGray(this);" src="/images/common/gray.png"/>
					 	<img class="btn" onclick="updateGreen(this);" src="/images/common/green.png"/>
					 	<img class="btn" onclick="updateYellow(this);" src="/images/common/yellow.png"/>
					 	<img class="btn" onclick="updateOrange(this);" src="/images/common/orange.png"/>
					 	<img class="btn" onclick="updateRed(this);" src="/images/common/red.png"/>
					 	<img class="btn" onclick="updateMauve(this);" src="/images/common/mauve.png"/>
					 </div>	                
	                <br>
				</div>
			</div>
		</div>
		<!-- 보드명 색상 수정하는 모달창 끝 -->
</body>
</html>