/*검색조건*/
.search_part{
    width: 370px;
    height: 350px;
    background: #f3f3f3;
    position: absolute;
    top: 262px;
    left: 156px;
}

.search_part > div{
    margin-left: 29px;
}

.search_part .search_title{
    width: 100px;
    height: 20px;
    margin-top: 23px;
    font-size: 24px;
    font-weight: bold;
    
}

.search_part .all_box{
    width: 305px;
    height: 137px;
    margin-top: 30px;
}

.search_part .all_box > div{
    width: 304px;
    height: 35px;
    margin-top: 14px;
}

.search_part .all_box .part01{
    margin-top: 0;
}

.select_box {

    width: 305px;
    height: 35px;
    margin-top: 10px;
}

.search_input {
    width: 305px;
    height: 35px;
    margin-top: 10px;
}

.search_button {

    width: 305px;
    height: 50px;
    margin-top: 10px;
    background: #3BAFDA;
    color: white;
    border: none;
}

.icon01 {
	position: absolute;
	left: 300px;
    top: 225px;
}

.opportunity_box{
    position: absolute;
    width: 1200px;
    background: #f3f3f3;
    top: 262px;
    right: 150px;
}

.opportunity_box > div:not(.restArea){
    margin-left: 27px;
}

.opportunity_box .opportunity_title{
    display: flex;
    justify-content: space-between;
    width: 1145px;
    height: 27px;
    margin-top: 26px;
    font-size: 24px;
    font-weight: bold;
}

.opportunity_box .bo01{
    width: 1144px;
    height: 175px;
    margin-top: 26px;
}

.opportunity_box .bo01 .bo01_1{
    width: 1144px;
    height: 139px;
   	border: solid 0.5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
}


.opportunity_box .bo01 .bo01_main{
    width: 1200px;
    height: 106px;
    margin-top: 20px;
    margin-left: 17px;
    display: flex;
    justify-content: left;
}


.opportunity_box .bo01 .bo01_main .bo01_location_img{
	
	width:16px;
	height:16px;
	margin-left:13px;
	color :  red;
}

.opportunity_box .bo01 .bo01_main .bo01_location {
	
	color : rgb(0,0,0, 0.7);
	font-size: 18px;
}


.opportunity_box .bo01 .bo01_main .bo01_img{
    width: 106px;
    height: 106px;
    border: solid 0.5px rgba(255, 0, 0, 0.2);
    margin-right:50px;
	width:30px;
	height:30px;
}


.opportunity_box .bo01 .bo01_main .bo01_name{
    width: 500px;
    height: 30px;   	
	margin-top: 20px;
	margin-left: 17px;
    font-size: 22px;
	font-weight: bold;
}

.bo01_status {
	
	width: 100px;
	margin-top: 30px;
    font-size: 18px;
	
	
}

.bo01_content {
	
	margin-left: 300px;
    
	
}

.opportunity_box .bo01 .bo01_1 .bo01_s_tag{
    width: 208px;
    height: 58px;
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
    margin-right: 70px;
}

.opportunity_box .bo01 .bo01_1 .bo01_s_tag .bo01_s_img{
    width: 58px;
    height: 58px;
    
}


.opportunity_box .bo01 .bo01_1 .bo01_s_tag .bo01_blue{
    width: 58px;
    height: 30px;
    background: #2196F3;
    margin-top: 15px;
    color:white;
}


.opportunity_box .bo01 .bo01_1 .bo01_s_tag .bo01_click{
    width: 10px;
    height: 58px;
}

.opportunity_box .bo01 .bo01_2{
    width: 1144px;
    height: 37px;
    border: solid 0.5px black;
    display: flex;
    justify-content: left;
    color: rgb(0,0,0,0.5);
}

.opportunity_box .bo01 .bo01_2 .bo02_typo{
    width: 355px;
    height: 21px;
    margin-left: 10px;
}

.opportunity_box .bo01 .bo01_2 .bo02_typo > div{
    margin-top: 5px;
}





.opportunity_box .bo01 .bo01_2 .bo02_typo .mess_text01{
    width: 80px;
    height: 21px;
    margin-top: 5px;
}


.opportunity_box .bo01 .bo01_2 .bo02_typo .phone01{
    width: 20px;
    height: 21px;
    background: #e7d93f;
}


.opportunity_box .bo01 .bo01_2 .bo02_typo .phone_text01{
    width: 80px;
    height: 21px;
}

.bo01_img {
	
	margin-right:120px;
	width:30px;
	height:30px;
	
	
}

.bo_image {
	
	margin-left:5px;
	margin-top:5px;
}

.bo01_img2 {
	
	margin-right:150px;
	width:30px;
	height:30px;
	
	
}

.bo01_img_write {
	
	
	width:30px;
	height:30px;
}


.bo01_email {
	
	width: 20px;
	height: 20px;
	margin-left:5px;
	margin-top:5px;
}

.mess_text01 {
	margin-left:5px;
	margin-top:5px;
}

.bo01_line {
	
	width:1px;
	height:20px;
	margin-left:5px;
	margin-top:7px;
}

.bo01_phone {
	
	width: 20px;
	height: 20px;
	margin-left:5px;
	margin-top:5px;
}

.phone_text01 {
	margin-left:5px;
	margin-top:5px;
	
}

.bo01_tel {
	
	width: 20px;
	height: 20px;
	margin-left:5px;
	margin-top:5px;
}

.tel_text01 {
	
	margin-left:5px;
	margin-top:5px;
	
}

.write_btn {
	
	height:10px;
	outline:none;
}

.bo01_img_manager {
	margin-right:120px;
	width:70px;
}

.bo01_img2_sales {
	margin-right:150px;
}

.restArea {
	
	height:100px;
	background:white;
	
}

.page_btn4 {
	
	margin-left:1160px;
}

.modal-header {
	
	background: #4dd0e1;
	
}

.modal-title {
	
	font-weight: bold;
	font-family: fantasy;
}

.userList-tr {
	
	width:500px;
	
}

.modal-body-content {
	
	width:420px;
	border:none;
	
}

.userTbody > tr {
	
	border: solid 1px rgba(0, 0, 0, 0.2);
	height: 50px;

}

.modal_setting {
	
	width:500px;
	margin-left:710px;
	margin-top:20px;
	
	
}

.modalOpen {
	
	display: none;
}

.date_img {
	width:16px;
	height:16px;
	margin-left:13px;
	margin-top:-7px;
}

.list01_location {
	
	color : rgb(0,0,0, 0.7);
	font-size: 18px;
}

.opportunity_box .bo01 .bo01_1 .list01_s_tag{
    width: 308px;
    height: 58px;
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
}

.opportunity_box .bo01 .bo01_1 .list01_s_tag .img1 {
	position: absolute;
	right: 508px;
}

.opportunity_box .bo01 .bo01_1 .list01_s_tag .img2 {
	position: absolute;
	right: 360px;
}

.opportunity_box .bo01 .bo01_1 .list01_s_tag .img3 {
	position: absolute;
	right: 213px;
}

.opportunity_box .bo01 .bo01_1 .list01_s_tag .img4 {
	position: absolute;
	right: 65px;
}

.opportunity_box .bo01 .bo01_1 .img1_1 {
	margin-left: -1040px;
	margin-top: 80px;
	width: 100px;
	height: 30px;
	font-size: 18px;
	text-align: center;
}

.opportunity_box .bo01 .bo01_1 .img1_2 {
	margin-left: 0px;
	margin-top: 80px;
	width: 100px;
	height: 30px;
	font-size: 18px;
	text-align: center;
}

.opportunity_box .bo01 .bo01_1 .img1_3 {
	margin-left: 0px;
	margin-top: 80px;
	width: 100px;
	height: 30px;
	font-size: 18px;
	text-align: center;
}

.opportunity_box .bo01 .bo01_1 .img1_4 {
	margin-left: 0px;
	margin-top: 80px;
	width: 100px;
	height: 30px;
	font-size: 18px;
	text-align: center;
}

.list_box .list01 .list01_main .list01_img{
    width: 106px;
    height: 106px;
    border: solid 0.5px rgba(255, 0, 0, 0.2);
}