<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/css/businessActiviry/list.css">
</head>
<body>
	
	<div th:replace="common/salesHeader.html"></div>
 
	<!-- 검색조건 시작 -->
	<form id="search" action="/businessActivity/list" method="get">
	<section class="search_part">
		<div class="search_title">검색조건</div>

		<div class="all_box">
			<div class="part01">
				<select id="search_text" class="select_box" name="division">
					<option value=""></option>
					<option value=""></option>
					<option value=""></option>
				</select>
				<input class="search_input" name="searchName" type="text">
				<select id="selectDeptName" class="select_box" name="deptName">
					<option value="전체">전체</option>
					<option th:each="deptList : ${ deptList }" th:value="${ deptList.deptName }" th:text="${ deptList.deptName }"></option>
				</select>
				<input id="name" class="search_input" name="name" type="text" placeholder="담당자" readonly>		
				<div class="icon01"><img class="managerModal" src="/images/common/open.png"/></div>
				<input type="hidden" name="currentPage" value="1">
					<input id="startDate" name="startDate" class="search_input" type="date"> ~ 
					<input id="endDate" name="endDate" class="search_input" type="date">
				<button class="search_button" type="submit">검색</button>
			</div>
		</div>
	</section>
	</form>
	<!-- 검색조건 끝 -->
	
	<!-- 고객사 리스트 조회 목록 시작 -->
		<section class="list_box">
	
			<div class="list_title">
				<div class="">영업 활동 : 검색결과 ( <span th:text="${ totalCount }"></span>건 )</div>
				<div onclick="location.href='/businessActivity/calendar/insert'"><img class="com01_img_write" src="/images/common/jam_write.png"/></div>
			</div>
			
			<!-- 반복문으로 목록 조회 -->
			<div class="list01" th:each="businessActivityList : ${ businessActivityList }">
			
				<div class="list01_1">
				
					<div class="list01_main">
					<input name="businessActivityNo" class="businessActivityNo" th:value="${ businessActivityList.businessActivityNo }" type="hidden">
					<div class="list01_name" th:if="${ businessActivityList.businessActivityNo } != null and ${ businessActivityList.businessActivityNo } != ''" th:text="${ businessActivityList.businessOpportunityName }">
					<!-- <div class="list01_name" th:if="${ businessActivityList.businessActivityNo } != null" th:text="${ businessActivityList.clientCompanyName }">
					<div class="list01_purpose" th:text="${ businessActivityList.activityPurpose }"></div>
					 --></div>
					<div>
						<span><img class="date_img" src="/images/common/date.png"/></span>
						<span class="list01_location" th:text="${ businessActivityList.writeDate }"></span>
						<span class="activityStartTime" th:text="${ businessActivityList.activityStartTime }"></span> ~ 
						<span class="activityEndTime" th:text="${ businessActivityList.activityEndTime }"></span>
					</div>
				</div>
						<div align="center">
							<img class="com01_img" src="/images/common/manager2.png"/>
							<div class="com01_img_manager" th:each="businessActivityList : ${ businessActivityList }"></div>
							<div class="img1_1" align="center" th:text="${ businessActivityList.clientName }"></div>
								<!-- <div th:if="${clientCompanyList.clientCompanyNo} == ${clientCompanyManager.clientCompanyNo} and ${ clientCompanyManager.name } != null" th:text="${ clientCompanyManager.name }"></div>
								<div th:if="${clientCompanyList.clientCompanyNo} == ${clientCompanyManager.clientCompanyNo} and ${ clientCompanyManager.name } == null" th:text="담당없음"></div>
							</div> -->											
						</div>					
						<div align="center">
							<img class="com01_img2" src="/images/common/manager.png"/>
							<div class="com01_img2_sales" th:each="businessActivityList : ${ businessActivityList }"></div>
							<div class="img1_2" align="center" th:text="${ businessActivityList.name }"></div>
								<!-- <div th:if="${clientCompanyList.clientCompanyNo} == ${clientCompanySales.clientCompanyNo} and ${clientCompanySales.sum} != null" th:text="${#numbers.formatDecimal(clientCompanySales.sum, 0, 'COMMA', 0, 'POINT')}"></div>							
								<div th:if="${clientCompanyList.clientCompanyNo} == ${clientCompanySales.clientCompanyNo} and ${clientCompanySales.sum} == null" th:text="0"></div>
							</div> -->
						</div>
				</div>
				
			</div>
			<!-- 고객사 리스트 조회 목록 끝 -->
			
			<br><br><br><br><br>
			
			<!-- 페이징 버튼 시작 -->
			<div align="center">
				<button class="page_btn1" th:if="${ selectCriteria.pageNo <= 1 }" type="button" disabled ><img src="/images/common/prevPage.png"/></button>		
				<button class="page_btn1" th:if="${ selectCriteria.pageNo > 1 } and ${ businessActivitySearch.clientCompanyName == null } and ${ businessActivitySearch.clientName == null } and ${ businessActivitySearch.deptName == null } and ${ businessActivitySearch.name == null } and ${ businessActivitySearch.startDate == null } and ${ businessActivitySearch.endDate == null }" type="button" id="prevPage" onclick="preButtonAction();" ><img src="/images/common/prevPage.png"/></button>		
				<button class="page_btn1" th:if="${ selectCriteria.pageNo > 1 } and (${ businessActivitySearch.clientCompanyName == null } and ${ businessActivitySearch.clientName == null } or ${ businessActivitySearch.deptName == null } or ${ businessActivitySearch.name == null } or ${ businessActivitySearch.startDate == null } or ${ businessActivitySearch.endDate == null })" type="button" id="searchPrevPage" onclick="searchPreButtonAction();"><img src="/images/common/prevPage.png"/></button>		
				
				<span th:each="p : ${#numbers.sequence(selectCriteria.startPage,selectCriteria.endPage)}">
					<button class="page_btn2" th:if="${selectCriteria.pageNo == p}" th:text="${p}" disabled></button>
					<button class="page_btn2" th:if="${selectCriteria.pageNo != p} and ${ businessActivitySearch.clientCompanyName == null } and ${ businessActivitySearch.clientName == null } and ${ businessActivitySearch.deptName == null } and ${ businessActivitySearch.name == null } and ${ businessActivitySearch.startDate == null } and ${ businessActivitySearch.endDate == null }" th:text="${p}" onclick="pageButtonAction(this.innerText);"></button>
					<button class="page_btn2" th:if="${selectCriteria.pageNo != p} and (${ businessActivitySearch.clientCompanyName == null } or ${ businessActivitySearch.clientName == null } or ${ businessActivitySearch.deptName == null } or ${ businessActivitySearch.name == null } or ${ businessActivitySearch.startDate == null } or ${ businessActivitySearch.endDate == null })" th:text="${p}" onclick="searchPageButtonAction(this.innerText);"></button>
				</span>		
				
				<button class="page_btn3" th:if="${ selectCriteria.pageNo >= selectCriteria.maxPage }" type="button" disabled ><img src="/images/common/nextPage.png"/></button>	
				<button class="page_btn3" th:if="${ selectCriteria.pageNo < selectCriteria.maxPage } and ${ businessActivitySearch.clientCompanyName == null } and ${ businessActivitySearch.clientName == null } and ${ businessActivitySearch.deptName == null } and ${ businessActivitySearch.name == null } and ${ businessActivitySearch.startDate == null } and ${ businessActivitySearch.endDate == null }" type="button" id="nextPage" onclick="nextButtonAction();"><img src="/images/common/nextPage.png"/></button>						
				<button class="page_btn3" th:if="${ selectCriteria.pageNo < selectCriteria.maxPage } and (${ businessActivitySearch.clientCompanyName == null } or ${ businessActivitySearch.clientName == null } or ${ businessActivitySearch.deptName == null } or ${ businessActivitySearch.name == null } or ${ businessActivitySearch.startDate == null } or ${ businessActivitySearch.endDate == null })" type="button" id="searchNextPage" onclick="searchNextButtonAction();"><img src="/images/common/nextPage.png"/></button>						
				
				<input type="hidden" id="currentPageByPaging" name="currentPageByPaging" th:value="${businessActivitySearch.currentPage}">
				<input type="hidden" id="clientCompanyNameByPaging" name="clientCompanyNameByPaging" th:value="${businessActivitySearch.clientCompanyName}">
				<input type="hidden" id="divisionByPaging" name="clientNameByPaging" th:value="${businessActivitySearch.clientName}">
				<input type="hidden" id="deptNameByPaging" name="deptNameByPaging" th:value="${businessActivitySearch.deptName}">
				<input type="hidden" id="nameByPaging" name="nameByPaging" th:value="${businessActivitySearch.name}">
				<input type="hidden" id="startDateByPaging" name="startDateByPaging" th:value="${businessActivitySearch.startDate}">
				<input type="hidden" id="endDateByPaging" name="endDateByPaging" th:value="${businessActivitySearch.endDate}">
				
				<br><br><br>
			</div>
			<!-- 페이징 버튼 종료 -->
			
			<button class="page_btn4" onclick="window.location.href='#top'"><img src="/images/common/top.png"/></button>
			<div class="restArea"></div>
		</section>
		
	<!-- 담당자 모달 -->
	<a href="#dialog" id="modalOpen" role="button" class="btn btn-default" data-toggle="modal" style="display: none;"></a>

		<div class="modal fade bd-example-modal-xl" id="dialog" role="dialog" aria-labelledby="dlogLabel" aria-hidden="true">

			<div class="modal-dialog modal-xl" id="p-modalArea" role="document">
			
				<div class="modal-content">

					<!-- 모달 타이틀 -->
					<div class="modal-header" style="background: #4dd0e1;">
	                	<h4 class="modal-title" id="dlogLabel" >담당자</h4>
					</div>
					<!-- 모달 타이틀 end -->
					
                    <div class="modal-body">
						<table id="managerList" class="modalTable">
							<thead>
								<tr>
									<th>담당자 번호</th>
									<th>담당자명</th>
									<th>부서</th>
								</tr>
							</thead>
							<tbody id="managerTbody" class="modalTbody"></tbody>
						</table>
                    </div>
                    
                    <div class="modal-footer">
                        <a id="btn-close" class="btn btn-close" data-dismiss="modal">닫기</a> 
                    </div>
				</div>
			</div>
		</div>
	<!-- 담당자 모달 end -->
		
	<script>
	/* 모달창 이미지 클릭시 동작할 내용 */
	$(".managerModal").click(function() {
		const deptName = $("#selectDeptName").val();
		
		/* ajax로 고객사 리스트 조회해서 모달창에 테이블로 출력 */
		$.ajax({
			url: "/businessActivity/manager",
			type: "get",
			data: { deptName:deptName },
			success: function(data) {
				
				const $table = $("#managerTbody");
				$table.html("");
				
				for(let index in data) {
					$tr = $("<tr>");
					$noTd = $("<td>").text(data[index].userNo);
					$nameTd = $("<td>").text(data[index].name);
					$deptTd = $("<td>").text(data[index].deptName);
					
					$tr.append($noTd);
					$tr.append($nameTd);
					$tr.append($deptTd);
					
					$table.append($tr);
				}
			},
			error: function(xhr) {
				console.log(xhr);
			}
		});
		
		/* 모달창 오픈 */
		$("a[id=modalOpen]").click();
		
		/* 출력한 고객사 정보 클릭시 해당 정보 input태그에 출력 */
		$("#managerTbody").click(function() {
			
			var tbody = $(this);
			var tr = tbody.children();
			
			tr.click(function() {
				
				var tr2 = $(this);
				var name = tr2.children().eq(1).text();
				$("input[id=name]").attr("value", name);
				
				$("a[id=btn-close]").click();
			});
		});
		
	});
	


	
	$(function() {
		
		/* ajax통신을 통해서 부서의 정보를 조회 */
		$.ajax({
			url: "/businessActivity/dept",
			success: function(data) {
				
				/* id가 deptName인 selectbox를 변수로 저장 */
				const $deptName = $("#deptName");
				
				/* $deptName안에 내용을 비움 */
				$deptName.html("");
				
				/* data의 길이 만큼 반복 */
				for(let index in data) {
					
					/* deptName이 영업부라면 전체조회와 마찬가지이기 때문에 선택 시 value를 ""로 저장 */
					if(data[index].deptName == '영업부') {
						$deptName.append($("<option>").val("").text(data[index].deptName));
					}
					
					/* deptName이 영업부가 아니라면 선택 시 value를 deptName으로 저장 */
					if(data[index].deptName != '영업부') {
						$deptName.append($("<option>").val(data[index].deptName).text(data[index].deptName));
					}
				}
			},
			error: function(xhr) {
				console.log(xhr);
			}
		})
				
	});
	
	/* 공통으로 사용할 link */
	const link = "/businessActivity/list";

	/* 검색조건이 없을 때 이전버튼 클릭 시 작동 */
	function preButtonAction() {
		
		/* html에서 input태그에 hidden타입으로 controller로부터 받아온 값을 value를 저장해놓았음. 그 값을 script에서 저장 */
		var currentPage = $("#currentPageByPaging").val();	//현재페이지
		
		location.href = link + "?currentPage=" + (currentPage - 1);
		
	}

	/* 검색조건이 없을 때 다음버튼 클릭 시 작동 */
	function nextButtonAction() {
		
		/* html에서 input태그에 hidden타입으로 controller로부터 받아온 값을 value를 저장해놓았음. 그 값을 script에서 저장 */
		var currentPage = $("#currentPageByPaging").val();	//현재페이지
		
		/* currentPage변수는 현재 문자열이기 때문에 숫자로 변환함 */
		currentPage *= 1;

		location.href = link + "?currentPage=" + (currentPage + 1);
		
	}

	/* 검색조건이 없을 때 숫자 클릭 시 작동 */
	function pageButtonAction(text) {
			
	    location.href = link + "?currentPage=" + text;
	        
	}

	/* 검색조건이 있을 때 이전버튼 클릭 시 작동 */
	function searchPreButtonAction() {
		
		/* html에서 input태그에 hidden타입으로 controller로부터 받아온 값을 value를 저장해놓았음. 그 값을 script에서 저장 */
		var currentPage = $("#currentPageByPaging").val();							//현재페이지
		var businessOpportunityName = $("#businessOpportunityNameByPaging").val();	//영업기회명
		var clientCompanyName = $("#clientCompanyNameByPaging").val();				//고객사명
		var clientName = $("#clientNameByPaging").val();							//고객명
		var userNo = $("#userNoByPaging").val();									//담당자번호
		var deptName = $("#deptNameByPaging").val();								//부서명
		
		var selectSearch = null;	//검색조건
		var searchValue = null;		//검색텍스트
		
		if(businessOpportunityName != "") {
			selectSearch = "영업기회";
			searchValue = businessOpportunityName;
		} else if(clientCompanyName != "") {
			selectSearch = "고객사";
			searchValue = clientCompanyName;
		} else if(clientName != "") {
			selectSearch = "고객";
			searchValue = clientName;
		}

		location.href = link + "?currentPage=" +  (currentPage - 1) + "&selectSearch=" + selectSearch + "&searchValue=" + searchValue + "&deptName=" + deptName + "&userNo=" + userNo;
	}

	/* 검색조건이 있을 때 다음버튼 클릭 시 작동 */
	function searchNextButtonAction() {
		
		/* html에서 input태그에 hidden타입으로 controller로부터 받아온 값을 value를 저장해놓았음. 그 값을 script에서 저장 */
		var currentPage = $("#currentPageByPaging").val();							//현재페이지
		var businessOpportunityName = $("#businessOpportunityNameByPaging").val();	//영업기회명
		var clientCompanyName = $("#clientCompanyNameByPaging").val();				//고객사명
		var clientName = $("#clientNameByPaging").val();							//고객명
		var userNo = $("#userNoByPaging").val();									//담당자번호
		var deptName = $("#deptNameByPaging").val();								//부서명
		
		var selectSearch = null;	//검색조건
		var searchValue = null;		//검색텍스트
		
		if(businessOpportunityName != "") {
			selectSearch = "영업기회";
			searchValue = businessOpportunityName;
		} else if(clientCompanyName != "") {
			selectSearch = "고객사";
			searchValue = clientCompanyName;
		} else if(clientName != "") {
			selectSearch = "고객";
			searchValue = clientName;
		}
		
		location.href = link + "?currentPage=" +  (currentPage + 1) + "&selectSearch=" + selectSearch + "&searchValue=" + searchValue + "&deptName=" + deptName + "&userNo=" + userNo;
	}

	/* 검색조건이 있을 때 숫자 클릭 시 작동 */
	function searchPageButtonAction(text) {
		  
		/* html에서 input태그에 hidden타입으로 controller로부터 받아온 값을 value를 저장해놓았음. 그 값을 script에서 저장 */
		var businessOpportunityName = $("#businessOpportunityNameByPaging").val();	//영업기회명
		var clientCompanyName = $("#clientCompanyNameByPaging").val();				//고객사명
		var clientName = $("#clientNameByPaging").val();							//고객명
		var userNo = $("#userNoByPaging").val();									//담당자번호
		var deptName = $("#deptNameByPaging").val();								//부서명
		
		var selectSearch = null;	//검색조건
		var searchValue = null;		//검색텍스트
		
		if(businessOpportunityName != "") {
			selectSearch = "영업기회";
			searchValue = businessOpportunityName;
		} else if(clientCompanyName != "") {
			selectSearch = "고객사";
			searchValue = clientCompanyName;
		} else if(clientName != "") {
			selectSearch = "고객";
			searchValue = clientName;
		}
		 
	   location.href = link + "?currentPage=" +  text + "&selectSearch=" + selectSearch + "&searchValue=" + searchValue + "&deptName=" + deptName + "&userNo=" + userNo;
	   		
	}

	/* 상세보기로 경로이동 */
	function selectBusinessOpportunity(div) {
						
		const businessOpportunityNo = div.children[0].value;
		
		location.href = "/businessOpportunity/select?businessOpportunityNo=" + businessOpportunityNo;
		
	} 
</script>
</body>
</html>
