<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<link rel="stylesheet" type="text/css" href="/css/businessNotice/detail.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

	<div th:replace="common/salesHeader.html"></div>

	<form action="/businessNotice/insert" method="post"	encType="multipart/form-data">
		<!-- 첨부자료 시작 -->
		<section class="section01">

			<div class="blue_box">
				<div class="title">첨부자료</div>
			</div>

			<div class="gray_box">
				<div class="text_0102">
				<th:block th:if="${ fileList.size <= 0 }">
	        	<span class="inp">첨부파일이 없습니다.</span>
	        	</th:block>
					<div class="text_01" th:each="fileList : ${ fileList }">
	            	<a class="attachments"  th:text="${ fileList.fileOriginalName }"></a>
	            	<input type="hidden" class="attachments" name="filePath" th:value="${ fileList.filePath }" readonly>
	            	<input type="hidden" class="attachments" name="fileName" th:value="${ fileList.fileName }" readonly>
	            	<input type="hidden" class="attachments" name="fileNo" th:value="${ fileList.fileNo }" readonly>
	            </div>
				</div>
			</div>
		</section>
		<!-- 첨부자료 끝 -->

		<!-- 등록 폼 -->
	<section class="section02">
	    <div class="com_title">
	        <div class="com_title_text">영업공지 상세 페이지</div>
	        <div class="com_icon">
	        	<img class="updateBtn" src="../images/common/update.png"/>
	        	<img  class="deleteBtn" src="../images/common/delete.png" style="height: 31px;"/>
	            <div onclick="location.href='/businessNotice/list'"><img class="com_title_icon02" src="/images/common/list.png"/></div>
	        </div>
	    </div>
	    <div class="com_line"></div>
	    <div class="textbox">
	        <div class="maintext">
	            <div class="maintext01">제목</div>
	            <div class="maintext02">필독</div>
	            <div class="maintext03">등록일</div>
	            <div class="maintext04">작성자</div>
	        </div>
	
	        <div class="line_text">
	            <div class="line">
	                <div class="line01"></div>
	                <div class="line02"></div>
	                <div class="line03"></div>
	                <div class="line04"></div>
	            </div>
	            <div class="middletext">
		        <input type="hidden" id="userNo" name="userNo" th:value="${ oneBusinessNotice.userNo }"readonly> 
		        <input class="businessNoticeNo" th:value="${ oneBusinessNotice.businessNoticeNo }" type="hidden" readonly>
		        <input type="text" id="title" name="title" class="middletext01" th:value="${ oneBusinessNotice.title }" readonly> 
		        <label class="middletext02" id="mustReadYn" style="text-align: left; padding: 9px;">				
				NO <input type="radio" name="mustReadYn" value="N" checked="checked">
		        YES <input type="radio" name="mustReadYn" value="Y"><br>
				</label>
				<input type="date" id="writeDate" name="writeDate" class="middletext03" 
						th:value="${ oneBusinessNotice.writeDate }" readonly>
				<input type="text" id="name" name="name" class="middletext04" th:value="${ oneBusinessNotice.name }" readonly>
	            </div>
	        </div>
	    </div>
	</section>
	
	<!-- 내용 -->
	<section class="section03">
		<div class="sec03_title">내용</div>
		<div class="sec03_line01"></div>
		<div class="space"></div>
		<div id="tableDiv"></div>
		<textarea class="sec03_content" id="content" name="content" th:text="${ oneBusinessNotice.content }" readonly></textarea>
	<br><br><br>
	</section>
	<!-- 내용 end -->
	</form>
	
	<script>
	
	/* 수정 버튼 클릭시 해당 게시글의 공지 번호를 전달한다 */
	$(".updateBtn").click(function() {
		var businessNoticeNo = $(".businessNoticeNo").val();
		
		location.href="/businessNotice/update?businessNoticeNo=" + businessNoticeNo;
		
	});
	
	/* 삭제 버튼 클릭시 해당 게시글의 공지 번호를 전달한다 */
	$(".deleteBtn").click(function() {
		var businessNoticeNo = $(".businessNoticeNo").val();
		
		var result = window.confirm("정말 삭제하시겠습니까?");
		
		if(result) {
			location.href="/businessNotice/delete?businessNoticeNo=" + businessNoticeNo;
		}
		
	});
	
	/* 첨부파일 클릭시 파일번호를 전달 */
	$(".attachments").click(function() {
		const businessFileNo = $(this).parent().children().eq(3).val();
		location.href="/businessNotice/download?businessFileNo=" + businessFileNo;
	});
	
	</script>
</body>
</html>

