<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/businessNotice/list.css">
<script>
	/* 등록,수정,삭제 결과 출력 메세지 */
	const message = '[[${ message }]]';
	
	if(message) {
		alert(message);
	}
</script>
</head>
<body>
	<!-- 상단바 replace -->
	<div th:replace="common/salesHeader.html"></div>
 
	<!-- 검색창 -->
	<form id="search" action="/businessNotice/list" method="get">
		<section class="search_part">
			<div class="search_title">검색조건</div>
			<div class="all_box">
				<div class="part01">
					<input type="hidden" name="currentPage" value="1">
					<input id="startDate" name="startDate" class="search_input" type="date"> ~ 
					<input id="endDate" name="endDate" class="search_input" type="date">
					<button class="search_button" type="submit">검색</button>
				</div>
			</div>
		</section>
	</form>
	<!-- 검색창 end -->
	
		<section class="list_box">
		
			<div class="list_title">
				<div class="">영업공지 : 검색결과 ( <span th:text="${ totalCount } + 건"></span> )</div>
				<div onclick="location.href='/businessNotice/insert'"><img class="com01_img_write" src="/images/common/jam_write.png"/></div>
			</div>
			
		<!-- 조회 목록 리스트 시작 -->
			<div class="list01_1">
			<table class="header" border="1" id="test_1">
			
				<tr>
					<th style="text-align: center; height: 50px;" width="500px;">제목</th>
					<th style="text-align: center; height: 50px;" width="200px;">작성자</th>
					<th style="text-align: center; height: 50px;" width="200px;">조회수</th>
					<th style="text-align: center; height: 50px;" width="245px;">날짜</th>
				</tr>
				<tr th:each="businessNoticeList : ${ businessNoticeList }">
					<td align="left" style="background: #f3f3f3; border-left: solid 1px black; color: red; height: 50px;" 
						th:if="${ businessNoticeList.getMustReadYn().toString().equals('Y')}">[필독]
					<input class="businessNoticeNo" th:value="${ businessNoticeList.businessNoticeNo }" type="hidden">
					<span style="color: #55595C" th:text="${ businessNoticeList.title }"></span></td>
					<td align="left" style="background: #f3f3f3; border-left: solid 1px; height: 50px;" 
						th:if="${ businessNoticeList.getMustReadYn().toString().equals('N')}">
					<input class="businessNoticeNo" th:value="${ businessNoticeList.businessNoticeNo }" type="hidden">
					<span th:text="${ businessNoticeList.title }"></span></td>
					<td align="center" style="background: #f3f3f3; height: 50px;" th:text="${ businessNoticeList.name }"></td>
					<td align="center" style="background: #f3f3f3; height: 50px;" th:text="${ businessNoticeList.count }"></td>
					<td align="center" style="background: #f3f3f3; border-right: solid 1px; height: 50px;" 
						th:text="${ businessNoticeList.writeDate }"></td>
				</tr> 
			</table>
			</div>
		<!-- 조회 목록 리스트 끝 -->
			
			<br><br>
			
			<!-- 페이징 버튼 시작 -->
		<div align="center">
			<button class="page_btn1" th:if="${ selectCriteria.pageNo <= 1 }" type="button" disabled ><img src="/images/common/prevPage.png"/></button>		
			<button class="page_btn1" th:if="${ selectCriteria.pageNo > 1 } and ${ businessNoticeSearchDTO.startDate == null } and ${ businessNoticeSearchDTO.endDate == null }" type="button" id="prevPage" onclick="preButtonAction();" ><img src="/images/common/prevPage.png"/></button>		
			<button class="page_btn1" th:if="${ selectCriteria.pageNo > 1 } and (${ businessNoticeSearchDTO.startDate != null } or ${ businessNoticeSearchDTO.endDate != null })" type="button" id="searchPrevPage" onclick="searchPreButtonAction();"><img src="/images/common/prevPage.png"/></button>		
			
			<span th:each="p : ${#numbers.sequence(selectCriteria.startPage,selectCriteria.endPage)}">
				<button class="page_btn2" th:if="${selectCriteria.pageNo == p}" th:text="${p}" disabled></button>
				<button class="page_btn2" th:if="${selectCriteria.pageNo != p} and ${ businessNoticeSearchDTO.startDate == null } and ${ businessNoticeSearchDTO.endDate == null }" th:text="${p}" onclick="pageButtonAction(this.innerText);"></button>
				<button class="page_btn2" th:if="${selectCriteria.pageNo != p} and (${ businessNoticeSearchDTO.startDate != null } or ${ businessNoticeSearchDTO.endDate != null })" th:text="${p}" onclick="searchPageButtonAction(this.innerText);"></button>
			</span>		
			
			<button class="page_btn3" th:if="${ selectCriteria.pageNo >= selectCriteria.maxPage }" type="button" disabled ><img src="/images/common/nextPage.png"/></button>	
			<button class="page_btn3" th:if="${ selectCriteria.pageNo < selectCriteria.maxPage } and ${ businessNoticeSearchDTO.startDate == null } and ${ businessNoticeSearchDTO.endDate == null }" type="button" id="nextPage" onclick="nextButtonAction();"><img src="/images/common/nextPage.png"/></button>						
			<button class="page_btn3" th:if="${ selectCriteria.pageNo < selectCriteria.maxPage } and (${ businessNoticeSearchDTO.startDate != null } or ${ businessNoticeSearchDTO.endDate != null })" type="button" id="searchNextPage" onclick="searchNextButtonAction();"><img src="/images/common/nextPage.png"/></button>					
			
			<input type="hidden" id="currentPageByPaging" name="currentPageByPaging" th:value="${businessNoticeSearchDTO.currentPage}">
			<input type="hidden" id="startDateByPaging" name="startDateByPaging" th:value="${businessNoticeSearchDTO.startDate}">
			<input type="hidden" id="endDateByPaging" name="endDateByPaging" th:value="${businessNoticeSearchDTO.endDate}">
			
			<br><br><br>
		</div>
	<!-- 페이징 버튼 종료 -->
			
	</section>
		
	<script>
		
	/* 목록 클릭시 상세조회 페이지로 이동 */
	$("#test_1 tr").click(function() {

		var businessNoticeNo = $(this).find("input:eq(0)").val();
		location.href="/businessNotice/detail?businessNoticeNo=" + businessNoticeNo;
	});
		
	/* 페이징  */
	/* 공통으로 사용할 link */
	const link = "/businessNotice/list";
	
	/* 검색조건이 없을 때 이전버튼 클릭 시 작동 */
	function preButtonAction() {
			
		/* html에서 input태그에 hidden타입으로 controller로부터 받아온 값을 value를 저장해놓았음. 그 값을 script에서 저장 */
		var currentPage = $("#currentPageByPaging").val();
		
		/* 경로 이동 */
		location.href = link + "?currentPage=" + (currentPage - 1); 

		
	}
	/* 검색조건이 있을 때 이전버튼 클릭 시 작동 */
	function searchPreButtonAction() {
		
		/* html에서 input태그에 hidden타입으로 controller로부터 받아온 값을 value를 저장해놓았음. 그 값을 script에서 저장 */
		var currentPage = $("#currentPageByPaging").val();
		var startDate = $("#startDateByPaging").val();
		var endDate = $("#endDateByPaging").val();
		
		/* 경로 이동 */
		location.href = link + "?currentPage=" +  (currentPage - 1) + "&startDate=" + startDate + "&endDate=" + endDate;
	}
	
	/* 검색조건이 없을 때 숫자 클릭 시 작동 */
	function pageButtonAction(text) {
			
		/* 경로 이동 */
	    location.href = link + "?currentPage=" + text;
	        
	}
	
	/* 검색조건이 있을 때 숫자 클릭 시 작동 */
	  function searchPageButtonAction(text) {
		  
		/* html에서 input태그에 hidden타입으로 controller로부터 받아온 값을 value를 저장해놓았음. 그 값을 script에서 저장 */  
		var startDate = $("#startDateByPaging").val();
		var endDate = $("#endDateByPaging").val();

		/* 경로 이동 */  
	    location.href = link + "?currentPage=" + text + "&startDate=" + startDate + "&endDate=" + endDate;
	   		
	}
	
	/* 검색조건이 없을 때 다음버튼 클릭 시 작동 */
	function nextButtonAction() {
		
		/* html에서 input태그에 hidden타입으로 controller로부터 받아온 값을 value를 저장해놓았음. 그 값을 script에서 저장 */
		var currentPage = $("#currentPageByPaging").val();
		
		/* currentPage변수는 현재 문자열이기 때문에 숫자로 변환함 */
		currentPage *= 1;

		/* 경로 이동 */
		location.href = link + "?currentPage=" + (currentPage + 1);
		
	}
	
	/* 검색조건이 있을 때 다음버튼 클릭 시 작동 */
	function searchNextButtonAction() {
		
		/* html에서 input태그에 hidden타입으로 controller로부터 받아온 값을 value를 저장해놓았음. 그 값을 script에서 저장 */
		var currentPage = $("#currentPageByPaging").val();
		
		/* currentPage변수는 현재 문자열이기 때문에 숫자로 변환함 */
		currentPage *= 1;
		var startDate = $("#startDateByPaging").val();
		var endDate = $("#endDateByPaging").val();
		
		/* 경로 이동 */
		location.href = link + "?currentPage=" +  (currentPage + 1) + "&startDate=" + startDate + "&endDate=" + endDate;
	}
	
	</script>
</body>
</html>