<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<link rel="stylesheet" type="text/css" href="/css/businessNotice/update.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

	<div th:replace="common/salesHeader.html"></div>

	<form action="/businessNotice/update" method="post"	encType="multipart/form-data">
		<!-- 첨부자료 시작 -->
		<section class="section01">
	
	    <div class="blue_box">
	        <div class="title">첨부자료</div>
	    </div>
	
	    <div class="gray_box">
	        <div class="text_0102">
	        <input class="attachment" type="file" name="multiFiles" multiple> 
	        <div>
	        <th:block th:if="${ fileList.size <= 0 }">
	        	<span class="inp">첨부파일이 없습니다.</span>
	        </th:block>
	        	<div class="text_01" th:each="fileList : ${ fileList }">
	            	<a class="attachments"  th:text="${ fileList.fileOriginalName }"></a>
	            	<button class="com_icon_btn2" type="button" onclick="deleteFile(this);">
	            	<img class="com_title_icon01" src="/images/common/x.png" style="margin-top: -12.5px;"/></button>
	            	<input type="hidden" class="attachments" name="businessFileNo" th:value="${ fileList.businessFileNo }" readonly>
	            </div>
	        </div>
	        </div>
	    </div>
	</section>
		<!-- 첨부자료 끝 -->

		<!-- 계약 등록 폼 -->
	<section class="section02">
	<div class="section02_1">
	    <div class="com_title">
	        <div class="com_title_text">영업공지</div>
	        <div class="com_icon">
	        	<button class="com_title_icon01" type="submit"><img class="com_title_icon01" src="/images/common/restore.png"/></button>
	            <div onclick="location.href='/businessNotice/list'"><img class="com_title_icon02" src="/images/common/list.png"/></div>
	        </div>
	    </div>
	    <div class="com_line"></div>
	
	    <div class="textbox">
	        <div class="maintext">
	            <div class="maintext01">제목</div>
	            <div class="maintext02">필독</div>
	            <div class="maintext03">등록일</div>
	            <div class="maintext04">작성자</div>
	        </div>
	
	        <div class="line_text">
	            <div class="line">
	                <div class="line01"></div>
	                <div class="line02"></div>
	                <div class="line03"></div>
	                <div class="line04"></div>
	            </div>
	            <div class="middletext">
		        <input type="hidden" id="userNo" name="userNo" th:value="${ oneBusinessNotice.userNo }" readonly>  
		        <input class="businessNoticeNo" name="businessNoticeNo" th:value="${ oneBusinessNotice.businessNoticeNo }" type="hidden" readonly>
		        <input type="text" id="title" name="title" class="middletext01" th:value="${ oneBusinessNotice.title }" > 
		        <label class="middletext02" id="mustReadYn" style="text-align: left; padding: 9px;">
				NO <input type="radio" name="mustReadYn" value="N" >
		        YES <input type="radio" name="mustReadYn" value="Y"><br>
				</label>
				<input type="date" id="writeDate" name="writeDate" class="middletext03" 
					th:value="${ oneBusinessNotice.writeDate }" readonly>
				<input type="text" id="name" name="name" class="middletext04" th:value="${ oneBusinessNotice.name }" readonly>
	            </div>
	        </div>
	    </div>
	   </div>
	</section>
	
	<!-- 내용 -->
	<section class="section03">
		<div class="sec03_title">내용</div>
		<div class="sec03_line01"></div>
		<div class="space"></div>
		<div id="tableDiv"></div>
		<textarea class="sec03_content" name="content" th:text="${ oneBusinessNotice.content }"></textarea>
	</section>
	</form>
	<!-- 내용 end -->
	
	<script>
	/* 수정 버튼 클릭시 해당 게시글의 공지 번호를 전달한다 */
	$(".com_title_icon01").click(function() {
		var businessActivityNo = $(".businessActivityNo").val();
		
		location.href="/businessActivity/update?businessActivityNo=" + businessActivityNo;
		
	});
	
	/* 첨부파일 삭제 */
	function deleteFile(button) {
		
		/* input태그에 hidden타입으로 만든 파일번호를 가져옴 */
		var businessFileNo = button.parentNode.children[2].value;

		$.ajax({
			url: "/businessNotice/file/delete",
			data: {businessFileNo : businessFileNo},	          
			type: 'POST',
			success: function(data) {
				if(data > 0) {				
					alert("파일 삭제를 성공하셨습니다.");
					location.reload(true);
				} else {
					alert("파일 삭제를 실패하였습니다.")
				}
			},
			error: function(xhr) {
				console.log(xhr);
				alert("에러발생");
			}
		});
		
	};
	</script>
</body>
</html>