<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	lang="en" data-textdirection="ltr" class="loading">
<head>
	<meta charset="UTF-8">
	<title>M&M 가이드</title>
    <link rel="shortcut icon" type="image/png" th:href="@{images/ico/favicon-32.png}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{css/vendors.css}">
    <link rel="stylesheet" type="text/css" th:href="@{vendors/css/forms/icheck/icheck.css}">
    <link rel="stylesheet" type="text/css" th:href="@{vendors/css/forms/icheck/custom.css}">
    <!-- font icons-->
    <link rel="stylesheet" type="text/css" th:href="@{fonts/icomoon.css}">
    <link rel="stylesheet" type="text/css" th:href="@{fonts/flag-icon-css/css/flag-icon.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{vendors/css/extensions/pace.css}">
    <!-- END VENDOR CSS-->
    <!-- BEGIN ROBUST CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{css/app.css}">
    <!-- END ROBUST CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{css/core/menu/menu-types/horizontal-top-icon-menu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/pages/login-register.css}">
    <!-- END Page Level CSS-->
    
    <style type="text/css">
    
    .admin {
    	font-weight: bold;
    }
    
    .user {
    	font-weight: bold;
    }
    
    </style>
    
</head>
<body class="horizontal-layout horizontal-menu horizontal-menu-padding 1-column bg-cyan bg-lighten-2 menu-expanded blank-page blank-page" 
  data-open="hover" data-menu="horizontal-menu" data-col="1-column">
	
	<div class="app-content container center-layout mt-2">
		<div class="content-header row"></div>
		<div class="content-body">
			
			<section class="flexbox-container">
					<div class="col-12 d-flex align-items-center justify-content-center">
						<div class="col-md-4 col-10 box-shadow-2 p-0">
							<div class="card border-grey border-lighten-3 m-0">
								<div class="card-header border-0">
									<div class="card-title text-center">
										<div class="p-1">
											<img src="images/logo/logo-loginGuide.png" alt="M&M logo">
										</div>
									</div>
								</div>
								<div class="card-content">
								
									<div class="text-center font-small-3 mx-2">
										<p>※ PC로 이용하시는 것을 권장합니다.</p>
										<p>※ 관리자 역할 : 회원 생성 가능, 권한 부여 가능, <br> 메뉴 추가 등 모든 기능 사용가능한 마스터 계정</p>
										<p>※ 사용자 역할 : 영업활동에 필요한 기능을 사용하는 <br> 영업 사원</p>
										
										<br>
									</div>
									
									<p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2">
										<span>관리자</span>
									</p>
									
									<div class="card-body row">
										<div class="col-6 admin" style="padding-left: 30px">아이디 : admin</div>
										<div class="col-6 admin">비밀번호 : admin</div>
									</div>
									
									<p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2 my-1">
										<span>사용자</span>
									</p>
									
									<div class="card-body row">
										<div class="col-6 user" style="padding-left: 30px">아이디 : user01</div>
										<div class="col-6 user">비밀번호 : pass01</div>
									</div>
									
									<div class="card-body">
										<a onclick="window.close()" class="btn btn-outline-danger btn-block"><i class="ft-x-square"></i> 닫기</a>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</section>
			
		</div>
	</div>

</body>
</html>