<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	lang="en" data-textdirection="ltr" class="loading">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>M&M</title>
    <link rel="shortcut icon" type="image/png" th:href="@{images/ico/favicon-32.png}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{css/vendors.css}">
    <link rel="stylesheet" type="text/css" th:href="@{vendors/css/forms/icheck/icheck.css}">
    <link rel="stylesheet" type="text/css" th:href="@{vendors/css/forms/icheck/custom.css}">
    <!-- font icons-->
    <link rel="stylesheet" type="text/css" th:href="@{fonts/icomoon.css}">
    <link rel="stylesheet" type="text/css" th:href="@{fonts/flag-icon-css/css/flag-icon.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{vendors/css/extensions/pace.css}">
    <!-- END VENDOR CSS-->
    <!-- BEGIN ROBUST CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{css/app.css}">
    <!-- END ROBUST CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{css/core/menu/menu-types/horizontal-top-icon-menu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/pages/login-register.css}">
    <!-- END Page Level CSS-->
    <!-- BEGIN Custom CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
    <!-- END Custom CSS-->
  </head>
  <body class="horizontal-layout horizontal-menu horizontal-menu-padding 1-column  bg-cyan bg-lighten-2 menu-expanded blank-page blank-page" 
  data-open="hover" data-menu="horizontal-menu" data-col="1-column">
    <!-- ////////////////////////////////////////////////////////////////////////////-->
	<div class="app-content container center-layout mt-2">
		<div class="content-wrapper">
			<div class="content-header row"></div>
			<div class="content-body">
				<section class="flexbox-container">
					<div class="col-12 d-flex align-items-center justify-content-center">
						<div class="col-md-4 col-10 box-shadow-2 p-0">
							<div class="card border-grey border-lighten-3 m-0">
								<div class="card-header border-0">
									<div class="card-title text-center">
										<div class="p-1">
											<img th:src="@{images/logo/logo-M&M.png}" alt="M&M logo">
										</div>
									</div>
								</div>
								<div class="card-content">
									
									<p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2">
										<span>아이디 찾기</span>
									</p>
									
									<div class="card-body pt-0">
									
										<form class="form-horizontal" action="/recoverIdResult" method="post">
										
											<fieldset class="form-group floating-label-form-group mb-1">
												<input type="text" class="form-control" name="name"	placeholder="이름" autocomplete="off">
											</fieldset>
											
											<fieldset class="form-group floating-label-form-group mb-1">
												<input type="tel" class="form-control" name="phone" placeholder="휴대폰번호" autocomplete="off">
											</fieldset>
											
											<fieldset class="form-group floating-label-form-group mb-1">
											
												<select class="form-control" name="question">
													<option selected hidden>질문선택</option>
												    <option>본인 출신 초등학교는?</option>
												    <option>본인의 보물 1호는?</option>
												    <option>본인이 태어난 곳은?</option>
												    <option>본인의 별명은?</option>
											    </select>
											    
											</fieldset>
											
											<fieldset class="form-group floating-label-form-group mb-1">
												<input type="text" class="form-control" id="answer" name="answer" placeholder="질문답변" autocomplete="off">
											</fieldset>
											
											<button type="submit" class="btn btn-outline-info btn-block">
												<i class="ft-user-check"></i> 아이디 찾기
											</button>
											
											<br>
											
											<div>
												<a th:href="@{/}">Login</a>	
											</div>
											
										</form>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</section>
				
			</div>
		</div>
	</div>
	<!-- ////////////////////////////////////////////////////////////////////////////-->

    <!-- BEGIN VENDOR JS-->
    <script th:src="@{vendors/js/vendors.min.js}"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script th:src="@{vendors/js/ui/jquery.sticky.js}"></script>
    <script th:src="@{vendors/js/forms/icheck/icheck.min.js}"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN ROBUST JS-->
    <script th:src="@{js/core/app-menu.js}"></script>
    <script th:src="@{js/core/app.js}"></script>
    <!-- END ROBUST JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script th:src="@{js/scripts/forms/form-login-register.js}"></script>
    <!-- END PAGE LEVEL JS-->
  </body>
</html>