<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">

<!-- bootstrap CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-extended.css}">

<!-- myinfo CSS-->
<link rel="stylesheet" type="text/css" th:href="@{/css/mypage/myinfo.css}">

<!-- jquery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- 주소 CDN -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<!-- 상세주소 버튼 동작 JS -->
<script th:src="@{../js/setting/address.js}"></script>

<!-- CRUD 동작 JS -->
<script th:src="@{../js/setting/insert.js}"></script>

<!-- jquery, 카카오 주소 CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	
<title>M&M</title>
</head>
<body style="line-height: 2.4;">

	<div th:replace="common/adminHeader.html"></div>
	
<div class="setting" style="width: 1000px; margin-left: auto; margin-right: auto;">	
	<div class="content con011">
	
		<div class="scon_box">		
			<div class="con_list">						
				<div class="detailBox s_con mnone" style="margin-left: auto; margin-right: auto;">	
					
					<div class="myinfo_title mb-1 row" style="height: 50px">						
						<div class="col-6">회사 정보</div>
						<div class="col-6">
							<button type="submit" class="btn btn-outline-green mr-1 float-right" onclick="insertCompany();">
					    		<i class="ft-edit"></i> 저장
							</button>
						</div>
					</div>
					
					<div class="boxDiv row">
						<div class="box col-6">
							<div class="title">회사ID</div>
							<div class="content">							
								<input type="text" class="form-control" id="companyId" name="companyId" autocomplete="off" maxlength="20"
								value="">
							</div>
						</div>
						<div class="box col-6">
							<div class="title">회사명</div>
							<div class="content">
								<input type="text" class="form-control" id="companyName" name="companyName" autocomplete="off" maxlength="20"
								value="">
							</div>
						</div>
					</div>
					
					<div class="boxDiv row">
						<div class="box col-6">
							<div class="title">법인번호</div>
							<div class="content">							
								<input type="text" class="form-control" id="corporationNo" name="corporationNo" autocomplete="off" maxlength="20"
								value="">
							</div>
						</div>
						<div class="box col-6">
							<div class="title">사업자번호</div>
							<div class="content">
								<input type="text" class="form-control" id="businessNo" name="businessNo" autocomplete="off" maxlength="20"
								value="">
							</div>
						</div>
					</div>
					
					<div class="boxDiv row">
						<div class="box col-6">
							<div class="title">대표이사</div>
							<div class="content">							
								<input type="text" class="form-control" id="ceo" name="ceo" autocomplete="off" maxlength="20"
								value="">
							</div>
						</div>
						<div class="box col-6">
							<div class="title">전화번호</div>
							<div class="content">
								<input type="text" class="form-control" id="tel" name="tel" autocomplete="off" maxlength="20"
								value="">
							</div>
						</div>
					</div>
					
					<div class="boxDiv row">
						<div class="box col-6">
							<div class="title">팩스번호</div>
							<div class="content">							
								<input type="text" class="form-control" id="fax" name="fax" autocomplete="off" maxlength="20"
								value="">
							</div>
						</div>
						
						<div class="box col-4">
							<div class="title" style="width: 139px">우편번호</div>
							<div class="content" style="width: 150px">							
								<input type="text" class="form-control" id="zipCode" name="zipCode" autocomplete="off" maxlength="20" 
								value="" disabled="disabled">
								
							</div>
						</div>
						<div class="box col-2">
							<input type="button" class='btn btn-outline-light-blue mr-1' id="searchZipCode" onclick="ExecPostCode();" value="상세주소">
						</div>
						
					</div>
					
					<div class="boxDiv row">

						<div class="box col-6">
							<div class="title">주소</div>
							<div class="content">
								<input type="text" class="form-control" id="address" name="address" autocomplete="off" maxlength="20"
								value="" disabled="disabled">
							</div>
						</div>
						
						<div class="box col-6">
							<div class="title">상세주소</div>
							<div class="content">							
								<input type="text" class="form-control" id="detailedAddress" name="detailedAddress" autocomplete="off" maxlength="20"
								value="">
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>

	</div><!-- //content -->
		
</div><!-- //setting -->
	
</body>
</html>