<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/client/insert.css}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script th:src="@{/js/client/insert.js}"></script>
</head>
<body>

	<!-- 헤더 -->
	<div th:replace="common/salesHeader.html"></div>
	
	<form action="/client/insert" id="clientInsert" method="post" onsubmit="return checkValue();" encType="multipart/form-data">
	
	<!-- 첨부자료 시작 -->
	<section class="section01">
	
	    <div class="blue_box">
	        <div class="title">첨부자료</div>
	    </div>
	
	    <div class="gray_box">
	        <div class="text_0102">
	            <div class="text_01">
	                <div class="text01">
	                	<input class="attachments" type="file" name="multiFiles" multiple> 	
	                </div>	                
	            </div>
	            <div class="text_02">
	                <div class="text02"></div>
	                <div class="button02"></div>
	            </div>
	        </div>
	    </div>
	</section>
	<!-- 첨부자료 끝 -->
	
	<!-- 화면의 오른쪽 블럭 시작 -->
	<section class="section02">
	
		<!-- 고객 작성 입력 폼 시작 -->
	    <div class="cus_title">
	        <div class="cus_title_text">고객 등록</div>
	        <div class="cus_icon">
	            <button class="cus_icon_btn" type="submit"><img class="cus_title_icon01" src="../images/common/restore.png"/></button>
	            <div onclick="location.href='/client/list'" class="cus_title_icon01"><img src="../images/common/list.png"/></div>
	        </div>
	         <div class="cus_icon2">
	            <button class="cus_icon_btn" type="submit"><img class="cus_title_icon01" src="../images/common/restore.png"/></button>
	            <div onclick="location.href='/client/list'" class="cus_title_icon01"><img src="../images/common/list.png"/></div>
	        </div>
	    </div>
	    <div class="cus_line"></div>
	
	    <div class="textbox">
	        <div class="maintext">
	            <div class="maintext01">* 고객</div>
	            <div class="maintext02">* 고객사</div>
	            <div class="maintext03">부서</div>
	            <div class="maintext04">직책</div>
	            <div class="maintext05">* 휴대번호</div>
	            <div class="maintext06">유선번호</div>
	            <div class="maintext07">* 메일</div>
	            <div class="maintext08">* 등급</div>
	            <div class="maintext09">* KeyMan</div>
	            <div class="maintext10">* 담당자</div>
	            <div class="maintext10">비고</div>
	        </div>
	
	        <div class="line_text">
	            <div class="line">
	                <div class="line01"></div>
	                <div class="line02"></div>
	                <div class="line03"></div>
	                <div class="line04"></div>
	                <div class="line05"></div>
	                <div class="line06"></div>
	                <div class="line07"></div>
	                <div class="line08"></div>
	                <div class="line09"></div>
	                <div class="line10"></div>
	                <div class="line11"></div>
	            </div>
	            <div class="middletext">
	                <input type="hidden" id="clientCompanyNo" name="clientCompanyNo">
	                <input type="hidden" id="userNo" name="userNo">
	                <input type="text" id="clientName" name="clientName" class="middletext01">
	                <input type="text" id="clientCompanyName" name="clientCompanyName" class="middletext02" readonly>
	                <input type="text" id="dept" name="dept" class="middletext03">
	                <input type="text" id="job" name="job" class="middletext04">
	                <input type="text" id="phone" name="phone" class="middletext05">
	                <input type="text" id="landlineTel" name="landlineTel" class="middletext06">
	                <input type="text" id="email" name="email" class="middletext07">
	                <select id="grade" name="grade" class="middletext08">
	                	<option value="선택안함">선택하세요</option>
	                	<option value="S">S</option>
	                	<option value="A">A</option>
	                	<option value="B">B</option>
	                	<option value="C">C</option>
	                	<option value="D">D</option>
	                	<option value="F">F</option>
	                </select>
	                <div class="middletext09">
	                	<input class="middletext09_radio" type="radio" name="keyMan" value="Y" id="keyManYes" checked><label class="middletext09_label" for="keyManYes">Yes</label>
	       			    <input class="middletext09_radio" type="radio" name="keyMan" value="N" id="keyManNo"><label class="middletext09_label"for="keyManNo">No</label>
	                </div>
	                <input type="text" id="name" name="name" class="middletext10" readonly>
	                <textarea id="note" name="note" class="middletext11"></textarea>
	            </div>
	            <div class="icon">
	                <div class="icon01"><img class="middletext_icon" src="../images/common/client.png"/></div>
	                <div class="icon02" onclick="selectClientCompanyList();"><img class="middletext_icon" src="../images/common/open.png"/></div>
	                <div class="icon03" onclick="selectUserList();"><img class="middletext_icon" src="../images/common/open.png"/></div>
	            </div>
	        </div>
	    </div>
	    <div class="restArea"></div>
	    <!-- 고객 작성 입력 폼 끝 -->
	    
	</section>
	<!-- 화면의 오른쪽 블럭 끝 -->
	
	</form>
	
	<!-- 고객사 모달 시작 -->
	<a href="#dialog" id="modalOpen" role="button" class="btn btn-default modalOpen" data-toggle="modal"></a>
		<div class="modal fade bd-example-modal-xl modal_setting" id="dialog" role="dialog" aria-labelledby="dlogLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" id="p-modalArea" role="document">		
				<div class="modal-content">
					<div class="modal-header">
	                	<h4 class="modal-title" id="dlogLabel" >고객사 조회</h4>
					</div>
                    <div class="modal-body">
						<table id="clientCompanyList" class="modal-body-content">
							<thead>
								<tr class="clientCompanyList-tr">
									<th>고객사명</th>
									<th>구분</th>
									<th>주소</th>
									<th>상세주소</th>
									<th>등록일</th>
								</tr>
							</thead>
							<tbody id="clientCompanyTbody" class="clientCompanyTbody">								
							</tbody>
						</table>
                    </div>                   
                    <div class="modal-footer">
                        <a id="btn-close" class="btn btn-close" data-dismiss="modal">닫기</a> 
                    </div>
				</div>
			</div>
		</div>
	<!-- 고객사 모달 끝 -->
	
	<!-- 담당자 모달 시작 -->
	<a href="#dialog2" id="modalOpen2" role="button" class="btn btn-default modalOpen" data-toggle="modal"></a>
		<div class="modal fade bd-example-modal-xl modal_setting2" id="dialog2" role="dialog2" aria-labelledby="dlogLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" id="p-modalArea" role="document">		
				<div class="modal-content">
					<div class="modal-header">
	                	<h4 class="modal-title" id="dlogLabel" >담당자 조회</h4>
					</div>
                    <div class="modal-body">
						<table id="userList" class="modal-body-content2">
							<thead>
								<tr class="userList-tr">
									<th>담당자 이름</th>
									<th>부서</th>
									<th>직위</th>
								</tr>
							</thead>
							<tbody id="userTbody" class="userTbody">								
							</tbody>
						</table>
                    </div>                   
                    <div class="modal-footer">
                        <a id="btn-close" class="btn btn-close" data-dismiss="modal">닫기</a> 
                    </div>
				</div>
			</div>
		</div>
	<!-- 담당자 모달 끝 -->

</body>
</html>