<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<link rel="stylesheet" type="text/css" th:href="@{../css/client/list.css}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script th:inline="javascript" th:src="@{/js/client/list.js}"></script>
<script>

	/* 고객사 등록의 성공실패여부에 따른 메세지 출력 */
	const message = '[[${ message }]]';
	
	if(message) {
		alert(message);
	}
</script>
</head>
<body>

	<!-- 헤더 -->
	<div th:replace="common/salesHeader.html"></div>

	<!-- 검색조건 시작 -->
	<form id="search" action="/client/list" method="get">
	<section class="search_part">
		<div class="search_title">검색조건</div>

		<div class="all_box">
			<div class="part01">
				<input type="hidden" id="currentPage" name="currentPage" value="1">
				<select id="search_text" class="select_box" name="selectSearch">
					<option value="">검색어 종류를 선택하세요</option>
					<option value="고객">고객</option>
					<option value="고객사">고객사</option>
					<option value="메일">메일</option>
					<option value="휴대폰번호">휴대폰번호</option>
				</select> 
				<input id="searchValue" name="searchValue" class="search_input" type="text" placeholder="검색어를 입력하세요">
				<input id="name" class="search_input" type="text" placeholder="담당자" readonly>	
				<input type="hidden" id="userNo" name="userNo">
				<div class="icon01" id="userModal" onclick="openModal();"><img src="/images/common/open.png"/></div>	
				<button class="search_button" type="submit">검색</button>
			</div>
		</div>
	</section>
	</form>
	<!-- 검색조건 끝 -->

	<!-- 화면의 오른쪽 블럭 시작 -->
	<section class="customer_box">
		
		<!-- 고객 리스트 조회 목록 시작 -->
		<div class="customer_title">
			<div class="">고객 : 검색결과 ( <span th:text="${ totalCount }"></span>건 )</div>
			<div onclick="location.href='/client/insert'"><img class="cus01_img" src="../images/common/jam_write.png"/></div>
		</div>

		<div th:each="clientList : ${ clientList }" class="cus01">
			<div class="cus01_1">
				<div class="cus01_main" onclick="selectClient(this);" >
					<div class="cus01_img"><img class="cus01_img" src="../images/common/users.png"/></div>
					<div class="cus01_name" >
						<input id="clientNo" name="clientNo" type="hidden" th:value="${ clientList.clientNo }">
						<div th:text="${ clientList.clientName }"></div>
						<div class="cus01_name_text">(</div>
						<div th:text="${ clientList.clientCompanyName }"></div>
						<div class="cus01_name_text">/</div>
						<div class="cus01_name_text" th:text="${ clientList.dept }"></div>
						<div class="cus01_name_text">/</div>
						<div class="cus01_name_text" th:text="${ clientList.job }"></div>
						<div>)</div>										
					</div>
				</div>

				<div class="cus01_s_tag">
					<div align="center"><img class="cus01_img" src="../images/common/manager2.png"/><div class="img1" th:text="${ clientList.name }"></div></div>										
					<button class="cus01_blue" id="busniessActivityModal" type="button" onclick="businessActivity(this);" th:each="clientCount : ${ clientCount }" 
					                                                                                                      th:if="${ clientList.clientNo == clientCount.clientNo }" 
					                                                                                                      th:text="${ clientCount.businessActivityCount }+건"></button>
				</div>
			</div>
			
			<div class="cus01_2">				
				<div><img class="cus01_email" src="../images/common/mail.png"/></div>
				<div class="mess_text01" th:text="${ clientList.email }"></div>
				<div><img class="cus01_line" src="../images/common/Line.png"/></div>
				<div><img class="cus01_phone" src="../images/common/phone.png"/></div>
				<div class="phone_text01" th:text="${ clientList.phone }"></div>				
				<div><img class="cus01_line" src="../images/common/Line.png"/></div>
				<div><img class="cus01_tel" src="../images/common/tel.png"/></div>
				<div class="tel_text01" th:text="${ clientList.landlineTel }"></div>					
			</div>
		</div>
		<!-- 고객 리스트 조회 목록 끝 -->

		<br><br><br><br><br>
		
		<!-- 페이징 버튼 시작 -->
		<div align="center">
			<button class="page_btn1" th:if="${ selectCriteria.pageNo <= 1 }" type="button" disabled ><img src="/images/common/prevPage.png"/></button>		
			<button class="page_btn1" th:if="${ selectCriteria.pageNo > 1 } and ${ clientSearch.clientName == null } 
			                                                                and ${ clientSearch.clientCompanyName == null } and ${ clientSearch.phone == null } 
			                                                                and ${ clientSearch.email == null } and ${ clientSearch.userNo == null }" type="button" id="prevPage" onclick="preButtonAction();" >
			                                                                <img src="/images/common/prevPage.png"/></button>		
			<button class="page_btn1" th:if="${ selectCriteria.pageNo > 1 } and (${ clientSearch.clientName != null } 
																			or ${ clientSearch.clientCompanyName != null } 
																			or ${ clientSearch.phone != null } 
																			or ${ clientSearch.email != null } 
																			or ${ clientSearch.userNo != null })" type="button" id="searchPrevPage" onclick="searchPreButtonAction();">
																			<img src="/images/common/prevPage.png"/></button>		
			
			<span th:each="p : ${#numbers.sequence(selectCriteria.startPage,selectCriteria.endPage)}">
				<button class="page_btn2" th:if="${selectCriteria.pageNo == p}" th:text="${p}" disabled></button>
				<button class="page_btn2" th:if="${selectCriteria.pageNo != p} and ${ clientSearch.clientName == null } 
																			   and ${ clientSearch.clientCompanyName == null } 
																			   and ${ clientSearch.phone == null } 
																			   and ${ clientSearch.email == null } 
																			   and ${ clientSearch.userNo == null }" th:text="${p}" onclick="pageButtonAction(this.innerText);"></button>
				<button class="page_btn2" th:if="${selectCriteria.pageNo != p} and (${ clientSearch.clientName != null } 
																			   or ${ clientSearch.clientCompanyName != null } 
																			   or ${ clientSearch.phone != null } 
																			   or ${ clientSearch.email != null } 
																			   or ${ clientSearch.userNo != null })" th:text="${p}" onclick="searchPageButtonAction(this.innerText);"></button>
			</span>		
			
			<button class="page_btn3" th:if="${ selectCriteria.pageNo >= selectCriteria.maxPage }" type="button" disabled ><img src="/images/common/nextPage.png"/></button>	
			<button class="page_btn3" th:if="${ selectCriteria.pageNo < selectCriteria.maxPage } and ${ clientSearch.clientName == null } 
																								 and ${ clientSearch.clientCompanyName == null } 
																								 and ${ clientSearch.phone == null } 
																								 and ${ clientSearch.email == null } 
																								 and ${ clientSearch.userNo == null }" type="button" id="nextPage" onclick="nextButtonAction();">
																								 <img src="/images/common/nextPage.png"/></button>						
			<button class="page_btn3" th:if="${ selectCriteria.pageNo < selectCriteria.maxPage } and (${ clientSearch.clientName != null } 
																								 or ${ clientSearch.clientCompanyName != null } 
																								 or ${ clientSearch.phone != null } 
																								 or ${ clientSearch.email != null } 
																								 or ${ clientSearch.userNo != null })" type="button" id="searchNextPage" onclick="searchNextButtonAction();">
																								 <img src="/images/common/nextPage.png"/></button>						
			
			<input type="hidden" id="currentPageByPaging" name="currentPageByPaging" th:value="${clientSearch.currentPage}">
			<input type="hidden" id="clientNameByPaging" name="clientNameByPaging" th:value="${clientSearch.clientName}">
			<input type="hidden" id="clientCompanyNameByPaging" name="clientCompanyNameByPaging" th:value="${clientSearch.clientCompanyName}">
			<input type="hidden" id="phoneByPaging" name="phoneByPaging" th:value="${clientSearch.phone}">
			<input type="hidden" id="emailByPaging" name="emailByPaging" th:value="${clientSearch.email}">
			<input type="hidden" id="userNoByPaging" name="userNoByPaging" th:value="${clientSearch.userNo}">
			
			<br><br><br>
		</div>
		<!-- 페이징 버튼 종료 -->
		
		<button class="page_btn4" onclick="window.location.href='#top'"><img src="/images/common/top.png"/></button>
		<div class="restArea"></div>			
	</section>
	<!-- 화면의 오른쪽 블럭 끝 -->
	
	<!-- 담당자 모달 시작 -->
	<a href="#dialog" id="modalOpen" role="button" class="btn btn-default modalOpen" data-toggle="modal"></a>
		<div class="modal fade bd-example-modal-xl modal_setting" id="dialog" role="dialog" aria-labelledby="dlogLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" id="p-modalArea" role="document">		
				<div class="modal-content">
					<div class="modal-header">
	                	<h4 class="modal-title" id="dlogLabel" >담당자 조회</h4>
					</div>
                    <div class="modal-body">
						<table id="userList" class="modal-body-content">
							<thead>
								<tr class="userList-tr">
									<th>담당자 이름</th>
									<th>부서</th>
									<th>직위</th>
								</tr>
							</thead>
							<tbody id="userTbody" class="userTbody">								
							</tbody>
						</table>
                    </div>                   
                    <div class="modal-footer">
                        <a id="btn-close" class="btn btn-close" data-dismiss="modal">닫기</a> 
                    </div>
				</div>
			</div>
		</div>
		<!-- 담당자 모달 끝 -->
		
	<!-- 영업활동 모달 시작 -->
	<a href="#dialog2" id="modalOpen2" role="button" class="btn btn-default modalOpen" data-toggle="modal"></a>
		<div class="modal fade bd-example-modal-xl modal_setting2" id="dialog2" role="dialog2" aria-labelledby="dlogLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" id="p-modalArea" role="document">		
				<div class="modal-content">
					<div class="modal-header">
	                	<h4 class="modal-title" id="dlogLabel">영업활동 조회</h4>
					</div>
                    <div class="modal-body">
						<table id="businessActivityList" class="modal-body-content2">
							<thead>
								<tr class="busniessActivityList-tr">
									<th>영업활동일자</th>
									<th>활동분류</th>
									<th>활동목적</th>
									<th>영업기회</th>
								</tr>
							</thead>
							<tbody id="businessActivityTbody" class="businessActivityTbody">								
							</tbody>
						</table>
                    </div>                   
                    <div class="modal-footer">
                        <a id="btn-close" class="btn btn-close" data-dismiss="modal">닫기</a> 
                    </div>
				</div>
			</div>
		</div>
		<!-- 영업활동 모달 끝 -->

</body>
</html>