<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/client/select.css}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script th:src="@{/js/client/select.js}"></script>
</head>
<body>

	<!-- 헤더 -->
	<div th:replace="common/salesHeader.html"></div>
	
	<!-- 첨부자료 시작 -->
	<section class="section01">
	
	    <div class="blue_box">
	        <div class="title">첨부자료</div>
	    </div>
	
	    <div class="gray_box">
	        <div class="text_0102">
	        	<th:block th:if="${ clientAttachmentList.size <= 0 }">
	        		<span class="inp">첨부파일이 없습니다.</span>
	       		</th:block>
	            <div class="text_01">
	                <div class="text01" th:each="clientAttachmentList : ${ clientAttachmentList }">
	                	<a class="attachments" href="#this" th:text="${ clientAttachmentList. fileOriginalName}"></a>
	                	<input type= "hidden"  class="attachments" th:value="${ clientAttachmentList. fileNo}"> 	
	                </div>	                
	            </div>
	            <div class="text_02">
	                <div class="text02"></div>
	                <div class="button02"></div>
	            </div>
	        </div>
	    </div>
	</section>
	<!-- 첨부자료 끝 -->
	
	<!-- 화면의 오른쪽 블럭 시작 -->
	<section class="section02">
	
		<!-- 고객사 상세정보조회 시작 -->
	    <div class="cus_title">
	        <div class="cus_title_text">고객 조회</div>
	        <div class="cus_icon">
	            <div onclick="update();"><img class="cus_title_icon01" src="../images/common/update.png"/></div>
	            <div onclick="remove();"><img class="cus_title_icon01" src="../images/common/delete.png"/></div>
	            <div onclick="location.href='/client/list'"><img class="cus_title_icon01" src="../images/common/list.png"/></div>
	        </div>
	        <div class="cus_icon2">
	            <div onclick="update();"><img class="cus_title_icon01" src="../images/common/update.png"/></div>
	            <div onclick="remove();"><img class="cus_title_icon01" src="../images/common/delete.png"/></div>
	            <div onclick="location.href='/client/list'"><img class="cus_title_icon01" src="../images/common/list.png"/></div>
	        </div>
	    </div>
	    <div class="cus_line"></div>
	
	    <div class="textbox">
	        <div class="maintext">
	            <div class="maintext01">고객</div>
	            <div class="maintext02">고객사</div>
	            <div class="maintext03">부서</div>
	            <div class="maintext04">직책</div>
	            <div class="maintext05">휴대번호</div>
	            <div class="maintext06">유선번호</div>
	            <div class="maintext07">메일</div>
	            <div class="maintext08">등급</div>
	            <div class="maintext09">KeyMan</div>
	            <div class="maintext10">담당자</div>
	            <div class="maintext10">비고</div>
	        </div>
	
	        <div class="line_text">
	            <div class="line">
	                <div class="line01"></div>
	                <div class="line02"></div>
	                <div class="line03"></div>
	                <div class="line04"></div>
	                <div class="line05"></div>
	                <div class="line06"></div>
	                <div class="line07"></div>
	                <div class="line08"></div>
	                <div class="line09"></div>
	                <div class="line10"></div>
	                <div class="line11"></div>
	            </div>
	            <div class="middletext">
	                <input type="text" id="clientName" name="clientName" class="middletext01" th:value="${client.clientName}" readonly>
	                <input type="text" id="clientCompanyName" name="clientCompanyName" class="middletext02" th:value="${client.clientCompanyName}" readonly>
	                <input type="text" id="dept" name="dept" class="middletext03" th:value="${client.dept}" readonly>
	                <input type="text" id="job" name="job" class="middletext04" th:value="${client.job}" readonly>
	                <input type="text" id="phone" name="phone" class="middletext05" th:value="${client.phone}" readonly>
	                <input type="text" id="landlineTel" name="landlineTel" class="middletext06" th:value="${client.landlineTel}" readonly>
	                <input type="text" id="email" name="email" class="middletext07" th:value="${client.email}" readonly>
	                <input type="text" id="grade" name="grade" class="middletext08" th:value="${client.grade}" readonly>	                
	                <input type="text" id="keyMan" name="keyMan" class="middletext09" th:value="${client.keyMan}" readonly>	                	                
	                <input type="text" id="name" name="name" class="middletext10" th:value="${client.name}" readonly>
	                <textarea id="note" name="note" class="middletext11" th:text="${client.note}" readonly></textarea>
	            </div>
	            <div class="icon">
	                <div class="icon01"><img class="middletext_icon" src="../images/common/client.png"/></div>
	            </div>
	        </div>
	    </div>
	    <!-- 고객사 상세정보조회 끝 -->
	    
	    <div class="restArea"></div>
	    
	    <!-- 의견 작성/조회/삭제 시작 -->
	    <div class="opinion">
	    	<div class="opinion_title">
				<div class="opinion_title_text">
					<div class="opinion_title_text2">의견</div>
				</div>
			</div>	    	
		    <div class="com_line"></div>	    
		    <div class="opinion_content_write">
		    	<input id="clientNo" name="clientNo" type="hidden" th:value="${ client.clientNo }">
			    <textarea id="opinion_textarea" class="opinion_textarea" name="opinionContent" rows="" cols=""></textarea>
			    <button type="button" onclick="insertOpinion();" id="opinion_btn" class="opinion_btn">의견</button>
		    </div>		   	
			<div id="opinionList"><br></div>			    	      
	  	    <div class="restArea3"></div>
	    </div>
	    <!-- 의견 작성/조회/삭제 끝 -->
	    
	</section>
	<!-- 고객 작성 입력 폼 끝 -->	
	
</body>
</html>