<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<script>
	const successMessage = '[[${ successMessage }]]';
	
	if(successMessage) {
		alert(successMessage);
	}
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

<!-- BEGIN VENDOR CSS-->
<link rel="stylesheet" type="text/css" th:href="@{/css/vendors.css}">
<link rel="stylesheet" type="text/css" th:href="@{/vendors/css/tables/datatable/dataTables.bootstrap4.min.css}">
<!-- END VENDOR CSS-->
<!-- BEGIN ROBUST CSS-->
<link rel="stylesheet" type="text/css" th:href="@{/css/app.min.css}">
<!-- END ROBUST CSS-->
<!-- BEGIN Custom CSS-->
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<!-- END Custom CSS-->
</head>
<body>
	<div th:replace="common/salesHeader.html"></div>
	
	<div class="col-12">
        <div class="card">
            <div class="card-head">
                <div class="card-header">
                	<div>
	                	<h4 class="card-title">개인매출목표관리</h4>
                	</div>
                </div>
            </div>
            <div class="card-content">
                <div class="card-body">
                	<div>
                		<select th:name="year" id="selectYear">
                        	<option value=" "> - 연도 - </option>
                        	<option th:each="year : ${ yearList }"
                        			th:value="${ year }" th:utext="${ year }">
	                    </select>
	                    <select th:name="responsibility" id="selectResponsibility">
	                      	<option value=" "> - 담당자 - </option>
	                       	<option th:each="user : ${ userList }"
	                       			th:value="${ user.userNo }" th:utext="${ user.name }">
	                    </select>
	                    <select name="measure" id="selectMeasure">
	                      	<option value="상품매출">상품매출</option>
	                       	<option value="매출건수">매출건수</option>
	                    </select>
	            		<button class="btn btn-primary btn-sm" id="searchBtn"><i class="ft-plus white"></i>검색하기</button>
                	</div>
                	<hr>
                
	                <!-- Invoices List table -->
	                <div class="table-responsive">
	                <table id="invoices-list" class="table table-white-space table-bordered display no-wrap table-middle">
				        <thead>
				            <tr>
				            	<th>순번</th>
				                <th>제품명</th>
				                <th>번호</th>
				                <th>합계</th>
				        		<th th:each="m : ${ #numbers.sequence(1, 12) }"	th:text="${ m }"></th>
				                <th>수정여부</th>
				            </tr>
				        </thead>
				        
			        	<!-- 목표 내용 -->
				        <tbody id="goalTbody">
				        	<tr th:each="goal, i : ${ goalList }">
				        		<td th:text="${ i.count }"></td>
				        		<td th:text="${ goal.productName }" class="productName"></td>
				        		<td th:text="${ goal.productNo }" class="productNo"></td>
								<td th:text="${ goal.totalCount }" class="totalCount"></td>
				        		
				        		<td th:if="${ goal.goalScales != null}" class="goalScale" 
				        			th:each="goalScales : ${ goal.goalScales }" 
				        			th:text="${ goalScales.value }"></td>
				        		
				        		<td th:if="${ goal.goalScales != null}" class="goalNo"
				        			th:each="goalScales : ${ goal.goalScales }"
				        			th:text="${ goalScales.key }" hidden="hidden"></td>
				        		
				        		<td th:if="${ goal.goalScales == null}" 
				        			th:each="m : ${ #numbers.sequence(1, 12) }">-</td>
				        		
				        		<!-- id="updateModalOpen" -->
				        		<!-- 본인 것만 수정하고 생성할 수 있도록 해야 함 -->
				        		<td th:if="${ goal.goalScales != null }" th:id="'detail' + ${ i.count }">
				        			<button type="button" class="btn btn-outline-success block btn-sm"
				        			data-toggle="modal" data-target="#goalUpdateForm">수정하기</button></td>
				        			
				        		<td th:if="${ goal.goalScales == null }">
				        			<button type="button" class="btn btn-outline-warning block btn-sm" 
				        			th:onclick="addInsertModal( [[${goal.productName}]], [[${goal.productNo}]] )"
				        			data-toggle="modal" data-target="#goalInsertForm">생성하기</button></td>
				        	</tr>
				        </tbody>
					</table>
					</div>
				</div>
            </div>
            
        </div>
    </div>
    
    <!-- goal 입력 모달 -->
    <div class="modal fade bd-example-modal-xl" id="goalInsertForm" role="dialog" 
    	aria-labelledby="dlogLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<form action="/goal/crew/insert" method="post" id="goalCrewInsert">
					<div class="modal-header" style="background: #4dd0e1;">
						<div>
							<h3 class="modal-title" id="myModalLabel34"><i class="fa fa-lightbulb-0"></i>목표입력</h3>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div>
							<label>해당 제품명 : </label>
							<input type="text" id="modalProductName" name="insertProductName" readonly/><br>
							<label>해당 제품번호 : </label>
							<input type="text" id="modalProductNo" name="insertProductNo" readonly/><br>
							<div class="alert alert-success" role="alert">
								<span class="text-bold-600">주의</span>
								"목표는 숫자만 입력하여 주십시오(원단위 기입)"
							</div>
						</div>
					</div>
					<div class="modal-body" style="display: inline-block">
						<label>연도: </label>
						<input type="text" id="modalYear" name="updateYear">
						<label>담당자: </label>
						<input type="text" id="modalResponsibility" name="updateResponsibility">
						<div class="form-group col-lg-12">
							<label>1월 목표: 
							<input type="number" placeholder="목표매출 입력" class="form-control col-12" name="jan" required>
							</label>
							<label>2월 목표: 
							<input type="number" placeholder="목표매출 입력" class="form-control col-12" name="feb" required>
							</label>
						</div>
						<div class="form-group col-lg-12">
							<label>3월 목표: 
							<input type="number" placeholder="목표매출 입력" class="form-control col-12" name="mar" required>
							</label>
							<label>4월 목표: 
							<input type="number" placeholder="목표매출 입력" class="form-control col-12" name="apr" required>
							</label>
						</div>
						<div class="form-group col-lg-12">
							<label>5월 목표: 
							<input type="number" placeholder="목표매출 입력" class="form-control col-12" name="may" required>
							</label>
							<label>6월 목표: 
							<input type="number" placeholder="목표매출 입력" class="form-control col-12" name="jun" required>
							</label>
						</div>
						<div class="form-group col-lg-12">
							<label>7월 목표: 
							<input type="number" placeholder="목표매출 입력" class="form-control col-12" name="jul" required>
							</label>
							<label>8월 목표: 
							<input type="number" placeholder="목표매출 입력" class="form-control col-12" name="aug" required>
							</label>
						</div>
						<div class="form-group col-lg-12">
							<label>9월 목표: 
							<input type="number" placeholder="목표매출 입력" class="form-control col-12" name="sep" required>
							</label>
							<label>10월 목표: 
							<input type="number" placeholder="목표매출 입력" class="form-control col-12" name="oct" required>
							</label>
						</div>
						<div class="form-group col-lg-12">
							<label>11월 목표: 
							<input type="number" placeholder="목표매출 입력" class="form-control col-12" name="nov" required>
							</label>
							<label>12월 목표: 
							<input type="number" placeholder="목표매출 입력" class="form-control col-12" name="dec" required>
							</label>
						</div>
					</div>
					<div class="modal-footer">
						<select name="measure">
	                        <option value="상품매출">상품매출</option>
	                        <option value="매출건수">매출건수</option>
	                    </select>
						<input type="reset" class="btn btn-outline-secondary btn-lg" data-dismiss="modal" value="close">
						<input type="submit" class="btn btn-outline-primary btn-lg" value="update">
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<!-- goal 입력용 js 시작 -->
	<script>
    /* Insert Modal 내용 넣기 메소드 */
    function addInsertModal(productName,productNo) {
    	
    	console.log(productName);
    	console.log(productNo);
    	
    	/* id로 공간변수 찾기 */
    	const $modalProductName = document.getElementById("modalProductName");
    	const $modalProductNo = document.getElementById("modalProductNo");
    	
    	/* 제품명과 제품번호를 공간변수에 넣어주기 */
    	$modalProductName.value = productName;
    	$modalProductNo.value = productNo;
    	
    	/* 선택된 검색조건 가져오기 */
    	const $selectYear = document.getElementById("selectYear");
		var selectYearValue = $selectYear[$selectYear.selectedIndex].value;
		
		const $selectResponsibility = document.getElementById("selectResponsibility");
		var selectResponsibilityValue = $selectResponsibility[$selectResponsibility.selectedIndex].value;

    	/* insert 시 필요한 연도, 담당자를 넣어준다. 
    		검색을 바탕으로 insert할 경우, selectValue를 받아와서 넣어준다. */
    	if(selectYearValue == " ") {
	    	var date = new Date().getFullYear()
	    	$("#modalYear").attr("value", date);						//선택된 연도가 없는 경우, 오늘에 해당하는 연도를 넣어준다. 
    	} else {
    		$("#modalYear").attr("value", selectYearValue);
    	}
    	
    	if(selectResponsibilityValue == " ") {
	    	$("input[id=modalResponsibility]").attr("value", " ");		//선택된 담당자가 없는 경우, 공백을 보내고 Controller에서 직접 받도록 한다.
    	} else {
	    	$("input[id=modalResponsibility]").attr("value", selectResponsibilityValue);
    	}
    }
    </script>
	
	<!-- goal 수정용 모달 -->
	<div class="modal fade bd-example-modal-xl" id="goalUpdateForm" role="dialog"
		aria-labelledby="myModalLabel33" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<form action="/goal/crew/update" method="post" id="goalCrewUpdate">
					<div class="modal-header" style="background: #4dd0e1;">
						<div>
							<label class="modal-title" id="myModalLabel34"><i class="fa fa-lightbulb-0"></i>개인목표수정</label><br>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						
							<label>수정 제품명 : </label>
							<input type="text" id="UpdateModalProductName" name="updateProductName" readonly/><br>
							<label>수정 제품번호 : </label>
							<input type="text" id="UpdateModalProductNo" name="updateProductNo" readonly/><br>
							<div class="alert alert-success" role="alert">
								<span class="text-bold-600">주의</span>
								"목표는 숫자만 입력하여 주십시오(원 단위 기준)"
							</div>
						</div>
					</div>
					<div class="modal-body">
						<div class="form-group col-lg-12">
							<label>1월 목표: 
							<input type="text" class="col-12 scaleUpdate" name="scaleUpdate1" required>
							</label>
							<input type="text" class="goalNoUpdate" name="GoalNoUpdate1" hidden>
							
							<label>2월 목표: 
							<input type="text" class="col-12 scaleUpdate" name="scaleUpdate2" required>
							</label>
							<input type="text" class="goalNoUpdate" name="GoalNoUpdate2" hidden>
						</div>
						<div class="form-group col-lg-12">
							<label>3월 목표: 
							<input type="text" class="col-12 scaleUpdate" name="scaleUpdate3" required>
							</label>
							<input type="text" class="goalNoUpdate" name="GoalNoUpdate3" hidden>
							
							<label>4월 목표: 
							<input type="text" class="col-12 scaleUpdate" name="scaleUpdate4" required>
							</label>
							<input type="text" class="goalNoUpdate" name="GoalNoUpdate4" hidden>
						</div>
						<div class="form-group col-lg-12">
							<label>5월 목표: 
							<input type="text" class="col-12 scaleUpdate" name="scaleUpdate5" required>
							</label>
							<input type="text" class="goalNoUpdate" name="GoalNoUpdate5" hidden>
							
							<label>6월 목표: 
							<input type="text" class="col-12 scaleUpdate" name="scaleUpdate6" required>
							</label>
							<input type="text" class="goalNoUpdate" name="GoalNoUpdate6" hidden>
						</div>
						<div class="form-group col-lg-12">
							<label>7월 목표: 
							<input type="text" class="col-12 scaleUpdate" name="scaleUpdate7" required>
							</label>
							<input type="text" class="goalNoUpdate" name="GoalNoUpdate7" hidden>
							
							<label>8월 목표: 
							<input type="text" class="col-12 scaleUpdate" name="scaleUpdate8" required>
							</label>
							<input type="text" class="goalNoUpdate" name="GoalNoUpdate8" hidden>
						</div>
						<div class="form-group col-lg-12">
							<label>9월 목표: 
							<input type="text" class="col-12 scaleUpdate" name="scaleUpdate9" required>
							</label>
							<input type="text" class="goalNoUpdate" name="GoalNoUpdate9" hidden>
							
							<label>10월 목표: 
							<input type="text" class="col-12 scaleUpdate" name="scaleUpdate10" required>
							</label>
							<input type="text" class="goalNoUpdate" name="GoalNoUpdate10" hidden>
						</div>
						<div class="form-group col-lg-12">
							<label>11월 목표: 
							<input type="number" class="col-12 scaleUpdate" name="scaleUpdate11" required>
							</label>
							<input type="text" class="goalNoUpdate" name="GoalNoUpdate11" hidden>
							
							<label>12월 목표: 
							<input type="number" class="col-12 scaleUpdate" name="scaleUpdate12" required>
							</label>
							<input type="text" class="goalNoUpdate" name="GoalNoUpdate12" hidden>
						</div>
					</div>
					<div class="modal-footer">
						<input type="reset" class="btn btn-outline-secondary btn-lg" data-dismiss="modal" value="close">
						<input type="submit" class="btn btn-outline-primary btn-lg" value="update">
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- goal 수정용 js 시작 -->
	<script>
	/* 수정버튼을 누를경우, 수정 모달에 정보넣기 */
	$("[id^=detail]").click(function(){
		
		const productName = $(this).siblings(".productName").text();			//this는 클릭한 td가 된다.
		const productNo = $(this).siblings(".productNo").text();
		
		/* 제품명과 제품번호를 공간변수에 넣어주기 */
		$("[id=UpdateModalProductName]").val(productName);
		$("[id=UpdateModalProductNo]").val(productNo);
		
		/* 수정 목표번호를 담을 공간변수 찾기 */
		let $scaleUpdate = $("[name*=scaleUpdate]");
		let $goalNos = $("[class*=goalNoUpdate]");
		
		for(let i = 0; i < 12; i++) {
		   /* 목표량 월별로 넣기 */
		   var goalScalei = $(this).siblings().eq(i + 4).text();
		   console.log("goalScale" + i + " 목표량 : " + goalScalei);
		   
		   /* 목표번호 월별로 넣기 */
		   var goalNoi = $(this).siblings().eq(i + 16).text();
		   console.log("goalNo" + i + " 목표번호 : " + goalNoi);
		   
		   /* 목표량을 담을 공간변수 찾기 */
		   $($scaleUpdate[i]).val(goalScalei);
		   $($goalNos[i]).val(goalNoi);
		}
	   
    });
    </script>
	
	<!-- goal 검색용 js 시작 -->
    <script>
    /* 검색용 ajax 메소드 */
	if(document.getElementById("searchBtn")) {

		const $searchBtn = document.getElementById("searchBtn");

		/* 검색버튼을 누를경우 검색 메소드 실행 */
		$searchBtn.onclick = function() {
			
			/* 설정한 검색조건을 select option으로 받는다 */
			/* select 박스에서 선택된 값의 index를 가져오고, 해당 index의 value값을 받아온다 */
			const $selectYear = document.getElementById("selectYear");
			var selectYearValue = $selectYear[$selectYear.selectedIndex].value;

			const $selectResponsibility = document.getElementById("selectResponsibility");
			var selectResponsibilityValue = $selectResponsibility[$selectResponsibility.selectedIndex].value;

			const $selectMeasure = document.getElementById("selectMeasure");
			var selectMeasureValue = $selectMeasure[$selectMeasure.selectedIndex].value;
			
			/* 검색내용이 있는지 확인하는 메소드 */
			/* 검색조건이 다 있으면 ajax실행, 없으면 채워달라고 alert 창 띄우기 */
			if(selectYearValue == " ") {
				alert("검색할 연도를 선택해주세요");
			} else if(selectResponsibilityValue == " ") {
				alert("검색할 담당자를 선택해주세요");
			} else {
				$.ajax({
					url : "/goal/crew/selectAjax",
					type : "post",
					data : {
						year : selectYearValue,
						responsibility : selectResponsibilityValue,
						measure : selectMeasureValue
					},
					success : function(data) {
						
						/* 받아온 data들을 넣을 Tbody를 id로 가져온다 */
						const $table = $("#goalTbody");
						$table.html("");								//있는 값들을 지워준다

						/* 받아온 data의 index만큼 반복문을 돌린다 */
						for (let i in data) {
							
							/* <tr> 한줄을 만든다 */
							$tr = $("<tr>");
							
							/* 가져온 값들로 <td>를 생성한다 */
							$numberingTd = $("<td>").text(i + "");
							$productNameTd = $("<td>").text(data[i].productName);
							$productNoTd = $("<td>").text(data[i].productNo);
							$totalCount = $("<td>").text(data[i].totalCount);
							
							/* 생성한 <td>들을 <tr>에 붙인다 */
							$tr.append($numberingTd)
							$tr.append($productNameTd);
							$tr.append($productNoTd);
							$tr.append($totalCount);
							
							/* 검색된 것이 있는경우 */
							if(data[i].goalScales != null) {
								/* map인 goalScales의 key만큼 반복문을 돌린다 */
								for(let key in data[i].goalScales){
									
									/* map의 [key]에 해당하는 value값을 넣어준다 */
									$goalScale = $("<td>").text(data[i].goalScales[key]);
									$tr.append($goalScale);
								}
								
								/* 버튼을 넣어줄 <td>를 생성하고, id값 설정 */
								$btntd = $("<td>").attr("id", 'detail' + i);
								
								/* 버튼을 생성하고, class와 modal을 열기위한 설정, text를 넣어준다 */
								$updateBtn = $("<button>").attr("class", "btn btn-outline-success block btn-sm")
									.attr("data-toggle", "modal")
									.attr("data-target", "#goalUpdateForm")
									.text("수정하기");
								
								/* 버튼을 td에 붙이고, td는 tr에 붙인다 */
								$btntd.append($updateBtn);
								$tr.append($btntd);
							
							/* 검색된 것이 없을 경우 -만 표시해준다 */
							} else {
								for(let j = 0; j < 12; j++) {
									$goalScale = $("<td>").text("-");
									$tr.append($goalScale);
								}
								
								$btntd = $("<td>").attr("id", 'detail' + i);
								
								var pName = data[i].productName;
								var pNo = data[i].productNo;
								
								$createBtn = $("<button>").attr("class", "btn btn-outline-warning block btn-sm")
									.attr("onclick", "addInsertModal(" + pName + "," + pNo + ")")
									.attr("data-toggle", "modal")
									.attr("data-target", "#goalInsertForm")
									.text("생성하기");
								
								$btntd.append($createBtn);
								$tr.append($btntd);
							}
							
							$table.append($tr);
						}

					},
					error : function(xhr) {
						console.log(xhr);
					}
				});
			};

		}

	}

	</script>
    
    <!-- BEGIN PAGE VENDOR JS-->
    <script th:src="@{/vendors/js/ui/jquery.sticky.js}"></script>
    <script th:src="@{/vendors/js/charts/jquery.sparkline.min.js}"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN ROBUST JS-->
    <script th:src="@{/js/core/app-menu.min.js}"></script>
    <script th:src="@{/js/core/app.min.js}"></script>
    <!-- END ROBUST JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script th:src="@{/js/scripts/modal/components-modal.js}"></script>
    <!-- END PAGE LEVEL JS-->

	<!-- JS 끝 -->

</body>
</html>