<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<link rel="stylesheet" type="text/css" href="/css/consulting/detail.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

<!-- 상단바 replace -->
<div th:replace="common/salesHeader.html"></div>

	<!-- 매출 등록 폼 -->
	<section class="section02">
	    <div class="com_title">
	        <div class="com_title_text">상담 상세보기</div>
	        <div class="com_icon">
	        	<div class="updateBtn"><img class="com_title_icon01" src="/images/common/update.png"/></div>
                <div class="deleteBtn"><img class="com_title_icon01" src="/images/common/delete.png"/></div>
	            <div onclick="location.href='/consult/list'"><img class="com_title_icon01" src="/images/common/list.png"/></div>
	        </div>
	        <div class="com_icon2">
	       		<div class="updateBtn"><img class="com_title_icon01" src="/images/common/update.png"/></div>
                <div class="deleteBtn"><img class="com_title_icon01" src="/images/common/delete.png"/></div>
	            <div onclick="location.href='/consult/list'"><img class="com_title_icon01" src="/images/common/list.png"/></div>
	        </div>
	    </div>
	    <div class="com_line"></div>
	
	    <div class="textbox">
	        <div class="maintext">
	            <div class="maintext01">* 제목</div>
	            <div class="maintext02">* 고객</div>
	            <div class="maintext03">* 담당자</div>
	            <div class="maintext04">* 상담 일자</div>
	            <div class="maintext05">* 상담 방법</div>
	            <div class="maintext06">* 상담 내용</div>
	        </div>
	
	        <div class="line_text">
	            <div class="line">
	                <div class="line01"></div>
	                <div class="line02"></div>
	                <div class="line03"></div>
	                <div class="line04"></div>
	                <div class="line05"></div>
	                <div class="line15"></div>
	            </div>
	            <div class="middletext">
						<input type="hidden" id="consultingNo" name="consultingNo" th:value="${ consultDTO.consultingNo }" readonly>
		                <input type="text" id="title" name="title" class="middletext01" th:value="${ consultDTO.title }" readonly>
		                <input type="text" id="clientName" name="clientName" class="middletext02" th:value="${ consultDTO.clientName }" readonly>
		                <input type="text" id="name" name="name" class="middletext03" th:value="${ consultDTO.name }" readonly>
		                <input type="date" id="consultingDate" name="consultingDate" class="middletext04" th:value="${ consultDTO.consultingDate }" readonly>
		                <input name="consultingWay" id="consultingWay" class="middletext05" th:value="${ consultDTO.consultingWay }" readonly>
		                <textarea id="consultingContent" name="consultingContent" class="middletext15" th:text="${ consultDTO.consultingContent }" readonly></textarea>
	            </div>
	        </div>
	    </div>
	</section>
	
	<script>
	/* 삭제 버튼 클릭시 해당 게시글의 상담번호를 전달한다 */
	   $(".deleteBtn").click(function() {
	      var consultingNo = $("#consultingNo").val();
	      
	      var result = window.confirm("정말 삭제하시겠습니까?");
	      
	      if(result) {
	         location.href="/consult/delete?consultingNo=" + consultingNo;
	      }
	      
	   });
	   
	   /* 수정 버튼 클릭시 해당 게시글의 상담번호를 전달한다 */
	   $(".updateBtn").click(function() {
	      var consultingNo = $("#consultingNo").val();
	      
	      location.href="/consult/update?consultingNo=" + consultingNo;
	      
	   });
	</script>
</body>
</html>