<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<link rel="stylesheet" type="text/css" href="/css/consulting/update.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

<!-- 상단바 replace -->
<div th:replace="common/salesHeader.html"></div>
    <form action="/consult/update" method="post" onsubmit="return checkValue();">
	
	<!-- 상담 등록 폼 -->
	<section class="section02">
	    <div class="com_title">
	        <div class="com_title_text">상담 수정</div>
	        <div class="com_icon">
	        	<button class="com_icon_btn" type="submit"><img class="com_title_icon01" src="/images/common/restore.png"/></button>
	            <div onclick="location.href='/consult/list'"><img class="com_title_icon01" src="/images/common/list.png"/></div>
	        </div>
	        <div class="com_icon2">
    	        <button class="com_icon_btn" type="submit"><img class="com_title_icon01" src="/images/common/restore.png"/></button>
	            <div onclick="location.href='/consult/list'"><img class="com_title_icon01" src="/images/common/list.png"/></div>
	        </div>
	    </div>
	    <div class="com_line"></div>
	
	    <div class="textbox">
	        <div class="maintext">
	            <div class="maintext01">* 제목</div>
	            <div class="maintext02">* 고객</div>
	            <div class="maintext03">* 담당자</div>
	            <div class="maintext04">* 상담 일자</div>
	            <div class="maintext05">* 상담 방법</div>
	            <div class="maintext06">* 상담 상태</div>
	            <div class="maintext07">* 상담 내용</div>
	        </div>
	
	        <div class="line_text">
	            <div class="line">
	                <div class="line01"></div>
	                <div class="line02"></div>
	                <div class="line03"></div>
	                <div class="line04"></div>
	                <div class="line05"></div>
	                <div class="line05"></div>
	                <div class="line15"></div>
	            </div>
	            <div class="middletext">
						<input type="hidden" id="consultingNo" name="consultingNo" th:value="${ consultDTO.consultingNo }" >
						<input type="hidden" id="clientNo" name="clientNo" th:value="${ consultDTO.clientNo }" >
						<input type="hidden" id="userNo" name="userNo" th:value="${ consultDTO.userNo }" >
		                <input type="text" id="title" name="title" class="middletext01" th:value="${ consultDTO.title }" >
		                <input type="text" id="clientName" name="clientName" class="middletext02" th:value="${ consultDTO.clientName }" >
		                <input type="text" id="name" name="name" class="middletext03" th:value="${ consultDTO.name }" >
		                <input type="date" id="consultingDate" name="consultingDate" class="middletext04" th:value="${ consultDTO.consultingDate }" >
		                <select name="consultingWay" id="consultingWay" class="middletext05">
		                <option value="전화">전화</option>
		                <option value="방문">방문</option>
		                <option value="현장">현장</option>
		                <option value="메신저">메신저</option>
		                <option value="인터넷">인터넷</option>
		                <option value="기타">기타</option>
		                </select>
		                <select name="consultingStatus" id="consultingStatus" class="middletext05">
		                <option value="처리중">처리중</option>
		                <option value="처리완료">처리완료</option>
		                <option value="취소">취소</option>
		                </select>
		                <textarea id="consultingContent" name="consultingContent" class="middletext15" th:text="${ consultDTO.consultingContent }" ></textarea>
	            </div>
	            <div class="icon">
					<img id="clientModal" class="modal_icon5" src="/images/common/open.png"/>
					<img id="nameModal" class="modal_icon6" src="/images/common/open.png"/>
	            </div>
	        </div>
	    </div>
	</section>
	</form>
	<!-- 고객 모달 -->
   <a href="#dialog2" id="modalOpen2" role="button" class="btn btn-default" data-toggle="modal" style="display: none;"></a>

      <div class="modal fade bd-example-modal-xl" id="dialog2" role="dialog" aria-labelledby="dlogLabel" aria-hidden="true">

         <div class="modal-dialog modal-xl" id="p-modalArea" role="document">
         
            <div class="modal-content">

               <!-- 모달 타이틀 -->
               <div class="modal-header" style="background: #4dd0e1;">
                      <h4 class="modal-title" id="dlogLabel" >고객</h4>
               </div>
               <!-- 모달 타이틀 end -->
               
                    <div class="modal-body">
                  <table id="clientList" class="modalTable">
                     <thead>
                        <tr>
                           <th>고객명</th>
                           <th>고객사명</th>
                           <th>등록일</th>
                        </tr>
                     </thead>
                     <tbody id="clientTbody" class="modalTbody"></tbody>
                  </table>
                  <div class="modalDiv"></div>
                    </div>
                    
                    <div class="modal-footer">
                        <a id="btn-close" class="btn btn-close" data-dismiss="modal">닫기</a> 
                    </div>
            </div>
         </div>
      </div>
   <!-- 고객 모달 end -->
	
	 <script>
   /* 고객 모달 클릭시 동작 */
   $("#clientModal").click(function() {
      
      /* ajax로 고객 정보를 가져온다 */
      $.ajax({
         url: "/business/estimate/client",
         type: "get",
         success: function(data) {
            
            const $table = $("#clientTbody");
            $table.html("");
            
            /* 가져온 정보를 테이블에 담는다 */
            for(let index in data) {
               $tr = $("<tr>");
               $clientNo = $("<input type='hidden'>").text(data[index].clientNo);
               $clientName = $("<td>").text(data[index].clientName);
               $clientCompanyNo = $("<input type='hidden'>").text(data[index].clientCompanyNo);
               $clientCompanyName = $("<td>").text(data[index].clientCompanyName);
               $writeDate = $("<td>").text(data[index].writeDate);
               
               $tr.append($clientNo);
               $tr.append($clientName);
               $tr.append($clientCompanyNo);
               $tr.append($clientCompanyName);
               $tr.append($writeDate);
               
               $table.append($tr);
            }
         },
         error: function(xhr) {
            console.log(xhr);
         }
      });
      
      /* 모달창을 연다 */
      $("a[id=modalOpen2]").click();
      
      /* 모달창에 출력된 값을 클릭한다 */
      $(document).on("click", "#clientTbody tr", function() {
         
         /* 클릭한 값을 input태그에 출력한다 */
         var clientNo = $(this).children().eq(0).text();
         var clientName = $(this).children().eq(1).text();
         var clientCompanyNo = $(this).children().eq(2).text();
         var clientCompanyName = $(this).children().eq(3).text();
         $("input[id=clientNo]").attr("value", clientNo);
         $("input[id=clientName]").attr("value", clientName);
         $("input[id=clientCompanyNo]").attr("value", clientCompanyNo);
         $("input[id=clientCompanyName]").attr("value", clientCompanyName);
         
         /* 모달창을 닫는다 */
         $("a[id=btn-close]").click();
      });
      
   });
   </script>
	
	<!-- 담당자 모달 -->
	<a href="#dialog4" id="modalOpen4" role="button" class="btn btn-default" data-toggle="modal" style="display: none;"></a>

		<div class="modal fade bd-example-modal-xl" id="dialog4" role="dialog" aria-labelledby="dlogLabel" aria-hidden="true">

			<div class="modal-dialog modal-xl" id="p-modalArea" role="document">
			
				<div class="modal-content">

					<!-- 모달 타이틀 -->
					<div class="modal-header" style="background: #4dd0e1;">
	                	<h4 class="modal-title" id="dlogLabel" >담당자</h4>
					</div>
					<!-- 모달 타이틀 end -->
					
                    <div class="modal-body">
						<table id="userList" class="modalTable">
							<thead>
								<tr>
									<th>담당자명</th>
									<th>부서</th>
									<th>직위</th>
								</tr>
							</thead>
							<tbody id="userTbody" class="modalTbody"></tbody>
						</table>
                    </div>
                    
                    <div class="modal-footer">
                        <a id="btn-close" class="btn btn-close" data-dismiss="modal">닫기</a> 
                    </div>
				</div>
			</div>
		</div>
	<!-- 담당자 모달 end -->
	
	<script>
	/* 담당자 모달버튼 클릭시 동작 */
	$("#nameModal").click(function() {
		
		/* ajax로 담당자 정보를 가져온다 */
		$.ajax({
			url: "/business/estimate/user",
			type: "get",
			success: function(data) {
				
				const $table = $("#userTbody");
				$table.html("");
				
				/* 가져온 정보를 테이블에 담는다 */
				for(let index in data) {
					$tr = $("<tr>");
					$noTd = $("<input type='hidden'>").text(data[index].userNo);
					$nameTd = $("<td>").text(data[index].name);
					$deptName = $("<td>").text(data[index].deptName);
					$position = $("<td>").text(data[index].position);
					
					$tr.append($noTd);
					$tr.append($nameTd);
					$tr.append($deptName);
					$tr.append($position);
					
					$table.append($tr);
				}
			},
			error: function(xhr) {
				console.log(xhr);
			}
		});
		
		/* 모달창을 연다 */
		$("a[id=modalOpen4]").click();
		
		/* 모달에 있는 값 클릭시 동작 */
		$(document).on("click", "#userTbody tr", function() {
				
				/* 모달에 있는 값을 input태그에 담는다 */
				var tr2 = $(this);
				var name = tr2.children().eq(1).text();
				var no = tr2.children().eq(0).text();
				$("input[id=name]").attr("value", name);
				$("input[id=userNo]").attr("value", no);
				
				/* 모달창을 닫는다 */
				$("a[id=btn-close]").click();
		});
		
	});
	</script>
	
	<script>
	
	/* 제약조건 확인 */
	function checkValue() {
		
		/* 고객사명을 입력안했을 경우 작동 */
		if($("#title").val().length == 0) {
			alert("제목을 입력해주세요.");
			$("#title").focus();
			return false;
		}
		
		/* 고객을 입력안했을 경우 작동 */
		if($("#clientName").val().length == 0) {
			alert("고객을 입력해주세요");
			$("#clientName").focus();
			return false;
		}
		
		/* 담당자 입력안했을 경우 작동 */
		if($("#name").val().length == 0) {
			alert("담당자을 입력해주세요");
			$("#name").focus();
			return false;
		}
		
		/* 상담일자를 입력안했을 경우 작동 */
		if($("#consultingDate").val().length == 0) {
			alert("상담일자를 입력해주세요");
			$("#consultingDate").focus();
			return false;
		}
		
		/* 상담방법 입력안했을 경우 작동 */
		if($("#consultingWay").val().length == 0) {
			alert("상담방법을 입력해주세요");
			$("#consultingWay").focus();
			return false;
		}
		
		/* 상담내용 입력안했을 경우 작동 */
		if($("#consultingContent").val().length == 0) {
			alert("상담내용을 입력해주세요");
			$("#consultingContent").focus();
			return false;
		}
		
	}
	</script>
</body>
</html>