<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/approval/businessOpportunity.css}">
<script>

	/* 고객사 등록의 성공실패여부에 따른 메세지 출력 */
	const message = '[[${ message }]]';
	
	if(message) {
		alert(message);
	}
</script>
</head>
<body>

	<!-- 헤더 -->
	<div th:replace="common/salesHeader.html"></div>
	
	<!-- 검색조건 시작 -->
	<form id="search" action="approval/approvalRequest/businessOpportunity/list" method="get">
	<section class="search_part">
		<div class="search_title">검색조건</div>
		
		<div class="all_box">
			<div class="part01">
				<input type="hidden" id="currentPage" name="currentPage" value="1">
				<select id="selectSearch" name="selectSearch" class="select_box">
					<option value="">검색어 종류를 선택하세요</option>
					<option value="영업기회">영업기회</option>
					<option value="고객사">고객사</option>
					<option value="고객">고객</option>
				</select>
				<input id="searchValue" name="searchValue" class="search_input" type="text" placeholder="검색어를 입력하세요">
				<select id="selectDeptName" class="select_box" name="deptName">
                	<option value="전체">전체</option>
                	<option th:each="deptList : ${ deptList }" th:value="${ deptList.deptName }" th:text="${ deptList.deptName }"></option>
            	</select>
				<input id="name" class="search_input" type="text" placeholder="담당자" readonly>	
				<input type="hidden" id="userNo" name="userNo">
				<a class="icon01" id="userModal" onclick="openModal();"><img src="/images/common/open.png"/></a>	
				<button class="search_button" type="submit">검색</button>
			</div>
		</div>
	</section>
	</form>
	<!-- 검색조건 끝 -->
	
	<!-- 화면의 오른쪽 블럭 시작 -->
	<section class="opportunity_box">

		<!-- 영업기회 리스트 조회 목록 시작 -->
		<div class="opportunity_title">
			<div class="">결재요청함 영업기회 : 검색결과 ( <span th:text="${ totalCount }"></span>건 )</div>
		</div>

		<div class="bo01" th:each="businessOpportunityList : ${ businessOpportunityList }">
			<div class="bo01_1" onclick="selectBusinessOpportunity(this);">
				<input type="hidden" id="clientCompnayNo" th:value="${ businessOpportunityList.businessOpportunityNo }">
				<div class="bo01_main">
					<div class="bo01_main_sub">										
						<div class="bo01_name" th:text="${ businessOpportunityList.businessOpportunityName }"></div>
						<span><img class="date_img" src="/images/common/date.png"/></span>
						<span class="list01_location" th:text="${ businessOpportunityList.writeDate }"></span>
					</div>
					<div class="bo01_content">
							<div>매출구분 : <span th:text="${ businessOpportunityList.SalesDivision }"></span></div>								
							<div>사업유형 : <span th:text="${ businessOpportunityList.businessType }"></span></div>										
							<div>인지경로 : <span th:text="${ businessOpportunityList.cognitivePathway }"></span></div>																				
					</div>			
				</div>
			</div>
			
			<div class="bo01_2">				
				<div><img class="bo_image" src="/images/common/client2.png"/></div>
				<div class="mess_text01" th:text="${ businessOpportunityList.clientName }"></div>
				<div><img class="bo01_line" src="/images/common/Line.png"/></div>
				<div><img class="bo_image" src="/images/common/won2.png"/></div>
				<div class="mess_text01" th:text="${#numbers.formatDecimal(businessOpportunityList.expectedSales, 0, 'COMMA', 0, 'POINT')}"></div>
				<div><img class="bo01_line" src="/images/common/Line.png"/></div>
				<div><img class="bo_image" src="/images/common/date2.png"/></div>
				<div class="mess_text01" th:text="${ businessOpportunityList.businessStartDate }"></div>
				<div class="mess_text01">~</div>
				<div class="mess_text01" th:text="${ businessOpportunityList.businessEndDate }"></div>
				<div><img class="bo01_line" src="/images/common/Line.png"/></div>								
			</div>
		</div>
		
		<!-- 영업기회 리스트 조회 목록 끝 -->
					
		<br><br><br><br><br>
		
		<!-- 페이징 버튼 시작 -->
		<div align="center">
			<button class="page_btn1" th:if="${ selectCriteria.pageNo <= 1 }" type="button" disabled ><img src="/images/common/prevPage.png"/></button>		
			<button class="page_btn1" th:if="${ selectCriteria.pageNo > 1 } and ${ businessOpportunitySearch.businessOpportunityName == null } and ${ businessOpportunitySearch.clientCompanyName == null } and ${ businessOpportunitySearch.clientName == null } and ${ businessOpportunitySearch.userNo == null }  and ${ businessOpportunitySearch.deptName == null }" type="button" id="prevPage" onclick="preButtonAction();" ><img src="/images/common/prevPage.png"/></button>		
			<button class="page_btn1" th:if="${ selectCriteria.pageNo > 1 } and (${ businessOpportunitySearch.businessOpportunityName != null } or ${ businessOpportunitySearch.clientCompanyName != null } or ${ businessOpportunitySearch.clientName != null } or ${ businessOpportunitySearch.userNo != null }  or ${ businessOpportunitySearch.deptName != null })" type="button" id="searchPrevPage" onclick="searchPreButtonAction();"><img src="/images/common/prevPage.png"/></button>		
			
			<span th:each="p : ${#numbers.sequence(selectCriteria.startPage,selectCriteria.endPage)}">
				<button class="page_btn2" th:if="${selectCriteria.pageNo == p}" th:text="${p}" disabled></button>
				<button class="page_btn2" th:if="${selectCriteria.pageNo != p} and ${ businessOpportunitySearch.businessOpportunityName == null } and ${ businessOpportunitySearch.clientCompanyName == null } and ${ businessOpportunitySearch.clientName == null } and ${ businessOpportunitySearch.userNo == null } and ${ businessOpportunitySearch.deptName == null }" th:text="${p}" onclick="pageButtonAction(this.innerText);"></button>
				<button class="page_btn2" th:if="${selectCriteria.pageNo != p} and (${ businessOpportunitySearch.businessOpportunityName != null } or ${ businessOpportunitySearch.clientCompanyName != null } or ${ businessOpportunitySearch.clientName != null } or ${ businessOpportunitySearch.userNo != null } or ${ businessOpportunitySearch.deptName != null })" th:text="${p}" onclick="searchPageButtonAction(this.innerText);"></button>
			</span>		
			
			<button class="page_btn3" th:if="${ selectCriteria.pageNo >= selectCriteria.maxPage }" type="button" disabled ><img src="/images/common/nextPage.png"/></button>	
			<button class="page_btn3" th:if="${ selectCriteria.pageNo < selectCriteria.maxPage } and ${ businessOpportunitySearch.businessOpportunityName == null } and ${ businessOpportunitySearch.clientCompanyName == null } and ${ businessOpportunitySearch.clientName == null } and ${ businessOpportunitySearch.userNo == null } and ${ businessOpportunitySearch.deptName == null }" type="button" id="nextPage" onclick="nextButtonAction();"><img src="/images/common/nextPage.png"/></button>						
			<button class="page_btn3" th:if="${ selectCriteria.pageNo < selectCriteria.maxPage } and (${ businessOpportunitySearch.businessOpportunityName != null } or ${ businessOpportunitySearch.clientCompanyName != null } or ${ businessOpportunitySearch.clientName != null } or ${ businessOpportunitySearch.userNo != null }  or ${ businessOpportunitySearch.deptName != null })" type="button" id="searchNextPage" onclick="searchNextButtonAction();"><img src="/images/common/nextPage.png"/></button>						
			
			<input type="hidden" id="currentPageByPaging" name="currentPageByPaging" th:value="${businessOpportunitySearch.currentPage}">
			<input type="hidden" id="businessOpportunityNameByPaging" name="businessOpportunityNameByPaging" th:value="${businessOpportunitySearch.businessOpportunityName}">
			<input type="hidden" id="clientCompanyNameByPaging" name="dclientCompanyNameByPaging" th:value="${businessOpportunitySearch.clientCompanyName}">
			<input type="hidden" id="clientNameByPaging" name="clientNameByPaging" th:value="${businessOpportunitySearch.clientName}">
			<input type="hidden" id="userNoByPaging" name="userNoByPaging" th:value="${businessOpportunitySearch.userNo}">
			<input type="hidden" id="deptNameByPaging" name="deptNameByPaging" th:value="${businessOpportunitySearch.deptName}">
			
			<br><br><br>
		</div>
		<!-- 페이징 버튼 종료 -->
		
		<button class="page_btn4" onclick="window.location.href='#top'"><img src="/images/common/top.png"/></button>
		<div class="restArea"></div>
	</section>
	<!-- 화면의 오른쪽 블럭 끝 -->
		
	<!-- 담당자 모달 시작 -->
	<a href="#dialog" id="modalOpen" role="button" class="btn btn-default modalOpen" data-toggle="modal"></a>
		<div class="modal fade bd-example-modal-xl modal_setting" id="dialog" role="dialog" aria-labelledby="dlogLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" id="p-modalArea" role="document">		
				<div class="modal-content">
					<div class="modal-header">
	                	<h4 class="modal-title" id="dlogLabel" >담당자 조회</h4>
					</div>
                    <div class="modal-body">
						<table id="userList" class="modal-body-content">
							<thead>
								<tr class="userList-tr">
									<th>담당자 이름</th>
									<th>부서</th>
									<th>직위</th>
								</tr>
							</thead>
							<tbody id="userTbody" class="userTbody">								
							</tbody>
						</table>
                    </div>                   
                    <div class="modal-footer">
                        <a id="btn-close" class="btn btn-close" data-dismiss="modal">닫기</a> 
                    </div>
				</div>
			</div>
		</div>
		<!-- 담당자 모달 끝 -->
	
</body>
</html>