/*검색조건*/
.search_part{
    width: 370px;
    height: 310px;
    background: #f3f3f3;
    position: absolute;
    top: 262px;
    left: 156px;
}

.search_part > div{
    margin-left: 29px;
}

.search_part .search_title{
    width: 100px;
    height: 20px;
    margin-top: 23px;
    font-size: 24px;
    font-weight: bold;
    
}

.search_part .all_box{
    width: 305px;
    height: 137px;
    margin-top: 30px;
}

.search_part .all_box > div{
    width: 304px;
    height: 35px;
    margin-top: 14px;
    background: #54c741;
}

.search_part .all_box .part01{
    margin-top: 0;
}


.icon01 {
	position: absolute;
	left: 300px;
    top: 170px;
}


/*고객*/

.customer_box{
    position: absolute;
    width: 1200px;
    background: #f3f3f3;
    top: 262px;
    right: 150px;
}

.customer_box > div:not(.restArea){
    margin-left: 27px;
}

.customer_box .customer_title{
    display: flex;
    justify-content: space-between;
    width: 1145px;
    height: 27px;
    margin-top: 26px;
    font-size: 24px;
    font-weight: bold;
}

.customer_box .cus01{
    width: 1144px;
    height: 175px;
    margin-top: 26px;
}

.customer_box .cus01 .cus01_1{
    width: 1144px;
    height: 139px;
   	border: solid 0.5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
}


.customer_box .cus01 .cus01_main{
    width: 900px;
    height: 106px;
    margin-top: 20px;
    margin-left: 17px;
    display: flex;
    justify-content: space-between;
   
}

.customer_box .cus01 .cus01_main .cus01_img{
    width: 106px;
    height: 106px;
    border: solid 0.5px rgba(0, 0, 0, 0.2);
    /*margin-top: 20px;*/
    /*margin-left: 17px;*/
}


.customer_box .cus01 .cus01_main .cus01_name{
    width: 900px;
    height: 30px;   
    margin-top: 30px;
    margin-left: 17px;
    font-size: 22px;
	font-weight: bold;
	display: flex;
    margin-right: 25px;
}

.cus01_name_text {
	
	margin-left: 10px;
}

.customer_box .cus01 .cus01_1 .cus01_s_tag{
    width: 208px;
    height: 58px;
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
}

.customer_box .cus01 .cus01_1 .cus01_s_tag .cus01_s_img{
    width: 58px;
    height: 58px;
    
}


.customer_box .cus01 .cus01_1 .cus01_s_tag .cus01_blue{
    width: 58px;
    height: 30px;
    background: #2196F3;
    margin-top: 15px;
    color:white;
}


.customer_box .cus01 .cus01_1 .cus01_s_tag .cus01_click{
    width: 10px;
    height: 58px;
}

.customer_box .cus01 .cus01_2{
    width: 1144px;
    height: 37px;
    display: flex;
    justify-content: left;
    border: solid 0.5px rgba(0, 0, 0, 0.5);
}

.customer_box .cus01 .cus01_2 .cus02_typo{
    width: 355px;
    height: 21px;
    margin-left: 10px;
}

.customer_box .cus01 .cus01_2 .cus02_typo > div{
    margin-top: 5px;
}





.customer_box .cus01 .cus01_2 .cus02_typo .mess_text01{
    width: 80px;
    height: 21px;
    margin-top: 5px;
}


.customer_box .cus01 .cus01_2 .cus02_typo .phone01{
    width: 20px;
    height: 21px;
    background: #e7d93f;
}


.customer_box .cus01 .cus01_2 .cus02_typo .phone_text01{
    width: 80px;
    height: 21px;
}

.select_box {

    width: 305px;
    height: 35px;
}

.search_input {
    width: 305px;
    height: 35px;
    margin-top: 10px;
}

.search_button {

    width: 305px;
    height: 50px;
    margin-top: 10px;
    background: #3BAFDA;
    color: white;
    border: none;
}

.cus01_img {
	
	width:30px;
	height:30px;
	
	
}

.cus01_img2 {
	
	width:30px;
	height:30px;
	margin-top:15px;
	
	
}

.cus01_email {
	
	width: 20px;
	height: 20px;
	margin-left:5px;
	margin-top:5px;
}

.mess_text01 {
	margin-left:5px;
	margin-top:5px;
}

.cus01_line {
	
	width:1px;
	height:20px;
	margin-left:5px;
	margin-top:7px;
}

.cus01_phone {
	
	width: 20px;
	height: 20px;
	margin-left:5px;
	margin-top:5px;
}

.phone_text01 {
	margin-left:5px;
	margin-top:5px;
	
}

.cus01_tel {
	
	width: 20px;
	height: 20px;
	margin-left:5px;
	margin-top:5px;
}

.tel_text01 {
	
	margin-left:5px;
	margin-top:5px;
	
}

.write_btn {
	
	height:10px;
	outline:none;
}

.modal-header {
	
	background: #4dd0e1;
	
}

.modal-title {
	
	font-weight: bold;
	font-family: fantasy;
}

.userList-tr {
	
	width:500px;
	
}

.modal-body-content {
	
	width:420px;
	border:none;
	
}

.userTbody > tr {
	
	border: solid 1px rgba(0, 0, 0, 0.2);
	height: 50px;

}

.modal_setting {
	
	width:500px;
	margin-left:710px;
	margin-top:20px;
	
	
}

.modalOpen {
	
	display: none;
}

.restArea {
	
	height:100px;
	background:white;
	
}

.page_btn4 {
	
	margin-left:1160px;
}

.busniessActivity {
	
	display: flex;
    justify-content: left;
    border: solid 1px rgba(0, 0, 0, 0.2);
    font-size : 18px;
	
}

.writeDate {
	
	margin-left : 10px;
	
}

.area {
	
	height: 30px;
	background: white;
	
}

.modal_setting2 {
	
	width:900px;
	margin-left:550px;
	margin-top:20px;
	
	
}

.modal-body-content2 {
	
	width:785px;
	border:none;
	
}

.businessActivityTbody > tr {
	
	border: solid 1px rgba(0, 0, 0, 0.2);
	height: 50px;

}

.img1 {
	
	font-size: 18px;
	
}