<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">

<!-- bootstrap CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-extended.css}">

<!-- myinfo CSS-->
<link rel="stylesheet" type="text/css" th:href="@{/css/mypage/myinfo.css}">

<!-- jquery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- 주소 CDN -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<!-- 상세주소 버튼 동작 JS -->
<script th:src="@{../js/companyInfo/address.js}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<script>
	const successMessage = '[[${ successMessage }]]';
	const failMessage = '[[${ failMessage }]]';
	
	if(successMessage) {
		alert(successMessage);
		
	} else if(failMessage){
		alert(failMessage);
		
	} 
</script>

<title>M&M</title>
</head>
<body style="line-height: 2.4;">

	<div th:replace="common/salesHeader.html"></div>
	
<div class="setting" style="width: 1000px; margin-left: auto; margin-right: auto;">	
	<div class="content con011" style="padding: 20px 30px; height: 100%; min-height: calc(100vh - 200px);">
	
		<div class="scon_box">		
			<div class="con_list">						
				<div class="detailBox s_con mnone">	
				
					<div class="myinfo_title mb-1">						
						<div class="myinfo_title">회사 정보</div>
					</div>
					
					<form class="form-horizontal" action="/companyInfo/update" method="post">
					
					<div class="boxDiv row">
						<div class="box col-6">
							<div class="title">회사명</div>
							<div class="content">
								<th:block sec:authorize="hasRole('SALES')">
								<input type="text" class="form-control" id="companyName" name="companyName" autocomplete="off" readonly="readonly" maxlength="20" th:value="${companyInfo.companyName}">
								</th:block>
								<th:block sec:authorize="hasRole('ADMIN')">
								<input type="text" class="form-control" id="companyName" name="companyName" autocomplete="off" maxlength="20" th:value="${companyInfo.companyName}">
								</th:block>
							</div>
						</div>
						<div class="box col-6">
							<div class="title">회사ID</div>
							<div class="content">
								<th:block sec:authorize="hasRole('SALES')">
								<input type="text" class="form-control" id="companyId" name="companyId" autocomplete="off" readonly="readonly" maxlength="20" th:value="${companyInfo.companyId}">
								</th:block>
								<th:block sec:authorize="hasRole('ADMIN')">
								<input type="text" class="form-control" id="companyId" name="companyId" autocomplete="off" maxlength="20" th:value="${companyInfo.companyId}">
								</th:block>
							</div>
						</div>
					</div>
					
					<div class="boxDiv row">
						<div class="box col-6">
							<div class="title">법인번호</div>
							<div class="content">
								<th:block sec:authorize="hasRole('SALES')">
								<input type="text" class="form-control" id="corporationNo" name="corporationNo" autocomplete="off" readonly="readonly" maxlength="20" th:value="${companyInfo.corporationNo}">
								</th:block>
								<th:block sec:authorize="hasRole('ADMIN')">
								<input type="text" class="form-control" id="corporationNo" name="corporationNo" autocomplete="off" maxlength="20" th:value="${companyInfo.corporationNo}">
								</th:block>
							</div>
						</div>
						<div class="box col-6">
							<div class="title">사업자번호</div>
							<div class="content">
								<th:block sec:authorize="hasRole('SALES')">
								<input type="text" class="form-control" id="businessNo" name="businessNo" autocomplete="off" readonly="readonly" maxlength="20"	th:value="${companyInfo.businessNo}">
								</th:block>
								<th:block sec:authorize="hasRole('ADMIN')">
								<input type="text" class="form-control" id="businessNo" name="businessNo" autocomplete="off" maxlength="20"	th:value="${companyInfo.businessNo}">
								</th:block>
							</div>
						</div>
					</div>
										
					<div class="boxDiv row">
						<div class="box col-6">
							<div class="title">대표이사</div>
							<div class="content">
								<th:block sec:authorize="hasRole('SALES')">		
								<input type="text" class="form-control" id="ceo" name="ceo" autocomplete="off" readonly="readonly" maxlength="20" th:value="${companyInfo.ceo}">
								</th:block>
								<th:block sec:authorize="hasRole('ADMIN')">
								<input type="text" class="form-control" id="ceo" name="ceo" autocomplete="off" maxlength="20" th:value="${companyInfo.ceo}">
								</th:block>
							</div>
						</div>
						<div class="box col-6">
							<div class="title">전화번호</div>
							<div class="content">
								<th:block sec:authorize="hasRole('SALES')">
								<input type="text" class="form-control" id="tel" name="tel" autocomplete="off" readonly="readonly" maxlength="20" th:value="${companyInfo.tel}">
								</th:block>
								<th:block sec:authorize="hasRole('ADMIN')">
								<input type="text" class="form-control" id="tel" name="tel" autocomplete="off" maxlength="20" th:value="${companyInfo.tel}">
								</th:block>
							</div>
						</div>
					</div>
					
					<div class="boxDiv row">
						<div class="box col-4">
							<div class="title" style="width: 130px">우편번호</div>
							<div class="content" style="width: 145px">							
								<input type="text" class="form-control" id="zipCode" name="zipCode" autocomplete="off" maxlength="20" th:value="${companyInfo.zipCode}" readonly="readonly">
							</div>
						</div>
						<th:block sec:authorize="hasRole('ADMIN')">
						<div class="box col-2" style="margin: auto;">
							<button type="button" class="btn btn-outline-light-blue mr-1" id="searchZipCode" onclick="ExecPostCode();">
						    	<i class="fa fa-search"></i>
							</button>
						</div>
						</th:block>
						
						<div class="box col-6"></div>
					</div>
					
					<div class="boxDiv row">
						<div class="box col-6">
							<div class="title">주소</div>
							<div class="content">
								<input type="text" class="form-control" id="address" name="address" autocomplete="off" maxlength="20" th:value="${companyInfo.address}" readonly="readonly">
							</div>
						</div>
						<div class="box col-6">
							<div class="title">상세주소</div>
							<div class="content">
								<th:block sec:authorize="hasRole('SALES')">				
								<input type="text" class="form-control" id="detailedAddress" name="detailedAddress" autocomplete="off" readonly="readonly" maxlength="20" th:value="${companyInfo.detailedAddress}">
								</th:block>
								<th:block sec:authorize="hasRole('ADMIN')">
								<input type="text" class="form-control" id="detailedAddress" name="detailedAddress" autocomplete="off" maxlength="20" th:value="${companyInfo.detailedAddress}">
								</th:block>
							</div>
						</div>
					</div>
					
					<th:block sec:authorize="hasRole('ADMIN')">
						<div class="form-actions center">
							<button type="button" class="btn btn-outline-warning mr-1" th:onclick="'location.href=\''+ @{/main} + '\''">
								<i class="icon-home"></i> home
							</button>
							<button type="submit" class="btn btn-outline-light-green mr-1">
							    <i class="ft-check"></i> 저장
							</button>
						</div>
					</th:block>
					
					</form>

				</div>
			</div>
		</div>

	</div><!-- //content -->
		
</div><!-- //setting -->

</body>
</html>