/*검색조건*/
.search_part{
    width: 370px;
    height: 400px;
    background: #f3f3f3;
    position: absolute;
    top: 262px;
    left: 156px;
}

.search_part > div{
    margin-left: 29px;
}

.search_part .search_title{
    width: 100px;
    height: 20px;
    margin-top: 23px;
    font-size: 24px;
    font-weight: bold;
    
}

.search_part .all_box{
    width: 305px;
    height: 137px;
    margin-top: 30px;
}

.search_part .all_box > div{
    width: 304px;
    height: 35px;
    margin-top: 14px;
}

.search_part .all_box .part01{
    margin-top: 0;
}

.select_box {

    width: 305px;
    height: 35px;
    margin-top: 10px;
}

.search_input {
    width: 305px;
    height: 35px;
    margin-top: 10px;
}

.search_button {

    width: 305px;
    height: 50px;
    margin-top: 10px;
    background: #3BAFDA;
    color: white;
    border: 1px solid #00BCD4;
}

.icon01 {
	position: absolute;
	left: 305px;
    top: 225px;
}

.list_box{
    position: absolute;
    width: 1200px;
    background: #f3f3f3;
    top: 262px;
    right: 150px;
}

.list_box > div{
    margin-left: 27px;
}

.list_box .list_title{
    display: flex;
    justify-content: space-between;
    width: 1145px;
    height: 27px;
    margin-top: 26px;
    font-size: 24px;
    font-weight: bold;
}

.list_box .list01{
    width: 1144px;
    height: 175px;
    margin-top: 26px;
}

.list_box .list01 .list01_1{
    width: 1144px;
    height: 135px;
   	border: solid 0.5px black;
    display: flex;
    justify-content: space-between;
}


.list_box .list01 .list01_main{
    width: 500px;
    height: 106px;
    margin-top: 20px;
    margin-left: 17px;
   
}

.list_box .list01 .list01_main .date_img{
	
	width:16px;
	height:16px;
	margin-left:13px;
	margin-top:-7px;
}

.list_box .list01 .list01_main .list01_location {
	
	color : rgb(0,0,0, 0.7);
	font-size: 18px;
}


.list_box .list01 .list01_main .list01_img{
    width: 106px;
    height: 106px;
    border: solid 0.5px rgba(255, 0, 0, 0.2);
}


.list_box .list01 .list01_main .list01_name{
    width: 500px;
    height: 30px;   
    margin-top: 20px;
    margin-left: 17px;
    font-size: 22px;
	font-weight: bold;
}

.list_box .list01 .list01_1 .list01_s_tag{
    width: 308px;
    height: 58px;
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
}

.list_box .list01 .list01_1 .list01_s_tag .list01_s_img{
    width: 58px;
    height: 58px;
    
}


.list_box .list01 .list01_1 .list01_s_tag .list01_blue{
    width: 58px;
    height: 30px;
    background: #2196F3;
    margin-top: 15px;
    color:white;
}


.list_box .list01 .list01_1 .list01_s_tag .list01_click{
    width: 10px;
    height: 58px;
}

.list_box .list01 .list01_2{
    width: 1144px;
    height: 37px;
    border: solid 0.5px black;
    display: flex;
    justify-content: left;
    color: rgb(0,0,0,0.5);
}

.list_box .list01 .list01_2 .com02_typo{
    width: 355px;
    height: 21px;
    margin-left: 10px;
}

.list_box .list01 .list01_2 .com02_typo > div{
    margin-top: 5px;
}





.list_box .list01 .list01_2 .com02_typo .mess_text01{
    width: 80px;
    height: 21px;
    margin-top: 5px;
}


.list_box .list01 .list01_2 .com02_typo .phone01{
    width: 20px;
    height: 21px;
    background: #e7d93f;
}


.list_box .list01 .list01_2 .com02_typo .phone_text01{
    width: 80px;
    height: 21px;
}

.list01_img {
	
	width:30px;
	height:30px;
	
	
}

.list01_img2 {
	
	width:30px;
	height:30px;
	margin-top:15px;
	
	
}

.list01_email {
	
	width: 20px;
	height: 20px;
	margin-left:5px;
	margin-top:5px;
}

.mess_text01 {
	margin-left:5px;
	margin-top:7px;
}

.list01_line {
	
	width:1px;
	height:20px;
	margin-left:5px;
	margin-top:7px;
}

.list01_phone {
	
	width: 20px;
	height: 20px;
	margin-left:5px;
	margin-top:5px;
}

.phone_text01 {
	margin-left:5px;
	margin-top:5px;
	
}

.list01_tel {
	
	width: 20px;
	height: 20px;
	margin-left:5px;
	margin-top:5px;
}

.tel_text01 {
	
	margin-left:5px;
	margin-top:5px;
	
}

.write_btn {
	
	height:10px;
	outline:none;
}

.img1 {
	position: absolute;
	right: 433px;
}

.img2 {
	position: absolute;
	right: 313px;
}

.img3 {
	position: absolute;
	right: 185px;
}

.img4 {
	position: absolute;
	right: 63px;
}

.img1_1 {
	margin-left:-100px;
	margin-top:40px;
}

.page_btn4 {
	
	margin-left:1160px;
}

.restArea {
	position: absolute;
	left: 0px;
	height:50px;
	width: 1200px;
	background:white;
	
}

.modal-title {
	
	font-weight: bold;
	font-family: fantasy;
}

.bd-example-modal-xl {
	height:500px;
	width:700px;
	margin-left:710px;
	margin-top:200px;
}

.modalTable {
	width: 500px;
	border:none;
}

.modalTbody > tr {
	border: solid 1px rgba(0, 0, 0, 0.2);
	height: 40px;
}

.modalTable > thead > tr > th {
	width: 250px;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	font-family: fantasy;
}

.modalTable > tbody > tr > td {
	width: 250px;
	font-size: 18px;
	text-align: center;
}

#startDate {
	width: 142px;
}
#endDate {
	width: 142px;
}

.com01_img {
	margin-top: 40px;
}
.com01_img2 {
	margin-top: 40px;
	margin-right: 150px;
}
.img1_1 {
	margin-left: 1px;
	padding-bottom: 100px;
}
.img1_2 {
	margin-right: 148px;
}
