<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" 
	class="loading" lang="en" data-textdirection="rtl">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Error 404</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/ico/favicon-32.png}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CMuli:300,400,500,700" rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/vendors.css}">
    <!-- END VENDOR CSS-->
    <!-- BEGIN ROBUST CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}">
    <!-- END ROBUST CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/core/menu/menu-types/vertical-comtent-menu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/core/colors/palette-gradient.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/pages/error.css}">
    <!-- END Page Level CSS-->
    <!-- BEGIN Custom CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <!-- END Custom CSS-->
  </head>
  <body class="vertical-layout vertical-compact-menu 1-column  bg-cyan bg-lighten-2 menu-expanded fixed-navbar" data-open="click" data-menu="vertical-compact-menu" data-col="1-column">

    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="app-content content">
      <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body"><div class="col-sm-5 offset-sm-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4 box-shadow-2">
	<div class="card border-grey border-lighten-3 px-2 my-0 row">
		<div class="card-header no-border pb-1">
			<div class="card-body">
				<h2 class="error-code text-center mb-2">404</h2>
				<div class="text-uppercase text-center" style="font-size: 35px">PAGE NOT FOUND !</div>
				<div class="text-uppercase text-center py-1" style="font-size: 20px">요청한 페이지를 찾을 수 없습니다.</div>
				<div class="text-uppercase text-center" style="font-size: 12px">죄송합니다. 존재하지 않는 주소를 입력하셨거나,</div>
				<div class="text-uppercase text-center" style="font-size: 12px">요청하신 페이지의 주소가 수정,이동 또는 삭제되었을 수 있습니다.</div>
			</div>
		</div>
		<div class="card-content px-2">
			<div class="row py-1">
				<div class="col-6">
					<a href="javascript:history.back()" class="btn btn-warning btn-block btn-lg"><i class="fa fa-arrow-left"></i>  뒤로 가기</a>
				</div>
				<div class="col-6">
					<a th:href="@{/main}" class="btn btn-primary btn-block btn-lg"><i class="fa fa-home"></i> 홈으로 가기</a>
				</div>
			</div>
			<div class="row py-1"></div>
		</div>
	</div>
</div>
        </div>
      </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->


    <footer class="footer navbar-fixed-bottom footer-dark navbar-border navbar-shadow">
      <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span class="float-md-left d-block d-md-inline-block">Copyright  &copy; 2021 CodeFactory, All rights reserved.</span>
    </footer>
    
  </body>
</html>