/*첨부쟈료박스*/
.section01 .blue_box{
    width: 372px;
    height: 75px;
    position: absolute;
    top: 262px;
    left: 155px;
    background: #3BAFDA;
    display: flex;
    justify-content: space-between;
}

.section01 .blue_box .title{
    width: 130px;
    height: 20px;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 24px;
    font-weight:bold;
    color: white;
}

.section01 .blue_box .title_button{
    width: 20px;
    height: 20px;
    margin-top: 27px;
    margin-right: 20px;
    
}

.section01 .gray_box{
    width: 372px;
    height: 553px;
    background: #f3f3f3;
    position: absolute;
    top: 334px;
    left: 155px;
}

.section01 .gray_box .text_0102{
    width: 330px;
    height: 75px;
    margin-top: 27px;
    margin-left: 27px;
}

.section01 .gray_box .text_0102 .text_01{
    width: 330px;
    height: 20px;
    display: flex;
    justify-content: space-between;
}

.section01 .gray_box .text_0102 .text_01 .text01{
    width: 100px;
    height: 20px;
}

.section01 .gray_box .text_0102 .text_01 .button01{
    width: 100px;
    height: 20px;

}


/*위에꺼 복붙하고 마진으로 밀어서 똑같은거 두개생성, 회색은 어미영역확인하라고 깔아놓은거*/
.section01 .gray_box .text_0102 .text_02{
    width: 330px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.section01 .gray_box .text_0102 .text_02 .text02{
    width: 100px;
    height: 20px;
}

.section01 .gray_box .text_0102 .text_02 .button02{
    width: 100px;
    height: 20px;
}



.section02{
    width: 1197px;
    height: 300px;
    position: absolute;
    top: 550px;
    right: 155px;
    background: #f3f3f3;
}

.section02 .bo_title{
    width: 1116px;
    height: 30px;
    margin-top: 13px;
    margin-left: 35px;
    display: flex;
    justify-content: space-between;

}

.section02 .bo_title .bo_title_text{
    width: 300px;
    height: 30px;
    font-size: 24px;
    font-weight: bold;
}

.section02 .bo_title .bo_icon{
    width: 100px;
    height: 30px;  
    display: flex;
    justify-content: space-between;
}


.section02 .bo_title .bo_icon .bo_title_icon01{
   
    width: 30px;
    height: 30px;
    border: none;
    outline: none;

}

.bo_icon_btn1 {
	
	width: 50px;
	border: none;
    outline: none;
	position: absolute;
    top: 125px;
    margin-left: 750px;

   
	
}

.bo_icon_btn2 {
	
	width: 50px;
	border: none;
    outline: none;
	margin-top : 442px;
	position: absolute;
    top: 20px;
    margin-left: 750px;
	
}

.bo_icon_btn3 {
	margin-left:1050px;
	margin-top: 20px;
	width: 50px;
	border: none;
    outline: none;
}

.bo_icon_btn4 {
	
	width: 50px;
	border: none;
    outline: none;
	margin-top : 505px;
	position: absolute;
    top: 70px;
    margin-left: 750px;
	
}

.section02 .bo_title .bo_icon .bo_title_icon02{
    width: 30px;
    height: 30px;
    margin-left: 15px;
}

.section02 .bo_line{
    width: 1120px;
    height: 1px;
    margin-top: 5px;
    margin-left: 33px;
    background: black;
}

/*얘는 마진안쓴이유(마진안쓰려면 포지션을 따로 설정해서 탑/레프트 설정해야함)가
내부에 자식이 너무많아서 얘를 부모로 잡고 안에 자식들을 다 마진으로 잡는게 덜헷갈리니까*/
.section02 .textbox{
    width: 851px;
    height: 562px;
    position: absolute;
    top: 79px;
    left: 136px;
    display: flex;
    justify-content: left;
}

.section02 .textbox .maintext{
    width: 91px;
    height: 562px;
    margin-left: 15px;
}

.section02 .textbox .line_text{
    width: 819px;
    height: 562px;
    margin-left: 120px;
}

/*중제목*/
.section02 .textbox .maintext > div{
    width: 150px;
    height: 24px;
    margin-top: 32px;
}

.section02 .textbox .maintext .maintext01{
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext02{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext03{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext04{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext05{
   
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext06{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext07{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext08{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext09{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext10{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext11{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext12{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext13{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext14{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext15{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext16{
    
    font-size: 24px;
    font-weight: bold;
}


.section02 .textbox .line_text .line > div{
    width: 790px;
    height: 3px;
    margin-top: 53px;
    background: lightgray;
}

.section02 .textbox .line_text .line .line12{
   margin-top : 110px;
}

.section02 .textbox .line_text .middletext{
    position: absolute;
    /*background: lightpink;*/
    top: 2px;
    left: 230px;
    width: 345px;
    height: 532px;
}


.section02 .textbox .line_text .middletext .middletext01{
   	width: 700px;
   	height: 47px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext02{
    margin-top: 7px;
    width: 700px;
   	height: 50px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.middletext03{
    margin-top: 7px;
    width: 700px;
   	height: 50px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext04{
    margin-top: 7px;
    width: 770px;
   	height: 49px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext05{
    margin-top: 7px;
    width: 770px;
   	height: 47px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext06{
    margin-top: 7px;
    width: 770px;
   	height: 50px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext07{
    margin-top: 7px;
    width: 770px;
   	height: 50px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext08{
    margin-top: 7px;
    width: 770px;
   	height: 50px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext09{
    margin-top: 7px;
    width: 770px;
   	height: 50px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}


.section02 .textbox .line_text .middletext .middletext10{
    margin-top: 7px;
    width: 700px;
   	height: 47px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext11{
    margin-top: 7px;
    width: 700px;
   	height: 50px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext12{
    margin-top: 7px;
    width: 700px;
   	height: 50px;
   	border: none;
   	outline: none;
   	color:black;
   	font-size: 30px;
}

.section02 .textbox .line_text .middletext .middletext13{
    margin-top: 7px;
    width: 770px;
   	height: 47px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext14{
    margin-top: 7px;
    width: 770px;
   	height: 47px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}



.section02 .textbox .line_text .middletext .middletext14{
    margin-top: 7px;
    width: 770px;
   	height: 50px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext15{
    margin-top: 7px;
    width: 700px;
   	height: 50px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext16{
    margin-top: 7px;
    width: 770px;
   	height: 47px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext17{
    margin-top: 7px;
    width: 770px;
   	height: 50px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext18{
    width: 1120px;
   	height: 170px;
   	background: white;
   	font-size: 18px;
   	margin-left: -333px;
}




.section02 .textbox .line_text .icon{
    position: absolute;
    top: 125px;
    margin-left: 750px;
    border:none;
    outline:none;
    
}

.middletext_icon {
	width:30px;
	height:30px;
}

.attachments {
	
	width:250px;
	height:50px;
	
}

.restArea {
	
	margin-top: 800px;
	height:20px;
	background:white;
	
}

.process {
	width:770px;
	display: flex;
    justify-content: left;
	
}

.success {
	
	width:770px;
	display: flex;
    justify-content: left;
	
}

.client_title {
	
	margin-top: 20px;
    margin-left: 35px;
    display: flex;
    justify-content: space-between;
	
} 

.client_title_text{
    width: 300px;
    height: 30px;
    font-size: 24px;
    font-weight: bold;
}

.client_info {
	
	display: flex;
    justify-content: left;
    margin-left : 30px;
    margin-top : 10px;
    font-size: 18px;
	
}

.client_info_dept {
	
	margin-left : 10px;
}

.client_info_job {
	

	margin-left : 10px;
	
}

.client_info_btn1 {
	
	margin-left: 1030px;
	
}


.client_info_btn2 {
	
	margin-left: 1000px;
	font-size:15px;
}

.client_line {
	
	width: 1120px;
    height: 1px;
    margin-top: 5px;
    margin-left: 33px;
    background: rgb(0,0,0, 0.2)
	
}

.client_contact {
	
	margin-top : 5px;
	margin-left : 20px;
	font-size : 15px;
}

.client_info2 {
	
	display: flex;
    justify-content: space-between;
	
}

.client_image {
	
	margin-top: 40px;
	margin-right: 50px;
	
}

.restArea3{
	
	height: 30px;
	background: white;
	
}

.restArea4 {
	
	height: 30px;
	background: #f3f3f3;
	
}

.section02 .com_line{
    width: 1120px;
    height: 1px;
    margin-left: 33px;
    background: black;
}

.client_title_text_icon {
	
	margin-right:35px;
	width:30px;
	height:30px;
	
}

.modal-header {
	
	background: #4dd0e1;
	
}

.modal-title {
	
	font-weight: bold;
	font-family: fantasy;
}

.modal-body-content {
	
	width:400px;
	border:none;
	
}

.clientTbody > tr {
	
	border: solid 1px rgba(0, 0, 0, 0.2);
	height: 50px;

}

.userTbody > tr {
	
	border: solid 1px rgba(0, 0, 0, 0.2);
	height: 50px;

}

.productTbody > tr {
	
	border: solid 1px rgba(0, 0, 0, 0.2);
	height: 50px;
}

.modal_setting {
	
	width:500px;
	margin-left:710px;
	margin-top:20px;
	
	
}

.modal_setting2 {
	
	width:900px;
	margin-left:550px;
	margin-top:20px;
	
	
}

.modal-body-content2 {
	
	width:785px;
	border:none;
	
}



.modalOpen {
	
	display: none;
}

.section03 {
    width: 1197px;
    height: 300px;
    position: absolute;
    top: 900px;
    right: 155px;
    background: #f3f3f3;
}

.section03 .plus_icon {
	width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 50px;
}

.section03 .sec03_title {
	height: 24px;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 40px;
}

.section03 .sec03_line01 {
	width: 1120px;
    height: 1px;
    margin-top: 10px;
    margin-left: 33px;
    background: black;
}

.section03 .space {
	height: 20px;
	width: 1197px;
	background: #f3f3f3;
}

.section03 .empty {
	height: 30px;
	width: 1197px;
	background: white;
}

.section03 .empty2 {
	height: 15px;
	width: 1197px;
	background: #f3f3f3;
}

#productName {
	border: none;
	background: #f3f3f3;
	width: 500px;
	font-size: 18px;
	text-align: left;
	font-weight: bold;
	margin-left: 20px;
	outline: none;
}

#productTable {
	text-align: center;
	margin-left: 20px;
	width: 1150px;
	border: 1px solid black;
}

#productTable > thead > tr > th {
	height: 50px;
	width: 400px;
	font-size: 18px;
	border: solid 1px rgba(0, 0, 0, 0.2);
	background: #FDF5F5;
}

#productTable > tbody > tr > th {
	height: 50px;
	width: 400px;
	font-size: 18px;
	border: solid 1px rgba(0, 0, 0, 0.2);
	background: #FDF5F5;
}

#productTable > thead > tr > td {
	height: 50px;
	width: 400px;
	font-size: 18px;
	border: solid 1px rgba(0, 0, 0, 0.2);
	background: white;
}

#productTable > tbody > tr > td {
	height: 50px;
	width: 400px;
	font-size: 18px;
	border: solid 1px rgba(0, 0, 0, 0.2);
	background: white;
}

#productTable > thead > tr > td > input {
	border: none;
	background: white;
	height: 40px;
}

#productTable > tbody > tr > td > input {
	border: none;
	background: white;
	height: 40px;
}

#createDiv {
	width: 500px;
}

#modalInput {
	width: 250px;
	font-size: 18px;
	text-align: center;
	outline: none;
	border: solid 1px rgba(0, 0, 0, 0.2);
}

.placeholder {
	position: absolute;
	top: 268px;
	left: 790px;
	
}

.placeholder > input {
	border: none;
	outline: none;
	background: #f3f3f3;
	font-size: 18px;
	margin-top: 27px;
}

.nameText {
	
	display:flex;
	justify-content: space-between;
}

.productName {
	
	width:1000px;
	margin-right:600px;
	
}

.deleteProduct {
	margin-right:20px;
	
}

.apply {
	background: #f3f3f3;
	display:flex;
	justify-content: space-between;
	margin-left: 40px;
	margin-top: 20px;
	
}

.apply_text {
	margin-top: 20px;
	font-size: 24px;
    font-weight: bold;
	
}

.apply_icon {
	margin-top: 20px;
	width:30px;
	height:30px;
	margin-right: 50px;
}

.apply_title {
	
	margin-top: 15px;
	display:flex;
	justify-content: space-between;
	
}

.apply_title_text1 {

	margin-left: 40px;
	font-size: 15px;
	
}

.apply_title_text2 {

/* 	margin-right: 150px; */
	font-size: 15px;
	
}

.apply_title_text3 {

	margin-right: 900px;
	font-size: 15px;
	
}

.apply_delete {
	
	margin-right: 50px;
	
}

.apply_block {
	
	display:flex;
	justify-content: space-between;
	border: solid 1px rgba(0, 0, 0, 0.2);
	margin-left : 40px;
	margin-top : 20px;
	width:560px;
	height:60px;
	
}

.apply_block01 {
	
	text-align: center;
	width: 50%;
	font-weight:bold;
	font-size:15px;
	border: solid 1px rgba(0, 0, 0, 0.2);
	
}

.apply_block02 {
	
	width: 50%;
	font-weight:bold;
	font-size:15px;
	border: solid 1px rgba(0, 0, 0, 0.2);
	
}

.apply_block03 {
	
	text-align: center;
	width: 224px;
	font-weight:bold;
	font-size:15px;
	border: solid 1px rgba(0, 0, 0, 0.2);
	
}

.apply_block04{
	
	text-align: center;
	width:336px;
	font-weight:bold;
	font-size:15px;
	border: solid 1px rgba(0, 0, 0, 0.2);
	background:white;
}

.apply_block01_1 {
	margin-top:20px;
	
}

.apply_block02_select {
	
	width:100%;
	height:100%;
	
	
}

.apply_line {
	
	width: 1120px;
    height: 1px;
    margin-top: 15px;
    margin-left: 33px;
    background: rgb(0,0,0, 0.2)
	
}

#activityPlan {
	margin-top: 40px;
    width: 1120px;
   	height: 170px;
   	background: white;
   	font-size: 18px;
   	margin-left: 33px;
}

#addProduct{
	margin-left: 65px;
	width: 30px;
	height: 30px;
}

#competitorTrend{
	margin-top: 20px;
    width: 1120px;
   	height: 450px;
   	background: white;
   	font-size: 18px;
   	margin-left: 33px;
}

#etc{
	margin-top: 20px;
    width: 1120px;
   	height: 170px;
   	background: white;
   	font-size: 18px;
   	margin-left: 33px;
}

.apply_whole {
	background: #f3f3f3;
	margin-top: 80px;
	height: 570px;
}

.middletext2 {
	height: 500px;
}

.apply_whole2{
	background: #f3f3f3;
	margin-top: 50px;
}
.topSection{
	width: 1197px;
    height: 250px;
    position: absolute;
    top: 260px;
    right: 155px;
    background: #f3f3f3;
}

.com_line{
	width: 1120px;
    height: 5px;
    margin-top: -15px;
    margin-left: 33px;
    background: #3BAFDA;
}
.line1{
	width: 500px;
	height: 1px;
	background: black;
	margin-top:-70px;
	margin-left: 300px;
}
.line2{
	width: 500px;
	height: 1px;
	background: black;
	margin-top: 70px;
	margin-left: 300px;
}

.middletext01 {
	margin-top: -50px;
	width:200px;
	height: 50px;
	position: absolute;
	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}
.middletext02 {
	margin-top: -50px;
	width:200px;
	height: 50px;
	position: absolute;
	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}
.middletext03 {
	margin-top: -50px;
	margin-left: 250px;
	width:200px;
	position: absolute;
	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}
.middletext04{
	margin-top: -48px;
	margin-left: 205px;
	width:200px;
	position: absolute;
	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 30px;
}

.maintext01{
	font-size: 24px;
	margin-left: 200px;
	margin-top: 40px;
}

.maintext02{
	font-size: 24px;
	margin-left: 200px;
	margin-top: 40px;
}

.bo_title_icon02 {
	margin-left: 1120px;
	margin-top: -55px;
}

.etcBox {
	height: 240px;
}

.deleteBtn{
	margin-left: 1080px;
}

#planContentText{
	width: 1120px;
   	height: 170px;
   	background: white;
   	font-size: 18px;
   	margin-top: 40px;
   	margin-left: 30px;
}