/*검색조건*/
.search_part{
    width: 370px;
    height: 200px;
    background: #f3f3f3;
    position: absolute;
    top: 262px;
    left: 156px;
}

.search_part > div{
    margin-left: 29px;
}

.search_part .search_title{
    width: 100px;
    height: 20px;
    margin-top: 23px;
    font-size: 24px;
    font-weight: bold;
    
}

.search_part .all_box{
    width: 305px;
    height: 137px;
    margin-top: 30px;
}

.search_part .all_box > div{
    width: 304px;
    height: 35px;
    margin-top: 14px;
}

.search_part .all_box .part01{
    margin-top: 0;
}

.select_box {

    width: 120px;
    height: 35px;
    margin-top: 10px;
}

.search_input {
    width: 140px;
    height: 35px;
    margin-top: 10px;
}

.search_button {

    width: 305px;
    height: 50px;
    margin-top: 10px;
    background: #3BAFDA;
    color: white;
    border: none;
}

.icon01 {
	position: absolute;
	left: 300px;
    top: 225px;
}

.list_box{
    position: absolute;
    width: 1200px;
    background: #f3f3f3;
    top: 262px;
    right: 150px;
}

.list_box > div:not(.restArea){
    margin-left: 27px;
}

.list_box .list_title{
    display: flex;
    justify-content: space-between;
    width: 1145px;
    height: 27px;
    margin-top: 26px;
    font-size: 24px;
    font-weight: bold;
}

.list_box .com01{
    width: 1144px;
    height: 175px;
    margin-top: 26px;
}

.list_box .com01 .com01_1{
    width: 1144px;
    height: 50px;
   	border: solid 0.5px;
    display: flex;
    justify-content: space-between;
}


.list_box .com01 .com01_main{
    width: 500px;
    height: 106px;
    margin-top: 20px;
    margin-left: 17px;
   
}

.list_box .com01 .com01_main .com01_location_img{
	
	width:16px;
	height:16px;
	margin-left:13px;
	color :  red;
}

.list_box .com01 .com01_main .com01_location {
	
	color : rgb(0,0,0, 0.7);
	font-size: 18px;
}


.list_box .com01 .com01_main .com01_img{
    width: 106px;
    height: 106px;
    border: solid 0.5px rgba(255, 0, 0, 0.2);
    margin-right:50px;
	width:30px;
	height:30px;
}


.list_box .com01 .com01_main .com01_name{
    width: 500px;
    height: 30px;   
    margin-top: 20px;
    margin-left: 17px;
    font-size: 22px;
	font-weight: bold;
}

.list_box .com01 .com01_1 .com01_s_tag{
    width: 208px;
    height: 58px;
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
    margin-right: 70px;
}

.list_box .com01 .com01_1 .com01_s_tag .com01_s_img{
    width: 58px;
    height: 58px;
    
}


.list_box .com01 .com01_1 .com01_s_tag .com01_blue{
    width: 58px;
    height: 30px;
    background: #2196F3;
    margin-top: 15px;
    color:white;
}


.list_box .com01 .com01_1 .com01_s_tag .com01_click{
    width: 700px;
    height: 58px;
}

.list_box .com01 .com01_2{
    width: 1144px;
    height: 37px;
    display: flex;
    justify-content: left;
    color: rgb(0,0,0,0.5);
}

.list_box .com01 .com01_2 .com02_typo{
    width: 355px;
    height: 21px;
    margin-left: 10px;
}

.list_box .com01 .com01_2 .com02_typo > div{
    margin-top: 5px;
}





.list_box .com01 .com01_2 .com02_typo .mess_text01{
    width: 80px;
    height: 21px;
    margin-top: 5px;
}


.list_box .com01 .com01_2 .com02_typo .phone01{
    width: 20px;
    height: 21px;
    background: #e7d93f;
}


.list_box .com01 .com01_2 .com02_typo .phone_text01{
    width: 80px;
    height: 21px;
}

.com01_img {
	
	margin-right:120px;
	width:30px;
	height:30px;
	
	
}

.com01_img2 {
	
	margin-right:150px;
	width:30px;
	height:30px;
	
	
}

.com01_img_write {
	
	
	width:30px;
	height:30px;
}


.com01_email {
	
	width: 20px;
	height: 20px;
	margin-left:5px;
	margin-top:5px;
}

.mess_text01 {
	margin-left:5px;
	margin-top:5px;
}

.com01_line {
	
	width:1px;
	height:20px;
	margin-left:5px;
	margin-top:7px;
}

.com01_phone {
	
	width: 20px;
	height: 20px;
	margin-left:5px;
	margin-top:5px;
}

.phone_text01 {
	margin-left:5px;
	margin-top:5px;
	
}

.com01_tel {
	
	width: 20px;
	height: 20px;
	margin-left:5px;
	margin-top:5px;
}

.tel_text01 {
	
	margin-left:5px;
	margin-top:5px;
	
}

.write_btn {
	
	height:10px;
	outline:none;
}

.com01_img_manager {
	margin-right:120px;
	width:70px;
}

.com01_img2_sales {
	margin-right:150px;
}

.restArea {
	
	height:100px;
	background:white;
	
}

.page_btn4 {
	
	margin-left:1160px;
}

.modal-header {
	
	background: #4dd0e1;
	
}

.modal-title {
	
	font-weight: bold;
	font-family: fantasy;
}

.userList-tr {
	
	width:500px;
	
}

.modal-body-content {
	
	width:420px;
	border:none;
	
}

.userTbody > tr {
	
	border: solid 1px rgba(0, 0, 0, 0.2);
	height: 50px;

}

.modal_setting {
	
	width:500px;
	margin-left:710px;
	margin-top:20px;
	
	
}

.modalOpen {
	
	display: none;
}

.header {
	margin-left: 25px;
	margin-top: 50px;
	border-top: none;
	border-left: none; 
	border-right: none; 
	background: #2196F3;
	width: 1145px;
	font-size: 18px;
	font-weight: bold;
}

.list01_1{
	border: solid 1px black;
	margin-top: 20px;
	height: 100px;
	width: 1145px;
}

.list01_main{
	margin-top: 23px;
	margin-left: 30px;
	font-size: 18px;
	font-weight: bold;
}
