<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/businessOpportunity/insert.css}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script th:src="@{/js/businessOpportunity/insert.js}"></script>
</head>
<body>

	<!-- 헤더 -->
	<div th:replace="common/salesHeader.html"></div>


	<form action="/businessOpportunity/insert" id="businessOpportunityInsert" method="post" onsubmit="return checkValue();" encType="multipart/form-data">
	
	<!-- 첨부자료 시작 -->
	<section class="section01">
	
	    <div class="blue_box">
	        <div class="title">첨부자료</div>
	    </div>
	
	    <div class="gray_box">
	        <div class="text_0102">
	            <div class="text_01">
	            	<input class="attachments" type="file" name="multiFiles" multiple> 	
	            </div>
	            <div class="text_02">
	                <div class="text02"></div>
	                <div class="button02"></div>
	            </div>
	        </div>
	    </div>
	</section>
	<!-- 첨부자료 끝 -->
	
	<!-- 화면의 오른쪽 상단 블럭 시작 -->
	<section class="section02">
	
		<!-- 영업기회 작성 입력 폼 시작 -->
	    <div class="bo_title">
	        <div class="bo_title_text">영업기회 등록</div>
	        <div class="bo_icon">
	            <button class="bo_icon_btn3" type="submit"><img class="bo_title_icon01" src="../images/common/restore.png"/></button>
	            <div onclick="location.href='/businessOpportunity/list'"><img class="bo_title_icon02" src="../images/common/list.png"/></div>
	        </div>
	        <div class="bo_icon2">
            	<button class="bo_icon_btn3" type="submit"><img class="bo_title_icon01" src="/images/common/restore.png"/></button>
            	<div onclick="location.href='/businessOpportunity/list'"><img class="bo_title_icon02" src="/images/common/list.png"/></div>
        	</div>
	    </div>
	    <div class="bo_line"></div>
	
	    <div class="textbox">
	        <div class="maintext">
	            <div class="maintext01">* 영업기회명</div>
	            <div class="maintext02">* 고객사</div>
	            <div class="maintext03">* 고객</div>
	            <div class="maintext05">* 예상매출</div>
	            <div class="maintext06">* 매출구분</div>
	            <div class="maintext07">* 사업유형</div>
	            <div class="maintext10">* 영업시작일</div>
	            <div class="maintext11">* 영업종료일</div>
	            <div class="maintext12">* 담당자</div>
	            <div class="maintext13">* 인지경로</div>
	            <div class="maintext14">* 결재권자</div>
	            <div class="maintext15">비고</div>
	        </div>
	
	        <div class="line_text">
	            <div class="line">
	                <div class="line01"></div>
	                <div class="line02"></div>
	                <div class="line03"></div>
	                <div class="line04"></div>
	                <div class="line05"></div>
	                <div class="line06"></div>
	                <div class="line07"></div>
	                <div class="line08"></div>
	                <div class="line09"></div>
	                <div class="line10"></div>
	                <div class="line11"></div>
	                <div class="line12"></div>            
	            </div>
	            <div class="middletext">
	                <input type="hidden" id="clientNo" name="clientNo">
	                <input type="hidden" id="userNo" name="userNo">                                                     
	                <input type="hidden" id="approverNo" name="approverNo">                           
	                <input type="text" id="businessOpportunityName" name="businessOpportunityName" class="middletext01">
	                <input type="text" id="clientCompanyName" name="clientCompanyName" class="middletext02" readonly>
	                <input type="text" id="clientName" name="clientName" class="middletext03" readonly>
	                <input type="text" id="expectedSales" name="expectedSales" class="middletext05" placeholder="영업기회제품 등록시 자동 입력됩니다." readonly>
	                <select id="salesDivision" name="salesDivision" class="middletext06">
	                 	<option value="선택안함">선택하세요</option>
	                	<option value="상품매출">상품매출</option>
	                	<option value="커미션매출">커미션매출</option>
	                </select>
	                <select id="businessType" name="businessType" class="middletext07">
	                 	<option value="선택안함">선택하세요</option>
	                	<option value="민수사업">민수사업</option>
	                	<option value="관공사업">관공사업</option>
		            </select>               
	                <input type="date" id="businessStartDate" name="businessStartDate" class="middletext13">
	                <input type="date" id="businessEndDate" name="businessEndDate" class="middletext14">
	                <input type="text" id="name" name="name" class="middletext15" readonly>
	                <select id="cognitivePathway" name="cognitivePathway" class="middletext16">
	                 	<option value="선택안함">선택하세요</option>
	                	<option value="신문">신문</option>
	                	<option value="인터넷검색">인터넷검색</option>
	                	<option value="지인소개">지인소개</option>
	                	<option value="기존고객">기존고객</option>
	                	<option value="기타">기타</option>
		            </select>
		            <input type="text" id="approverName" name="approverName" class="middletext17" readonly>
	                <textarea id="note" name="note" class="middletext18"></textarea>
	            </div>
	           
	          	  <div class="bo_icon_btn1" onclick="selectClientList();"><img class="middletext_icon" src="../images/common/open.png"/></div>
	          	  <div class="bo_icon_btn2" onclick="selectUserList();"><img class="middletext_icon" src="../images/common/open.png"/></div>
	          	  <div class="bo_icon_btn4" onclick="selectApproverList();"><img class="middletext_icon" src="../images/common/open.png"/></div>
	           
	        </div>
	    </div>
	    
	    <div class="restArea"></div>
		<!-- 영업기회 작성 입력 폼 끝 -->
 
	</section>	
	<!-- 화면의 오른쪽 상단 블럭 끝 -->
	
	<!-- 화면의 오른쪽 하단 블럭 시작 -->
	<section class="section03">
	
		<!-- 영업기회 품목 시작 -->
		<div class="sec03_title">영업기회제품</div>
		<div><img id="addProduct" class="plus_icon" src="/images/common/plusBtn.png"/></div>
		<div class="sec03_line01"></div>
		<div class="space"></div>
		<div id="tableDiv"></div>
		<div class="empty2"></div>
		<div class="empty"></div>
		<!-- 영업기회 품목 끝 -->	
	
		<!-- 지원인력 시작 -->
		<div class="apply_whole">
			<div class="apply">
				<div class="apply_text">지원인력</div>
				<div class="apply_add" id="addApply"> <img class="apply_icon" src="../images/common/plusBtn.png"/></div>			
			</div>		
			 <div class="sec03_line01"></div>
			 <div class="space"></div>
			 <div id="apply_wrap"></div>
		</div>
		<!-- 지원인력 끝 -->
		
		<div class="restArea4"></div>
		<div class="restArea3"></div>
	</section>
	<!-- 화면의 오른쪽 하단 블럭 끝 -->

	</form>
	
	<!-- 고객 모달 시작 -->
	<a href="#dialog" id="modalOpen" role="button" class="btn btn-default modalOpen" data-toggle="modal"></a>
		<div class="modal fade bd-example-modal-xl modal_setting" id="dialog" role="dialog" aria-labelledby="dlogLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" id="p-modalArea" role="document">		
				<div class="modal-content">
					<div class="modal-header">
	                	<h4 class="modal-title" id="dlogLabel" >고객 조회</h4>
					</div>
                    <div class="modal-body">
						<table id="clientList" class="modal-body-content">
							<thead>
								<tr class="clientCompanyList-tr">
									<th>고객명</th>
									<th>고객사명</th>
									<th>등록일</th>
								</tr>
							</thead>
							<tbody id="clientTbody" class="clientTbody">								
							</tbody>
						</table>
                    </div>                   
                    <div class="modal-footer">
                        <a id="btn-close" class="btn btn-close" data-dismiss="modal">닫기</a> 
                    </div>
				</div>
			</div>
		</div>
	<!-- 고객 모달 끝 -->
	
	<!-- 담당자 모달 시작 -->
	<a href="#dialog2" id="modalOpen2" role="button" class="btn btn-default modalOpen" data-toggle="modal"></a>
		<div class="modal fade bd-example-modal-xl modal_setting" id="dialog2" role="dialog2" aria-labelledby="dlogLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" id="p-modalArea" role="document">		
				<div class="modal-content">
					<div class="modal-header">
	                	<h4 class="modal-title" id="dlogLabel" >담당자 조회</h4>
					</div>
                    <div class="modal-body">
						<table id="userList" class="modal-body-content">
							<thead>
								<tr class="userList-tr">
									<th>담당자 이름</th>
									<th>부서</th>
									<th>직위</th>
								</tr>
							</thead>
							<tbody id="userTbody" class="userTbody">								
							</tbody>
						</table>
                    </div>                   
                    <div class="modal-footer">
                        <a id="btn-close" class="btn btn-close" data-dismiss="modal">닫기</a> 
                    </div>
				</div>
			</div>
		</div>
	<!-- 담당자 모달 끝 -->
	
	<!-- 영엽기회품목 모달 시작 -->
	<a href="#dialog3" id="modalOpen3" role="button" class="btn btn-default modalOpen" data-toggle="modal"></a>
		<div class="modal fade bd-example-modal-xl modal_setting2" id="dialog3" role="dialog3" aria-labelledby="dlogLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" id="p-modalArea" role="document">		
				<div class="modal-content">
					<div class="modal-header">
	                	<h4 class="modal-title" id="dlogLabel" >품목 조회</h4>
					</div>
                    <div class="modal-body">
						<table id="productList" class="modal-body-content2">
							<thead>
								<tr class="userList-tr">
									<th>품목번호</th>
									<th>품목명</th>
									<th>단가</th>
									<th>단위</th>
									<th>규격</th>
								</tr>
							</thead>
							<tbody id="productTbody" class="productTbody">								
							</tbody>
						</table>
                    </div>                   
                    <div class="modal-footer">
                        <a id="btn-close" class="btn btn-close" data-dismiss="modal">닫기</a> 
                    </div>
				</div>
			</div>
		</div>
	<!-- 영업기회품목 모달 끝 -->
	
	<!-- 지원인력 모달 시작 -->
	<a href="#dialog4" id="modalOpen4" role="button" class="btn btn-default modalOpen" data-toggle="modal"></a>
		<div class="modal fade bd-example-modal-xl modal_setting" id="dialog4" role="dialog4" aria-labelledby="dlogLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" id="p-modalArea" role="document">		
				<div class="modal-content">
					<div class="modal-header">
	                	<h4 class="modal-title" id="dlogLabel" >지원인력 조회</h4>
					</div>
                    <div class="modal-body">
						<table id="userList2" class="modal-body-content">
							<thead>
								<tr class="userList-tr">
									<th>이름</th>
									<th>부서</th>
									<th>직위</th>
								</tr>
							</thead>
							<tbody id="userTbody2" class="userTbody">								
							</tbody>
						</table>
                    </div>                   
                    <div class="modal-footer">
                        <a id="btn-close" class="btn btn-close" data-dismiss="modal">닫기</a> 
                    </div>
				</div>
			</div>
		</div>
	<!-- 지원인력 모달 끝 -->
	
	<!-- 결재권자 모달 시작 -->
	<a href="#dialog5" id="modalOpen5" role="button" class="btn btn-default modalOpen" data-toggle="modal"></a>
		<div class="modal fade bd-example-modal-xl modal_setting" id="dialog5" role="dialog5" aria-labelledby="dlogLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" id="p-modalArea" role="document">		
				<div class="modal-content">
					<div class="modal-header">
	                	<h4 class="modal-title" id="dlogLabel" >결재권자 조회</h4>
					</div>
                    <div class="modal-body">
						<table id="approverList" class="modal-body-content">
							<thead>
								<tr class="userList-tr">
									<th>결재권자 이름</th>
									<th>부서</th>
									<th>직위</th>
								</tr>
							</thead>
							<tbody id="approverTbody" class="userTbody">								
							</tbody>
						</table>
                    </div>                   
                    <div class="modal-footer">
                        <a id="btn-close" class="btn btn-close" data-dismiss="modal">닫기</a> 
                    </div>
				</div>
			</div>
		</div>
	<!-- 결재권자 모달 끝 -->

</body>
</html>