<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/businessOpportunity/select.css}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script th:src="@{/js/businessOpportunity/select.js}"></script>
</head>
<body>

	<!-- 헤더 -->
	<div th:replace="common/salesHeader.html"></div>
	
	<!-- 첨부자료 시작 -->
	<section class="section01">
	
	    <div class="blue_box">
	        <div class="title">첨부자료</div>
	    </div>
	
	    <div class="gray_box">
	        <div class="text_0102">
	        <th:block th:if="${ files.size <= 0 }">
	        	<span class="inp">첨부파일이 없습니다.</span>
	        </th:block>
	            <div class="text_01" th:each="files : ${ files }">
	            	<a class="attachments" href="#this" th:text="${ files.fileOriginalName}"></a>
	            	<input type= "hidden" class="attachments" th:value="${ files.fileNo}"> 
	            </div>
	            <div class="text_02">
	                <div class="text02"></div>
	                <div class="button02"></div>
	            </div>
	        </div>
	    </div>
	</section>
	<!-- 첨부자료 끝 -->
	
	<!-- 영업기회 작성 입력 폼 시작 -->
	<section class="section02">
	    <div class="bo_title">
	        <div class="bo_title_text">영업기회 조회</div>
	        <div class="bo_icon">
	        	<div onclick="remove();"><img class="bo_title_icon01" src="../images/common/delete.png"/></div>
	            <div onclick="location.href='/businessOpportunity/list'"><img class="bo_title_icon02" src="../images/common/list.png"/></div>
	        </div>
	         <div class="bo_icon2">
	        	<div onclick="remove();"><img class="bo_title_icon01" src="../images/common/delete.png"/></div>
	            <div onclick="location.href='/businessOpportunity/list'"><img class="bo_title_icon02" src="../images/common/list.png"/></div>
	        </div>
	    </div>
	    <div class="bo_line"></div>
	
	    <div class="textbox">
	        <div class="maintext">
	            <div class="maintext01">영업기회명</div>
	            <div class="maintext02">고객사</div>
	            <div class="maintext03">고객</div>
	            <div class="maintext04">예상매출</div>
	            <div class="maintext05">매출구분</div>
	            <div class="maintext06">사업유형</div>
	            <div class="maintext07">영업시작일</div>
	            <div class="maintext08">영업종료일</div>
	            <div class="maintext09">담당자</div>
	            <div class="maintext10">인지경로</div>
	            <div class="maintext11">결재권자</div>
	            <div class="maintext12">비고</div>
	            <div class="maintext13">결재상태</div>
	            <div class="maintext14">결재의견</div>
	        </div>
	
	        <div class="line_text">
	            <div class="line">
	                <div class="line01"></div>
	                <div class="line02"></div>
	                <div class="line03"></div>
	                <div class="line04"></div>
	                <div class="line05"></div>
	                <div class="line06"></div>
	                <div class="line07"></div>
	                <div class="line08"></div>
	                <div class="line09"></div>
	                <div class="line10"></div>
	                <div class="line11"></div>
	                <div class="line12"></div>
	                <div class="line13"></div>
	                <div class="line14"></div>
	            </div>
	            <div class="middletext">
	                <input type="hidden" id="clientNo" name="clientNo">
	                <input type="hidden" id="userNo" name="userNo">                                                     
	                <input type="hidden" id="approverNo" name="approverNo">                           
	                <input type="text" id="businessOpportunityName" name="businessOpportunityName" class="middletext01" th:value="${ businessOpportunity.businessOpportunityName}" readonly>
	                <input type="text" id="clientCompanyName" name="clientCompanyName" class="middletext02" th:value="${ businessOpportunity.clientCompanyName}" readonly>
	                <input type="text" id="clientName" name="clientName" class="middletext03" th:value="${ businessOpportunity.clientName}" readonly>               
	                <input type="text" id="expectedSales" name="expectedSales" class="middletext05" th:value="${ businessOpportunity.expectedSales}" readonly>
	                <input type="text" id="salesDivision" name="salesDivision" class="middletext06" th:value="${ businessOpportunity.salesDivision}" readonly>
	                <input type="text" id="businessType" name="businessType" class="middletext07" th:value="${ businessOpportunity.businessType}" readonly>
	                <input type="text" id="businessStartDate" name="businessStartDate" class="middletext13" th:value="${ businessOpportunity.businessStartDate}" readonly>
	                <input type="text" id="businessEndDate" name="businessEndDate" class="middletext14" th:value="${ businessOpportunity.businessEndDate}"  readonly>
	                <input type="text" id="name" name="name" class="middletext15" th:value="${ businessOpportunity.userName}"  readonly>
	                <input type="text" id="cognitivePathway" name="cognitivePathway" class="middletext16" th:value="${ businessOpportunity.cognitivePathway}" readonly>
		            <input type="text" id="approverName" name="approverName" class="middletext17" th:value="${ approverName}" readonly>
	                <textarea id="note" name="note" class="middletext18" th:text="${ businessOpportunity.note}" readonly></textarea >
	                <input type="text" id="d" name="d" class="middletext19" th:value="${ businessOpportunity.approvalStatus}" readonly>
	                <textarea id="note" name="note" class="middletext18" th:text="${ businessOpportunity.approvalOpinion}" readonly></textarea >
	            </div>
	        </div>
	    </div>
	    
	    <div class="restArea"></div>
 		
 		<div class="opinion">
	    	<div class="opinion_title">
				<div class="opinion_title_text">
					<div class="opinion_title_text2">의견</div>
				</div>
			</div>	    	
		    <div class="com_line"></div>	    
		    <div class="opinion_content_write">
		    	<input id="businessOpportunityNo" name="businessOpportunityNo" type="hidden" th:value="${ businessOpportunity.businessOpportunityNo}">
			    <textarea id="opinion_textarea" class="opinion_textarea" name="opinionContent" rows="" cols=""></textarea>
			    <button type="button" onclick="insertOpinion();" id="opinion_btn" class="opinion_btn">의견</button>
		    </div>		   	
			<div id="opinionList"><br></div>			    	      
	  	    <div class="restArea3"></div>
	    </div>
	    
	    <div class="sec03_title">영업기회 제품</div>
		<div class="sec03_line01"></div>
		<div class="space"></div>
		<div id="tableDiv" th:each="productList : ${ productList }">
			<input type="text" id="productName" name="productName" th:value="${ productList.productName }" readonly>
			<table id="productTable">
				<thead>
				<tr>
				<th> 단가 </th>
				<td> <input type="text" class="price" id="price" name="price" th:value="${ productList.price }" readonly> </td>
				<th> 수량 </th>
				<td> <input type="text" class="quantity" id="quantity2" name="quantity2" th:value="${ productList.quantity2 }" readonly> </td>
				</tr>
				</thead>
				<tbody>
				<tr>
				<th> 할인 </th>
				<td> <input type="text" id="discount" name="discount" th:value="${ productList.discount }" readonly> </td>
				<th> 포장수량/규격 </th>
				<td> <input type="text" id="unit" name="unit" th:value="${ productList.unit } + ' / ' + ${ productList.standard }" readonly> </td>
				</tr>
				<tr>
				<th> 판매단가 </th>
				<td> <input type="text" id="salePrice" name="salePrice" th:value="${ productList.price } - (${ productList.discount } * ${ productList.price } / 100)"  readonly> </td>
				<th> 제안금액 </th>
				<td> <input type="text" class="totalPrice" id="totalPrice" name="totalPrice" 
				            th:value="(${ productList.price } - (${ productList.discount } * ${ productList.price } / 100)) * ${ productList.quantity2 }" readonly> </td>
				</tr>
				</table>
				<div class="empty2"></div>
		</div>
		<div class="empty"></div>		
		<div class="apply_whole">
			<div class="apply">
				<div class="apply_text">지원인력</div>		
			</div>		
			 <div class="sec03_line01"></div>
			 <div class="space"></div>
			 
			 <div id="apply_wrap" th:each=" supportStaff : ${ supportStaff }">
			 	<div>
				 <div class="apply_title">
				 	<div class="apply_title_text1" th:text="${ supportStaff.deptName}"></div>
				 	<div class="apply_title_text2" th:text="${ supportStaff.position}"></div>
				 	<div class="apply_title_text3" th:text="${ supportStaff.name}"></div>
				 </div>
				 <div class="apply_block">
				 	<div class="apply_block01">
				 		<div class="apply_block01_1">역할구분</div>
				 	</div>
				 	<div class="apply_block02" >
				 		<input class="apply_block02_select" th:value="${ supportStaff.roleDivision}" readonly>				 		
				 	</div>
				 </div>
				 <div class="apply_line"></div>
				 <div class="empty2"></div>
				</div>
			 </div>

		</div>
		<div class="empty2"></div>		
		<div class="empty"></div>
	</section>	
	<!-- 영업기회 작성 입력 폼 끝 -->

</body>
</html>