
/*
	마이페이지 css
*/


.con_list input[type=email],
.con_list input[type=number],
.con_list input[type=password],
.con_list input[type=search],
.con_list input[type=tel],
.con_list input[type=text],
.con_list input[type=date]
{ 
	border: none; 
}

.myinfo_title {    
	display: block;
    color: #333;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    height: 40px;
    line-height: 30px;
    /* padding-bottom: 5px; */
    border-bottom: 1px solid #a8a8a8;
}

.scon_box {
/*     background: #fff; */
    padding: 20px 20px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
}

.con_list .detailBox {
	height: auto;
	box-sizing: border-box;
	clear: both;
	width: 100%; /* display:table */
}

.con_list .detailBox .box .title {
    text-align: center;
    width: 30%;
    min-height: 40px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: -.5px;
    color: #333;
    padding-top: 9px;
    padding-right: 1%;
    word-break: break-all;
    display: inline-block;
}

.con_list .detailBox .box .content {
    width: 60%;
    min-height: 40px;
    vertical-align: top;
    border-bottom: 1px solid #dbdfe3;
    display: inline-block;
    /* padding-bottom: 5px; */
    position: relative;
    box-sizing: border-box;
    font-size: 12px;
    padding-top:4px;
}



