<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/clientCompany/insert.css}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script th:src="@{../js/clientCompany/insert.js}"></script>
</head>
<body>

	<!-- 헤더 -->
	<div th:replace="common/salesHeader.html"></div>


	<form action="/clientCompany/insert" id="clientCompanyInsert" method="post" onsubmit="return checkValue();" encType="multipart/form-data">
	
	<!-- 첨부자료 시작 -->
	<section class="section01">
	
	    <div class="blue_box">
	        <div class="title">첨부자료</div>
	    </div>
	
	    <div class="gray_box">
	        <div class="text_0102">
	            <div class="text_01">
	            	<input class="attachments" type="file" name="multiFiles" multiple> 	
	            </div>
	            <div class="text_02">
	                <div class="text02"></div>
	                <div class="button02"></div>
	            </div>
	        </div>
	    </div>
	</section>
	<!-- 첨부자료 끝 -->
	
	<!-- 화면의 오른쪽 블럭 시작 -->
	<section class="section02">
	
		<!-- 고객사 작성 입력 폼 시작 -->
	    <div class="com_title">
	        <div class="com_title_text">고객사 등록</div>
	        <div class="com_icon">
	            <button class="com_icon_btn" type="submit"><img class="com_title_icon01" src="../images/common/restore.png"/></button>
	            <div onclick="location.href='/clientCompany/list'"><img class="com_title_icon02" src="../images/common/list.png"/></div>
	        </div>
	         <div class="com_icon2">
	            <button class="com_icon_btn" type="submit"><img class="com_title_icon01" src="../images/common/restore.png"/></button>
	            <div onclick="location.href='/clientCompany/list'"><img class="com_title_icon02" src="../images/common/list.png"/></div>
	        </div>
	    </div>
	    <div class="com_line"></div>
	
	    <div class="textbox">
	        <div class="maintext">
	            <div class="maintext01">* 고객사</div>
	            <div class="maintext02">* 구분</div>
	            <div class="maintext03">* 등급</div>
	            <div class="maintext04">* 진행상태</div>
	            <div class="maintext05">매출 (년)</div>
	            <div class="maintext06">사원수</div>
	            <div class="maintext07">사업자번호</div>
	            <div class="maintext08">유선번호</div>
	            <div class="maintext09">팩스번호</div>
	            <div class="maintext10">웹사이트</div>
	            <div class="maintext11">주소</div>
	            <div></div>
	            <div></div>
	            <div class="maintext12">담당자</div>
	            <div class="maintext13">비고</div>
	        </div>
	
	        <div class="line_text">
	            <div class="line">
	                <div class="line01"></div>
	                <div class="line02"></div>
	                <div class="line03"></div>
	                <div class="line04"></div>
	                <div class="line05"></div>
	                <div class="line06"></div>
	                <div class="line07"></div>
	                <div class="line08"></div>
	                <div class="line09"></div>
	                <div class="line10"></div>
	                <div class="line11"></div>
	                <div class="line12"></div>
	                <div class="line13"></div>
	                <div class="line14"></div>
	                <div class="line15"></div>
	            </div>
	            <div class="middletext">
	                <input id="clientCompanyName" name="clientCompanyName" class="middletext01">
	                <select id="division" name="division" class="middletext02">
	             	    <option value="선택안함">선택하세요</option>
	                	<option value="경쟁사">경쟁사</option>
	                	<option value="고객사">고객사</option>
	                	<option value="파트너사">파트너사</option>
	                	<option value="가망고객">가망고객</option>
	                	<option value="거래고객">거래고객</option>
	                	<option value="해지고객">해지고객</option>
	                	<option value="기타">기타</option>
	                </select>
	                <select id="grade" name="grade" class="middletext03">
	                	<option value="선택안함">선택하세요</option>
	                	<option value="S">S</option>
	                	<option value="A">A</option>
	                	<option value="B">B</option>
	                	<option value="C">C</option>
	                	<option value="D">D</option>
	                	<option value="F">F</option>
	                </select>
	                 <select id="progressStatus" name="progressStatus" class="middletext04">
	                 	<option value="선택안함">선택하세요</option>
	                	<option value="미접촉">미접촉</option>
	                	<option value="진행중">진행중</option>
	                	<option value="성공">성공</option>
	                	<option value="실패">실패</option>
	                	<option value="보류">보류</option>
	                	<option value="접촉금지">접촉금지</option>
	                </select>
	                <input type="text" id="sales" name="sales" class="middletext05">
	                <input type="text" id="employeeNo" name="employeeNo" class="middletext06">
	                <input type="text" id="businessNo" name="businessNo" class="middletext07">
	                <input type="text" id="landlineTel" name="landlineTel" class="middletext08">
	                <input type="text" id="fax" name="fax" class="middletext09">
	                <input type="text" id="website" name="website" class="middletext10">
	                <input type="text" id="zipCode" name="zipCode" class="middletext11" readonly>
	                <input type="text" id="address" name="address" class="middletext12" readonly>
	                <input type="text" id="detailedAddress" name="detailedAddress" class="middletext13">
	                <input type="text" class="middletext14" readonly>
	                <textarea id="note" name="note" class="middletext15"></textarea>
	            </div>
	            <div class="icon">
	          	  <button id="searchZipCode" class="com_icon_btn" type="button" onclick="execPostCode();"><img class="middletext_icon" src="../images/common/search.png"/></button>
	            </div>
	        </div>
	    </div>	    
	    <div class="restArea"></div>
	    <!-- 고객사 작성 입력 폼 끝 -->
	    
	</section>	
	<!-- 화면의 오른쪽 블럭 끝 -->
	
	</form>
</body>
</html>