<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/clientCompany/list.css}">
<script th:inline="javascript" th:src="@{/js/clientCompany/list.js}"></script>
<script>

	/* 고객사 등록의 성공실패여부에 따른 메세지 출력 */
	const message = '[[${ message }]]';
	
	if(message) {
		alert(message);
	}
</script>
</head>
<body>

	<!-- 헤더 -->
	<div th:replace="common/salesHeader.html"></div>
	
	<!-- 검색조건 시작 -->
	<form id="search" action="/clientCompany/list" method="get">
	<section class="search_part">
		<div class="search_title">검색조건</div>
		
		<div class="all_box">
			<div class="part01">
				<input type="hidden" id="currentPage" name="currentPage" value="1">
				<input id="clientCompanyName" name="clientCompanyName" class="search_input" type="text" placeholder="고객사">
				<select id="division" name="division" class="select_box">
					<option value="">전체</option>
					<option value="경쟁사">경쟁사</option>
					<option value="고객사">고객사</option>
					<option value="파트너사">파트너사</option>
					<option value="가망고객">가망고객</option>
					<option value="거래고객">거래고객</option>
					<option value="해지고객">해지고객</option>
					<option value="기타">기타</option>
				</select>
				<select id="deptName" name="deptName" class="select_box"></select> 
				<input id="name" class="search_input" type="text" placeholder="담당자" readonly>	
				<input type="hidden" id="userNo" name="userNo">
				<div class="icon01" id="userModal" onclick="openModal();"><img src="/images/common/open.png"/></div>	
				<button class="search_button" type="submit">검색</button>
			</div>
		</div>
	</section>
	</form>
	<!-- 검색조건 끝 -->
	
	<!-- 화면의 오른쪽 블럭 시작 -->
	<section class="company_box">

		<!-- 고객사 리스트 조회 목록 시작 -->
		<div class="company_title">
			<div class="">고객사 : 검색결과 ( <span th:text="${ totalCount }"></span>건 )</div>
			<div onclick="location.href='/clientCompany/insert'"><img class="com01_img_write" src="/images/common/jam_write.png"/></div>
		</div>

		<div th:each="clientCompanyList : ${ clientCompanyList }" class="com01">
			<div class="com01_1" onclick="selectClientCompany(this);">
				<input type="hidden" id="clientCompnayNo" th:value="${clientCompanyList.clientCompanyNo}">
				<div class="com01_main">				
					<div th:text="${ clientCompanyList.clientCompanyName }" class="com01_name"></div>
					<div>
						<span><img class="com01_location_img" src="/images/common/location.png"/></span>
						<span th:if="${clientCompanyList.address != null }" th:text="${ clientCompanyList.address }" class="com01_location"></span>
						<span th:if="${clientCompanyList.address == null }" th:text="미등록" class="com01_location"></span>
						<span> </span>
						<span th:if="${clientCompanyList.detailedAddress != null }" th:text="${ clientCompanyList.detailedAddress }" class="com01_location"></span>
						<span th:if="${clientCompanyList.detailedAddress == null }" th:text=null class="com01_location"></span>
					</div>					
				</div>

				<div class="list01_s_tag">
					<div class="img2"><img class="list01_img" th:src="@{/images/common/manager2.png}"/></div>
					<div class="img4"><img class="list01_img" th:src="@{/images/common/won.png}"/></div>
					<div class="img1_1" >
						<div align="center" th:each="clientCompanyManager : ${ clientCompanyManager }" th:if="${clientCompanyList.clientCompanyNo} == ${clientCompanyManager.clientCompanyNo} 
						                                                                                      and ${ clientCompanyManager.name } != null" 
						                                                                                      th:text="${ clientCompanyManager.name }"></div>				
					</div>	
					<div class="img1_1" align="center" th:each="clientCompanySales : ${ clientCompanySales }" th:if="${clientCompanyList.clientCompanyNo} == ${clientCompanySales.clientCompanyNo} 
					                                                                                                and ${clientCompanySales.sum} != null" 
					                                                                                                th:text="${#numbers.formatDecimal(clientCompanySales.sum, 0, 'COMMA', 0, 'POINT')}"></div>
				</div>
			</div>
			
			<div class="com01_2">				
				
				<div class="mess_text01">영업기회
					<span>(</span>
					<span th:each="clientCompanyCount : ${ clientCompanyCount }" th:if="${clientCompanyList.clientCompanyNo} == ${clientCompanyCount.clientCompanyNo}" 
					                                                             th:text="${ clientCompanyCount.businessOpportunityCount}"></span>
					<span>)</span>
				</div>
				<div><img class="com01_line" src="/images/common/Line.png"/></div>
				<div class="mess_text01">영업활동
					<span>(</span>
					<span th:each="clientCompanyCount : ${ clientCompanyCount }" th:if="${clientCompanyList.clientCompanyNo} == ${clientCompanyCount.clientCompanyNo}" th:text="${ clientCompanyCount.businessActivityCount}"></span>
					<span>)</span>
				</div>
				<div><img class="com01_line" src="/images/common/Line.png"/></div>
				<div class="mess_text01">견적
					<span>(</span>
					<span th:each="clientCompanyCount : ${ clientCompanyCount }" th:if="${clientCompanyList.clientCompanyNo} == ${clientCompanyCount.clientCompanyNo}" th:text="${ clientCompanyCount.estimateCount}"></span>
					<span>)</span>
				</div>
				<div><img class="com01_line" src="/images/common/Line.png"/></div>
				<div class="mess_text01">계약
					<span>(</span>
					<span th:each="clientCompanyCount : ${ clientCompanyCount }" th:if="${clientCompanyList.clientCompanyNo} == ${clientCompanyCount.clientCompanyNo}" th:text="${ clientCompanyCount.contractCount}"></span>
					<span>)</span>
				</div>
				<div><img class="com01_line" src="/images/common/Line.png"/></div>
				<div class="mess_text01">고객지원
					<span>(</span>
					<span th:each="clientCompanyCount : ${ clientCompanyCount }" th:if="${clientCompanyList.clientCompanyNo} == ${clientCompanyCount.clientCompanyNo}" th:text="${ clientCompanyCount.clientSupportCount}"></span>
					<span>)</span>
					
				</div>
									
			</div>
		</div>
		<!-- 고객사 리스트 조회 목록 끝 -->
					
		<br><br><br><br><br>
		
		<!-- 페이징 버튼 시작 -->
		<div align="center">
			<button class="page_btn1" th:if="${ selectCriteria.pageNo <= 1 }" type="button" disabled ><img src="/images/common/prevPage.png"/></button>		
			<button class="page_btn1" th:if="${ selectCriteria.pageNo > 1 } and ${ clientCompanySearch.clientCompanyName == null } and ${ clientCompanySearch.division == null } 
			                                                                and ${ clientCompanySearch.deptName == null } 
			                                                                and ${ clientCompanySearch.userNo == null }" type="button" id="prevPage" onclick="preButtonAction();" >
			                                                                <img src="/images/common/prevPage.png"/></button>		
			<button class="page_btn1" th:if="${ selectCriteria.pageNo > 1 } and (${ clientCompanySearch.clientCompanyName != null } 
			                                                                or ${ clientCompanySearch.division != null } 
			                                                                or ${ clientCompanySearch.deptName != null } 
			                                                                or ${ clientCompanySearch.userNo != null })" type="button" id="searchPrevPage" onclick="searchPreButtonAction();">
			                                                                <img src="/images/common/prevPage.png"/></button>		
			
			<span th:each="p : ${#numbers.sequence(selectCriteria.startPage,selectCriteria.endPage)}">
				<button class="page_btn2" th:if="${selectCriteria.pageNo == p}" th:text="${p}" disabled></button>
				<button class="page_btn2" th:if="${selectCriteria.pageNo != p} and ${ clientCompanySearch.clientCompanyName == null } 
				                                                               and ${ clientCompanySearch.division == null } 
				                                                               and ${ clientCompanySearch.deptName == null } 
				                                                               and ${ clientCompanySearch.userNo == null }" th:text="${p}" onclick="pageButtonAction(this.innerText);"></button>
				<button class="page_btn2" th:if="${selectCriteria.pageNo != p} and (${ clientCompanySearch.clientCompanyName != null } 
				                                                               or ${ clientCompanySearch.division != null } 
				                                                               or ${ clientCompanySearch.deptName != null } 
				                                                               or ${ clientCompanySearch.userNo != null })" th:text="${p}" onclick="searchPageButtonAction(this.innerText);"></button>
			</span>		
			
			<button class="page_btn3" th:if="${ selectCriteria.pageNo >= selectCriteria.maxPage }" type="button" disabled ><img src="/images/common/nextPage.png"/></button>	
			<button class="page_btn3" th:if="${ selectCriteria.pageNo < selectCriteria.maxPage } and ${ clientCompanySearch.clientCompanyName == null } 
			                                                                                     and ${ clientCompanySearch.division == null } 
			                                                                                     and ${ clientCompanySearch.deptName == null } 
			                                                                                     and ${ clientCompanySearch.userNo == null }" type="button" id="nextPage" onclick="nextButtonAction();">
			                                                                                     <img src="/images/common/nextPage.png"/></button>						
			<button class="page_btn3" th:if="${ selectCriteria.pageNo < selectCriteria.maxPage } and (${ clientCompanySearch.clientCompanyName != null } 
			                                                                                     or ${ clientCompanySearch.division != null } 
			                                                                                     or ${ clientCompanySearch.deptName != null } 
			                                                                                     or ${ clientCompanySearch.userNo != null })" type="button" id="searchNextPage" onclick="searchNextButtonAction();">
			                                                                                     <img src="/images/common/nextPage.png"/></button>						
			
			<input type="hidden" id="currentPageByPaging" name="currentPageByPaging" th:value="${clientCompanySearch.currentPage}">
			<input type="hidden" id="clientCompanyNameByPaging" name="clientCompanyNameByPaging" th:value="${clientCompanySearch.clientCompanyName}">
			<input type="hidden" id="divisionByPaging" name="divisionByPaging" th:value="${clientCompanySearch.division}">
			<input type="hidden" id="deptNameByPaging" name="deptNameByPaging" th:value="${clientCompanySearch.deptName}">
			<input type="hidden" id="userNoByPaging" name="userNoByPaging" th:value="${clientCompanySearch.userNo}">
			
			<br><br><br>
		</div>
		<!-- 페이징 버튼 종료 -->
		
		<button class="page_btn4" onclick="window.location.href='#top'"><img src="/images/common/top.png"/></button>
		<div class="restArea"></div>
	</section>
	<!-- 화면의 오른쪽 블럭 끝 -->
		
	<!-- 담당자 모달 시작 -->
	<a href="#dialog" id="modalOpen" role="button" class="btn btn-default modalOpen" data-toggle="modal"></a>
		<div class="modal fade bd-example-modal-xl modal_setting" id="dialog" role="dialog" aria-labelledby="dlogLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" id="p-modalArea" role="document">		
				<div class="modal-content">
					<div class="modal-header">
	                	<h4 class="modal-title" id="dlogLabel" >담당자 조회</h4>
					</div>
                    <div class="modal-body">
						<table id="userList" class="modal-body-content">
							<thead>
								<tr class="userList-tr">
									<th>담당자 이름</th>
									<th>부서</th>
									<th>직위</th>
								</tr>
							</thead>
							<tbody id="userTbody" class="userTbody">								
							</tbody>
						</table>
                    </div>                   
                    <div class="modal-footer">
                        <a id="btn-close" class="btn btn-close" data-dismiss="modal">닫기</a> 
                    </div>
				</div>
			</div>
		</div>
		<!-- 담당자 모달 끝 -->
	
</body>
</html>