<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/clientCompany/select.css}">
<script th:inline="javascript" th:src="@{/js/clientCompany/select.js}"></script>
</head>
<body>

	<!-- 헤더 -->
	<div th:replace="common/salesHeader.html"></div>

	<!-- 첨부자료 시작 -->
	<section class="section01">
	
	    <div class="blue_box">
	        <div class="title">첨부자료</div>
	    </div>
	    <div class="gray_box">
	        <div class="text_0102">
	         <th:block th:if="${ clientCompanyAttachmentList.size <= 0 }">
	        	<span class="inp">첨부파일이 없습니다.</span>
	        </th:block>
	            <div class="text_01" th:each="clientCompanyAttachmentList : ${ clientCompanyAttachmentList }">
	            	<a class="attachments" href="#this" th:text="${ clientCompanyAttachmentList. fileOriginalName}"></a>
	            	<input type= "hidden"  class="attachments" th:value="${ clientCompanyAttachmentList. fileNo}"> 	
	            </div>
	            <div class="text_02">
	                <div class="text02"></div>
	                <div class="button02"></div>
	            </div>
	        </div>
	    </div>
	</section>
	<!-- 첨부자료 끝 -->
	
	<!-- 화면의 오른쪽 블럭 시작 -->
	<section class="section02">
	
		<!-- 고객사 상세정보조회 시작 -->
	    <div class="com_title">
	        <div class="com_title_text">고객사 조회</div>
	        <div class="com_icon">
	            <div onclick="update();"><img class="com_title_icon01" src="../images/common/update.png"/></div>
	            <div onclick="remove();"><img class="com_title_icon01" src="../images/common/delete.png"/></div>
	            <div onclick="location.href='/clientCompany/list'"><img class="com_title_icon01" src="../images/common/list.png"/></div>
	        </div>
	        <div class="com_icon2">
	        	<div onclick="update();"><img class="com_title_icon01" src="/images/common/update.png"/></div>
           		<div onclick="remove();"><img class="com_title_icon01" src="/images/common/delete.png"/></div>
	            <div onclick="location.href='/clientCompany/list'"><img class="com_title_icon01" src="/images/common/list.png"/></div>
		    </div>
	    </div>
	    <div class="com_line"></div>
	
	    <div class="textbox">
	        <div class="maintext">
	            <div class="maintext01">고객사</div>
	            <div class="maintext02">구분</div>
	            <div class="maintext03">등급</div>
	            <div class="maintext04">진행상태</div>
	            <div class="maintext05">매출 (년)</div>
	            <div class="maintext06">사원수</div>
	            <div class="maintext07">사업자번호</div>
	            <div class="maintext08">유선번호</div>
	            <div class="maintext09">팩스번호</div>
	            <div class="maintext10">웹사이트</div>
	            <div class="maintext11">주소</div>
	            <div></div>
	            <div></div>
	            <div class="maintext12">담당자</div>
	            <div class="maintext13">비고</div>
	        </div>
	
	        <div class="line_text">
	            <div class="line">
	                <div class="line01"></div>
	                <div class="line02"></div>
	                <div class="line03"></div>
	                <div class="line04"></div>
	                <div class="line05"></div>
	                <div class="line06"></div>
	                <div class="line07"></div>
	                <div class="line08"></div>
	                <div class="line09"></div>
	                <div class="line10"></div>
	                <div class="line11"></div>
	                <div class="line12"></div>
	                <div class="line13"></div>
	                <div class="line14"></div>
	                <div class="line15"></div>
	            </div>
	            <div class="middletext">
	                <input type="text" id="clientCompanyName" name="clientCompanyName" class="middletext01" th:value="${clientCompany.clientCompanyName}" readonly>
	                <input type="text" id="division" name="division" class="middletext02" th:value="${clientCompany.division}" readonly>
	                <input type="text" id="grade" name="grade" class="middletext03" th:value="${clientCompany.grade}" readonly>
	                <input type="text" id="progressStatus" name="progressStatus" class="middletext04" th:value="${clientCompany.progressStatus}" readonly>
	                <input type="text" id="sales" name="sales" class="middletext05" th:value="${clientCompany.sales}" readonly>
	                <input type="text" id="employeeNo" name="employeeNo" class="middletext06" th:value="${clientCompany.employeeNo}" readonly>
	                <input type="text" id="businessNo" name="businessNo" class="middletext07" th:value="${clientCompany.businessNo}" readonly>
	                <input type="text" id="landlineTel" name="landlineTel" class="middletext08" th:value="${clientCompany.landlineTel}" readonly>
	                <input type="text" id="fax" name="fax" class="middletext09" th:value="${clientCompany.fax}" readonly>
	                <input type="text" id="website" name="website" class="middletext10" th:value="${clientCompany.website}" readonly>
	                <input type="text" id="zipCode" name="zipCode" class="middletext11" th:value="${clientCompany.zipCode}" readonly>
	                <input type="text" id="address" name="address" class="middletext12" th:if="${clientCompany.address != '미등록' }" th:value="${clientCompany.address}" readonly>
	                <input type="text" id="detailedAddress" name="detailedAddress" class="middletext13" th:value="${clientCompany.detailedAddress}" readonly>	                
		            <input type="text" class="middletext14" th:value="${ name }"  readonly>                
		                       
	                
	                <textarea id="note" name="note" class="middletext15" th:text="${clientCompany.note}" readonly></textarea>
	            </div>	          
	        </div>
	    </div>
	    <!-- 고객사 상세정보조회 끝 -->
	    
	    <div class="restArea"></div>
	    
	    <!-- 의견 작성/조회/삭제 시작 -->
	    <div class="opinion">
	    	<div class="opinion_title">
				<div class="opinion_title_text">
					<div class="opinion_title_text2">의견</div>
				</div>
			</div>	    	
		    <div class="com_line"></div>	    
		    <div class="opinion_content_write">
		    	<input id="clientCompanyNo" name="clientCompanyNo" type="hidden" th:value="${ clientCompany.clientCompanyNo }">
			    <textarea id="opinion_textarea" class="opinion_textarea" name="opinionContent" rows="" cols=""></textarea>
			    <button type="button" onclick="insertOpinion();" id="opinion_btn" class="opinion_btn">의견</button>
		    </div>		   	
			<div id="opinionList"><br></div>			    	      
	  	    <div class="restArea3"></div>
	    </div>
	    <!-- 의견 작성/조회/삭제 끝 -->
	    
	    <!-- 고객사에 해당하는 고객 조회 시작 -->
	    <div class="client">
	    	<div class="client_title">
	    		<div class="client_title_text">
					<div>고객</div>
				</div>
	    	</div>
	    	 <div class="com_line"></div>
	    	 <div class="restArea4"></div>
	    </div>
	    <div th:each="clientList : ${ clientList }">
		    <div class="client_info">
		    	<div class="client_info_name" th:text="${ clientList.clientName }"></div>
		    	<div>/</div>
		    	<div class="client_info_dept" th:text="${ clientList.dept }"></div>
		    	<div class="client_info_job" th:text="${ clientList.job }"></div>
		    </div>
		     <div class="client_line"></div>
		     <div class="client_info2">
			     <ul class="client_contact">
			     	<li th:text="${ clientList.phone }"></li>
			     	<li th:text="${ clientList.landlineTel }"></li>
			     	<li th:text="${ clientList.email }"></li>
			     </ul>
		     	 <div class="client_image">
		     	 	<img onclick="selectClient(this)" src="/images/common/user.png"/>
		     	 	<input type="hidden" th:value="${ clientList.clientNo }">
		     	 </div>
		     	 	 
		     </div>
		      <div class="client_line"></div>
		      <br><br>
	      </div>
		  <div class="restArea4"></div>
		  <div class="restArea3"></div>
		  <div class="restArea3"></div>
		  <div class="restArea3"></div>
		  <!-- 고객사에 해당하는 고객 조회 끝 -->
		  
	</section>	
	<!-- 화면의 오른쪽 블럭 끝 -->

</body>
</html>