<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/clientCompany/update.css}">
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script th:inline="javascript" th:src="@{/js/clientCompany/update.js}"></script>
</head>
<body>

	<!-- 헤더 -->
	<div th:replace="common/salesHeader.html"></div>

	<form action="/clientCompany/update" id="clientCompanyUpdate" method="post" onsubmit="return checkValue();" encType="multipart/form-data">

	<!-- 첨부자료 시작 -->
	<section class="section01">
	
	    <div class="blue_box">
	        <div class="title">첨부자료</div>
	    </div>
	    <div class="gray_box">
	        <div class="text_0102">
	        	<input class="attachments_input" type="file" name="multiFiles" multiple><br> 	
	            <div class="text_01" th:each="clientCompanyAttachmentList : ${ clientCompanyAttachmentList }">
	            	<a class="attachments" href="#this" th:text="${ clientCompanyAttachmentList. fileOriginalName}"></a>
	            	<button class="com_icon_btn2" type="button" onclick="deleteFile(this);"><img class="com_title_icon01" src="../images/common/x.png"/></button>	   
	            	<input type= "hidden"  class="attachments" th:value="${ clientCompanyAttachmentList. fileNo}"> 	
	            </div>
	            <div class="text_02">
	                <div class="text02"></div>
	                <div class="button02"></div>
	            </div>
	        </div>
	    </div>
	</section>
	<!-- 첨부자료 끝 -->
	
	<!-- 화면의 오른쪽 블럭 시작 -->
	<section class="section02">
	
		<!-- 고객 상세정보조회 및 수정 폼 시작 -->
	    <div class="com_title">
	        <div class="com_title_text">고객사 수정</div>
	        <div class="com_icon">
	            <button class="com_icon_btn" type="submit"><img class="com_title_icon01" src="../images/common/restore.png"/></button>
	            <div onclick="location.href='/clientCompany/list'"><img class="com_title_icon02" src="../images/common/list.png"/></div>
	        </div>
	         <div class="com_icon2">
	            <button class="com_icon_btn" type="submit"><img class="com_title_icon01" src="../images/common/restore.png"/></button>
	            <div onclick="location.href='/clientCompany/list'"><img class="com_title_icon02" src="../images/common/list.png"/></div>
	        </div>
	    </div>
	    <div class="com_line"></div>
	
	    <div class="textbox">
	        <div class="maintext">
	            <div class="maintext01">* 고객사</div>
	            <div class="maintext02">* 구분</div>
	            <div class="maintext03">* 등급</div>
	            <div class="maintext04">* 진행상태</div>
	            <div class="maintext05">매출 (년)</div>
	            <div class="maintext06">사원수</div>
	            <div class="maintext07">사업자번호</div>
	            <div class="maintext08">유선번호</div>
	            <div class="maintext09">팩스번호</div>
	            <div class="maintext10">웹사이트</div>
	            <div class="maintext11">주소</div>
	            <div></div>
	            <div></div>
	            <div class="maintext12">담당자</div>
	            <div class="maintext13">비고</div>
	        </div>
	        <div class="line_text">
	            <div class="line">
	                <div class="line01"></div>
	                <div class="line02"></div>
	                <div class="line03"></div>
	                <div class="line04"></div>
	                <div class="line05"></div>
	                <div class="line06"></div>
	                <div class="line07"></div>
	                <div class="line08"></div>
	                <div class="line09"></div>
	                <div class="line10"></div>
	                <div class="line11"></div>
	                <div class="line12"></div>
	                <div class="line13"></div>
	                <div class="line14"></div>
	                <div class="line15"></div>
	            </div>
	            <div class="middletext">
					<input id="clientCompanyNo" name="clientCompanyNo" type="hidden" th:value="${ clientCompany.clientCompanyNo }">
	                <input type="text" id="clientCompanyName" name="clientCompanyName" class="middletext01" th:value="${clientCompany.clientCompanyName}">
	                <select id="division" name="division" class="middletext02" th:field="${clientCompany.division}">
	             	    <option value="선택안함" th:checked="${clientCompany.division.equals('선택안함')}">선택하세요</option>
	                	<option value="경쟁사" th:checked="${clientCompany.division.equals('경쟁사')}">경쟁사</option>
	                	<option value="고객사" th:checked="${clientCompany.division.equals('고객사')}">고객사</option>
	                	<option value="파트너사" th:checked="${clientCompany.division.equals('파트너사')}">파트너사</option>
	                	<option value="가망고객" th:checked="${clientCompany.division.equals('가망고객')}">가망고객</option>
	                	<option value="거래고객" th:checked="${clientCompany.division.equals('거래고객')}">거래고객</option>
	                	<option value="해지고객" th:checked="${clientCompany.division.equals('해지고객')}">해지고객</option>
	                	<option value="기타" th:checked="${clientCompany.division.equals('기타')}">기타</option>
	                </select>
	                <select id="grade" name="grade" class="middletext03" th:field="${clientCompany.grade}">
	                	<option value="선택안함" th:checked="${clientCompany.grade.equals('선택안함')}">선택하세요</option>
	                	<option value="S" th:checked="${clientCompany.grade.equals('S')}">S</option>
	                	<option value="A" th:checked="${clientCompany.grade.equals('A')}">A</option>
	                	<option value="B" th:checked="${clientCompany.grade.equals('B')}">B</option>
	                	<option value="C" th:checked="${clientCompany.grade.equals('C')}">C</option>
	                	<option value="D" th:checked="${clientCompany.grade.equals('D')}">D</option>
	                	<option value="F" th:checked="${clientCompany.grade.equals('F')}">F</option>
	                </select>
	                <select id="progressStatus" name="progressStatus" class="middletext04" th:field="${clientCompany.progressStatus}">
	                 	<option value="선택안함" th:checked="${clientCompany.progressStatus.equals('선택안함')}">선택하세요</option>
	                	<option value="미접촉" th:checked="${clientCompany.progressStatus.equals('미접촉')}">미접촉</option>
	                	<option value="진행중" th:checked="${clientCompany.progressStatus.equals('진행중')}">진행중</option>
	                	<option value="성공" th:checked="${clientCompany.progressStatus.equals('성공')}">성공</option>
	                	<option value="실패" th:checked="${clientCompany.progressStatus.equals('실패')}">실패</option>
	                	<option value="보류" th:checked="${clientCompany.progressStatus.equals('보류')}">보류</option>
	                	<option value="접촉금지" th:checked="${clientCompany.progressStatus.equals('접촉금지')}">접촉금지</option>
	                </select>
	                <input type="text" id="sales" name="sales" class="middletext05" th:value="${clientCompany.sales}">
	                <input type="text" id="employeeNo" name="employeeNo" class="middletext06" th:value="${clientCompany.employeeNo}">
	                <input type="text" id="businessNo" name="businessNo" class="middletext07" th:value="${clientCompany.businessNo}">
	                <input type="text" id="landlineTel" name="landlineTel" class="middletext08" th:value="${clientCompany.landlineTel}">
	                <input type="text" id="fax" name="fax" class="middletext09" th:value="${clientCompany.fax}">
	                <input type="text" id="website" name="website" class="middletext10" th:value="${clientCompany.website}">
	                <input type="text" id="zipCode" name="zipCode" class="middletext11" th:value="${clientCompany.zipCode}" readonly>
	                <input type="text" id="address" name="address" class="middletext12" th:if="${clientCompany.address != '미등록' }" th:value="${clientCompany.address}" readonly>
	                <input type="text" id="detailedAddress" name="detailedAddress" class="middletext13" th:value="${clientCompany.detailedAddress}">	                
		            <input type="text" class="middletext14" th:value="${ name }"  readonly>                         
	                <textarea id="note" name="note" class="middletext15" th:text="${clientCompany.note}"></textarea>
	            </div>	    
	            <div class="icon">
	          	  <button id="searchZipCode" class="com_icon_btn" type="button" onclick="execPostCode();"><img class="middletext_icon" src="../images/common/search.png"/></button>
	            </div>      
	        </div>
	    </div>	    
	    <div class="restArea"></div>
	    <!-- 고객 상세정보조회 및 수정 폼 끝 -->
	    	  
	</section>	
	<!-- 화면의 오른쪽 블럭 끝 -->
	
	</form>
</body>
</html>