<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<link rel="stylesheet" type="text/css" href="/css/businessActiviry/detail.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

<!-- 상단바 replace -->
<div th:replace="common/salesHeader.html"></div>

	<form action="/businessActivity/calendar/insert" method="post" encType="multipart/form-data">
	<!-- 첨부자료창 -->
	<section class="section01">

			<div class="blue_box">
				<div class="title">첨부자료</div>
			</div>

			<div class="gray_box">
				<div class="text_0102">
				<th:block th:if="${ fileList.size <= 0 }">
	        	<span class="inp">첨부파일이 없습니다.</span>
	        	</th:block>
					<div class="text_01" th:each="fileList : ${ fileList }">
	            	<a class="attachments"  th:text="${ fileList.fileOriginalName }"></a>
	            	<input type="hidden" class="attachments" name="filePath" th:value="${ fileList.filePath }" readonly>
	            	<input type="hidden" class="attachments" name="fileName" th:value="${ fileList.fileName }" readonly>
	            	<input type="hidden" class="attachments" name="fileNo" th:value="${ fileList.fileNo }" readonly>
	            </div>
				</div>
			</div>
		</section>
	<!-- 첨부자료창 end -->
	
	<!-- 영업활동 등록 폼 -->
	<section class="section02">
	    <div class="com_title">
	        <div class="com_title_text">영업활동 상세 페이지</div>
	        <div class="com_icon">
	        	<img class="updateBtn" src="../images/common/update.png"/>
	        	<img class="deleteBtn" src="../images/common/delete.png" style="height: 31px;"/>
	            <div onclick="location.href='/businessActivity/list'"><img class="com_title_icon02" src="/images/common/list.png"/></div>
	        </div>
	    </div>
	    <div class="com_line"></div>
	
	    <div class="textbox">
	        <div class="maintext">
	            <div class="maintext01">영업기회</div>
	            <div class="maintext03">고객사</div>
	            <div class="maintext04">*고객</div>
	            <div class="maintext05">*활동분류</div>
	            <div class="maintext06">*활동목적</div>
	            <div class="maintext07">*날짜</div>
	            <div class="maintext08">*활동시간</div>
	            <div class="maintext09">완료여부</div>
	            <div class="maintext10">계획내용</div>
	            <div class="maintext11">활동내용</div>
	            <div class="maintext14">*담당자</div>
	            <div></div>
	            <div></div>
	            <div></div>
	        </div>
	        <div class="line_text">
	            <div class="line">
	                <div class="line01"></div> 
	                <div class="line03"></div>
	                <div class="line04"></div>
	                <div class="line05"></div>
	                <div class="line06"></div>
	                <div class="line07"></div>
	                <div class="line08"></div>
	                <div class="line09"></div>
	                <div class="line10"></div>
	                <div class="line11"></div>
	                <div class="line14"></div>
	            </div>
	            <div class="middletext">
		            	<input type="hidden" id="clientCompanyNo" name="clientCompanyNo"readonly>
						<input type="hidden" id="clientNo" name="clientNo" readonly>
						<input type="hidden" id="businessOpportunityNo" name="businessOpportunityNo" readonly>
						<input name="businessActivityNo" class="businessActivityNo" th:value="${ oneBusinessActivity.businessActivityNo }" type="hidden" readonly>
						<input type="hidden" id="userNo" name="userNo" readonly>
						<input type="hidden" id="approverNo" name="approverNo" readonly>
		                <input type="text" id="businessOpportunityName" name="businessOpportunityName" class="middletext04" 
		                		th:value="${ oneBusinessActivity.businessOpportunityName }" readonly>
		                <input type="text" id="clientCompanyName" name="clientCompanyName" class="middletext02" 
		                		th:value="${ oneBusinessActivity.clientCompanyName }" readonly>
		                <input type="text" id="clientName" name="clientName" class="middletext03" 
		                		th:value="${ oneBusinessActivity.clientName }" readonly>
		                <input type="text" id="activityClassification" name="activityClassification" class="middletext03" 
		                		th:value="${ oneBusinessActivity.activityClassification }" readonly>
		                <input type="text" id="activityPurpose" name="activityPurpose" class="middletext03" 
		                		th:value="${ oneBusinessActivity.activityPurpose }" readonly>
		                <input type="date" id="activityDate" name="activityDate" class="middletext07"
		                		th:value="${ oneBusinessActivity.activityDate }" readonly>
		                <label>
		                <input type="time" id="activityStartTime" name="activityStartTime" class="middletext13" 
		                		th:value="${ oneBusinessActivity.activityStartTime }" readonly>
		                ~
		                <input type="time" id="activityEndTime" name="activityEndTime" class="middletext13"
		                		th:value="${ oneBusinessActivity.activityEndTime }" readonly>
		                </label>
		                <label class="middletext13" id="completeYn" style="text-align: left; padding: 9px;">
		                NO <input type="radio" name="completeYn" value="N" checked="checked" readonly>
		                YES <input type="radio" name="completeYn" value="Y" readonly>
		                </label>
		                <textarea id="planContent" name="planContent" class="middletext15" 
		                		th:text="${ oneBusinessActivity.planContent }" readonly></textarea>
		                <textarea id="activityContent" name="activityContent" class="middletext15"
		                		th:text="${ oneBusinessActivity.activityContent }" readonly></textarea>
		                <div class="middletext12">
		                <label class= "nameWord" id="name" th:text="${ oneBusinessActivity.name }"></label>
		                </div>
	            </div>
	        </div>
	    </div>
	</section>
	</form>
	<!-- 영업활동 등록 폼 end -->
	
	<!-- 고객사 모달 -->
	<a href="#dialog" id="e-modalOpen" role="button" class="btn btn-default" data-toggle="modal" style="display: none;"></a>

		<div style="width:500px; margin-left:710px; margin-top:100px;" class="modal fade bd-example-modal-xl" id="dialog" role="dialog" aria-labelledby="dlogLabel" aria-hidden="true">

			<div class="modal-dialog modal-xl" id="p-modalArea" role="document">
			
				<div class="modal-content">

					<!-- 모달 타이틀 -->
					<div class="modal-header" style="background: #4dd0e1;">
	                	<h4 class="modal-title" id="dlogLabel" >고객사</h4>
					</div>
					<!-- 모달 타이틀 end -->
					
                    <div class="modal-body">
						<table id="companyList" border="1">
							<thead>
								<tr>
									<th width="100">고객사 번호</th>
									<th width="100">고객사 명</th>
								</tr>
							</thead>
							<tbody id="companyTbody"></tbody>
						</table>
                    </div>
                    
                    <div class="modal-footer">
                        <a id="btn-close" class="btn btn-close" data-dismiss="modal">닫기</a> 
                    </div>
				</div>
			</div>
		</div>
	<!-- 고객사 모달 end -->
	
	<script>
	/* 목록 클릭시 상세조회 페이지로 이동 */
	$("#test_1 tr").click(function() {

		var businessNoticeNo = $(this).find("input:eq(0)").val();
		location.href="/businessNotice/detail?businessNoticeNo=" + businessNoticeNo;
	});
	
	/* 모달창 이미지 클릭시 동작할 내용 */
	$("#clientCompanyModal").click(function() {
		
		/* ajax로 고객사 리스트 조회해서 모달창에 테이블로 출력 */
		$.ajax({
			url: "/business/estimate/company",
			type: "get",
			success: function(data) {
				
				const $table = $("#companyTbody");
				$table.html("");
				
				for(let index in data) {
					$tr = $("<tr>");
					$noTd = $("<td>").text(data[index].clientCompanyNo);
					$nameTd = $("<td>").text(data[index].clientCompanyName);
					
					$tr.append($noTd);
					$tr.append($nameTd);
					
					$table.append($tr);
				}
			},
			error: function(xhr) {
				console.log(xhr);
			}
		});
		
		/* 모달창 오픈 */
		$("a[id=e-modalOpen]").click();
		
		/* 출력한 고객사 정보 클릭시 해당 정보 input태그에 출력 */
		$("#companyTbody").click(function() {
			
			var tbody = $(this);
			var tr = tbody.children();
			
			tr.click(function() {
				
				var tr2 = $(this);
				var no = tr2.children().eq(0).text();
				var name = tr2.children().eq(1).text();
				$("input[id=clientCompanyName]").attr("value", name);
				$("input[id=clientCompanyNo]").attr("value", no);
				
				$("a[id=btn-close]").click();
			});
		});
		
	});
	</script>
	
	<!-- 고객 모달 -->
	<a href="#dialog2" id="modalOpen2" role="button" class="btn btn-default" data-toggle="modal" style="display: none;"></a>

		<div style="width:500px; margin-left:710px; margin-top:100px;" class="modal fade bd-example-modal-xl" id="dialog2" role="dialog" aria-labelledby="dlogLabel" aria-hidden="true">

			<div class="modal-dialog modal-xl" id="p-modalArea" role="document">
			
				<div class="modal-content">

					<!-- 모달 타이틀 -->
					<div class="modal-header" style="background: #4dd0e1;">
	                	<h4 class="modal-title" id="dlogLabel" >고객</h4>
					</div>
					<!-- 모달 타이틀 end -->
					
                    <div class="modal-body">
						<table id="clientList" border="1">
							<thead>
								<tr>
									<th width="100">고객 번호</th>
									<th width="100">고객 명</th>
								</tr>
							</thead>
							<tbody id="clientTbody"></tbody>
						</table>
                    </div>
                    
                    <div class="modal-footer">
                        <a id="btn-close" class="btn btn-close" data-dismiss="modal">닫기</a> 
                    </div>
				</div>
			</div>
		</div>
	<!-- 고객 모달 end -->
	
	<script>
	$("#clientModal").click(function() {
		
		$.ajax({
			url: "/business/estimate/client",
			type: "get",
			success: function(data) {
				
				const $table = $("#clientTbody");
				$table.html("");
				
				for(let index in data) {
					$tr = $("<tr>");
					$noTd = $("<td>").text(data[index].clientNo);
					$nameTd = $("<td>").text(data[index].clientName);
					
					$tr.append($noTd);
					$tr.append($nameTd);
					
					$table.append($tr);
				}
			},
			error: function(xhr) {
				console.log(xhr);
			}
		});
		
		$("a[id=modalOpen2]").click();
		
		
		$("#clientTbody").click(function() {
			
			var tbody = $(this);
			var tr = tbody.children();
			
			tr.click(function() {
				
				var tr2 = $(this);
				var name = tr2.children().eq(1).text();
				var no = tr2.children().eq(0).text();
				$("input[id=clientName]").attr("value", name);
				$("input[id=clientNo]").attr("value", no);
				
				$("a[id=btn-close]").click();
			});
		});
		
	});
	</script>
	
	<!-- 영업기회 모달 -->
	<a href="#dialog3" id="modalOpen3" role="button" class="btn btn-default" data-toggle="modal" style="display: none;"></a>

		<div style="width:500px; margin-left:710px; margin-top:100px;" class="modal fade bd-example-modal-xl" id="dialog3" role="dialog" aria-labelledby="dlogLabel" aria-hidden="true">

			<div class="modal-dialog modal-xl" id="p-modalArea" role="document">
			
				<div class="modal-content">

					<!-- 모달 타이틀 -->
					<div class="modal-header" style="background: #4dd0e1;">
	                	<h4 class="modal-title" id="dlogLabel" >영업기회</h4>
					</div>
					<!-- 모달 타이틀 end -->
					
                    <div class="modal-body">
						<table id="businessOpportunityList" border="1">
							<thead>
								<tr>
									<th width="100">영업기회 번호</th>
									<th width="100">영업기회 명</th>
								</tr>
							</thead>
							<tbody id="businessOpportunityTbody"></tbody>
						</table>
                    </div>
                    
                    <div class="modal-footer">
                        <a id="btn-close" class="btn btn-close" data-dismiss="modal">닫기</a> 
                    </div>
				</div>
			</div>
		</div>
	<!-- 영업기회 모달 end -->
	
	<script>
	$("#businessOpportunityModal").click(function() {
		
		$.ajax({
			url: "/business/estimate/businessOpportunity",
			type: "get",
			success: function(data) {
				
				const $table = $("#businessOpportunityTbody");
				$table.html("");
				
				for(let index in data) {
					$tr = $("<tr>");
					$noTd = $("<td>").text(data[index].businessOpportunityNo);
					$nameTd = $("<td>").text(data[index].businessOpportunityName);
					
					$tr.append($noTd);
					$tr.append($nameTd);
					
					$table.append($tr);
				}
			},
			error: function(xhr) {
				console.log(xhr);
			}
		});
		
		$("a[id=modalOpen3]").click();
		
		
		$("#businessOpportunityTbody").click(function() {
			
			var tbody = $(this);
			var tr = tbody.children();
			
			tr.click(function() {
				
				var tr2 = $(this);
				var name = tr2.children().eq(1).text();
				var no = tr2.children().eq(0).text();
				$("input[id=businessOpportunityName]").attr("value", name);
				$("input[id=businessOpportunityNo]").attr("value", no);
				
				$("a[id=btn-close]").click();
			});
		});
		
	});
	</script>
	
	<!-- 담당자 모달 -->
	<a href="#dialog6" id="modalOpen6" role="button" class="btn btn-default" data-toggle="modal" style="display: none;"></a>

		<div style="width:500px; margin-left:710px; margin-top:100px;" class="modal fade bd-example-modal-xl" id="dialog6" role="dialog" aria-labelledby="dlogLabel" aria-hidden="true">

			<div class="modal-dialog modal-xl" id="p-modalArea" role="document">
			
				<div class="modal-content">

					<!-- 모달 타이틀 -->
					<div class="modal-header" style="background: #4dd0e1;">
	                	<h4 class="modal-title" id="dlogLabel" >담당자</h4>
					</div>
					<!-- 모달 타이틀 end -->
					
                    <div class="modal-body">
						<table id="userList" border="1">
							<thead>
								<tr>
									<th width="100">담당자 번호</th>
									<th width="100">담당자 명</th>
								</tr>
							</thead>
							<tbody id="userTbody3"></tbody>
						</table>
                    </div>
                    
                    <div class="modal-footer">
                        <a id="btn-close" class="btn btn-close" data-dismiss="modal">닫기</a> 
                    </div>
				</div>
			</div>
		</div>
	<!-- 담당자 모달 end -->
	
	<script>
	$("#nameModal1").click(function() {
		
		$.ajax({
			url: "/business/estimate/user",
			type: "get",
			success: function(data) {
				
				const $table = $("#userTbody3");
				$table.html("");
				
				for(let index in data) {
					$tr = $("<tr>");
					$noTd = $("<td>").text(data[index].userNo);
					$nameTd = $("<td>").text(data[index].name);
					
					$tr.append($noTd);
					$tr.append($nameTd);
					
					$table.append($tr);
				}
			},
			error: function(xhr) {
				console.log(xhr);
			}
		});
		
		$("a[id=modalOpen6]").click();
		
		
		$("#userTbody3").click(function() {
			
			var tbody = $(this);
			var tr = tbody.children();
			
			tr.click(function() {
				
				var tr2 = $(this);
				var name = tr2.children().eq(1).text();
				var no = tr2.children().eq(0).text();
				$("input[id=name3]").attr("value", name);
				$("input[id=userNo]").attr("value", no);
				
				$("a[id=btn-close]").click();
			});
		});
		
	});
	</script>
	
	<script>	
	/* 삭제 버튼 클릭시 해당 게시글의 영업 활동 번호를 전달한다 */
	$(".deleteBtn").click(function() {
		var businessActivityNo = $(".businessActivityNo").val();
		
		var result = window.confirm("정말 삭제하시겠습니까?");
		
		if(result) {
			location.href="/businessActivity/delete?businessActivityNo=" + businessActivityNo;
		}
		
	});
	
	/* 수정 버튼 클릭시 해당 게시글의 영업 활동 번호를 전달한다 */
	$(".updateBtn").click(function() {
		var businessActivityNo = $(".businessActivityNo").val();
		
		location.href="/businessActivity/update?businessActivityNo=" + businessActivityNo;
		
	});
	    
	</script>
</body>
</html>