<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<link rel="stylesheet" type="text/css" href="/css/proposal/detail.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
	<!-- 상단바 replace -->
	<div th:replace="common/salesHeader.html"></div>

	<!-- 첨부자료창 -->
	<section class="section01">
	
	    <div class="blue_box">
	        <div class="title">첨부자료</div>
	    </div>
	
	    <div class="gray_box">
	        <div class="text_0102">
	        <th:block th:if="${ fileList.size <= 0 }">
	        	<span class="inp">첨부파일이 없습니다.</span>
	        </th:block>
	        	<div class="text_01" th:each="fileList : ${ fileList }">
	            	<a class="attachments" href=#this th:text="${ fileList.fileOriginalName }"></a>
	            	<input type="hidden" class="attachments" name="filePath" th:value="${ fileList.filePath }" readonly>
	            	<input type="hidden" class="attachments" name="fileName" th:value="${ fileList.fileName }" readonly>
	            	<input type="hidden" class="attachments" name="fileNo" th:value="${ fileList.fileNo }" readonly>
	            </div>
	        </div>
	    </div>
	</section>
	<!-- 첨부자료창 end -->
	
	<!-- 제안 정보 -->
	<section class="section02">
		<div class="section02_1">
		    <div class="com_title">
		        <div class="com_title_text">제안 조회</div>
		        <div class="com_icon">
		        	<div class="updateBtn"><img class="com_title_icon01" src="/images/common/update.png"/></div>
	           		<div class="deleteBtn"><img class="com_title_icon01" src="/images/common/delete.png"/></div>
		            <div onclick="location.href='/business/proposal/list'"><img class="com_title_icon01" src="/images/common/list.png"/></div>
		        </div>
		        <div class="com_icon2">
		        	<div class="updateBtn"><img class="com_title_icon01" src="/images/common/update.png"/></div>
	           		<div class="deleteBtn"><img class="com_title_icon01" src="/images/common/delete.png"/></div>
		            <div onclick="location.href='/business/proposal/list'"><img class="com_title_icon01" src="/images/common/list.png"/></div>
		        </div>
		    </div>
		    <div class="com_line"></div>
		
		    <div class="textbox">
		        <div class="maintext">
		            <div class="maintext01">제안명</div>
		            <div class="maintext02">제안번호</div>
		            <div class="maintext03">고객사</div>
		            <div class="maintext04">고객</div>
		            <div class="maintext05">영업기회</div>
		            <div class="maintext06">내용</div>
		            <div class="maintext07">요청일</div>
		            <div class="maintext08">제인기간</div>
		            <div class="maintext09">제출일</div>
		            <div class="maintext10">발표일</div>
		            <div class="maintext11">담당자</div>
		            <div class="maintext12">비고</div>
		        </div>
		
		        <div class="line_text">
		            <div class="line">
		                <div class="line01"></div>
		                <div class="line02"></div>
		                <div class="line03"></div>
		                <div class="line04"></div>
		                <div class="line05"></div>
		                <div class="line06"></div>
		                <div class="line07"></div>
		                <div class="line08"></div>
		                <div class="line09"></div>
		                <div class="line10"></div>
		                <div class="line11"></div>
		                <div class="line12"></div>
		            </div>
		            <div class="middletext">
		                <input type="text" id="proposalName" name="proposalName" class="middletext01" th:value="${ oneProposal.proposalName }" readonly>
		                <input type="text" id="proposalNo" name="proposalNo" class="middletext02" th:value="${ oneProposal.proposalNo }" readonly>
		                <input type="text" id="clientCompanyName" name="clientCompanyName" class="middletext03" th:value="${ oneProposal.clientCompanyName }" readonly>
		                <input type="text" id="clientName" name="clientName" class="middletext04" th:value="${ oneProposal.clientName }" readonly>
		                <input type="text" id="businessOpportunityName" name="businessOpportunityName" class="middletext05" th:value="${ oneProposal.businessOpportunityName }" readonly>
		                <textarea id="content" name="content" class="middletext06" th:text="${ oneProposal.content }" readonly></textarea>
		                <input type="date" id="requestDate" name="requestDate" class="middletext07" th:value="${ oneProposal.requestDate }" readonly>
		                <input type="date" id="startDate" name="startDate" class="middletext08" th:value="${ oneProposal.startDate }" readonly> <span class="fromTo"> ~ </span>
		                <input type="date" id="endDate" name="endDate" class="middletext18" th:value="${ oneProposal.endDate }" readonly>
		                <input type="date" id="submitDate" name="submitDate" class="middletext09" th:value="${ oneProposal.submitDate }" readonly>
		                <input type="date" id="releaseDate" name="releaseDate" class="middletext10" th:value="${ oneProposal.releaseDate }" readonly>
		                <input type="text" id="name" name="name" class="middletext11" th:value="${ oneProposal.name }" readonly>
		                <textarea id="note" name="note" class="middletext15" th:text="${ oneProposal.note }" readonly></textarea>
		            </div>
		        </div>
		    </div>
		</div>
		
		<div class="empty"></div>
	</section>
	<!-- 제안 정보 end -->
	
	<script>
	/* 삭제 버튼 클릭시 해당 게시글의 제안번호를 전달한다 */
	$(".deleteBtn").click(function() {
		var proposalNo = $("#proposalNo").val();
		
		var result = window.confirm("정말 삭제하시겠습니까?");
		
		if(result) {
			location.href="/business/proposal/delete?proposalNo=" + proposalNo;
		}
		
	});
	
	/* 수정 버튼 클릭시 해당 게시글의 제안번호를 전달한다 */
	$(".updateBtn").click(function() {
		var proposalNo = $("#proposalNo").val();
		
		location.href="/business/proposal/update?proposalNo=" + proposalNo;
		
	});
	
	/* 첨부파일 클릭시 파일번호를 전달 */
	$(".attachments").click(function() {
		const fileNo = $(this).parent().children().eq(3).val();
		location.href="/business/proposal/download?fileNo=" + fileNo;
	});
	
	</script>
	
</body>
</html>