<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<link rel="stylesheet" type="text/css" href="/css/proposal/update.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
	<!-- 상단바 replace -->
	<div th:replace="common/salesHeader.html"></div>

	<form action="/business/proposal/update" method="post" onsubmit="return checkValue();" encType="multipart/form-data">
	<!-- 첨부자료창 -->
	<section class="section01">
	
	    <div class="blue_box">
	        <div class="title">첨부자료</div>
	    </div>
	
	    <div class="gray_box">
	        <div class="text_0102">
	        <input class="attachment" type="file" name="multiFiles" multiple> 
	        <div>
	        <th:block th:if="${ fileList.size <= 0 }">
	        	<span class="inp">첨부파일이 없습니다.</span>
	        </th:block>
	        	<div class="text_01" th:each="fileList : ${ fileList }">
	            	<a class="attachments"  href=#this th:text="${ fileList.fileOriginalName }"></a>
	            	<button class="com_icon_btn2" type="button" onclick="deleteFile(this);"><img class="com_title_icon01" src="/images/common/x.png"/></button>
	            	<input type="hidden" class="attachments" name="fileNo" th:value="${ fileList.fileNo }" readonly>
	            </div>
	        </div>
	        </div>
	    </div>
	</section>
	<!-- 첨부자료창 end -->
	
	<!-- 제안 수정 정보 -->
	<section class="section02">
		<div class="section02_1">
		    <div class="com_title">
		        <div class="com_title_text">제안 수정</div>
		        <div class="com_icon">
		        	<button class="com_icon_btn" type="submit"><img class="com_title_icon01" src="/images/common/restore.png"/></button>
		            <div onclick="location.href='/business/proposal/list'"><img class="com_title_icon01" src="/images/common/list.png"/></div>
		        </div>
		        <div class="com_icon2">
		        	<button class="com_icon_btn" type="submit"><img class="com_title_icon01" src="/images/common/restore.png"/></button>
		            <div onclick="location.href='/business/proposal/list'"><img class="com_title_icon01" src="/images/common/list.png"/></div>
		        </div>
		    </div>
		    <div class="com_line"></div>
		
		    <div class="textbox">
		        <div class="maintext">
		            <div class="maintext01">제안명</div>
		            <div class="maintext02">제안번호</div>
		            <div class="maintext03">고객사</div>
		            <div class="maintext04">고객</div>
		            <div class="maintext05">영업기회</div>
		            <div class="maintext06">내용</div>
		            <div class="maintext07">요청일</div>
		            <div class="maintext08">제인기간</div>
		            <div class="maintext09">제출일</div>
		            <div class="maintext10">발표일</div>
		            <div class="maintext11">담당자</div>
		            <div class="maintext12">비고</div>
		        </div>
		
		        <div class="line_text">
		            <div class="line">
		                <div class="line01"></div>
		                <div class="line02"></div>
		                <div class="line03"></div>
		                <div class="line04"></div>
		                <div class="line05"></div>
		                <div class="line06"></div>
		                <div class="line07"></div>
		                <div class="line08"></div>
		                <div class="line09"></div>
		                <div class="line10"></div>
		                <div class="line11"></div>
		                <div class="line12"></div>
		            </div>
		            <div class="middletext">
		            	<input type="hidden" id="clientCompanyNo" name="clientCompanyNo" th:value="${ oneProposal.clientCompanyNo }">
		            	<input type="hidden" id="clientNo" name="clientNo" th:value="${ oneProposal.clientNo }">
		            	<input type="hidden" id="businessOpportunityNo" name="businessOpportunityNo" th:value="${ oneProposal.businessOpportunityNo }">
		            	<input type="hidden" id="userNo" name="userNo" th:value="${ oneProposal.userNo }">
		                <input type="text" id="proposalName" name="proposalName" class="middletext01" th:value="${ oneProposal.proposalName }">
		                <input type="text" id="proposalNo" name="proposalNo" class="middletext02" th:value="${ oneProposal.proposalNo }" readonly>
		                <input type="text" id="clientCompanyName" name="clientCompanyName" class="middletext03" th:value="${ oneProposal.clientCompanyName }" placeholder="영업기회 입력시 자동 입력됩니다" readonly>
		                <input type="text" id="clientName" name="clientName" class="middletext04" th:value="${ oneProposal.clientName }" placeholder="영업기회 입력시 자동 입력됩니다" readonly>
		                <input type="text" id="businessOpportunityName" name="businessOpportunityName" class="middletext05" th:value="${ oneProposal.businessOpportunityName }" readonly>
		                <textarea id="content" name="content" class="middletext06" th:text="${ oneProposal.content }"></textarea>
		                <input type="date" id="requestDate" name="requestDate" class="middletext07" th:value="${ oneProposal.requestDate }">
		                <input type="date" id="startDate" name="startDate" class="middletext08" th:value="${ oneProposal.startDate }"> <span class="fromTo"> ~ </span>
		                <input type="date" id="endDate" name="endDate" class="middletext18" th:value="${ oneProposal.endDate }">
		                <input type="date" id="submitDate" name="submitDate" class="middletext09" th:value="${ oneProposal.submitDate }">
		                <input type="date" id="releaseDate" name="releaseDate" class="middletext10" th:value="${ oneProposal.releaseDate }">
		                <input type="text" id="name" name="name" class="middletext11" th:value="${ oneProposal.name }" readonly>
		                <textarea id="note" name="note" class="middletext15" th:text="${ oneProposal.note }"></textarea>
		            </div>
		            <div class="icon">
						<img id="businessOpportunityModal" class="modal_icon3" src="/images/common/open.png"/>
						<img id="nameModal" class="modal_icon4" src="/images/common/open.png"/>
	            	</div>
		        </div>
		    </div>
		</div>
		<div class="empty"></div>
	</section>
	</form>
	<!-- 제안 수정 정보 end -->
	
	<!-- 영업기회 모달 -->
	<a href="#dialog3" id="modalOpen3" role="button" class="btn btn-default" data-toggle="modal" style="display: none;"></a>

		<div class="modal fade bd-example-modal-xl" id="dialog3" role="dialog" aria-labelledby="dlogLabel" aria-hidden="true">

			<div class="modal-dialog modal-xl" id="p-modalArea" role="document">
			
				<div class="modal-content">

					<!-- 모달 타이틀 -->
					<div class="modal-header" style="background: #4dd0e1;">
	                	<h4 class="modal-title" id="dlogLabel" >영업기회</h4>
					</div>
					<!-- 모달 타이틀 end -->
					
                    <div class="modal-body">
						<table id="businessOpportunityList" class="modalTable">
							<thead>
								<tr>
									<th>영업기회명</th>
									<th>고객명</th>
									<th>고객사명</th>
								</tr>
							</thead>
							<tbody id="businessOpportunityTbody" class="modalTbody"></tbody>
						</table>
						<div class="modalDiv"></div>
                    </div>
                    
                    <div class="modal-footer">
                        <a id="btn-close" class="btn btn-close" data-dismiss="modal">닫기</a> 
                    </div>
				</div>
			</div>
		</div>
	<!-- 영업기회 모달 end -->
	
	<script>
	/* 영업기회 모달버튼 클릭시 동작 */
	$("#businessOpportunityModal").click(function() {
		
		/* ajax로 영업기회 정보를 가져온다 */
		$.ajax({
			url: "/business/estimate/businessOpportunity",
			type: "get",
			success: function(data) {
				
				const $table = $("#businessOpportunityTbody");
				$table.html("");
				
				/* 가져온 정보를 테이블에 담는다 */
				for(let index in data) {
					$tr = $("<tr>");
					$businessOpportunityNo = $("<input type='hidden'>").text(data[index].businessOpportunityNo);
					$businessOpportunityName = $("<td>").text(data[index].businessOpportunityName);
					$clientNo = $("<input type='hidden'>").text(data[index].clientNo);
					$clientName = $("<td>").text(data[index].clientName);
					$clientCompanyNo = $("<input type='hidden'>").text(data[index].clientCompanyNo);
					$clientCompanyName = $("<td>").text(data[index].clientCompanyName);
					
					$tr.append($businessOpportunityNo);
					$tr.append($businessOpportunityName);
					$tr.append($clientNo);
					$tr.append($clientName);
					$tr.append($clientCompanyNo);
					$tr.append($clientCompanyName);
					
					$table.append($tr);
				}
			},
			error: function(xhr) {
				console.log(xhr);
			}
		});
		
		/* 모달창을 연다 */
		$("a[id=modalOpen3]").click();
		
		/* 모달창에 출력된 값 클릭시 동작 */
		$(document).on("click", "#businessOpportunityTbody tr", function() {
			
			var businessOpportunityNo = $(this).children().eq(0).text();
			var businessOpportunityName = $(this).children().eq(1).text();
			var clientNo = $(this).children().eq(2).text();
			var clientName = $(this).children().eq(3).text();
			var clientCompanyNo = $(this).children().eq(4).text();
			var clientCompanyName = $(this).children().eq(5).text();

			$("input[id=businessOpportunityNo]").attr("value", businessOpportunityNo);
			$("input[id=businessOpportunityName]").attr("value", businessOpportunityName);
			$("input[id=clientNo]").attr("value", clientNo);
			$("input[id=clientName]").attr("value", clientName);
			$("input[id=clientCompanyNo]").attr("value", clientCompanyNo);
			$("input[id=clientCompanyName]").attr("value", clientCompanyName);
			
			/* 모달창을 닫는다 */
			$("a[id=btn-close]").click();
		});
		
	});
	</script>
	
	<!-- 담당자 모달 -->
	<a href="#dialog4" id="modalOpen4" role="button" class="btn btn-default" data-toggle="modal" style="display: none;"></a>

		<div class="modal fade bd-example-modal-xl" id="dialog4" role="dialog" aria-labelledby="dlogLabel" aria-hidden="true">

			<div class="modal-dialog modal-xl" id="p-modalArea" role="document">
			
				<div class="modal-content">

					<!-- 모달 타이틀 -->
					<div class="modal-header" style="background: #4dd0e1;">
	                	<h4 class="modal-title" id="dlogLabel" >담당자</h4>
					</div>
					<!-- 모달 타이틀 end -->
					
                    <div class="modal-body">
						<table id="userList" class="modalTable">
							<thead>
								<tr>
									<th>담당자명</th>
									<th>부서</th>
									<th>직위</th>
								</tr>
							</thead>
							<tbody id="userTbody" class="modalTbody"></tbody>
						</table>
                    </div>
                    
                    <div class="modal-footer">
                        <a id="btn-close" class="btn btn-close" data-dismiss="modal">닫기</a> 
                    </div>
				</div>
			</div>
		</div>
	<!-- 담당자 모달 end -->
	
	<script>
	/* 담당자 모달버튼 클릭시 동작 */
	$("#nameModal").click(function() {
		
		/* ajax로 담당자 정보를 가져온다 */
		$.ajax({
			url: "/business/estimate/user",
			type: "get",
			success: function(data) {
				
				const $table = $("#userTbody");
				$table.html("");
				
				/* 가져온 정보를 테이블에 담는다 */
				for(let index in data) {
					$tr = $("<tr>");
					$noTd = $("<input type='hidden'>").text(data[index].userNo);
					$nameTd = $("<td>").text(data[index].name);
					$deptName = $("<td>").text(data[index].deptName);
					$position = $("<td>").text(data[index].position);
					
					$tr.append($noTd);
					$tr.append($nameTd);
					$tr.append($deptName);
					$tr.append($position);
					
					$table.append($tr);
				}
			},
			error: function(xhr) {
				console.log(xhr);
			}
		});
		
		/* 모달창을 연다 */
		$("a[id=modalOpen4]").click();
		
		/* 모달에 있는 값 클릭시 동작 */
		$(document).on("click", "#userTbody tr", function() {
			
				/* 모달에 있는 값을 input태그에 담는다 */
				var tr2 = $(this);
				var name = tr2.children().eq(1).text();
				var no = tr2.children().eq(0).text();
				$("input[id=name]").attr("value", name);
				$("input[id=userNo]").attr("value", no);
				
				/* 모달창을 닫는다 */
				$("a[id=btn-close]").click();
		});
		
	});
	
	/* 첨부파일 삭제 */
	function deleteFile(button) {
		
		/* input태그에 hidden타입으로 만든 파일번호를 가져옴 */
		var fileNo = button.parentNode.children[2].value;

		$.ajax({
			url: "/business/proposal/file/delete",
			data: {fileNo : fileNo},	          
			type: 'POST',
			success: function(data) {
				if(data > 0) {				
					alert("파일 삭제를 성공하셨습니다.");
					location.reload(true);
				} else {
					alert("파일 삭제를 실패하였습니다.")
				}
			},
			error: function(xhr) {
				console.log(xhr);
				alert("에러발생");
			}
		});
		
	};
	
	/* 제약조건 확인 */
	function checkValue() {
		
		/* 계약명을 입력안했을 경우 작동 */
		if($("#proposalName").val().length == 0) {
			alert("계약명을 입력해주세요.");
			$("#proposalName").focus();
			return false;
		}
		
		/* 고객사명을 입력안했을 경우 작동 */
		if($("#clientCompanyName").val().length == 0) {
			alert("고객사를 입력해주세요.");
			$("#clientCompanyName").focus();
			return false;
		}
		
		/* 고객을 입력안했을 경우 작동 */
		if($("#clientName").val().length == 0) {
			alert("고객을 입력해주세요");
			$("#clientName").focus();
			return false;
		}
		
		/* 영업기회를 입력안했을 경우 작동 */
		if($("#businessOpportunityName").val().length == 0) {
			alert("영업기회를 입력해주세요");
			$("#businessOpportunityName").focus();
			return false;
		}
		
		/* 내욜을 입력안했을 경우 작동 */
		if($("#content").val().length == 0) {
			alert("내용을 입력해주세요");
			$("#content").focus();
			return false;
		}
		
		/* 요청일 입력안했을 경우 작동 */
		if($("#requestDate").val().length == 0) {
			alert("요청일을 입력해주세요");
			$("#requestDate").focus();
			return false;
		}
		
		/* 제안기간 입력안했을 경우 작동 */
		if($("#startDate").val().length == 0) {
			alert("제안기간을 입력해주세요");
			$("#startDate").focus();
			return false;
		}
		
		/* 제안기간 입력안했을 경우 작동 */
		if($("#endDate").val().length == 0) {
			alert("제안기간을 입력해주세요");
			$("#endDate").focus();
			return false;
		}
		
		/* 체출일 입력안했을 경우 작동 */
		if($("#submitDate").val().length == 0) {
			alert("체출일을 입력해주세요");
			$("#submitDate").focus();
			return false;
		}
		
		/* 발표일 입력안했을 경우 작동 */
		if($("#releaseDate").val().length == 0) {
			alert("발표일을 입력해주세요");
			$("#releaseDate").focus();
			return false;
		}
		
		/* 담당자 입력안했을 경우 작동 */
		if($("#name").val().length == 0) {
			alert("담당자를 입력해주세요");
			$("#name").focus();
			return false;
		}
		
	}
	</script>
	
	
</body>
</html>