/*첨부쟈료박스*/
.section01 .blue_box{
    width: 372px;
    height: 75px;
    position: absolute;
    top: 262px;
    left: 155px;
    background: #3BAFDA;
    display: flex;
    justify-content: space-between;
}

.section01 .blue_box .title{
    width: 130px;
    height: 20px;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 24px;
    font-weight:bold;
    color: white;
}

.section01 .blue_box .title_button{
    width: 20px;
    height: 20px;
    margin-top: 27px;
    margin-right: 20px;
}

.section01 .gray_box{
    width: 372px;
    height: 553px;
    background: #f3f3f3;
    position: absolute;
    top: 334px;
    left: 155px;
}

.section01 .gray_box .text_0102{
    width: 330px;
    height: 75px;
    margin-top: 27px;
    margin-left: 27px;
}

.section01 .gray_box .text_0102 .text_01{
    width: 330px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    margin-top : 10px;
}



/*위에꺼 복붙하고 마진으로 밀어서 똑같은거 두개생성, 회색은 어미영역확인하라고 깔아놓은거*/
.section01 .gray_box .text_0102 .text_02{
    width: 330px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.section01 .gray_box .text_0102 .text_02 .text02{
    width: 100px;
    height: 20px;
}

.section01 .gray_box .text_0102 .text_02 .button02{
    width: 100px;
    height: 20px;
}



/*고객박스*/
.section02{
    width: 1197px;
    position: absolute;
    top: 262px;
    right: 155px;
    background: #f3f3f3;
}

.section02 .prc_title{
    width: 1116px;
    height: 30px;
    margin-top: 13px;
    margin-left: 35px;
    display: flex;
    justify-content: space-between;

}

.section02 .prc_title .prc_title_text{
    width: 300px;
    height: 30px;
    font-size: 24px;
    font-weight: bold;
}

.section02 .prc_title .prc_icon{
    width: 100px;
    height: 30px;  
    display: flex;
    position: absolute;
    left: 1015px;
}

.section02 .prc_title .prc_icon2{
    width: 100px;
    height: 30px;  
    display: flex;
    position: absolute;
    left: 1015px;
    top: 370px;
}


.section02 .prc_title .prc_icon .prc_title_icon01{
    margin-left: 15px;
    width: 30px;
    height: 30px;

}

.section02 .prc_title .prc_icon2 .prc_title_icon01{
    margin-left: 15px;
    width: 30px;
    height: 30px;

}

.prc_icon_btn {
	
	width: 50px;
	border: none;
    outline: none;
	
}

.section02 .prc_title .prc_icon .prc_title_icon02{
    width: 30px;
    height: 30px;
}

.section02 .prc_line{
    width: 1120px;
    height: 1px;
    margin-top: 5px;
    margin-left: 33px;
    background: black;
}

/*얘는 마진안쓴이유(마진안쓰려면 포지션을 따로 설정해서 탑/레프트 설정해야함)가
내부에 자식이 너무많아서 얘를 부모로 잡고 안에 자식들을 다 마진으로 잡는게 덜헷갈리니까*/
.section02 .textbox{
    width: 851px;
    height: 300px;
    position: absolute;
    top: 79px;
    left: 136px;
    display: flex;
    justify-content: left;
}

.section02 .textbox .maintext{
    width: 91px;
    height: 562px;
    margin-left: 15px;
}

.section02 .textbox .line_text{
    width: 819px;
    height: 300px;
    margin-left: 120px;
}

/*중제목*/
.section02 .textbox .maintext > div{
    width: 150px;
    height: 24px;
    margin-top: 32px;
}

.section02 .textbox .maintext .maintext01{
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext02{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext03{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext04{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext05{
   
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext06{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext07{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext08{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext09{
    
    font-size: 24px;
    font-weight: bold;
}

.section02 .textbox .maintext .maintext10{
    
    font-size: 24px;
    font-weight: bold;
}


.section02 .textbox .line_text .line > div{
    width: 790px;
    height: 3px;
    margin-top: 53px;
    background: lightgray;
}

.section02 .textbox .line_text .middletext{
    position: absolute;
    /*background: lightpink;*/
    top: 2px;
    left: 230px;
    width: 345px;
    height: 532px;
}

.section02 .textbox .line_text .middletext > div{
    width: 100px;
    height: 20px;
    background: lightblue;
    margin-top: 37px;
}

.section02 .textbox .line_text .middletext .middletext01{
   	width: 700px;
   	height: 47px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext02{
    margin-top: 7px;
    width: 700px;
   	height: 50px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext03{
    margin-top: 7px;
    width: 700px;
    height: 50px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext04{
    margin-top: 7px;
    width: 700px;
   	height: 50px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext05{
    margin-top: 7px;
    width: 770px;
   	height: 50px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext06_wrap .middletext06{

   	border: none;
   	outline: none;
   	background: #f3f3f3;
 	width: 385px;

}

.section02 .textbox .line_text .middletext .middletext06_wrap {
	
    margin-top: 7px;
    width: 770px;
   	height: 47px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
	display:flex;
	justify-content: space-between;
}


.section02 .textbox .line_text .middletext .middletext07{
    margin-top: 7px;
    width: 700px;
   	height: 50px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext08{
    margin-top: 7px;
    width: 770px;
   	height: 47px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext09{
    margin-top: 7px;
    width: 700px;
   	height: 50px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
}

.middletext09_radio {
	margin-top:15px;
	width:25px;
	height:25px;
}

.middletext09_label {
	
	font-size:18px;
	
}

.section02 .textbox .line_text .middletext .middletext10{
    margin-top: 7px;
    width: 700px;
   	height: 47px;
   	border: none;
   	outline: none;
   	background: #f3f3f3;
   	font-size: 18px;
}

.section02 .textbox .line_text .middletext .middletext11{
    margin-top: 10px;
    width: 700px;
   	height: 100px;
   	background: #f3f3f3;
   	font-size: 18px;
}


.section02 .textbox .line_text .icon{
    position: absolute;
    top: 0;
    margin-left: 750px;
    
}

.section02 .textbox .line_text .icon .icon01{
    width: 30px;
    height: 30px;
    margin-top: 15px;
    
}

.section02 .textbox .line_text .icon .icon02{
    width: 50px;
    margin-top: 28px;
}

.section02 .textbox .line_text .icon .icon03{
    width: 30px;
    height: 30px;
    margin-top: 25px;
}

.section02 .textbox .line_text .icon .icon04{
    width: 30px;
    height: 30px;
    margin-top: 25px;
}

.middletext_icon {
	width:30px;
	height:30px;
}

.restArea {
	
	margin-top: 50px;
	height:50px;
	background:white;
	
}

.restArea1 {
	
	margin-top: 370px;
	height:15px;
	background:white;
	
}

.modal-header {
	
	background: #4dd0e1;
	
}

.modal-title {
	
	font-weight: bold;
	font-family: fantasy;
}

.modal-body-content {
	
	width:785px;
	border:none;
	
}

.clientCompanyTbody > tr {
	
	border: solid 1px rgba(0, 0, 0, 0.2);
	height: 50px;

}

.modal_setting {
	
	width:900px;
	margin-left:550px;
	margin-top:20px;
	
	
}

.modalOpen {
	
	display: none;
}

.modal_setting2 {
	
	width:500px;
	margin-left:710px;
	margin-top:20px;
	
	
}

.userTbody > tr {
	
	border: solid 1px rgba(0, 0, 0, 0.2);
	height: 50px;

}

.modal-body-content2 {
	
	width:420px;
	border:none;
	
}

.client_title {
	
	margin-top: 20px;
    margin-left: 35px;
	
}

.client_title_text{
    width: 1120px;
    height: 30px;
    font-size: 24px;
    font-weight: bold;
    display:flex;
    justify-content: space-between;
}
 
.client_name {
	
	width:100px;
	margin-left:30px;
	margin-top:10px;
	border:none;
	outline:none;
	border-radius: 0.2em;
	background:rgb(0,0,0,0.1)
	
} 

.client_icon {
	
	width:15px;
	height:15px;
	
}

.user_title {
	
	margin-top: 20px;
    margin-left: 35px;
	
}

.user_title_text{
    width: 1120px;
    height: 30px;
    font-size: 24px;
    font-weight: bold;
    display:flex;
    justify-content: space-between;
}
 
.user_name {
	
	width:100px;
	margin-left:30px;
	margin-top:10px;
	border:none;
	outline:none;
	border-radius: 0.2em;
	background:rgb(0,0,0,0.1)
	
} 

.user_icon {
	
	width:10px;
	height:10px;
	
}


.resatArea2 {
	
	margin-top:20px;
	height: 15px;
	width: 1197px;
	background: white;
	
}

.contents {
	
	margin-top:20px;
	margin-left:33px;
	width: 1120px;
	height:250px;
	background: #f3f3f3;
	
}

.clientTbody > tr {
	
	border: solid 1px rgba(0, 0, 0, 0.2);
	height: 50px;

} 

.client_whole {
	
	display:flex;
	justify-content: left;
}

.user_whole {
	
	display:flex;
	justify-content: left;
}

.attachments {
	
	width:200px;
	height:50px;
	
	
}
