<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/businessReport/detail.css}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

	<!-- 헤더 -->
	<div th:replace="common/salesHeader.html"></div>

	<form action="/businessReport/insert" id="businessReportInsert" method="post" encType="multipart/form-data">
	
	<!-- 첨부자료 시작 -->
	<section class="section01">

			<div class="blue_box">
				<div class="title">첨부자료</div>
			</div>

			<div class="gray_box">
				<div class="text_0102">
				<th:block th:if="${ fileList.size <= 0 }">
	        	<span class="inp">첨부파일이 없습니다.</span>
	        	</th:block>
					<div class="text_01" th:each="fileList : ${ fileList }">
	            	<a class="attachments"  th:text="${ fileList.fileOriginalName }"></a>
	            	<input type="hidden" class="attachments" name="filePath" th:value="${ fileList.filePath }" readonly>
	            	<input type="hidden" class="attachments" name="fileName" th:value="${ fileList.fileName }" readonly>
	            	<input type="hidden" class="attachments" name="fileNo" th:value="${ fileList.fileNo }" readonly>
	            </div>
				</div>
			</div>
		</section>
	<!-- 첨부자료 끝 -->
	
	<!-- 화면의 오른쪽 상단 블럭 시작 -->
	<div id="topSection" class="topSection">
		<div>
			<img class="deleteBtn" src="../images/common/delete.png" style="height: 31px;"/>
        	<div onclick="location.href='/businessReport/list'"><img class="bo_title_icon02" src="../images/common/back.png"/></div>
        </div>
        <div class="com_line"></div>
        <div class="textbox">
	        <div class="maintext">
		    	<div class="maintext01">보고일</div>
		    	<div class="maintext02">기간</div>
		    </div>
		</div>
		<input class="businessReportNo" id="businessReportNo" name="businessReportNo" th:value="${ oneBusinessReport.businessReportNo }" type="hidden">
	    	<div class="line_text">
	            <div class="line">
	           		<div class="line1">
	           		<input type="date" id="reportDate" name="reportDate" class="middletext01" 
							th:value="${ oneBusinessReport.reportDate }" readonly>
	           		</div> 
                	<div class="line2">
	                <input type="date" id="activityStartDate" name="activityStartDate" class="middletext02" 
	                		th:value="${ oneBusinessReport.activityStartDate }" readonly>
	                <input type="text" value=" ~ " class="middletext04">
	                <input type="date" id="activityEndDate" name="activityEndDate" class="middletext03" 
							th:value="${ oneBusinessReport.activityEndDate }" readonly>
	                </div>
	            </div>
	        </div>
	        <div class="middletext">
	        </div>
	</div>
	
	<section class="section02">
	
		<!-- 영업기회 작성 입력 폼 시작 -->
	    <div class="bo_title">
	        <div class="bo_title_text">영업활동 실적</div>
	        <div class="bo_icon">
	            <a><img id="addProduct" class="plus_icon" src="/images/common/plusBtn.png"/></a>
	        </div>
	    </div>

			<div class="textbox">
				<div class="maintext"></div>
				<div class="line_text">
					<div class="middletext">
						<textarea id="activityPerformanceText" name="activityPerformanceText" class="middletext18" 
									th:text="${ oneBusinessReport.activityPerformanceText }" readonly></textarea>
					</div>
				</div>
			</div>

			<div class="restArea"></div>
		<!-- 영업기회 작성 입력 폼 끝 -->
 
	</section>	
	<!-- 화면의 오른쪽 상단 블럭 끝 -->
	
	<!-- 화면의 오른쪽 하단 블럭 시작 -->
	<section class="section03">
	
		<!-- 영업활동 계획 시작 -->
		<div class="sec03_title">영업활동 계획</div>
		<a><img id="addProduct" class="plus_icon" src="/images/common/plusBtn.png"/></a>
		<div class="middletext">
            <textarea id="planContentText" name="planContentText" class="middletext18" 
            		th:text="${ oneBusinessReport.planContentText }" readonly></textarea>
        </div>
		<!-- 영업활동 계획 끝 -->	
	
		<!-- 시장/경쟁사 동향 시작 -->
		<div class="apply_whole">
			<div class="apply">
				<div class="apply_text">시장/경쟁사 동향</div>
			</div>		
			 <div class="middletext2">
					<textarea id="competitorTrend" name="competitorTrend" 
					th:text="${ oneBusinessReport.competitorTrend }" readonly></textarea>
				</div>
			 <div id="apply_wrap"></div>
		</div>
		<!-- 시장/경쟁사 동향 끝 -->
		
		<!-- 기타사항 시작 -->
		<div class="apply_whole2">
			<div class="apply">
				<div class="apply_text">기타사항</div>
			</div>		
			<div class="etcBox">
            	<textarea id="etc" name="etc" th:text="${ oneBusinessReport.etc }" readonly></textarea>
             </div>
			 <div id="apply_wrap"></div>
		</div>
		<!-- 기타사항 끝 -->
		<br><br>
	</section>
	<!-- 화면의 오른쪽 하단 블럭 끝 -->

	</form>
	
	<script>
	/* 삭제 버튼 클릭시 해당 게시글의 공지 번호를 전달한다 */
	$(".deleteBtn").click(function() {
		var businessReportNo = $(".businessReportNo").val();
		
		var result = window.confirm("정말 삭제하시겠습니까?");
		
		if(result) {
			location.href="/businessReport/delete?businessReportNo=" + businessReportNo;
		}
		
	});
	</script>
</body>
</html>