<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/businessReport/insert.css}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

	<!-- 헤더 -->
	<div th:replace="common/salesHeader.html"></div>

	<form action="/businessReport/insert" id="businessReportInsert" method="post" encType="multipart/form-data">
	
	<!-- 첨부자료 시작 -->
	<section class="section01">
	
	    <div class="blue_box">
	        <div class="title">첨부자료</div>
	    </div>
	
	    <div class="gray_box">
	        <div class="text_0102">
	            <div class="text_01">
	            	<input class="attachments" type="file" name="multiFiles" multiple> 	
	            </div>
	            <div class="text_02">
	                <div class="text02"></div>
	                <div class="button02"></div>
	            </div>
	        </div>
	    </div>
	</section>
	<!-- 첨부자료 끝 -->
	
	<!-- 화면의 오른쪽 상단 블럭 시작 -->
	<div id="topSection" class="topSection">
	<input type="hidden" id="name" name="name" readonly>
	<input type="hidden" id="deptName" name="deptName" readonly>
		<div>
			<button class="bo_icon_btn3" type="submit"><img class="bo_title_icon01" src="../images/common/restore.png"/></button>
        	<div onclick="location.href='/businessReport/list'"><img class="bo_title_icon02" src="../images/common/back.png"/></div>
        </div>
        <div class="com_line"></div>
        <div class="textbox">
	        <div class="maintext">
		    	<div class="maintext01">보고일</div>
		    	<div class="maintext02">기간</div>
		    </div>
		</div>
	    	<div class="line_text">
	            <div class="line">
	           		<div class="line1">
	           		<input type="date" id="reportDate" name="reportDate" class="middletext01">
	           		</div> 
                	<div class="line2">
	                <input type="date" id="activityStartDate" name="activityStartDate" class="middletext02">
	                <input type="text" value=" ~ " class="middletext04">
	                <input type="date" id="activityEndDate" name="activityEndDate" class="middletext03">
	                </div>
	            </div>
	        </div>
	        <div class="middletext">
	        </div>
	</div>
	
	<section class="section02">
		
		<!-- 영업기회 작성 입력 폼 시작 -->
	    <div class="bo_title">
	        <div class="bo_title_text">영업활동 실적</div>
	        <div class="bo_icon">
	            <!-- <a><img id="businessActivityModal" class="plus_icon" src="/images/common/plusBtn.png"/></a> -->
	        </div>
	    </div>

			<div class="textbox">
				<div class="maintext"></div>
				<div class="line_text">
					<div class="line"></div>
					<div class="middletext">
						<div id="tableDiv"></div>
						<!-- <input type="text" id="clientCompanyName" name="clientCompanyName" readonly> -->
						<textarea id="activityPerformanceText" name="activityPerformanceText" class="middletext18"></textarea>
					</div>
				</div>
			</div>

			<div class="restArea"></div>
		<!-- 영업기회 작성 입력 폼 끝 -->
 
	</section>	
	<!-- 화면의 오른쪽 상단 블럭 끝 -->
	
	<!-- 화면의 오른쪽 하단 블럭 시작 -->
	<section class="section03">
	
		<!-- 영업활동 계획 시작 -->
		<div class="sec03_title">영업활동 계획</div>
		<!-- <a><img id="addProduct" class="plus_icon" src="/images/common/plusBtn.png"/></a> -->
		<div class="middletext">
            <textarea id="planContentText" name="planContentText" class="middletext18"></textarea>
        </div>
		<!-- 영업활동 계획 끝 -->	
	
		<!-- 시장/경쟁사 동향 시작 -->
		<div class="apply_whole">
			<div class="apply">
				<div class="apply_text">시장/경쟁사 동향</div>
			</div>		
			 <div class="middletext2">
					<textarea id="competitorTrend" name="competitorTrend">
1. 시장동향
- 

2. 경쟁사 상황
- 

3. 경쟁사 제품
- </textarea>
				</div>
			 <div id="apply_wrap"></div>
		</div>
		<!-- 시장/경쟁사 동향 끝 -->
		
		<!-- 기타사항 시작 -->
		<div class="apply_whole2">
			<div class="apply">
				<div class="apply_text">기타사항</div>
			</div>		
			<div class="etcBox">
            	<textarea id="etc" name="etc"></textarea>
             </div>
			 <div id="apply_wrap"></div>
		</div>
		<!-- 기타사항 끝 -->
		<br><br>
	</section>
	<!-- 화면의 오른쪽 하단 블럭 끝 -->

	</form>
	
	<!-- 영업활동 실적 모달 -->
	<a href="#dialog3" id="modalOpen3" role="button" class="btn btn-default" data-toggle="modal" style="display: none;"></a>

		<div class="modal fade bd-example-modal-xl" id="dialog3" role="dialog" aria-labelledby="dlogLabel" aria-hidden="true">

			<div class="modal-dialog modal-xl" id="p-modalArea" role="document">
			
				<div class="modal-content" style="width: 700px;">

					<!-- 모달 타이틀 -->
					<div class="modal-header" style="background: #4dd0e1;">
	                	<h4 class="modal-title" id="dlogLabel" >영업활동</h4>
					</div>
					<!-- 모달 타이틀 end -->
					
                    <div class="modal-body">
						<table id="selectBusinessActivityList" class="modalTable">
							<thead>
								<tr>
									<th style="width: 100px;">고객사</th>
									<th style="width: 100px;">날짜</th>
									<th style="width: 100px;">활동분류</th>
									<th style="width: 100px;">목적</th>
									<th style="width: 100px;">계획내용</th>
									<th style="width: 100px;">활동내용</th>
								</tr>
							</thead>
							<tbody id="businessActivityTbody" class="modalTbody"></tbody>
						</table>
						<div class="modalDiv"></div>
                    </div>
                    
                    <div class="modal-footer">
                        <a id="btn-close" class="btn btn-close" data-dismiss="modal">닫기</a> 
                    </div>
				</div>
			</div>
		</div>
	<!-- 영업 활동 실적 모달 end -->
	
	<!-- <script>
	/* 영업활동 실적 모달버튼 클릭시 동작 */
	$("#businessActivityModal").click(function() {
		
		/* ajax로 활동 정보를 가져온다 */
		$.ajax({
			url: "/businessReport/performance",
			type: "get",
			success: function(data) {
				
				const $table = $("#businessActivityTbody");
				$table.html("");
				
				/* 가져온 정보를 테이블에 담는다 */
				for(let index in data) {
					$tr = $("<tr>");
					$businessActivityNo = $("<input type='hidden'>").text(data[index].businessActivityNo);
					/* $businessActivityName = $("<td>").text(data[index].businessActivityName); */
					$clientCompanyName = $("<td>").text(data[index].clientCompanyName);
					$activityDate = $("<td>").text(data[index].activityDate);
					$activityClassification = $("<td>").text(data[index].activityClassification);
					$activityPurpose = $("<td>").text(data[index].activityPurpose);
					$planContent = $("<td>").text(data[index].planContent);
					$activityContent = $("<td>").text(data[index].activityContent);
					
					$tr.append($businessActivityNo);
					$tr.append($clientCompanyName);
					$tr.append($activityDate);
					$tr.append($activityClassification);
					$tr.append($activityPurpose);
					$tr.append($planContent);
					$tr.append($activityContent);
					
					$table.append($tr);
				}
			},
			error: function(xhr) {
				console.log(xhr);
			}
		});
		
		/* 모달창을 연다 */
		$("a[id=modalOpen3]").click();
		
		/* 모달창에 출력된 값 클릭시 동작 */
		$(document).on("click", "#businessActivityTbody tr", function() {
			
			var businessActivityNo = $(this).children().eq(0).text();
			var clientCompanyName = $(this).children().eq(17).text();
			var activityDate = $(this).children().eq(4).text();
			var activityClassification = $(this).children().eq(1).text();
			var activityPurpose = $(this).children().eq(3).text();
			var planContent = $(this).children().eq(8).text();
			var activityContent = $(this).children().eq(9).text();
			
			/* 테이블 생성 구문 */
			var html = "";
			html += '<div id="whole">';
		/* 	html += '<input type="hidden" id="businessActivityNo" name="businessActivityNo"> <br>';
			html += '<span><input type="text" id="clientCompanyName" name="clientCompanyName" readonly></span>'; */
			html += '<table id="productTable">';
			html += '<thead>';
			html += '<tr>';
			html += '<th> 고객사 </th>';
			html += '<td> <input type="text" class="clientCompanyName" id="clientCompanyName" name="clientCompanyName" readonly> </td>';
			html += '</thead>';
			html += '<thead>';
			html += '<tr>';
			html += '<th> 날짜 </th>';
			html += '<td> <input type="text" class="activityDate" id="activityDate" name="activityDate" readonly> </td>';
			html += '</thead>';
			html += '<tbody>';
			html += '<tr>';
			html += '<th> 활동분류 </th>';
			html += '<td> <input type="text" id="activityClassification" name="activityClassification"> </td>';
			html += '</thead>';
			html += '</tbody>';
			html += '<tbody>';
			html += '<th> 활동목적 </th>';
			html += '<td> <input type="text" id="activityPurpose" name="activityPurpose"> </td>';
			html += '</tbody>';
			html += '<tbody>';
			html += '<th> 계획내용 </th>';
			html += '<td> <input type="text" id="planContent" name="planContent" readonly> </td>';
			html += '</tbody>';
			html += '<tbody>';
			html += '</tr>';
			html += '<tr>';
			html += '<th> 활동내용 </th>';
			html += '<td> <input type="text" id="activityContent" name="activityContent" readonly> </td>';
			html += '</table>';
			html += '<br>';
			html += '</div>';
			
			/* div에 테이블 생성 */
			$("#tableDiv").append(html);

			/* 생성된 테이블에 ajax로 불러온 값을 넣는다 */
			/* last()를 안쓰면 생성된 테이블들의 값이 모두 같아진다 */
			$("input[id=businessActivityNo]").last().attr("value", businessActivityNo);
			$("input[id=clientCompanyName]").last().attr("value", clientCompanyName);
			$("input[id=activityDate]").last().attr("value", activityDate);
			$("input[id=activityClassification]").last().attr("value", activityClassification);
			$("input[id=activityPurpose]").last().attr("value", activityPurpose);
			$("input[id=planContent]").last().attr("value", planContent);
			$("input[id=activityContent]").last().attr("value", activityContent);
			
			/* 모달창을 닫는다 */
			$("a[id=btn-close]").click();
		});
		
	});
	</script> -->
</body>
</html>