<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/businessReport/list.css">
<script>
	/* 등록,수정,삭제 결과 출력 메세지 */
	const message = '[[${ message }]]';
	
	if(message) {
		alert(message);
	}
</script>
</head>
<body>
	<!-- 상단바 replace -->
	<div th:replace="common/salesHeader.html"></div>
 
	<!-- 검색창 -->
	<form id="search" action="/businessReport/list" method="get">
		<section class="search_part">
			<div class="search_title">검색조건</div>
			<div class="all_box">
				<div class="part01">
					<input type="hidden" name="currentPage" value="1">
					<input id="activityStartDate" name="activityStartDate" class="search_input" type="date"> ~ 
					<input id="activityEndDate" name="activityEndDate" class="search_input" type="date">
					<button class="search_button" type="submit">검색</button>
				</div>
			</div>
		</section>
	</form>
	<!-- 검색창 end -->
	<section class="list_box">
		<div class="list_title">
			<div class="">영업 보고 : 검색결과 ( <span th:text="${ totalCount }"></span>건 )</div>
			<div onclick="location.href='/businessReport/insert'"><img class="com01_img_write" src="/images/common/jam_write.png"/></div>
		</div>
	
	<!-- 반복문으로 목록 조회 -->
			<div class="list01" th:each="businessReportList : ${ businessReportList }">
			
				<div class="list01_1">
					<div class="list01_main">
						<input class="businessReportNo" name="businessReportNo" th:value="${ businessReportList.businessReportNo }" type="hidden">
						<span>보고일 : </span>
						<span class="list01_reportDate" th:text="${ businessReportList.reportDate }"></span>
						<div>
							<span><img class="date_img" src="/images/common/date.png"/></span> 기간 : 
							<span class="activityStartTime" th:text="${ businessReportList.activityStartDate }"></span> ~ 
							<span class="activityEndTime" th:text="${ businessReportList.activityEndDate }"></span>
							<span class="deptName" th:text="${ businessReportList.deptName }"></span> / 
							<span class="name" th:text="${ businessReportList.name }"></span>
						</div>
					</div>
				</div>
				
			</div>
			<!-- 영업 활동 리스트 조회 목록 끝 -->
	
			<br><br><br>
	
			<!-- 페이징 버튼 시작 -->
		<div align="center">
			<button class="page_btn1" th:if="${ selectCriteria.pageNo <= 1 }" type="button" disabled ><img src="/images/common/prevPage.png"/></button>		
			<button class="page_btn1" th:if="${ selectCriteria.pageNo > 1 } and ${ businessReportSearch.activityStartDate == null } and ${ businessReportSearch.activityEndDate == null }" type="button" id="prevPage" onclick="preButtonAction();" ><img src="/images/common/prevPage.png"/></button>		
			<button class="page_btn1" th:if="${ selectCriteria.pageNo > 1 } and (${ businessReportSearch.activityStartDate != null } or ${ businessReportSearch.activityEndDate != null })" type="button" id="searchPrevPage" onclick="searchPreButtonAction();"><img src="/images/common/prevPage.png"/></button>		
			
			<span th:each="p : ${#numbers.sequence(selectCriteria.startPage,selectCriteria.endPage)}">
				<button class="page_btn2" th:if="${selectCriteria.pageNo == p}" th:text="${p}" disabled></button>
				<button class="page_btn2" th:if="${selectCriteria.pageNo != p} and ${ businessReportSearch.activityStartDate == null } and ${ businessReportSearch.activityEndDate == null }" th:text="${p}" onclick="pageButtonAction(this.innerText);"></button>
				<button class="page_btn2" th:if="${selectCriteria.pageNo != p} and (${ businessReportSearch.activityStartDate != null } or ${ businessReportSearch.activityEndDate != null })" th:text="${p}" onclick="searchPageButtonAction(this.innerText);"></button>
			</span>		
			
			<button class="page_btn3" th:if="${ selectCriteria.pageNo >= selectCriteria.maxPage }" type="button" disabled ><img src="/images/common/nextPage.png"/></button>	
			<button class="page_btn3" th:if="${ selectCriteria.pageNo < selectCriteria.maxPage } and ${ businessReportSearch.activityStartDate == null } and ${ businessReportSearch.activityEndDate == null }" type="button" id="nextPage" onclick="nextButtonAction();"><img src="/images/common/nextPage.png"/></button>						
			<button class="page_btn3" th:if="${ selectCriteria.pageNo < selectCriteria.maxPage } and (${ businessReportSearch.activityStartDate != null } or ${ businessReportSearch.activityEndDate != null })" type="button" id="searchNextPage" onclick="searchNextButtonAction();"><img src="/images/common/nextPage.png"/></button>					
			
			<input type="hidden" id="currentPageByPaging" name="currentPageByPaging" th:value="${businessReportSearch.currentPage}">
			<input type="hidden" id="activityStartDateByPaging" name="activityStartDateByPaging" th:value="${businessReportSearch.activityStartDate}">
			<input type="hidden" id="activityEndDateByPaging" name="activityEndDateByPaging" th:value="${businessReportSearch.activityEndDate}">
			
			<br><br><br>
		</div>
	<!-- 페이징 버튼 종료 -->
			
	</section>
		
	<script>
		
	/* 목록 클릭시 상세조회 페이지로 이동 */
	$(".list01_1").click(function() {

		var businessReportNo = $(this).children().children().val();
		location.href="/businessReport/detail?businessReportNo=" + businessReportNo;
	});
		
	/* 페이징  */
	/* 공통으로 사용할 link */
	const link = "/businessReport/list";
	
	/* 검색조건이 없을 때 이전버튼 클릭 시 작동 */
	function preButtonAction() {
			
		/* html에서 input태그에 hidden타입으로 controller로부터 받아온 값을 value를 저장해놓았음. 그 값을 script에서 저장 */
		var currentPage = $("#currentPageByPaging").val();
		
		/* 경로 이동 */
		location.href = link + "?currentPage=" + (currentPage - 1); 

		
	}
	/* 검색조건이 있을 때 이전버튼 클릭 시 작동 */
	function searchPreButtonAction() {
		
		/* html에서 input태그에 hidden타입으로 controller로부터 받아온 값을 value를 저장해놓았음. 그 값을 script에서 저장 */
		var currentPage = $("#currentPageByPaging").val();
		var activityStartDate = $("#activityStartDateByPaging").val();
		var activityEndDate = $("#activityEndDateByPaging").val();
		
		/* 경로 이동 */
		location.href = link + "?currentPage=" +  (currentPage - 1) + "&activityStartDate=" + activityStartDate + "&activityEndDate=" + activityEndDate;
	}
	
	/* 검색조건이 없을 때 숫자 클릭 시 작동 */
	function pageButtonAction(text) {
			
		/* 경로 이동 */
	    location.href = link + "?currentPage=" + text;
	        
	}
	
	/* 검색조건이 있을 때 숫자 클릭 시 작동 */
	  function searchPageButtonAction(text) {
		  
		/* html에서 input태그에 hidden타입으로 controller로부터 받아온 값을 value를 저장해놓았음. 그 값을 script에서 저장 */  
		var activityStartDate = $("#activityStartDateByPaging").val();
		var activityEndDate = $("#activityEndDateByPaging").val();

		/* 경로 이동 */  
	    location.href = link + "?currentPage=" + text + "&activityStartDate=" + activityStartDate + "&activityEndDate=" + activityEndDate;
	   		
	}
	
	/* 검색조건이 없을 때 다음버튼 클릭 시 작동 */
	function nextButtonAction() {
		
		/* html에서 input태그에 hidden타입으로 controller로부터 받아온 값을 value를 저장해놓았음. 그 값을 script에서 저장 */
		var currentPage = $("#currentPageByPaging").val();
		
		/* currentPage변수는 현재 문자열이기 때문에 숫자로 변환함 */
		currentPage *= 1;

		/* 경로 이동 */
		location.href = link + "?currentPage=" + (currentPage + 1);
		
	}
	
	/* 검색조건이 있을 때 다음버튼 클릭 시 작동 */
	function searchNextButtonAction() {
		
		/* html에서 input태그에 hidden타입으로 controller로부터 받아온 값을 value를 저장해놓았음. 그 값을 script에서 저장 */
		var currentPage = $("#currentPageByPaging").val();
		
		/* currentPage변수는 현재 문자열이기 때문에 숫자로 변환함 */
		currentPage *= 1;
		var activityStartDate = $("#activityStartDateByPaging").val();
		var activityEndDate = $("#activityEndDateByPaging").val();
		
		/* 경로 이동 */
		location.href = link + "?currentPage=" +  (currentPage + 1) + "&activityStartDate=" + activityStartDate + "&activityEndDate=" + activityEndDate;
	}
	
	</script>
</body>
</html>