<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<link rel="stylesheet" type="text/css" href="/css/collection/detail.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

<!-- 상단바 replace -->
<div th:replace="common/salesHeader.html"></div>

   
   <!-- 수금 등록 폼 -->
   <section class="section02">
       <div class="com_title">
           <div class="com_title_text">수금 상세보기</div>
           <div class="com_icon">
              <div class="updateBtn"><img class="com_title_icon01" src="/images/common/update.png"/></div>
                <div class="deleteBtn"><img class="com_title_icon01" src="/images/common/delete.png"/></div>
               <div onclick="location.href='/collect/list'"><img class="com_title_icon01" src="/images/common/list.png"/></div>
           </div>
           <div class="com_icon2">
                <div class="updateBtn"><img class="com_title_icon01" src="/images/common/update.png"/></div>
                <div class="deleteBtn"><img class="com_title_icon01" src="/images/common/delete.png"/></div>
               <div onclick="location.href='/collect/list'"><img class="com_title_icon01" src="/images/common/list.png"/></div>
           </div>
       </div>
       <div class="com_line"></div>
   
       <div class="textbox">
           <div class="maintext">
               <div class="maintext01">계약명</div>
               <div class="maintext02">담당자</div>
               <div class="maintext03">고객사</div>
               <div class="maintext04">고객</div>
               <div class="maintext05">거래 일자</div>
               <div class="maintext06">거래 방법</div>
               <div class="maintext07">현 수납 금액</div>
               <div class="maintext08">총 수납 금액</div>
               <div class="maintext09">세금 계산서</div>
               <div class="maintext10">완납 여부</div>
               <div class="maintext15">비고</div>
           </div>
   
           <div class="line_text">
               <div class="line">
                   <div class="line01"></div>
                   <div class="line02"></div>
                   <div class="line03"></div>
                   <div class="line04"></div>
                   <div class="line05"></div>
                   <div class="line06"></div>
                   <div class="line07"></div>
                   <div class="line08"></div>
                   <div class="line09"></div>
                   <div class="line10"></div>
                   <div class="line15"></div>
               </div>
               <div class="middletext">
                  <input type="hidden" id="collectionNo" name="collectionNo" th:value="${ collectDTO.collectionNo }" readonly>
                      <input type="text" id="contractName" name="contractName" class="middletext01" th:value="${ collectDTO.contractName }" readonly>
                      <input type="text" id="name" name="name" class="middletext02" th:value="${ collectDTO.name }" readonly>
                      <input type="text" id="clientCompanyName" name="clientCompanyName" class="middletext03" th:value="${ collectDTO.clientCompanyName }" readonly>
                      <input type="text" id=clientName name="clientName" class="middletext04" th:value="${ collectDTO.clientName }" readonly>
                      <input type="date" id="transactionDate" name="transactionDate" class="middletext05" th:value="${ collectDTO.transactionDate }" readonly>
                      <input name="transactionWay" id="transactionWay" class="middletext06" th:value="${ collectDTO.transactionWay }">
                      <input type="text" id="currentReceiptAmount" name="currentReceiptAmount" class="middletext07" th:value="${ collectDTO.currentReceiptAmount }" required>
                      <input type="text" id="totalAmont" name="totalAmont" class="middletext08" th:value="${ collectDTO.totalAmont }" readonly>
                      <input name="taxBill" id="taxBill" class="middletext09" th:value="${ collectDTO.taxBill }" readonly>
                      <input name="fullPaymentYn" id="fullPaymentYn" class="middletext10" th:value="${ collectDTO.fullPaymentYn }" readonly>
                      <textarea id="note" name="note" class="middletext15" th:text="${ collectDTO.note }" readonly></textarea>
               </div>
           </div>
       </div>
   </section>
   
   <script>
   /* 삭제 버튼 클릭시 해당 게시글의 수금번호를 전달한다 */
      $(".deleteBtn").click(function() {
         var collectionNo = $("#collectionNo").val();
         
         var result = window.confirm("정말 삭제하시겠습니까?");
         
         if(result) {
            location.href="/collect/delete?collectionNo=" + collectionNo;
         }
         
      });
      
      /* 수정 버튼 클릭시 해당 게시글의 수금번호를 전달한다 */
      $(".updateBtn").click(function() {
         var collectionNo = $("#collectionNo").val();
         
         location.href="/collect/update?collectionNo=" + collectionNo;
         
      });
   </script>
   
</body>
</html>