<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>M&M</title>
<link rel="stylesheet" type="text/css" href="/css/collection/update.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

<!-- 상단바 replace -->
<div th:replace="common/salesHeader.html"></div>
   <form action="/collect/update" method="post">
   <!-- 수금 등록 폼 -->
   <section class="section02">
       <div class="com_title">
           <div class="com_title_text">수금 수정</div>
           <div class="com_icon">
              <button class="com_icon_btn" type="submit"><img class="com_title_icon01" src="/images/common/restore.png"/></button>
               <div onclick="location.href='/collect/list'"><img class="com_title_icon01" src="/images/common/list.png"/></div>
           </div>
           <div class="com_icon2">
              <button class="com_icon_btn" type="submit"><img class="com_title_icon01" src="/images/common/restore.png"/></button>
               <div onclick="location.href='/collect/list'"><img class="com_title_icon01" src="/images/common/list.png"/></div>
           </div>
       </div>
       <div class="com_line"></div>
   
       <div class="textbox">
           <div class="maintext">
               <div class="maintext01">계약명</div>
               <div class="maintext02">담당자</div>
               <div class="maintext03">고객사</div>
               <div class="maintext04">고객</div>
               <div class="maintext05">* 거래 일자</div>
               <div class="maintext06">* 거래 방법</div>
               <div class="maintext07">* 현 수납 금액</div>
               <div class="maintext08">* 총 수납 금액</div>
               <div class="maintext09">* 세금 계산서</div>
               <div class="maintext10">* 완납 여부</div>
               <div class="maintext15">* 비고</div>
           </div>
   
           <div class="line_text">
               <div class="line">
                   <div class="line01"></div>
                   <div class="line02"></div>
                   <div class="line03"></div>
                   <div class="line04"></div>
                   <div class="line05"></div>
                   <div class="line06"></div>
                   <div class="line07"></div>
                   <div class="line08"></div>
                   <div class="line09"></div>
                   <div class="line10"></div>
                   <div class="line15"></div>
               </div>
               <div class="middletext">
                  	  <input type="hidden" id="collectionNo" name="collectionNo" th:value="${ collectDTO.collectionNo }" readonly>
                      <input type="text" id="contractName" name="contractName" class="middletext01" th:value="${ collectDTO.contractName }" readonly>
                      <input type="text" id="name" name="name" class="middletext02" th:value="${ collectDTO.name }" readonly>
                      <input type="text" id="clientCompanyName" name="clientCompanyName" class="middletext03" th:value="${ collectDTO.clientCompanyName }" readonly>
                      <input type="text" id=clientName name="clientName" class="middletext04" th:value="${ collectDTO.clientName }" readonly>
                      <input type="date" id="transactionDate" name="transactionDate" class="middletext05" th:value="${ collectDTO.transactionDate }">
                      <select name="transactionWay" id="transactionWay" class="middletext06" >
                      <option value="현금">현금</option>
                      <option value="카드">카드</option>
                      <option value="기타">기타</option>
                      </select>
                      <input type="text" id="currentReceiptAmount" name="currentReceiptAmount" class="middletext07" th:value="${ collectDTO.currentReceiptAmount }">
                      <input type="text" id="totalAmont" name="totalAmont" class="middletext08" th:value="${ collectDTO.totalAmont }">
                      <select name="taxBill" id="taxBill" class="middletext09">
                      <option value="발행">발행</option>
                      <option value="미발행">미발행</option>
                      </select>
                      <select name="fullPaymentYn" id="fullPaymentYn" class="middletext10">
                      <option value="미납">미납</option>
                      <option value="완납">완납</option>
                      </select>
                      <textarea id="note" name="note" class="middletext15" th:text="${ collectDTO.note }"></textarea>
           </div>
           </div>
       </div>
   </section>
   </form>
   
</body>
</html>