
.wrap {
	
	width:100%;
	height: 948px;
	display:flex;
	justify-content: left;
	overflow:auto;
	
}

.whole {
	
	margin-left : 20px;
	margin-top : 17px;
	width: 312px;
	height:782px;
	background:#E6E8E9;
	overflow-x:hidden;
	overflow-y:auto;
	
}

.whole_green {
	
	margin-left : 20px;
	margin-top : 17px;
	width: 312px;
	height:782px;
	background:#80B335;
	overflow-x:hidden;
	overflow-y:auto;
	
}

.whole_yellow {
	
	margin-left : 20px;
	margin-top : 17px;
	width: 312px;
	height:782px;
	background:#EDD747;
	overflow-x:hidden;
	overflow-y:auto;
	
}

.board_orange {
	
	margin-left : 20px;
	margin-top : 17px;
	width: 312px;
	height:61px;
	background:#F2A340;
	
	
}

.board_red {
	
	margin-left : 20px;
	margin-top : 17px;
	width: 312px;
	height:61px;
	background:#DA644F;
	
	
}

.board_mauve {
	
	margin-left : 20px;
	margin-top : 17px;
	width: 312px;
	height:61px;
	background:#B87BDA;
	
	
}

.board_title {
	
	margin-top : 15px;
	margin-left : 20px;
	font-size: 20px;
	font-weight: bold;
	display:flex;
	justify-content: space-between;
 	
}

.board_add {
	
	background:#E6E8E9;
	margin-left : 20px;
	margin-top : 17px;
	width: 312px;
	height:100px;
}

.board_box {
	
	width:283px;
	background: white;
	margin-left:14px;
	margin-top: 10px;
	font-size:14px;

	
}

.board_content01 {
	
	margin-left : 14px;
	font-size:14px;
	font-weight:bold;
	padding-top: 15px;
	margin-top:10px;

		
}

.board_content02 {
	
	margin-left : 14px;
	font-size:14px;
	margin-top:15px;
}

.board_content03 {
	
	margin-left : 14px;
	font-size:14px;
	margin-top:15px;
	color:#86A8E2;
	display:flex;
	justify-content: left;
	
}

.board_content01_wrap {
	
	display:flex;
	justify-content: left;
}


.image_icon1 {
	
	margin-right: 20px;
	margin-top : 10px;
	
}

.image_icon2 {
	
	margin-left:240px;
	
}

.image_icon3 {
	
	margin-left: 150px;
	margin-top: 40px; 
}

.restArea {
	
	height:10px;
	
}

.modal-header {
	
	display:flex;
	justify-content: space-between;
	
}

.modal_setting {
	
	width:360px;
	height:400px;
	margin-left:800px;
	margin-top:200px;
	
	
}

.line {
	
	width: 100%;
    height: 1px;
    background: rgb(0,0,0, 0.2);

}

.line2 {
	
	width: 100%;
    height: 1px;
    background: rgb(0,0,0, 0.2);
    margin-top: 20px;

}

.selectBox {
	
	margin-top : 10px;
	margin-left: 20px;
	width: 280px;
	height: 50px;
	border: 1px solid rgb(0,0,0, 0.2);
	border-radius: 0.2em;
	
}

.btn01 {
	
	display:flex;
	justify-content: space-between;
	margin-top:20px;
	
	
}

.btn01_1 {
	
	color:white;
	font-size:18px;
	background:#DA644F;
	border:none;
	border-radius: 0.2em;
	margin-left: 20px;
	
}

.btn01_2 {
	
	color:white;
	font-size:18px;
	background:#00BCD4;
	border:none;
	border-radius: 0.2em;
	margin-right:20px;
	
}

.boardText {
	
	font-weight:bold;
	
}

.boardInput {
	
	margin-top : 10px;
	margin-left: 20px;
	width: 280px;
	height: 50px;
	border: 1px solid rgb(0,0,0, 0.2);
	border-radius: 0.2em;
	
}

.updateHeader {
	
	margin-left: 20px;
	margin-top : 20px;
	font-size: 20px;
	font-weight: bold;
}

.updateText {
	
	margin-top: 20px;
	
}